In [985]:
import pandas as pd

# Загрузка с явным указанием типа данных для CONTACTID как строка
dtype_dict = {
    'Id': 'str',
    'Contact Name': 'str'
}

# Загружаем Excel
excel_file_deals = pd.read_excel('Deals (Done).xlsx', dtype=dtype_dict)

excel_file_deals.to_csv("Deals.csv", index=False, encoding='utf-8-sig')

deals_df = pd.read_csv("Deals.csv", dtype=dtype_dict)

In [986]:
pd.set_option('display.max_columns', None)

In [987]:
deals_df

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch
0,5805028000056864695,Ben Hall,NaN,NaN,New Lead,NaN,/eng/test,03.07.23women,NaN,v16,women,Facebook Ads,NaN,NaN,NaN,21.06.2024 15:30,NaN,NaN,NaN,NaN,5805028000056849495,NaN,NaN
1,5805028000056859489,Ulysses Adams,NaN,NaN,New Lead,NaN,/at-eng,NaN,NaN,NaN,NaN,Organic,NaN,Web Developer,Morning,21.06.2024 15:23,6.00,NaN,0,2000,5805028000056834471,NaN,NaN
2,5805028000056832357,Ulysses Adams,21.06.2024,D - Non Target,Lost,Non target,/at-eng,engwien_AT,00:26:43,b1-at,21_06_2024,Telegram posts,NaN,NaN,NaN,21.06.2024 14:45,NaN,NaN,NaN,NaN,5805028000056854421,NaN,NaN
3,5805028000056824246,Eva Kent,21.06.2024,E - Non Qualified,Lost,Invalid number,/eng,04.07.23recentlymoved_DE,01:00:04,bloggersvideo14com,recentlymoved,Facebook Ads,NaN,NaN,NaN,21.06.2024 13:32,NaN,NaN,NaN,NaN,5805028000056889351,NaN,NaN
4,5805028000056873292,Ben Hall,21.06.2024,D - Non Target,Lost,Non target,/eng,discovery_DE,00:53:12,website,NaN,Google Ads,NaN,NaN,NaN,21.06.2024 13:21,NaN,NaN,NaN,NaN,5805028000056876176,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21590,5805028000000945016,Jane Smith,29.08.2023,A - High,Lost,Changed Decision,eng/digital-marketing,02.07.23wide_DE,"56 days, 19:01:59",b3,wide,Facebook Ads,NaN,NaN,NaN,03.07.2023 20:39,NaN,NaN,NaN,NaN,5805028000000968001,NaN,NaN
21591,5805028000000927004,Bob Brown,09.07.2023,D - Non Target,Lost,Does not speak English,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,03.07.2023 20:17,NaN,NaN,NaN,NaN,5805028000000961001,NaN,NaN
21592,5805028000000922001,Bob Brown,03.07.2023,E - Non Qualified,Lost,Refugee,/,NaN,"4 days, 22:47:14",NaN,NaN,Organic,NaN,NaN,NaN,03.07.2023 17:03,NaN,NaN,0,0,5805028000001009140,NaN,NaN
21593,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21594,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,#REF!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [988]:
(deals_df.isnull().sum()/(len(deals_df)))*100 #процент отсутствующих значений

Id                     0.01
Deal Owner Name        0.14
Closing Date          32.18
Quality               10.44
Stage                  0.01
Lost Reason           25.33
Page                   0.01
Campaign              25.60
SLA                   28.07
Content               34.49
Term                  42.33
Source                 0.01
Payment Type          97.70
Product               83.37
Education Type        84.72
Created Time           0.01
Course duration       83.39
Months of study       96.11
Initial Amount Paid   80.71
Offer Total Amount    80.62
Contact Name           0.29
City                  88.37
Level of Deutsch      94.21
dtype: float64

In [989]:
deals_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21595 entries, 0 to 21594
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Id                   21593 non-null  object
 1   Deal Owner Name      21564 non-null  object
 2   Closing Date         14645 non-null  object
 3   Quality              19340 non-null  object
 4   Stage                21593 non-null  object
 5   Lost Reason          16124 non-null  object
 6   Page                 21593 non-null  object
 7   Campaign             16067 non-null  object
 8   SLA                  15533 non-null  object
 9   Content              14147 non-null  object
 10  Term                 12454 non-null  object
 11  Source               21593 non-null  object
 12  Payment Type         496 non-null    object
 13  Product              3592 non-null   object
 14  Education Type       3300 non-null   object
 15  Created Time         21593 non-null  object
 16  Course duration      3587 non-null   float64
 17  Months of study      840 non-null    float64
 18  Initial Amount Paid  4165 non-null   object
 19  Offer Total Amount   4185 non-null   object
 20  Contact Name         21532 non-null  object
 21  City                 2511 non-null   object
 22  Level of Deutsch     1251 non-null   object
dtypes: float64(2), object(21)
memory usage: 3.8+ MB

In [990]:
deals_df['Created Time'] = pd.to_datetime(deals_df['Created Time'], format='%d.%m.%Y %H:%M', errors='coerce')

In [991]:
deals_df['Closing Date'] = pd.to_datetime(deals_df['Closing Date'], format='%d.%m.%Y', errors='coerce')
deals_df

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch
0,5805028000056864695,Ben Hall,NaT,NaN,New Lead,NaN,/eng/test,03.07.23women,NaN,v16,women,Facebook Ads,NaN,NaN,NaN,2024-06-21 15:30:00,NaN,NaN,NaN,NaN,5805028000056849495,NaN,NaN
1,5805028000056859489,Ulysses Adams,NaT,NaN,New Lead,NaN,/at-eng,NaN,NaN,NaN,NaN,Organic,NaN,Web Developer,Morning,2024-06-21 15:23:00,6.00,NaN,0,2000,5805028000056834471,NaN,NaN
2,5805028000056832357,Ulysses Adams,2024-06-21,D - Non Target,Lost,Non target,/at-eng,engwien_AT,00:26:43,b1-at,21_06_2024,Telegram posts,NaN,NaN,NaN,2024-06-21 14:45:00,NaN,NaN,NaN,NaN,5805028000056854421,NaN,NaN
3,5805028000056824246,Eva Kent,2024-06-21,E - Non Qualified,Lost,Invalid number,/eng,04.07.23recentlymoved_DE,01:00:04,bloggersvideo14com,recentlymoved,Facebook Ads,NaN,NaN,NaN,2024-06-21 13:32:00,NaN,NaN,NaN,NaN,5805028000056889351,NaN,NaN
4,5805028000056873292,Ben Hall,2024-06-21,D - Non Target,Lost,Non target,/eng,discovery_DE,00:53:12,website,NaN,Google Ads,NaN,NaN,NaN,2024-06-21 13:21:00,NaN,NaN,NaN,NaN,5805028000056876176,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21590,5805028000000945016,Jane Smith,2023-08-29,A - High,Lost,Changed Decision,eng/digital-marketing,02.07.23wide_DE,"56 days, 19:01:59",b3,wide,Facebook Ads,NaN,NaN,NaN,2023-07-03 20:39:00,NaN,NaN,NaN,NaN,5805028000000968001,NaN,NaN
21591,5805028000000927004,Bob Brown,2023-07-09,D - Non Target,Lost,Does not speak English,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-03 20:17:00,NaN,NaN,NaN,NaN,5805028000000961001,NaN,NaN
21592,5805028000000922001,Bob Brown,2023-07-03,E - Non Qualified,Lost,Refugee,/,NaN,"4 days, 22:47:14",NaN,NaN,Organic,NaN,NaN,NaN,2023-07-03 17:03:00,NaN,NaN,0,0,5805028000001009140,NaN,NaN
21593,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21594,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,#REF!,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [992]:
deals_df.isnull().sum()

Id                         2
Deal Owner Name           31
Closing Date            6950
Quality                 2255
Stage                      2
Lost Reason             5471
Page                       2
Campaign                5528
SLA                     6062
Content                 7448
Term                    9141
Source                     2
Payment Type           21099
Product                18003
Education Type         18295
Created Time               2
Course duration        18008
Months of study        20755
Initial Amount Paid    17430
Offer Total Amount     17410
Contact Name              63
City                   19084
Level of Deutsch       20344
dtype: int64

In [993]:
import numpy as np

deals_df = deals_df.replace(r'^\s*$', np.nan, regex=True) #заменяем пробелы и пустые строки на NaN
# deals_df = deals_df.replace(r'^[\s\t\r\n/\\]*$', np.nan, regex=True)

In [994]:
deals_df

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch
0,5805028000056864695,Ben Hall,NaT,NaN,New Lead,NaN,/eng/test,03.07.23women,NaN,v16,women,Facebook Ads,NaN,NaN,NaN,2024-06-21 15:30:00,NaN,NaN,NaN,NaN,5805028000056849495,NaN,NaN
1,5805028000056859489,Ulysses Adams,NaT,NaN,New Lead,NaN,/at-eng,NaN,NaN,NaN,NaN,Organic,NaN,Web Developer,Morning,2024-06-21 15:23:00,6.00,NaN,0,2000,5805028000056834471,NaN,NaN
2,5805028000056832357,Ulysses Adams,2024-06-21,D - Non Target,Lost,Non target,/at-eng,engwien_AT,00:26:43,b1-at,21_06_2024,Telegram posts,NaN,NaN,NaN,2024-06-21 14:45:00,NaN,NaN,NaN,NaN,5805028000056854421,NaN,NaN
3,5805028000056824246,Eva Kent,2024-06-21,E - Non Qualified,Lost,Invalid number,/eng,04.07.23recentlymoved_DE,01:00:04,bloggersvideo14com,recentlymoved,Facebook Ads,NaN,NaN,NaN,2024-06-21 13:32:00,NaN,NaN,NaN,NaN,5805028000056889351,NaN,NaN
4,5805028000056873292,Ben Hall,2024-06-21,D - Non Target,Lost,Non target,/eng,discovery_DE,00:53:12,website,NaN,Google Ads,NaN,NaN,NaN,2024-06-21 13:21:00,NaN,NaN,NaN,NaN,5805028000056876176,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21590,5805028000000945016,Jane Smith,2023-08-29,A - High,Lost,Changed Decision,eng/digital-marketing,02.07.23wide_DE,"56 days, 19:01:59",b3,wide,Facebook Ads,NaN,NaN,NaN,2023-07-03 20:39:00,NaN,NaN,NaN,NaN,5805028000000968001,NaN,NaN
21591,5805028000000927004,Bob Brown,2023-07-09,D - Non Target,Lost,Does not speak English,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-03 20:17:00,NaN,NaN,NaN,NaN,5805028000000961001,NaN,NaN
21592,5805028000000922001,Bob Brown,2023-07-03,E - Non Qualified,Lost,Refugee,/,NaN,"4 days, 22:47:14",NaN,NaN,Organic,NaN,NaN,NaN,2023-07-03 17:03:00,NaN,NaN,0,0,5805028000001009140,NaN,NaN
21593,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21594,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,#REF!,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [995]:
deals_df[deals_df.duplicated()]

Empty DataFrame
Columns: [Id, Deal Owner Name, Closing Date, Quality, Stage, Lost Reason, Page, Campaign, SLA, Content, Term, Source, Payment Type, Product, Education Type, Created Time, Course duration, Months of study, Initial Amount Paid, Offer Total Amount, Contact Name, City, Level of Deutsch]
Index: []

In [996]:
deals_df.nunique()

Id                     21593
Deal Owner Name           27
Closing Date             359
Quality                    6
Stage                     13
Lost Reason               21
Page                      34
Campaign                 154
SLA                    13357
Content                  187
Term                     220
Source                    13
Payment Type               3
Product                    5
Education Type             3
Created Time           20334
Course duration            2
Months of study           12
Initial Amount Paid       24
Offer Total Amount        21
Contact Name           18089
City                     876
Level of Deutsch         215
dtype: int64

In [997]:
deals_df.isnull().sum()

Id                         2
Deal Owner Name           31
Closing Date            6950
Quality                 2255
Stage                      2
Lost Reason             5471
Page                       2
Campaign                5528
SLA                     6062
Content                 7448
Term                    9141
Source                     2
Payment Type           21099
Product                18003
Education Type         18295
Created Time               2
Course duration        18008
Months of study        20755
Initial Amount Paid    17430
Offer Total Amount     17410
Contact Name              63
City                   19084
Level of Deutsch       20344
dtype: int64

In [998]:
(deals_df.isnull().sum()/(len(deals_df)))*100 #процент отсутствующих значений

Id                     0.01
Deal Owner Name        0.14
Closing Date          32.18
Quality               10.44
Stage                  0.01
Lost Reason           25.33
Page                   0.01
Campaign              25.60
SLA                   28.07
Content               34.49
Term                  42.33
Source                 0.01
Payment Type          97.70
Product               83.37
Education Type        84.72
Created Time           0.01
Course duration       83.39
Months of study       96.11
Initial Amount Paid   80.71
Offer Total Amount    80.62
Contact Name           0.29
City                  88.37
Level of Deutsch      94.21
dtype: float64

In [999]:
import re

only_specials_pattern_regex = r'^[\s\W_]+$'

mask_strict_regex = deals_df.astype(str).applymap(lambda x: bool(re.fullmatch(only_specials_pattern_regex, x)))

# Посмотреть, сколько таких ячеек
print("Количество ячеек со спецсимволами:", mask_strict_regex.sum().sum())

# Посмотреть, в каких колонках они встречаются
print("Колонки с такими значениями:", mask_strict_regex.any()[mask_strict_regex.any()].index.tolist())

C:\Users\user\AppData\Local\Temp\ipykernel_636\800244445.py:5: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  mask_strict_regex = deals_df.astype(str).applymap(lambda x: bool(re.fullmatch(only_specials_pattern_regex, x)))

Количество ячеек со спецсимволами: 1490
Колонки с такими значениями: ['Page', 'Term', 'City', 'Level of Deutsch']

In [1000]:
deals_df[mask_strict_regex.any(axis=1)]

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch
8,5805028000056845137,Rachel White,2024-06-21,E - Non Qualified,Lost,Duplicate,/,NaN,NaN,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-21 12:40:00,NaN,NaN,NaN,NaN,5805028000056849237,NaN,NaN
16,5805028000056828139,Rachel White,2024-06-21,E - Non Qualified,Lost,Duplicate,/,NaN,NaN,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-21 11:44:00,NaN,NaN,NaN,NaN,5805028000056824095,NaN,NaN
20,5805028000056892092,Ulysses Adams,NaT,NaN,Need a consultation,NaN,/,NaN,01:03:57,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-21 10:38:00,NaN,NaN,NaN,NaN,5805028000053247795,NaN,NaN
55,5805028000056704066,Ulysses Adams,2024-06-20,E - Non Qualified,Lost,Duplicate,/,NaN,NaN,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-20 12:50:00,NaN,NaN,NaN,NaN,5805028000056727001,NaN,NaN
90,5805028000056368560,Ulysses Adams,2024-06-19,E - Non Qualified,Lost,Duplicate,/,NaN,00:01:46,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-19 13:41:00,NaN,NaN,NaN,NaN,5805028000056392363,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21450,5805028000001775026,John Doe,NaT,E - Non Qualified,Lost,Duplicate,/,NaN,NaN,NaN,NaN,Organic,NaN,NaN,NaN,2023-07-14 09:27:00,NaN,NaN,0,0,5805028000001805007,NaN,NaN
21456,5805028000001812001,Victor Barnes,2023-07-14,E - Non Qualified,Waiting For Payment,Non target,eng/digital-marketing,07.07.23LAL_DE,"311 days, 10:34:24",b2,LAL1,Facebook Ads,NaN,Digital Marketing,Morning,2023-07-14 07:08:00,11.00,NaN,1000,11500,5805028000001782077,-,B1
21480,5805028000001588071,John Doe,NaT,E - Non Qualified,Lost,Duplicate,/,NaN,NaN,NaN,NaN,Organic,NaN,NaN,NaN,2023-07-13 10:01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21581,5805028000001037002,Diana Evans,2023-09-07,A - High,Lost,Changed Decision,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,23:09:28,NaN,_,Google Ads,NaN,NaN,NaN,2023-07-05 15:36:00,NaN,NaN,NaN,NaN,5805028000001023002,NaN,NaN
21592,5805028000000922001,Bob Brown,2023-07-03,E - Non Qualified,Lost,Refugee,/,NaN,"4 days, 22:47:14",NaN,NaN,Organic,NaN,NaN,NaN,2023-07-03 17:03:00,NaN,NaN,0,0,5805028000001009140,NaN,NaN

In [1001]:
# Заменяем на NaN во всём датафрейме
deals_df = deals_df.mask(mask_strict_regex, np.nan)

In [1002]:
deals_df

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch
0,5805028000056864695,Ben Hall,NaT,NaN,New Lead,NaN,/eng/test,03.07.23women,NaN,v16,women,Facebook Ads,NaN,NaN,NaN,2024-06-21 15:30:00,NaN,NaN,NaN,NaN,5805028000056849495,NaN,NaN
1,5805028000056859489,Ulysses Adams,NaT,NaN,New Lead,NaN,/at-eng,NaN,NaN,NaN,NaN,Organic,NaN,Web Developer,Morning,2024-06-21 15:23:00,6.00,NaN,0,2000,5805028000056834471,NaN,NaN
2,5805028000056832357,Ulysses Adams,2024-06-21,D - Non Target,Lost,Non target,/at-eng,engwien_AT,00:26:43,b1-at,21_06_2024,Telegram posts,NaN,NaN,NaN,2024-06-21 14:45:00,NaN,NaN,NaN,NaN,5805028000056854421,NaN,NaN
3,5805028000056824246,Eva Kent,2024-06-21,E - Non Qualified,Lost,Invalid number,/eng,04.07.23recentlymoved_DE,01:00:04,bloggersvideo14com,recentlymoved,Facebook Ads,NaN,NaN,NaN,2024-06-21 13:32:00,NaN,NaN,NaN,NaN,5805028000056889351,NaN,NaN
4,5805028000056873292,Ben Hall,2024-06-21,D - Non Target,Lost,Non target,/eng,discovery_DE,00:53:12,website,NaN,Google Ads,NaN,NaN,NaN,2024-06-21 13:21:00,NaN,NaN,NaN,NaN,5805028000056876176,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21590,5805028000000945016,Jane Smith,2023-08-29,A - High,Lost,Changed Decision,eng/digital-marketing,02.07.23wide_DE,"56 days, 19:01:59",b3,wide,Facebook Ads,NaN,NaN,NaN,2023-07-03 20:39:00,NaN,NaN,NaN,NaN,5805028000000968001,NaN,NaN
21591,5805028000000927004,Bob Brown,2023-07-09,D - Non Target,Lost,Does not speak English,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-03 20:17:00,NaN,NaN,NaN,NaN,5805028000000961001,NaN,NaN
21592,5805028000000922001,Bob Brown,2023-07-03,E - Non Qualified,Lost,Refugee,NaN,NaN,"4 days, 22:47:14",NaN,NaN,Organic,NaN,NaN,NaN,2023-07-03 17:03:00,NaN,NaN,0,0,5805028000001009140,NaN,NaN
21593,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21594,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,#REF!,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1003]:
#фильтруеv строки в DataFrame deals_df, для которых хотя бы в одной ячейке присутствуют значения, которые соответствуют регулярному выражению only_specials_pattern_regex (то есть содержат только пробельные символы или спецсимволы).
deals_df[mask_strict_regex.any(axis=1)]

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch
8,5805028000056845137,Rachel White,2024-06-21,E - Non Qualified,Lost,Duplicate,NaN,NaN,NaN,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-21 12:40:00,NaN,NaN,NaN,NaN,5805028000056849237,NaN,NaN
16,5805028000056828139,Rachel White,2024-06-21,E - Non Qualified,Lost,Duplicate,NaN,NaN,NaN,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-21 11:44:00,NaN,NaN,NaN,NaN,5805028000056824095,NaN,NaN
20,5805028000056892092,Ulysses Adams,NaT,NaN,Need a consultation,NaN,NaN,NaN,01:03:57,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-21 10:38:00,NaN,NaN,NaN,NaN,5805028000053247795,NaN,NaN
55,5805028000056704066,Ulysses Adams,2024-06-20,E - Non Qualified,Lost,Duplicate,NaN,NaN,NaN,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-20 12:50:00,NaN,NaN,NaN,NaN,5805028000056727001,NaN,NaN
90,5805028000056368560,Ulysses Adams,2024-06-19,E - Non Qualified,Lost,Duplicate,NaN,NaN,00:01:46,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-19 13:41:00,NaN,NaN,NaN,NaN,5805028000056392363,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21450,5805028000001775026,John Doe,NaT,E - Non Qualified,Lost,Duplicate,NaN,NaN,NaN,NaN,NaN,Organic,NaN,NaN,NaN,2023-07-14 09:27:00,NaN,NaN,0,0,5805028000001805007,NaN,NaN
21456,5805028000001812001,Victor Barnes,2023-07-14,E - Non Qualified,Waiting For Payment,Non target,eng/digital-marketing,07.07.23LAL_DE,"311 days, 10:34:24",b2,LAL1,Facebook Ads,NaN,Digital Marketing,Morning,2023-07-14 07:08:00,11.00,NaN,1000,11500,5805028000001782077,NaN,B1
21480,5805028000001588071,John Doe,NaT,E - Non Qualified,Lost,Duplicate,NaN,NaN,NaN,NaN,NaN,Organic,NaN,NaN,NaN,2023-07-13 10:01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21581,5805028000001037002,Diana Evans,2023-09-07,A - High,Lost,Changed Decision,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,23:09:28,NaN,NaN,Google Ads,NaN,NaN,NaN,2023-07-05 15:36:00,NaN,NaN,NaN,NaN,5805028000001023002,NaN,NaN
21592,5805028000000922001,Bob Brown,2023-07-03,E - Non Qualified,Lost,Refugee,NaN,NaN,"4 days, 22:47:14",NaN,NaN,Organic,NaN,NaN,NaN,2023-07-03 17:03:00,NaN,NaN,0,0,5805028000001009140,NaN,NaN

## Initial Amount Paid & Offer Total Amount

In [1004]:
deals_df['Initial Amount Paid'].unique()

array([nan, '0', '1000', '€ 3.500,00', '500', '100', '4500', '300', '200',
       '2000', '11000', '4000', '3000', '3500', '11500', '1200', '1500',
       '1', '5000', '600', '700', '350', '9', '400', '450'], dtype=object)

In [1005]:
type(deals_df['Initial Amount Paid'].iloc[0])

float

In [1006]:
deals_df[deals_df['Initial Amount Paid'] == 'nan']

Empty DataFrame
Columns: [Id, Deal Owner Name, Closing Date, Quality, Stage, Lost Reason, Page, Campaign, SLA, Content, Term, Source, Payment Type, Product, Education Type, Created Time, Course duration, Months of study, Initial Amount Paid, Offer Total Amount, Contact Name, City, Level of Deutsch]
Index: []

In [1007]:
deals_df[deals_df['Initial Amount Paid'].notna()].head(10)

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch
1,5805028000056859489,Ulysses Adams,NaT,NaN,New Lead,NaN,/at-eng,NaN,NaN,NaN,NaN,Organic,NaN,Web Developer,Morning,2024-06-21 15:23:00,6.00,NaN,0,2000,5805028000056834471,NaN,NaN
56,5805028000056683030,Charlie Davis,NaT,C - Low,Waiting For Payment,NaN,/eng/test,performancemax_eng_DE,00:20:39,_{region_name}_,NaN,Google Ads,NaN,Web Developer,Morning,2024-06-20 12:34:00,6.00,NaN,1000,9000,5805028000056690015,Crailsheim,NaN
60,5805028000056558351,Ulysses Adams,NaT,C - Low,Waiting For Payment,NaN,/eng,NaN,00:09:49,NaN,NaN,SMM,NaN,Web Developer,Morning,2024-06-20 11:16:00,6.00,NaN,1000,9000,5805028000056578244,Dortmund,в1
65,5805028000056555140,Paula Underwood,NaT,B - Medium,Waiting For Payment,NaN,/eng,03.07.23women,01:55:11,v16,women,Facebook Ads,NaN,Digital Marketing,Morning,2024-06-20 08:48:00,11.00,NaN,1000,11000,5805028000056576103,Stuttgart,NaN
71,5805028000056564131,Ben Hall,NaT,D - Non Target,Waiting For Payment,NaN,/eng,20.05.24interests_DE,12:51:39,bloggersvideo14com,interest_work,Facebook Ads,NaN,UX/UI Design,Morning,2024-06-19 22:31:00,11.00,NaN,1000,11000,5805028000056575100,München,A2
75,5805028000056590062,Paula Underwood,NaT,B - Medium,Waiting For Payment,NaN,eng/digital-marketing,brand_search_eng_DE,NaN,152789402780_{region_name}_668024583824,it career hub,Google Ads,NaN,Digital Marketing,Morning,2024-06-19 20:25:00,11.00,NaN,1000,11000,5805028000056570036,Berlin,NaN
82,5805028000056496090,Paula Underwood,NaT,B - Medium,Waiting For Payment,NaN,/eng,blog_DE,17:39:22,NaN,19_06_2024,Bloggers,NaN,Digital Marketing,Morning,2024-06-19 18:23:00,11.00,NaN,1000,11000,5805028000056487259,München,NaN
94,5805028000056362332,Eva Kent,NaT,C - Low,Waiting For Payment,NaN,/at-eng,17.03.24wide_AT,00:49:26,bloggersvideo16com_at,wide,Facebook Ads,NaN,UX/UI Design,Morning,2024-06-19 13:08:00,11.00,NaN,"€ 3.500,00",3500,5805028000050559164,Wien,NaN
98,5805028000056374135,Ulysses Adams,NaT,C - Low,Waiting For Payment,NaN,/eng,03.07.23women,02:42:33,v16,women,Facebook Ads,NaN,UX/UI Design,Morning,2024-06-19 12:12:00,11.00,NaN,1000,11000,5805028000056362225,Offenbach am Main,в1
113,5805028000056162903,Paula Underwood,NaT,B - Medium,Waiting For Payment,NaN,/direct,Jobs_germany_DE,02:01:43,NaN,10_04_2024,SMM,NaN,Digital Marketing,Morning,2024-06-19 08:12:00,11.00,NaN,1000,11000,5805028000056370054,Eberbach,б1

In [1008]:
deals_df.dtypes

Id                             object
Deal Owner Name                object
Closing Date           datetime64[ns]
Quality                        object
Stage                          object
Lost Reason                    object
Page                           object
Campaign                       object
SLA                            object
Content                        object
Term                           object
Source                         object
Payment Type                   object
Product                        object
Education Type                 object
Created Time           datetime64[ns]
Course duration               float64
Months of study               float64
Initial Amount Paid            object
Offer Total Amount             object
Contact Name                   object
City                           object
Level of Deutsch               object
dtype: object

In [1009]:
print(deals_df['Initial Amount Paid'].unique())

[nan '0' '1000' '€ 3.500,00' '500' '100' '4500' '300' '200' '2000' '11000'
 '4000' '3000' '3500' '11500' '1200' '1500' '1' '5000' '600' '700' '350'
 '9' '400' '450']

In [1010]:
print(deals_df['Offer Total Amount'].unique())

[nan '2000' '9000' '11000' '3500' '4500' '€ 2.900,00' '6500' '4000' '3000'
 '10000' '2500' '5000' '11500' '1' '1000' '1200' '0' '1500' '€ 11398,00'
 '11111' '6000']

In [1011]:
deals_df[deals_df['Offer Total Amount'].notna()].head(10)

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch
1,5805028000056859489,Ulysses Adams,NaT,NaN,New Lead,NaN,/at-eng,NaN,NaN,NaN,NaN,Organic,NaN,Web Developer,Morning,2024-06-21 15:23:00,6.00,NaN,0,2000,5805028000056834471,NaN,NaN
56,5805028000056683030,Charlie Davis,NaT,C - Low,Waiting For Payment,NaN,/eng/test,performancemax_eng_DE,00:20:39,_{region_name}_,NaN,Google Ads,NaN,Web Developer,Morning,2024-06-20 12:34:00,6.00,NaN,1000,9000,5805028000056690015,Crailsheim,NaN
60,5805028000056558351,Ulysses Adams,NaT,C - Low,Waiting For Payment,NaN,/eng,NaN,00:09:49,NaN,NaN,SMM,NaN,Web Developer,Morning,2024-06-20 11:16:00,6.00,NaN,1000,9000,5805028000056578244,Dortmund,в1
65,5805028000056555140,Paula Underwood,NaT,B - Medium,Waiting For Payment,NaN,/eng,03.07.23women,01:55:11,v16,women,Facebook Ads,NaN,Digital Marketing,Morning,2024-06-20 08:48:00,11.00,NaN,1000,11000,5805028000056576103,Stuttgart,NaN
71,5805028000056564131,Ben Hall,NaT,D - Non Target,Waiting For Payment,NaN,/eng,20.05.24interests_DE,12:51:39,bloggersvideo14com,interest_work,Facebook Ads,NaN,UX/UI Design,Morning,2024-06-19 22:31:00,11.00,NaN,1000,11000,5805028000056575100,München,A2
75,5805028000056590062,Paula Underwood,NaT,B - Medium,Waiting For Payment,NaN,eng/digital-marketing,brand_search_eng_DE,NaN,152789402780_{region_name}_668024583824,it career hub,Google Ads,NaN,Digital Marketing,Morning,2024-06-19 20:25:00,11.00,NaN,1000,11000,5805028000056570036,Berlin,NaN
82,5805028000056496090,Paula Underwood,NaT,B - Medium,Waiting For Payment,NaN,/eng,blog_DE,17:39:22,NaN,19_06_2024,Bloggers,NaN,Digital Marketing,Morning,2024-06-19 18:23:00,11.00,NaN,1000,11000,5805028000056487259,München,NaN
94,5805028000056362332,Eva Kent,NaT,C - Low,Waiting For Payment,NaN,/at-eng,17.03.24wide_AT,00:49:26,bloggersvideo16com_at,wide,Facebook Ads,NaN,UX/UI Design,Morning,2024-06-19 13:08:00,11.00,NaN,"€ 3.500,00",3500,5805028000050559164,Wien,NaN
98,5805028000056374135,Ulysses Adams,NaT,C - Low,Waiting For Payment,NaN,/eng,03.07.23women,02:42:33,v16,women,Facebook Ads,NaN,UX/UI Design,Morning,2024-06-19 12:12:00,11.00,NaN,1000,11000,5805028000056362225,Offenbach am Main,в1
113,5805028000056162903,Paula Underwood,NaT,B - Medium,Waiting For Payment,NaN,/direct,Jobs_germany_DE,02:01:43,NaN,10_04_2024,SMM,NaN,Digital Marketing,Morning,2024-06-19 08:12:00,11.00,NaN,1000,11000,5805028000056370054,Eberbach,б1

In [1012]:
# Применяет функцию, которая для каждой колонки получает уникальные типы значений
deals_df.applymap(type).apply(lambda col: set(col))

C:\Users\user\AppData\Local\Temp\ipykernel_636\3207551387.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  deals_df.applymap(type).apply(lambda col: set(col))

Id                                      {<class 'str'>, <class 'float'>}
Deal Owner Name                         {<class 'str'>, <class 'float'>}
Closing Date           {<class 'pandas._libs.tslibs.nattype.NaTType'>...
Quality                                 {<class 'str'>, <class 'float'>}
Stage                                   {<class 'str'>, <class 'float'>}
Lost Reason                             {<class 'str'>, <class 'float'>}
Page                                    {<class 'str'>, <class 'float'>}
Campaign                                {<class 'str'>, <class 'float'>}
SLA                                     {<class 'str'>, <class 'float'>}
Content                                 {<class 'str'>, <class 'float'>}
Term                                    {<class 'str'>, <class 'float'>}
Source                                  {<class 'str'>, <class 'float'>}
Payment Type                            {<class 'str'>, <class 'float'>}
Product                                 {<class 'str'>, <class 'float'>}
Education Type                          {<class 'str'>, <class 'float'>}
Created Time           {<class 'pandas._libs.tslibs.nattype.NaTType'>...
Course duration                                        {<class 'float'>}
Months of study                                        {<class 'float'>}
Initial Amount Paid                     {<class 'str'>, <class 'float'>}
Offer Total Amount                      {<class 'str'>, <class 'float'>}
Contact Name                            {<class 'str'>, <class 'float'>}
City                                    {<class 'str'>, <class 'float'>}
Level of Deutsch                        {<class 'str'>, <class 'float'>}
dtype: object

In [1013]:
# Применяет value_counts к каждому столбцу, чтобы посчитать количество каждого типа данных в колонке
deals_df.applymap(lambda x: type(x).__name__).apply(pd.Series.value_counts)

C:\Users\user\AppData\Local\Temp\ipykernel_636\3145577645.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  deals_df.applymap(lambda x: type(x).__name__).apply(pd.Series.value_counts)

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch
NaTType,NaN,NaN,6950.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Timestamp,NaN,NaN,14645.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21593.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
float,2.00,31.00,NaN,2255.00,2.00,5471.00,1084.00,5528.00,6062.00,7448.00,9178.00,2.00,21099.00,18003.00,18295.00,NaN,21595.00,21595.00,17430.00,17410.00,63.00,19432.00,20367.00
str,21593.00,21564.00,NaN,19340.00,21593.00,16124.00,20511.00,16067.00,15533.00,14147.00,12417.00,21593.00,496.00,3592.00,3300.00,NaN,NaN,NaN,4165.00,4185.00,21532.00,2163.00,1228.00

In [1014]:
deals_df['Initial Amount Paid'].map(type).value_counts()

Initial Amount Paid
<class 'float'>    17430
<class 'str'>       4165
Name: count, dtype: int64

In [1015]:
# Обработка Initial Amount Paid
deals_df['Initial Amount Paid'] = deals_df['Initial Amount Paid'].astype(str)
deals_df['Initial Amount Paid'] = deals_df['Initial Amount Paid'].str.replace('€', '', regex=False)
deals_df['Initial Amount Paid'] = deals_df['Initial Amount Paid'].str.strip()
deals_df['Initial Amount Paid'] = deals_df['Initial Amount Paid'].str.replace('.', '', regex=False)
deals_df['Initial Amount Paid'] = deals_df['Initial Amount Paid'].str.replace(',', '.', regex=False)
deals_df['Initial Amount Paid'] = pd.to_numeric(deals_df['Initial Amount Paid'], errors='coerce')

In [1016]:
deals_df.dtypes

Id                             object
Deal Owner Name                object
Closing Date           datetime64[ns]
Quality                        object
Stage                          object
Lost Reason                    object
Page                           object
Campaign                       object
SLA                            object
Content                        object
Term                           object
Source                         object
Payment Type                   object
Product                        object
Education Type                 object
Created Time           datetime64[ns]
Course duration               float64
Months of study               float64
Initial Amount Paid           float64
Offer Total Amount             object
Contact Name                   object
City                           object
Level of Deutsch               object
dtype: object

In [1017]:
# Обработка Offer Total Amount
deals_df['Offer Total Amount'] = deals_df['Offer Total Amount'].astype(str)
deals_df['Offer Total Amount'] = deals_df['Offer Total Amount'].str.replace('€', '', regex=False)
deals_df['Offer Total Amount'] = deals_df['Offer Total Amount'].str.strip()
deals_df['Offer Total Amount'] = deals_df['Offer Total Amount'].str.replace('.', '', regex=False)
deals_df['Offer Total Amount'] = deals_df['Offer Total Amount'].str.replace(',', '.', regex=False)
deals_df['Offer Total Amount'] = pd.to_numeric(deals_df['Offer Total Amount'], errors='coerce')

In [1018]:
deals_df.dtypes

Id                             object
Deal Owner Name                object
Closing Date           datetime64[ns]
Quality                        object
Stage                          object
Lost Reason                    object
Page                           object
Campaign                       object
SLA                            object
Content                        object
Term                           object
Source                         object
Payment Type                   object
Product                        object
Education Type                 object
Created Time           datetime64[ns]
Course duration               float64
Months of study               float64
Initial Amount Paid           float64
Offer Total Amount            float64
Contact Name                   object
City                           object
Level of Deutsch               object
dtype: object

In [1019]:
#выведет все уникальные значения из колонки Initial Amount Paid, отсортированные по возрастанию, и каждое значение будет представлено с двумя знаками после запятой
unique_vals_init = sorted(deals_df['Initial Amount Paid'].dropna().unique())
for val in unique_vals_init:
    print(f"{val:.2f}")

0.00
1.00
9.00
100.00
200.00
300.00
350.00
400.00
450.00
500.00
600.00
700.00
1000.00
1200.00
1500.00
2000.00
3000.00
3500.00
4000.00
4500.00
5000.00
11000.00
11500.00

In [1020]:
unique_vals_offe = sorted(deals_df['Offer Total Amount'].dropna().unique())
for val in unique_vals_offe:
    print(f"{val:.2f}")

0.00
1.00
1000.00
1200.00
1500.00
2000.00
2500.00
2900.00
3000.00
3500.00
4000.00
4500.00
5000.00
6000.00
6500.00
9000.00
10000.00
11000.00
11111.00
11398.00
11500.00

In [1021]:
# Проверяем, где все значения NaN
deals_df.isna().all(axis=1)

0        False
1        False
2        False
3        False
4        False
         ...
21590    False
21591    False
21592    False
21593     True
21594    False
Length: 21595, dtype: bool

In [1022]:
deals_df.isna().all(axis=1).sum()

np.int64(1)

In [1023]:
deals_df.tail()

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch
21590,5805028000000945016,Jane Smith,2023-08-29,A - High,Lost,Changed Decision,eng/digital-marketing,02.07.23wide_DE,"56 days, 19:01:59",b3,wide,Facebook Ads,NaN,NaN,NaN,2023-07-03 20:39:00,NaN,NaN,NaN,NaN,5805028000000968001,NaN,NaN
21591,5805028000000927004,Bob Brown,2023-07-09,D - Non Target,Lost,Does not speak English,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-03 20:17:00,NaN,NaN,NaN,NaN,5805028000000961001,NaN,NaN
21592,5805028000000922001,Bob Brown,2023-07-03,E - Non Qualified,Lost,Refugee,NaN,NaN,"4 days, 22:47:14",NaN,NaN,Organic,NaN,NaN,NaN,2023-07-03 17:03:00,NaN,NaN,0.00,0.00,5805028000001009140,NaN,NaN
21593,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21594,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,#REF!,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1024]:
deals_df = deals_df.drop(deals_df.tail(2).index)
deals_df

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch
0,5805028000056864695,Ben Hall,NaT,NaN,New Lead,NaN,/eng/test,03.07.23women,NaN,v16,women,Facebook Ads,NaN,NaN,NaN,2024-06-21 15:30:00,NaN,NaN,NaN,NaN,5805028000056849495,NaN,NaN
1,5805028000056859489,Ulysses Adams,NaT,NaN,New Lead,NaN,/at-eng,NaN,NaN,NaN,NaN,Organic,NaN,Web Developer,Morning,2024-06-21 15:23:00,6.00,NaN,0.00,2000.00,5805028000056834471,NaN,NaN
2,5805028000056832357,Ulysses Adams,2024-06-21,D - Non Target,Lost,Non target,/at-eng,engwien_AT,00:26:43,b1-at,21_06_2024,Telegram posts,NaN,NaN,NaN,2024-06-21 14:45:00,NaN,NaN,NaN,NaN,5805028000056854421,NaN,NaN
3,5805028000056824246,Eva Kent,2024-06-21,E - Non Qualified,Lost,Invalid number,/eng,04.07.23recentlymoved_DE,01:00:04,bloggersvideo14com,recentlymoved,Facebook Ads,NaN,NaN,NaN,2024-06-21 13:32:00,NaN,NaN,NaN,NaN,5805028000056889351,NaN,NaN
4,5805028000056873292,Ben Hall,2024-06-21,D - Non Target,Lost,Non target,/eng,discovery_DE,00:53:12,website,NaN,Google Ads,NaN,NaN,NaN,2024-06-21 13:21:00,NaN,NaN,NaN,NaN,5805028000056876176,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21588,5805028000000970006,Jane Smith,2023-07-04,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-04 07:10:00,NaN,NaN,NaN,NaN,5805028000000979006,NaN,NaN
21589,5805028000000948010,Jane Smith,2023-08-29,B - Medium,Lost,needs time to think,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-04 07:10:00,NaN,NaN,NaN,NaN,5805028000000979006,NaN,NaN
21590,5805028000000945016,Jane Smith,2023-08-29,A - High,Lost,Changed Decision,eng/digital-marketing,02.07.23wide_DE,"56 days, 19:01:59",b3,wide,Facebook Ads,NaN,NaN,NaN,2023-07-03 20:39:00,NaN,NaN,NaN,NaN,5805028000000968001,NaN,NaN
21591,5805028000000927004,Bob Brown,2023-07-09,D - Non Target,Lost,Does not speak English,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-03 20:17:00,NaN,NaN,NaN,NaN,5805028000000961001,NaN,NaN
21592,5805028000000922001,Bob Brown,2023-07-03,E - Non Qualified,Lost,Refugee,NaN,NaN,"4 days, 22:47:14",NaN,NaN,Organic,NaN,NaN,NaN,2023-07-03 17:03:00,NaN,NaN,0.00,0.00,5805028000001009140,NaN,NaN

In [748]:
# deals_df['Initial Amount Paid'] = deals_df['Initial Amount Paid'].fillna(0)
# deals_df['Offer Total Amount'] = deals_df['Offer Total Amount'].fillna(0)
# deals_df

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch
0,5805028000056864695,Ben Hall,NaT,NaN,New Lead,NaN,/eng/test,03.07.23women,NaN,v16,women,Facebook Ads,NaN,NaN,NaN,2024-06-21 15:30:00,NaN,NaN,0.00,0.00,5805028000056849495,NaN,NaN
1,5805028000056859489,Ulysses Adams,NaT,NaN,New Lead,NaN,/at-eng,NaN,NaN,NaN,NaN,Organic,NaN,Web Developer,Morning,2024-06-21 15:23:00,6.00,NaN,0.00,2000.00,5805028000056834471,NaN,NaN
2,5805028000056832357,Ulysses Adams,2024-06-21,D - Non Target,Lost,Non target,/at-eng,engwien_AT,00:26:43,b1-at,21_06_2024,Telegram posts,NaN,NaN,NaN,2024-06-21 14:45:00,NaN,NaN,0.00,0.00,5805028000056854421,NaN,NaN
3,5805028000056824246,Eva Kent,2024-06-21,E - Non Qualified,Lost,Invalid number,/eng,04.07.23recentlymoved_DE,01:00:04,bloggersvideo14com,recentlymoved,Facebook Ads,NaN,NaN,NaN,2024-06-21 13:32:00,NaN,NaN,0.00,0.00,5805028000056889351,NaN,NaN
4,5805028000056873292,Ben Hall,2024-06-21,D - Non Target,Lost,Non target,/eng,discovery_DE,00:53:12,website,NaN,Google Ads,NaN,NaN,NaN,2024-06-21 13:21:00,NaN,NaN,0.00,0.00,5805028000056876176,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21588,5805028000000970006,Jane Smith,2023-07-04,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-04 07:10:00,NaN,NaN,0.00,0.00,5805028000000979006,NaN,NaN
21589,5805028000000948010,Jane Smith,2023-08-29,B - Medium,Lost,needs time to think,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-04 07:10:00,NaN,NaN,0.00,0.00,5805028000000979006,NaN,NaN
21590,5805028000000945016,Jane Smith,2023-08-29,A - High,Lost,Changed Decision,eng/digital-marketing,02.07.23wide_DE,"56 days, 19:01:59",b3,wide,Facebook Ads,NaN,NaN,NaN,2023-07-03 20:39:00,NaN,NaN,0.00,0.00,5805028000000968001,NaN,NaN
21591,5805028000000927004,Bob Brown,2023-07-09,D - Non Target,Lost,Does not speak English,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-03 20:17:00,NaN,NaN,0.00,0.00,5805028000000961001,NaN,NaN
21592,5805028000000922001,Bob Brown,2023-07-03,E - Non Qualified,Lost,Refugee,NaN,NaN,"4 days, 22:47:14",NaN,NaN,Organic,NaN,NaN,NaN,2023-07-03 17:03:00,NaN,NaN,0.00,0.00,5805028000001009140,NaN,NaN

In [1025]:
(deals_df.isnull().sum()/(len(deals_df)))*100 #процент отсутствующих значений

Id                     0.00
Deal Owner Name        0.13
Closing Date          32.18
Quality               10.43
Stage                  0.00
Lost Reason           25.33
Page                   5.01
Campaign              25.59
SLA                   28.06
Content               34.48
Term                  42.50
Source                 0.00
Payment Type          97.70
Product               83.36
Education Type        84.72
Created Time           0.00
Course duration       83.39
Months of study       96.11
Initial Amount Paid   80.71
Offer Total Amount    80.62
Contact Name           0.28
City                  89.98
Level of Deutsch      94.31
dtype: float64

## Deal Owner Name

In [1026]:
deals_df['Deal Owner Name'].isnull().sum()

np.int64(29)

In [1027]:
deals_df[deals_df['Deal Owner Name'].isna()]

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch
14007,5805028000022036007,NaN,2023-07-01,E - Non Qualified,Payment Done,NaN,NaN,NaN,NaN,NaN,NaN,Organic,One Payment,NaN,NaN,2023-12-19 10:37:00,NaN,NaN,0.00,0.00,NaN,NaN,NaN
18834,5805028000009465153,NaN,NaT,C - Low,Qualificated,NaN,eng/digital-marketing,12.07.2023wide_DE,00:28:20,bloggersvideo3com,wide,Tiktok Ads,NaN,NaN,NaN,2023-09-29 18:09:00,NaN,NaN,NaN,NaN,5805028000009482152,NaN,NaN
18954,5805028000009133444,NaN,NaT,C - Low,Qualificated,NaN,/eng,24.09.23retargeting_DE,02:15:53,bloggersvideo5,retargeting,Facebook Ads,NaN,NaN,NaN,2023-09-27 13:23:00,NaN,NaN,NaN,NaN,5805028000009150146,NaN,NaN
19054,5805028000008812739,NaN,NaT,C - Low,Qualificated,NaN,eng/digital-marketing,04.07.23recentlymoved_DE,00:03:30,bloggersvideo4com,recentlymoved,Facebook Ads,NaN,NaN,NaN,2023-09-25 15:11:00,NaN,NaN,NaN,NaN,5805028000008758890,NaN,NaN
19150,5805028000008666416,NaN,2023-10-12,C - Low,Lost,Changed Decision,/direct,NaN,00:11:32,NaN,NaN,SMM,NaN,NaN,NaN,2023-09-23 16:34:00,NaN,NaN,NaN,NaN,5805028000008647384,NaN,NaN
19248,5805028000008355196,NaN,NaT,B - Medium,Qualificated,NaN,/eng,mu_DE,00:09:00,NaN,20_09_2023,Bloggers,NaN,NaN,NaN,2023-09-21 11:32:00,NaN,NaN,NaN,NaN,5805028000008364208,NaN,NaN
19254,5805028000008367218,NaN,NaT,C - Low,Qualificated,NaN,/eng/test,mu_DE,11:47:45,NaN,20_09_2023,Bloggers,NaN,NaN,NaN,2023-09-21 08:50:00,NaN,NaN,NaN,NaN,5805028000008367188,NaN,NaN
19337,5805028000008036373,NaN,NaT,B - Medium,Qualificated,NaN,eng/digital-marketing,15.07.23b_DE,02:28:27,b6,b,Facebook Ads,NaN,NaN,NaN,2023-09-19 14:43:00,NaN,NaN,NaN,NaN,5805028000008017270,NaN,NaN
19382,5805028000007956266,NaN,NaT,C - Low,Qualificated,NaN,eng/digital-marketing,05.09.2023wide_DE,15:18:30,v11,wide,Tiktok Ads,NaN,NaN,NaN,2023-09-18 04:02:00,NaN,NaN,NaN,NaN,5805028000007865975,NaN,NaN
19438,5805028000007863693,NaN,2023-10-13,C - Low,Lost,Not for myself,/eng/ux-ui,Dis_DE,00:09:01,151836595805_{region_name}_673801337002,NaN,Google Ads,NaN,NaN,NaN,2023-09-16 10:45:00,NaN,NaN,NaN,NaN,5805028000007854438,NaN,NaN
19439,5805028000007863646,NaN,2023-10-13,C - Low,Lost,Changed Decision,/eng/ux-ui,12.09.23interests_Uxui_DE,01:12:47,bloggersvideo2comwebdev,interest_programming_WebDev,Facebook Ads,NaN,NaN,NaN,2023-09-16 10:20:00,NaN,NaN,NaN,NaN,5805028000007858469,NaN,NaN
19482,5805028000007768111,NaN,2023-10-13,C - Low,Lost,Changed Decision,eng/digital-marketing,15.07.23b_DE,06:23:44,b6,b,Facebook Ads,NaN,NaN,NaN,2023-09-15 07:28:00,NaN,NaN,NaN,NaN,5805028000007761222,NaN,NaN
19727,5805028000006842309,NaN,NaT,C - Low,Qualificated,NaN,eng/digital-marketing,arina_DE,00:33:37,NaN,06_09_2023,Bloggers,NaN,NaN,NaN,2023-09-06 19:09:00,NaN,NaN,NaN,NaN,5805028000006838193,NaN,NaN
19728,5805028000006833371,NaN,NaT,C - Low,Qualificated,NaN,eng/digital-marketing,02.07.23wide_DE,00:08:25,bloggersvideo1com,wide,Facebook Ads,NaN,NaN,NaN,2023-09-06 19:07:00,NaN,NaN,NaN,NaN,5805028000006833335,NaN,NaN
21357,5805028000002085423,NaN,NaT,C - Low,Qualificated,NaN,eng/digital-marketing,04.07.23recentlymoved_DE,NaN,b2,recentlymoved,Facebook Ads,NaN,NaN,NaN,2023-07-18 01:22:00,NaN,NaN,0.00,0.00,5805028000002085394,NaN,NaN
21385,5805028000001875303,NaN,2023-10-11,B - Medium,Lost,Went to Rivals,eng/digital-marketing,04.07.23recentlymoved_DE,06:08:08,b2,recentlymoved,Facebook Ads,NaN,NaN,NaN,2023-07-17 06:22:00,NaN,NaN,0.00,0.00,5805028000001882329,NaN,NaN
21416,5805028000001895163,NaN,2023-10-12,C - Low,Lost,Doesn't Answer,eng/digital-marketing,02.07.23wide_DE,01:31:11,b3,wide,Facebook Ads,NaN,NaN,NaN,2023-07-15 08:54:00,NaN,NaN,0.00,0.00,5805028000001868168,NaN,NaN
21424,5805028000001847072,NaN,NaT,B - Medium,Qualificated,NaN,eng/digital-marketing,04.07.23recentlymoved_DE,NaN,b2,recentlymoved,Facebook Ads,NaN,NaN,NaN,2023-07-15 02:15:00,NaN,NaN,0.00,0.00,5805028000001847037,NaN,NaN
21432,5805028000001855074,NaN,NaT,C - Low,Qualificated,NaN,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-14 20:25:00,NaN,NaN,0.00,0.00,5805028000001848023,NaN,NaN
21440,5805028000001838006,NaN,NaT,C - Low,Qualificated,NaN,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-14 13:47:00,NaN,NaN,0.00,0.00,5805028000001839001,NaN,NaN
21451,5805028000001781030,NaN,NaT,C - Low,Qualificated,NaN,eng/digital-marketing,07.07.23LAL_DE,NaN,b2,LAL1,Facebook Ads,NaN,NaN,NaN,2023-07-14 09:03:00,NaN,NaN,0.00,0.00,5805028000001770133,NaN,NaN
21463,5805028000001795013,NaN,NaT,A - High,Qualificated,NaN,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,NaN,_{region_name}_,NaN,Google Ads,NaN,NaN,NaN,2023-07-13 21:06:00,NaN,NaN,0.00,0.00,5805028000001761037,NaN,NaN
21518,5805028000001350381,NaN,NaT,B - Medium,Qualificated,NaN,eng/digital-marketing,04.07.23recentlymoved_DE,NaN,b2,recentlymoved,Facebook Ads,NaN,NaN,NaN,2023-07-10 15:53:00,NaN,NaN,0.00,0.00,5805028000001390227,NaN,NaN
21527,5805028000001350311,NaN,NaT,A - High,Qualificated,NaN,eng/digital-marketing,07.07.23LAL_DE,NaN,b3,LAL1,Facebook Ads,NaN,NaN,NaN,2023-07-10 08:48:00,NaN,NaN,0.00,0.00,5805028000001369367,NaN,NaN
21531,5805028000001361167,NaN,NaT,B - Medium,Qualificated,NaN,eng/digital-marketing,04.07.23recentlymoved_DE,NaN,b2,recentlymoved,Facebook Ads,NaN,NaN,NaN,2023-07-10 02:03:00,NaN,NaN,0.00,0.00,5805028000001347171,NaN,NaN
21538,5805028000001402050,NaN,NaT,C - Low,Qualificated,NaN,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,NaN,_{region_name}_,NaN,Google Ads,NaN,NaN,NaN,2023-07-09 09:57:00,NaN,NaN,0.00,0.00,5805028000001348102,NaN,NaN
21544,5805028000001369159,NaN,NaT,B - Medium,Qualificated,NaN,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,NaN,_{region_name}_,NaN,Google Ads,NaN,NaN,NaN,2023-07-08 20:46:00,NaN,NaN,0.00,0.00,5805028000001367055,NaN,NaN
21560,5805028000001299037,NaN,NaT,A - High,Qualificated,NaN,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-07 18:48:00,NaN,NaN,0.00,0.00,5805028000001325013,NaN,NaN
21568,5805028000001164001,NaN,NaT,B - Medium,Qualificated,NaN,eng/digital-marketing,02.07.23wide_DE,NaN,b3,wide,Facebook Ads,NaN,NaN,NaN,2023-07-06 17:04:00,NaN,NaN,0.00,0.00,5805028000001154013,NaN,NaN

In [1028]:
deals_df['Deal Owner Name'] = deals_df['Deal Owner Name'].fillna('Unassigned')
deals_df['Deal Owner Name'].isnull().sum()

np.int64(0)

In [1029]:
print(deals_df['Deal Owner Name'].dtype)

object

## Closing Date

In [1030]:
deals_df['Closing Date'].isnull().sum()

np.int64(6948)

In [576]:
# copy_deals_df = deals_df.copy()

In [578]:
# copy_deals_df['Closing Date Original'] = copy_deals_df['Closing Date']

In [1031]:
# 2. Создаём колонку только с датой создания (без времени)
deals_df['Created Date'] = deals_df['Created Time'].dt.normalize() #приводит время к формату 00:00:00
deals_df['Created Date'] = pd.to_datetime(deals_df['Created Date'])

In [1032]:
deals_df.dtypes

Id                             object
Deal Owner Name                object
Closing Date           datetime64[ns]
Quality                        object
Stage                          object
Lost Reason                    object
Page                           object
Campaign                       object
SLA                            object
Content                        object
Term                           object
Source                         object
Payment Type                   object
Product                        object
Education Type                 object
Created Time           datetime64[ns]
Course duration               float64
Months of study               float64
Initial Amount Paid           float64
Offer Total Amount            float64
Contact Name                   object
City                           object
Level of Deutsch               object
Created Date           datetime64[ns]
dtype: object

In [1033]:
deals_df.head()

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date
0,5805028000056864695,Ben Hall,NaT,NaN,New Lead,NaN,/eng/test,03.07.23women,NaN,v16,women,Facebook Ads,NaN,NaN,NaN,2024-06-21 15:30:00,NaN,NaN,NaN,NaN,5805028000056849495,NaN,NaN,2024-06-21
1,5805028000056859489,Ulysses Adams,NaT,NaN,New Lead,NaN,/at-eng,NaN,NaN,NaN,NaN,Organic,NaN,Web Developer,Morning,2024-06-21 15:23:00,6.00,NaN,0.00,2000.00,5805028000056834471,NaN,NaN,2024-06-21
2,5805028000056832357,Ulysses Adams,2024-06-21,D - Non Target,Lost,Non target,/at-eng,engwien_AT,00:26:43,b1-at,21_06_2024,Telegram posts,NaN,NaN,NaN,2024-06-21 14:45:00,NaN,NaN,NaN,NaN,5805028000056854421,NaN,NaN,2024-06-21
3,5805028000056824246,Eva Kent,2024-06-21,E - Non Qualified,Lost,Invalid number,/eng,04.07.23recentlymoved_DE,01:00:04,bloggersvideo14com,recentlymoved,Facebook Ads,NaN,NaN,NaN,2024-06-21 13:32:00,NaN,NaN,NaN,NaN,5805028000056889351,NaN,NaN,2024-06-21
4,5805028000056873292,Ben Hall,2024-06-21,D - Non Target,Lost,Non target,/eng,discovery_DE,00:53:12,website,NaN,Google Ads,NaN,NaN,NaN,2024-06-21 13:21:00,NaN,NaN,NaN,NaN,5805028000056876176,NaN,NaN,2024-06-21

In [1034]:
(deals_df['Closing Date'] < deals_df['Created Date']).sum()

np.int64(44)

In [1035]:
#проверим, есть ли даты закрытия, которые меньше даты создания
lost_mask = deals_df['Stage'] == 'Lost'
(deals_df.loc[lost_mask, 'Closing Date'] < deals_df.loc[lost_mask, 'Created Date']).sum()

np.int64(40)

In [1036]:
invalid_dates = deals_df[(deals_df['Closing Date'] < deals_df['Created Date'])]
invalid_dates

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date
454,5805028000055502890,Quincy Vincent,2024-06-11,D - Non Target,Lost,Changed Decision,/eng,24.09.23retargeting_DE,11:22:54,v15,retargeting,Facebook Ads,NaN,NaN,NaN,2024-06-16 00:06:00,NaN,NaN,NaN,NaN,5805028000055488584,NaN,NaN,2024-06-16
2083,5805028000051847114,Quincy Vincent,2024-05-22,E - Non Qualified,Lost,Changed Decision,/eng/test,22.05.2024wide_DE,12:58:43,bloggersvideo18com,wide,Tiktok Ads,NaN,NaN,NaN,2024-05-25 21:29:00,NaN,NaN,NaN,NaN,5805028000051866233,NaN,NaN,2024-05-25
2787,5805028000049539444,Julia Nelson,2024-05-07,E - Non Qualified,Lost,Changed Decision,/eng/test,NaN,00:06:32,NaN,NaN,SMM,NaN,NaN,NaN,2024-05-12 11:19:00,NaN,NaN,NaN,NaN,5805028000049438717,NaN,NaN,2024-05-12
3019,5805028000048886321,Oliver Taylor,2024-05-07,C - Low,Payment Done,NaN,NaN,NaN,NaN,NaN,NaN,Organic,Recurring Payments,UX/UI Design,Morning,2024-05-08 15:31:00,11.00,2.00,1000.00,11000.00,5805028000048886280,Berlin,B1,2024-05-08
3022,5805028000048883316,Ulysses Adams,2024-04-17,A - High,Lost,Duplicate,/eng,03.07.23women,NaN,v16,women,Facebook Ads,Recurring Payments,UX/UI Design,Morning,2024-05-08 14:48:00,11.00,NaN,1000.00,11000.00,5805028000043444319,NaN,NaN,2024-05-08
3031,5805028000048886160,Oliver Taylor,2024-05-07,C - Low,Payment Done,NaN,NaN,NaN,NaN,NaN,NaN,Organic,NaN,Digital Marketing,Morning,2024-05-08 12:54:00,11.00,1.00,1000.00,11000.00,5805028000048886140,Berlin,B1,2024-05-08
3691,5805028000047482214,Paula Underwood,2024-04-23,E - Non Qualified,Lost,Expensive,/eng,12.07.2023wide_DE,00:24:45,bloggersvideo11,wide,Tiktok Ads,NaN,NaN,NaN,2024-04-30 15:16:00,NaN,NaN,NaN,NaN,5805028000047492138,NaN,NaN,2024-04-30
4107,5805028000046234250,Rachel White,2024-04-17,E - Non Qualified,Lost,Duplicate,NaN,NaN,NaN,NaN,NaN,Organic,NaN,NaN,NaN,2024-04-24 17:30:00,NaN,NaN,NaN,NaN,5805028000046193190,NaN,NaN,2024-04-24
4169,5805028000045961466,Paula Underwood,2024-04-18,D - Non Target,Lost,Expensive,/eng/test,12.07.2023wide_DE,20:38:10,bloggersvideo16com,wide,Tiktok Ads,NaN,NaN,NaN,2024-04-23 21:44:00,NaN,NaN,NaN,NaN,5805028000045998344,NaN,NaN,2024-04-23
4434,5805028000045314301,Quincy Vincent,2024-04-18,E - Non Qualified,Lost,Doesn't Answer,/eng,02.07.23wide_DE,05:17:10,bloggersvideo14com,wide,Facebook Ads,NaN,NaN,NaN,2024-04-21 08:57:00,NaN,NaN,NaN,NaN,5805028000045305375,NaN,NaN,2024-04-21
4520,5805028000045245616,Ulysses Adams,2023-08-21,B - Medium,Lost,Doesn't Answer,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,"27 days, 13:56:25",_{region_name}_,NaN,Google Ads,NaN,Digital Marketing,Morning,2024-04-20 06:19:00,11.00,NaN,1000.00,11000.00,5805028000003597256,Eggolsheim,NaN,2024-04-20
4798,5805028000044499302,Cara Iverson,2024-04-12,E - Non Qualified,Lost,Invalid number,/pl-eng,20.03.2024wide_PL,NaN,bloggersvideo19com_pl,wide,Tiktok Ads,NaN,NaN,NaN,2024-04-17 09:10:00,NaN,NaN,NaN,NaN,5805028000044499235,NaN,NaN,2024-04-17
4906,5805028000044342009,Yara Edwards,2024-04-11,E - Non Qualified,Lost,Invalid number,NaN,brand_search_eng_DE,NaN,152789402780_{region_name}_695563281558,it career hub,Google Ads,NaN,NaN,NaN,2024-04-16 19:30:00,NaN,NaN,NaN,NaN,5805028000040234689,NaN,NaN,2024-04-16
5000,5805028000044017980,Ben Hall,2024-04-10,E - Non Qualified,Lost,Changed Decision,/eng,02.07.23wide_DE,01:58:31,bloggersvideo14com,wide,Facebook Ads,NaN,NaN,NaN,2024-04-16 15:35:00,NaN,NaN,NaN,NaN,5805028000044160080,NaN,NaN,2024-04-16
5088,5805028000043980301,Paula Underwood,2024-04-11,E - Non Qualified,Lost,Doesn't Answer,/eng,02.07.23wide_DE,"2 days, 4:26:30",bloggersvideo14com,wide,Facebook Ads,NaN,NaN,NaN,2024-04-16 07:50:00,NaN,NaN,NaN,NaN,5805028000043982060,NaN,NaN,2024-04-16
5492,5805028000043623605,Cara Iverson,2024-04-08,D - Non Target,Lost,Changed Decision,/pl-eng,PL_life,11:24:26,b3-pl,12_04_2024,Telegram posts,NaN,NaN,NaN,2024-04-13 04:14:00,NaN,NaN,NaN,NaN,5805028000043630666,NaN,NaN,2024-04-13
5657,5805028000043408097,Cara Iverson,2024-04-09,D - Non Target,Lost,Doesn't Answer,/eng,12.07.2023wide_DE,11:36:18,bloggersvideo14com,wide,Tiktok Ads,NaN,NaN,NaN,2024-04-12 01:40:00,NaN,NaN,NaN,NaN,5805028000043385265,NaN,NaN,2024-04-12
6212,5805028000042255704,Quincy Vincent,2024-04-03,D - Non Target,Lost,Doesn't Answer,/eng,12.07.2023wide_DE,03:41:10,bloggersvideo14com,wide,Tiktok Ads,NaN,NaN,NaN,2024-04-07 15:02:00,NaN,NaN,NaN,NaN,5805028000042291268,NaN,NaN,2024-04-07
6357,5805028000042015392,Ulysses Adams,2023-10-03,A - High,Payment Done,NaN,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,"6 days, 8:00:58",_{region_name}_,NaN,Google Ads,Recurring Payments,UX/UI Design,Morning,2024-04-05 10:40:00,11.00,1.00,1000.00,11000.00,5805028000009072093,Düren,с1,2024-04-05
7215,5805028000039885153,Julia Nelson,2024-03-19,D - Non Target,Lost,Changed Decision,/direct,NaN,00:39:39,NaN,NaN,SMM,NaN,NaN,NaN,2024-03-26 16:44:00,NaN,NaN,NaN,NaN,5805028000039920131,NaN,NaN,2024-03-26
7622,5805028000038726269,Charlie Davis,2024-03-13,D - Non Target,Lost,Changed Decision,/eng,mu_DE,02:07:32,NaN,19_03_2024,Bloggers,NaN,NaN,NaN,2024-03-20 12:37:00,NaN,NaN,NaN,NaN,5805028000038738285,NaN,NaN,2024-03-20
7752,5805028000038223676,Ulysses Adams,2024-03-12,E - Non Qualified,Lost,Duplicate,/event,NaN,02:45:47,NaN,NaN,CRM,NaN,NaN,NaN,2024-03-19 10:56:00,NaN,NaN,NaN,NaN,5805028000034891733,NaN,NaN,2024-03-19
8655,5805028000035795505,Paula Underwood,2024-02-28,D - Non Target,Lost,Changed Decision,/eng,youtube_shorts_DE,03:14:22,bloggersvideo10,Com_august,Youtube Ads,NaN,NaN,NaN,2024-03-06 09:15:00,NaN,NaN,NaN,NaN,5805028000035782435,NaN,NaN,2024-03-06
8817,5805028000035472715,Victor Barnes,2024-02-29,D - Non Target,Lost,Doesn't Answer,/eng/test,NaN,02:25:22,NaN,NaN,Organic,NaN,NaN,NaN,2024-03-04 08:17:00,NaN,NaN,NaN,NaN,5805028000035509553,NaN,NaN,2024-03-04
9044,5805028000034901649,Ulysses Adams,2024-02-22,E - Non Qualified,Lost,Conditions are not suitable,/eng,performancemax_digitalmarkt_ru_DE,03:01:40,_{region_name}_,NaN,Google Ads,NaN,NaN,NaN,2024-02-29 08:54:00,NaN,NaN,NaN,NaN,5805028000034915704,NaN,NaN,2024-02-29
9086,5805028000034907064,Charlie Davis,2024-02-21,D - Non Target,Lost,Non target,/eng/test,02.07.23wide_DE,NaN,bloggersvideo11,wide,Facebook Ads,NaN,NaN,NaN,2024-02-28 14:33:00,NaN,NaN,NaN,NaN,5805028000034912001,NaN,NaN,2024-02-28
9349,5805028000034004022,Charlie Davis,2024-02-24,E - Non Qualified,Lost,Conditions are not suitable,/eng,12.07.2023wide_DE,09:52:33,bloggersvideo11,wide,Tiktok Ads,NaN,NaN,NaN,2024-02-25 04:14:00,NaN,NaN,NaN,NaN,5805028000033889455,NaN,NaN,2024-02-25
9475,5805028000033525798,Rachel White,2024-02-16,E - Non Qualified,Lost,Duplicate,NaN,NaN,NaN,NaN,NaN,Organic,NaN,NaN,NaN,2024-02-23 10:29:00,NaN,NaN,NaN,NaN,5805028000033646006,NaN,NaN,2024-02-23
9624,5805028000033287611,Rachel White,2024-02-14,E - Non Qualified,Lost,Duplicate,NaN,NaN,NaN,NaN,NaN,Organic,NaN,NaN,NaN,2024-02-21 19:51:00,NaN,NaN,NaN,NaN,5805028000033287591,NaN,NaN,2024-02-21
9943,5805028000032566474,Paula Underwood,2024-02-13,E - Non Qualified,Lost,Duplicate,/eng,02.07.23wide_DE,22:23:52,bloggersvideo11,wide,Facebook Ads,NaN,NaN,NaN,2024-02-17 18:07:00,NaN,NaN,NaN,NaN,5805028000032528677,NaN,NaN,2024-02-17
10367,5805028000030992007,Quincy Vincent,2024-02-01,D - Non Target,Lost,Expensive,/eng,24.09.23retargeting_DE,00:16:39,v11comwebdev,retargeting,Facebook Ads,NaN,NaN,NaN,2024-02-08 17:20:00,NaN,NaN,NaN,NaN,5805028000030877879,NaN,NaN,2024-02-08
10413,5805028000030881469,Victor Barnes,2024-02-01,D - Non Target,Lost,Expensive,/direct,NaN,01:37:08,NaN,NaN,SMM,NaN,NaN,NaN,2024-02-08 12:35:00,NaN,NaN,NaN,NaN,5805028000030831406,NaN,NaN,2024-02-08
10545,5805028000030630156,Quincy Vincent,2024-01-31,D - Non Target,Lost,Invalid number,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,NaN,_{region_name}_,NaN,Google Ads,NaN,NaN,NaN,2024-02-07 17:39:00,NaN,NaN,NaN,NaN,5805028000030637199,NaN,NaN,2024-02-07
12561,5805028000025976668,Julia Nelson,2024-01-11,E - Non Qualified,Lost,Doesn't Answer,/eng/ux-ui,12.09.23interests_Uxui_DE,11:43:30,bloggersvideo5,interest_programming_WebDev,Facebook Ads,NaN,NaN,NaN,2024-01-15 00:43:00,NaN,NaN,NaN,NaN,5805028000025976636,NaN,NaN,2024-01-15
14007,5805028000022036007,Unassigned,2023-07-01,E - Non Qualified,Payment Done,NaN,NaN,NaN,NaN,NaN,NaN,Organic,One Payment,NaN,NaN,2023-12-19 10:37:00,NaN,NaN,0.00,0.00,NaN,NaN,NaN,2023-12-19
15436,5805028000018706283,Paula Underwood,2023-11-19,C - Low,Lost,Changed Decision,/eng/test,performancemax_digitalmarkt_ru_DE,15:57:07,_{region_name}_,NaN,Google Ads,NaN,Digital Marketing,Morning,2023-11-25 20:04:00,11.00,NaN,1000.00,11000.00,5805028000018704446,Oberndorf am Neckar,б1,2023-11-25
15722,5805028000018163631,Nina Scott,2023-11-15,E - Non Qualified,Lost,Invalid number,/eng,NaN,22:06:41,NaN,NaN,Organic,NaN,NaN,NaN,2023-11-21 17:55:00,NaN,NaN,NaN,NaN,5805028000018148571,NaN,NaN,2023-11-21
17650,5805028000013174103,Charlie Davis,2023-09-26,D - Non Target,Lost,Thought for free,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,NaN,_{region_name}_,NaN,Google Ads,NaN,NaN,NaN,2023-10-21 21:17:00,NaN,NaN,NaN,NaN,5805028000013128091,NaN,NaN,2023-10-21
18169,5805028000011322126,Charlie Davis,2023-09-26,D - Non Target,Lost,Stopped Answering,/eng/ux-ui,12.09.23interests_Uxui_DE,00:31:16,bloggersvideo5,interest_programming_WebDev,Facebook Ads,NaN,NaN,NaN,2023-10-12 18:17:00,NaN,NaN,NaN,NaN,5805028000011144141,NaN,NaN,2023-10-12
18277,5805028000010744206,Julia Nelson,2023-09-20,E - Non Qualified,Lost,Doesn't Answer,/eng/ux-ui,blog2_DE,00:24:24,NaN,10_10_2023,Bloggers,NaN,NaN,NaN,2023-10-10 16:21:00,NaN,NaN,NaN,NaN,5805028000010764225,NaN,NaN,2023-10-10
18508,5805028000010282031,Diana Evans,2023-09-30,C - Low,Lost,Considering a different direction in IT,eng/digital-marketing,BloggerShina_DE,12:20:29,NaN,05_10_2023,Bloggers,NaN,NaN,NaN,2023-10-05 21:51:00,NaN,NaN,NaN,NaN,5805028000010282001,NaN,NaN,2023-10-05
18526,5805028000010216149,Charlie Davis,2023-09-24,D - Non Target,Lost,Non target,eng/digital-marketing,BloggerShina_DE,01:30:05,NaN,05_10_2023,Bloggers,Recurring Payments,Digital Marketing,Morning,2023-10-05 19:02:00,11.00,NaN,1000.00,11500.00,5805028000010209081,Helmstedt,NaN,2023-10-05
18658,5805028000009789201,Julia Nelson,2022-10-11,E - Non Qualified,Lost,Doesn't Answer,eng/digital-marketing,02.07.23wide_DE,00:44:33,b8,wide,Facebook Ads,NaN,NaN,NaN,2023-10-03 10:36:00,NaN,NaN,NaN,NaN,5805028000009784179,NaN,NaN,2023-10-03
18747,5805028000009682053,Ian Miller,2023-09-25,E - Non Qualified,Lost,Invalid number,eng/digital-marketing,03.07.23women,NaN,bloggersvideo4com,women,Facebook Ads,NaN,NaN,NaN,2023-10-02 09:27:00,NaN,NaN,NaN,NaN,5805028000009575662,NaN,NaN,2023-10-02

In [1037]:
deals_df[deals_df['Stage'] == 'Lost']

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date
2,5805028000056832357,Ulysses Adams,2024-06-21,D - Non Target,Lost,Non target,/at-eng,engwien_AT,00:26:43,b1-at,21_06_2024,Telegram posts,NaN,NaN,NaN,2024-06-21 14:45:00,NaN,NaN,NaN,NaN,5805028000056854421,NaN,NaN,2024-06-21
3,5805028000056824246,Eva Kent,2024-06-21,E - Non Qualified,Lost,Invalid number,/eng,04.07.23recentlymoved_DE,01:00:04,bloggersvideo14com,recentlymoved,Facebook Ads,NaN,NaN,NaN,2024-06-21 13:32:00,NaN,NaN,NaN,NaN,5805028000056889351,NaN,NaN,2024-06-21
4,5805028000056873292,Ben Hall,2024-06-21,D - Non Target,Lost,Non target,/eng,discovery_DE,00:53:12,website,NaN,Google Ads,NaN,NaN,NaN,2024-06-21 13:21:00,NaN,NaN,NaN,NaN,5805028000056876176,NaN,NaN,2024-06-21
8,5805028000056845137,Rachel White,2024-06-21,E - Non Qualified,Lost,Duplicate,NaN,NaN,NaN,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-21 12:40:00,NaN,NaN,NaN,NaN,5805028000056849237,NaN,NaN,2024-06-21
9,5805028000056864442,Victor Barnes,2024-06-21,D - Non Target,Lost,Inadequate,/email,1406start,00:10:08,NaN,NaN,CRM,NaN,NaN,NaN,2024-06-21 12:39:00,NaN,NaN,NaN,NaN,5805028000039274091,NaN,NaN,2024-06-21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21588,5805028000000970006,Jane Smith,2023-07-04,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-04 07:10:00,NaN,NaN,NaN,NaN,5805028000000979006,NaN,NaN,2023-07-04
21589,5805028000000948010,Jane Smith,2023-08-29,B - Medium,Lost,needs time to think,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-04 07:10:00,NaN,NaN,NaN,NaN,5805028000000979006,NaN,NaN,2023-07-04
21590,5805028000000945016,Jane Smith,2023-08-29,A - High,Lost,Changed Decision,eng/digital-marketing,02.07.23wide_DE,"56 days, 19:01:59",b3,wide,Facebook Ads,NaN,NaN,NaN,2023-07-03 20:39:00,NaN,NaN,NaN,NaN,5805028000000968001,NaN,NaN,2023-07-03
21591,5805028000000927004,Bob Brown,2023-07-09,D - Non Target,Lost,Does not speak English,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-03 20:17:00,NaN,NaN,NaN,NaN,5805028000000961001,NaN,NaN,2023-07-03
21592,5805028000000922001,Bob Brown,2023-07-03,E - Non Qualified,Lost,Refugee,NaN,NaN,"4 days, 22:47:14",NaN,NaN,Organic,NaN,NaN,NaN,2023-07-03 17:03:00,NaN,NaN,0.00,0.00,5805028000001009140,NaN,NaN,2023-07-03

In [1038]:
# 3. Считаем разницу в днях (где Closing Date заполнен)
mask = deals_df['Closing Date'].notna()
deals_df.loc[mask, 'Date Diff'] = (
    deals_df.loc[mask, 'Closing Date'] - deals_df.loc[mask, 'Created Date']
).dt.days

In [1039]:
deals_df.tail()

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
21588,5805028000000970006,Jane Smith,2023-07-04,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-04 07:10:00,NaN,NaN,NaN,NaN,5805028000000979006,NaN,NaN,2023-07-04,0.00
21589,5805028000000948010,Jane Smith,2023-08-29,B - Medium,Lost,needs time to think,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-04 07:10:00,NaN,NaN,NaN,NaN,5805028000000979006,NaN,NaN,2023-07-04,56.00
21590,5805028000000945016,Jane Smith,2023-08-29,A - High,Lost,Changed Decision,eng/digital-marketing,02.07.23wide_DE,"56 days, 19:01:59",b3,wide,Facebook Ads,NaN,NaN,NaN,2023-07-03 20:39:00,NaN,NaN,NaN,NaN,5805028000000968001,NaN,NaN,2023-07-03,57.00
21591,5805028000000927004,Bob Brown,2023-07-09,D - Non Target,Lost,Does not speak English,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-03 20:17:00,NaN,NaN,NaN,NaN,5805028000000961001,NaN,NaN,2023-07-03,6.00
21592,5805028000000922001,Bob Brown,2023-07-03,E - Non Qualified,Lost,Refugee,NaN,NaN,"4 days, 22:47:14",NaN,NaN,Organic,NaN,NaN,NaN,2023-07-03 17:03:00,NaN,NaN,0.00,0.00,5805028000001009140,NaN,NaN,2023-07-03,0.00

In [1040]:
# 4. Мода разницы для сделок со статусом Lost
most_lost_diff = deals_df.loc[deals_df['Stage'] == 'Lost', 'Date Diff'].mode()[0]

In [1041]:
print(most_lost_diff)

0.0

In [1042]:
deals_df[deals_df['Closing Date'].isna()]

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
0,5805028000056864695,Ben Hall,NaT,NaN,New Lead,NaN,/eng/test,03.07.23women,NaN,v16,women,Facebook Ads,NaN,NaN,NaN,2024-06-21 15:30:00,NaN,NaN,NaN,NaN,5805028000056849495,NaN,NaN,2024-06-21,NaN
1,5805028000056859489,Ulysses Adams,NaT,NaN,New Lead,NaN,/at-eng,NaN,NaN,NaN,NaN,Organic,NaN,Web Developer,Morning,2024-06-21 15:23:00,6.00,NaN,0.00,2000.00,5805028000056834471,NaN,NaN,2024-06-21,NaN
5,5805028000056828429,Paula Underwood,NaT,NaN,Need a consultation,NaN,/eng,youtube_shorts_DE,01:33:10,bloggersvideo2june,Com_august,Youtube Ads,NaN,NaN,NaN,2024-06-21 13:02:00,NaN,NaN,NaN,NaN,5805028000056833279,NaN,NaN,2024-06-21,NaN
6,5805028000056893379,Ulysses Adams,NaT,NaN,Need To Call,NaN,eng/digital-marketing,NaN,NaN,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-21 12:52:00,NaN,NaN,NaN,NaN,5805028000056832215,NaN,NaN,2024-06-21,NaN
7,5805028000056849262,Eva Kent,NaT,NaN,Need a consultation,NaN,/eng,brand_search_eng_DE,02:12:29,152789402780_{region_name}_695563281558,it career hub,Google Ads,NaN,NaN,NaN,2024-06-21 12:44:00,NaN,NaN,NaN,NaN,5805028000056833242,NaN,NaN,2024-06-21,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21567,5805028000001225001,Oliver Taylor,NaT,B - Medium,Lost,Stopped Answering,eng/digital-marketing,02.07.23wide_DE,03:57:36,b3,wide,Facebook Ads,NaN,Digital Marketing,NaN,2023-07-07 06:53:00,11.00,NaN,1000.00,11500.00,5805028000001204013,NaN,NaN,2023-07-07,NaN
21568,5805028000001164001,Unassigned,NaT,B - Medium,Qualificated,NaN,eng/digital-marketing,02.07.23wide_DE,NaN,b3,wide,Facebook Ads,NaN,NaN,NaN,2023-07-06 17:04:00,NaN,NaN,0.00,0.00,5805028000001154013,NaN,NaN,2023-07-06,NaN
21580,5805028000001061006,George King,NaT,A - High,Call Delayed,Next stream,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,18:51:07,_{region_name}_,NaN,Google Ads,NaN,NaN,NaN,2023-07-05 17:30:00,NaN,NaN,NaN,NaN,5805028000001068001,NaN,NaN,2023-07-05,NaN
21585,5805028000000935081,Julia Nelson,NaT,D - Non Target,Call Delayed,NaN,eng/digital-marketing,03.07.23women,"70 days, 23:12:53",b3,women,Facebook Ads,NaN,Digital Marketing,Morning,2023-07-04 11:46:00,11.00,NaN,1000.00,11500.00,5805028000000971007,NaN,NaN,2023-07-04,NaN
21586,5805028000000947046,Oliver Taylor,NaT,B - Medium,Payment Done,NaN,eng/digital-marketing,02.07.23wide_DE,"71 days, 0:46:22",b3,wide,Facebook Ads,NaN,Digital Marketing,Morning,2023-07-04 10:11:00,11.00,11.00,1000.00,11000.00,5805028000000939010,NaN,NaN,2023-07-04,NaN

In [1043]:
deals_df[(deals_df['Stage'] == 'Lost') & (deals_df['Closing Date'].isna())]

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
73,5805028000056570095,Charlie Davis,NaT,E - Non Qualified,Lost,Duplicate,/eng/ux-ui,02.07.23wide_DE,12:27:23,bloggersvideo23com,wide,Facebook Ads,NaN,NaN,NaN,2024-06-19 21:58:00,NaN,NaN,NaN,NaN,5805028000056555054,NaN,NaN,2024-06-19,NaN
106,5805028000056370221,Ulysses Adams,NaT,E - Non Qualified,Lost,Duplicate,NaN,NaN,NaN,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-19 11:07:00,NaN,NaN,NaN,NaN,5805028000056272091,NaN,NaN,2024-06-19,NaN
175,5805028000056164376,Paula Underwood,NaT,E - Non Qualified,Lost,Duplicate,NaN,NaN,NaN,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-18 14:22:00,NaN,NaN,NaN,NaN,5805028000056254001,NaN,NaN,2024-06-18,NaN
180,5805028000056177319,Ben Hall,NaT,E - Non Qualified,Lost,Doesn't Answer,/eng,04.07.23recentlymoved_DE,00:43:43,bloggersvideo15com,recentlymoved,Facebook Ads,NaN,NaN,NaN,2024-06-18 13:38:00,NaN,NaN,NaN,NaN,5805028000055965957,NaN,NaN,2024-06-18,NaN
234,5805028000055987901,Ben Hall,NaT,E - Non Qualified,Lost,Duplicate,/webinar,webinar1906,NaN,NaN,invitation,Webinar,NaN,NaN,NaN,2024-06-18 05:19:00,NaN,NaN,NaN,NaN,5805028000056115037,Gummersbach,NaN,2024-06-18,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21508,5805028000001508013,Oliver Taylor,NaT,B - Medium,Lost,Stopped Answering,eng/digital-marketing,02.07.23wide_DE,00:06:48,b3,wide,Facebook Ads,NaN,Digital Marketing,NaN,2023-07-11 15:07:00,11.00,NaN,1000.00,11500.00,5805028000001495037,NaN,NaN,2023-07-11,NaN
21550,5805028000001390038,Jane Smith,NaT,D - Non Target,Lost,Conditions are not suitable,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,NaN,_{region_name}_,NaN,Google Ads,NaN,NaN,NaN,2023-07-08 11:38:00,NaN,NaN,0.00,0.00,5805028000001347003,NaN,NaN,2023-07-08,NaN
21559,5805028000001319036,Oliver Taylor,NaT,B - Medium,Lost,Stopped Answering,eng/digital-marketing,03.07.23women,00:27:56,b3,women,Facebook Ads,NaN,Digital Marketing,NaN,2023-07-07 19:02:00,11.00,NaN,1000.00,11500.00,5805028000001296026,NaN,NaN,2023-07-07,NaN
21564,5805028000001204084,Oliver Taylor,NaT,B - Medium,Lost,Stopped Answering,eng/digital-marketing,05.07.23interests_DE,03:09:15,b2,interest_work,Facebook Ads,NaN,Digital Marketing,NaN,2023-07-07 09:05:00,11.00,NaN,1000.00,11500.00,5805028000001187016,NaN,NaN,2023-07-07,NaN
21567,5805028000001225001,Oliver Taylor,NaT,B - Medium,Lost,Stopped Answering,eng/digital-marketing,02.07.23wide_DE,03:57:36,b3,wide,Facebook Ads,NaN,Digital Marketing,NaN,2023-07-07 06:53:00,11.00,NaN,1000.00,11500.00,5805028000001204013,NaN,NaN,2023-07-07,NaN

In [1044]:
# 5. Заполняем Closing Date, если Stage == 'Lost' и Closing Date пуст
lost_mask = (deals_df['Stage'] == 'Lost') & deals_df['Closing Date'].isna()
deals_df.loc[lost_mask, 'Closing Date'] = (
    deals_df.loc[lost_mask, 'Created Date'] + pd.to_timedelta(most_lost_diff, unit='D')
)

In [1045]:
deals_df[(deals_df['Stage'] == 'Lost') & (deals_df['Closing Date'].isna())]

Empty DataFrame
Columns: [Id, Deal Owner Name, Closing Date, Quality, Stage, Lost Reason, Page, Campaign, SLA, Content, Term, Source, Payment Type, Product, Education Type, Created Time, Course duration, Months of study, Initial Amount Paid, Offer Total Amount, Contact Name, City, Level of Deutsch, Created Date, Date Diff]
Index: []

In [518]:
# 6. Чистим временную колонку
# copy_deals_df.drop(columns='Date Diff', inplace=True)

In [1046]:
((deals_df['Stage'] == 'Lost') & (deals_df['Closing Date'].isna())).sum()

np.int64(0)

# #Если changed_mask.sum() даст ненулевое число — значит, эти строки испортились именно после моей обработки.
# changed_mask = (
#     (deals_df['Stage'] == 'Lost') &
#     (deals_df['Closing Date'] < deals_df['Created Date']) &
#     (deals_df['Closing Date'] != deals_df['Closing Date Original'])  # То есть поле изменилось
# )

# changed_mask.sum()

In [770]:
# Или покажем сами строки
# deals_df[mask_invalid_filled]

Empty DataFrame
Columns: [Id, Deal Owner Name, Closing Date, Quality, Stage, Lost Reason, Page, Campaign, SLA, Content, Term, Source, Payment Type, Product, Education Type, Created Time, Course duration, Months of study, Initial Amount Paid, Offer Total Amount, Contact Name, City, Level of Deutsch, Created Date, Date Diff]
Index: []

In [1047]:
print(len(invalid_dates))

44

In [1048]:
#проверим, есть ли даты закрытия, которые меньше даты создания
lost_mask = deals_df['Stage'] == 'Lost'
(deals_df.loc[lost_mask, 'Closing Date'] < deals_df.loc[lost_mask, 'Created Date']).sum()

np.int64(40)

In [1049]:
# 4. Мода разницы
most_common_diff = deals_df['Date Diff'].mode()[0]

In [1050]:
# Маска для некорректных строк (где Closing Date < Created Date)
invalid_mask = deals_df['Closing Date'] < deals_df['Created Date']

In [1051]:
# Исправляем: Closing Date = Created Date + мода
deals_df.loc[invalid_mask, 'Closing Date'] = deals_df.loc[invalid_mask, 'Created Date'] + pd.to_timedelta(most_common_diff, unit='D')

In [1052]:
invalid_dates_updated = deals_df[(deals_df['Closing Date'] < deals_df['Created Date'])]
print(len(invalid_dates_updated))

0

In [1053]:
(deals_df.loc[lost_mask, 'Closing Date'] < deals_df.loc[lost_mask, 'Created Date']).sum()

np.int64(0)

In [ ]:
# 6. Чистим временную колонку
# deals_df.drop(columns='Date Diff', inplace=True)

In [1054]:
(deals_df['Closing Date'] < deals_df['Created Date']).sum()

np.int64(0)

In [1055]:
deals_df['Closing Date'].isnull().sum()

np.int64(5063)

In [1056]:
deals_df[deals_df['Closing Date'].isna()]

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
0,5805028000056864695,Ben Hall,NaT,NaN,New Lead,NaN,/eng/test,03.07.23women,NaN,v16,women,Facebook Ads,NaN,NaN,NaN,2024-06-21 15:30:00,NaN,NaN,NaN,NaN,5805028000056849495,NaN,NaN,2024-06-21,NaN
1,5805028000056859489,Ulysses Adams,NaT,NaN,New Lead,NaN,/at-eng,NaN,NaN,NaN,NaN,Organic,NaN,Web Developer,Morning,2024-06-21 15:23:00,6.00,NaN,0.00,2000.00,5805028000056834471,NaN,NaN,2024-06-21,NaN
5,5805028000056828429,Paula Underwood,NaT,NaN,Need a consultation,NaN,/eng,youtube_shorts_DE,01:33:10,bloggersvideo2june,Com_august,Youtube Ads,NaN,NaN,NaN,2024-06-21 13:02:00,NaN,NaN,NaN,NaN,5805028000056833279,NaN,NaN,2024-06-21,NaN
6,5805028000056893379,Ulysses Adams,NaT,NaN,Need To Call,NaN,eng/digital-marketing,NaN,NaN,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-21 12:52:00,NaN,NaN,NaN,NaN,5805028000056832215,NaN,NaN,2024-06-21,NaN
7,5805028000056849262,Eva Kent,NaT,NaN,Need a consultation,NaN,/eng,brand_search_eng_DE,02:12:29,152789402780_{region_name}_695563281558,it career hub,Google Ads,NaN,NaN,NaN,2024-06-21 12:44:00,NaN,NaN,NaN,NaN,5805028000056833242,NaN,NaN,2024-06-21,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21560,5805028000001299037,Unassigned,NaT,A - High,Qualificated,NaN,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-07 18:48:00,NaN,NaN,0.00,0.00,5805028000001325013,NaN,NaN,2023-07-07,NaN
21568,5805028000001164001,Unassigned,NaT,B - Medium,Qualificated,NaN,eng/digital-marketing,02.07.23wide_DE,NaN,b3,wide,Facebook Ads,NaN,NaN,NaN,2023-07-06 17:04:00,NaN,NaN,0.00,0.00,5805028000001154013,NaN,NaN,2023-07-06,NaN
21580,5805028000001061006,George King,NaT,A - High,Call Delayed,Next stream,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,18:51:07,_{region_name}_,NaN,Google Ads,NaN,NaN,NaN,2023-07-05 17:30:00,NaN,NaN,NaN,NaN,5805028000001068001,NaN,NaN,2023-07-05,NaN
21585,5805028000000935081,Julia Nelson,NaT,D - Non Target,Call Delayed,NaN,eng/digital-marketing,03.07.23women,"70 days, 23:12:53",b3,women,Facebook Ads,NaN,Digital Marketing,Morning,2023-07-04 11:46:00,11.00,NaN,1000.00,11500.00,5805028000000971007,NaN,NaN,2023-07-04,NaN
21586,5805028000000947046,Oliver Taylor,NaT,B - Medium,Payment Done,NaN,eng/digital-marketing,02.07.23wide_DE,"71 days, 0:46:22",b3,wide,Facebook Ads,NaN,Digital Marketing,Morning,2023-07-04 10:11:00,11.00,11.00,1000.00,11000.00,5805028000000939010,NaN,NaN,2023-07-04,NaN

In [1057]:
unique_stages_in_open_deals = deals_df[deals_df['Closing Date'].isna()]['Stage'].dropna().unique()
print("Уникальные стадии среди открытых сделок:", unique_stages_in_open_deals)

Уникальные стадии среди открытых сделок: ['New Lead' 'Need a consultation' 'Need To Call' 'Call Delayed'
 'Qualificated' 'Registered on Webinar' 'Waiting For Payment'
 'Need to Call - Sales' 'Test Sent' 'Payment Done'
 'Registered on Offline Day' 'Free Education']

In [1058]:
open_paid_deals = deals_df[(deals_df['Closing Date'].isna()) & (deals_df['Stage'] == 'Payment Done')]
print("Открытые сделки со статусом 'Payment Done':", open_paid_deals.shape[0])

Открытые сделки со статусом 'Payment Done': 337

In [1059]:
open_paid_deals

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
497,5805028000055524040,Ben Hall,NaT,B - Medium,Payment Done,NaN,/eng,Live_DE,00:23:42,b0,03_06_2024,Telegram posts,NaN,Web Developer,Morning,2024-06-15 12:20:00,6.00,1.00,1000.00,9000.00,5805028000055464156,Wolfsburg,B1,2024-06-15,NaN
833,5805028000054664018,Ben Hall,NaT,D - Non Target,Payment Done,NaN,/eng,NaN,16:31:52,NaN,NaN,Organic,NaN,Web Developer,Morning,2024-06-11 19:39:00,6.00,1.00,1000.00,9000.00,5805028000054683001,Zwickau,A2,2024-06-11,NaN
1065,5805028000054269295,Ben Hall,NaT,D - Non Target,Payment Done,NaN,/eng,12.07.2023wide_DE,03:54:02,bloggersvideo16com,wide,Tiktok Ads,NaN,Digital Marketing,Morning,2024-06-10 12:37:00,11.00,1.00,1000.00,11000.00,5805028000054318001,Hof,A2,2024-06-10,NaN
1073,5805028000054226039,Eva Kent,NaT,B - Medium,Payment Done,NaN,eng/digital-marketing,07.07.23LAL_DE,05:54:20,bloggersvideo9com,LAL1,Facebook Ads,NaN,Digital Marketing,Morning,2024-06-10 09:01:00,11.00,1.00,1000.00,11000.00,5805028000054226036,Nürnberg,b1,2024-06-10,NaN
1121,5805028000054231507,Eva Kent,NaT,B - Medium,Payment Done,NaN,/eng,NaN,03:44:24,NaN,NaN,Organic,NaN,UX/UI Design,Morning,2024-06-10 09:00:00,11.00,1.00,1000.00,11000.00,5805028000054106087,Bochum,b1,2024-06-10,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20613,5805028000004313387,Oliver Taylor,NaT,A - High,Payment Done,NaN,eng/digital-marketing,07.07.23LAL_DE,01:49:10,v9com,LAL1,Facebook Ads,NaN,Digital Marketing,NaN,2023-08-10 17:28:00,11.00,11.00,1000.00,11000.00,5805028000004333294,NaN,А2-В1 учит,2023-08-10,NaN
20728,5805028000004133115,Kevin Parker,NaT,B - Medium,Payment Done,NaN,eng/digital-marketing,NaN,03:59:05,NaN,NaN,Organic,NaN,Digital Marketing,Morning,2023-08-08 07:15:00,11.00,11.00,1000.00,11000.00,5805028000004106113,NaN,NaN,2023-08-08,NaN
21111,5805028000003130171,Ulysses Adams,NaT,C - Low,Payment Done,NaN,eng/digital-marketing,03.07.23women,00:37:23,b3,women,Facebook Ads,NaN,Digital Marketing,Morning,2023-07-26 15:32:00,11.00,11.00,0.00,0.00,5805028000003112233,NaN,NaN,2023-07-26,NaN
21555,5805028000001401001,Oliver Taylor,NaT,B - Medium,Payment Done,NaN,eng/digital-marketing,02.07.23wide_DE,02:22:36,b3,wide,Facebook Ads,NaN,Digital Marketing,NaN,2023-07-08 08:56:00,11.00,8.00,1000.00,11500.00,5805028000001350049,NaN,NaN,2023-07-08,NaN
21586,5805028000000947046,Oliver Taylor,NaT,B - Medium,Payment Done,NaN,eng/digital-marketing,02.07.23wide_DE,"71 days, 0:46:22",b3,wide,Facebook Ads,NaN,Digital Marketing,Morning,2023-07-04 10:11:00,11.00,11.00,1000.00,11000.00,5805028000000939010,NaN,NaN,2023-07-04,NaN

In [1060]:
value_counts_diff = deals_df['Date Diff'].value_counts()

first_most_common = value_counts_diff.index[0]
first_most_freq = value_counts_diff.iloc[0]

# Смотрим второе по частоте значение
second_most_common = value_counts_diff.index[1]
second_most_freq = value_counts_diff.iloc[1]

print(f"Первое по частоте значение: {first_most_common}, встречается {first_most_freq} раз")
print(f"Второе по частоте значение: {second_most_common}, встречается {second_most_freq} раз")

Первое по частоте значение: 0.0, встречается 3268 раз
Второе по частоте значение: 1.0, встречается 1898 раз

In [793]:
# mode_datedif

0   0.00
Name: Date Diff, dtype: float64

In [1061]:
# 4. Мода разницы для статусов 'Payment Done'
most_paydone_diff = deals_df.loc[deals_df['Stage'] == 'Payment Done', 'Date Diff'].mode()[0]

In [1062]:
most_paydone_diff

np.float64(8.0)

In [1063]:
value_counts_diff_payd = deals_df[deals_df['Stage'] == 'Payment Done']['Date Diff'].value_counts()

first_most_common_payd = value_counts_diff_payd.index[0]
first_most_freq_payd = value_counts_diff_payd.iloc[0]

# Смотрим второе по частоте значение
second_most_common_payd = value_counts_diff_payd.index[1]
second_most_freq_payd = value_counts_diff_payd.iloc[1]

print(f"Первое по частоте значение: {first_most_common_payd}, встречается {first_most_freq_payd} раз")
print(f"Второе по частоте значение: {second_most_common_payd}, встречается {second_most_freq_payd} раз")

Первое по частоте значение: 8.0, встречается 23 раз
Второе по частоте значение: 0.0, встречается 22 раз

In [1064]:
paydone_mask = (deals_df['Stage'] == 'Payment Done') & deals_df['Closing Date'].isna()
deals_df.loc[paydone_mask, 'Closing Date'] = (
    deals_df.loc[paydone_mask, 'Created Date'] + pd.to_timedelta(most_paydone_diff, unit='D') #to_timedelta- преобразование значения most_lost_diff (числа — например, 5) в временной интервал (тип Timedelta) в днях.
)

In [1065]:
open_paid_deals_updated = deals_df[(deals_df['Closing Date'].isna()) & (deals_df['Stage'] == 'Payment Done')]
print("Открытые сделки со статусом 'Payment Done':", open_paid_deals_updated.shape[0])

Открытые сделки со статусом 'Payment Done': 0

In [1066]:
# Перепроверь в одной ячейке
paydone_mask = (deals_df['Stage'] == 'Payment Done') & (deals_df['Closing Date'].isna())
print("paydone_mask:", paydone_mask.sum())

open_paid_deals = deals_df[(deals_df['Closing Date'].isna()) & (deals_df['Stage'] == 'Payment Done')]
print("open_paid_deals:", open_paid_deals.shape[0])

paydone_mask: 0
open_paid_deals: 0

In [1067]:
print(deals_df[paydone_mask].shape)

(0, 25)

In [1068]:
print(most_paydone_diff)

8.0

In [1069]:
print(deals_df.loc[deals_df['Stage'] == 'Payment Done', 'Date Diff'].mode()[0])

8.0

In [1070]:
deals_df['Closing Date'].isnull().sum()

np.int64(4726)

## Quality

In [1071]:
deals_df

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
0,5805028000056864695,Ben Hall,NaT,NaN,New Lead,NaN,/eng/test,03.07.23women,NaN,v16,women,Facebook Ads,NaN,NaN,NaN,2024-06-21 15:30:00,NaN,NaN,NaN,NaN,5805028000056849495,NaN,NaN,2024-06-21,NaN
1,5805028000056859489,Ulysses Adams,NaT,NaN,New Lead,NaN,/at-eng,NaN,NaN,NaN,NaN,Organic,NaN,Web Developer,Morning,2024-06-21 15:23:00,6.00,NaN,0.00,2000.00,5805028000056834471,NaN,NaN,2024-06-21,NaN
2,5805028000056832357,Ulysses Adams,2024-06-21,D - Non Target,Lost,Non target,/at-eng,engwien_AT,00:26:43,b1-at,21_06_2024,Telegram posts,NaN,NaN,NaN,2024-06-21 14:45:00,NaN,NaN,NaN,NaN,5805028000056854421,NaN,NaN,2024-06-21,0.00
3,5805028000056824246,Eva Kent,2024-06-21,E - Non Qualified,Lost,Invalid number,/eng,04.07.23recentlymoved_DE,01:00:04,bloggersvideo14com,recentlymoved,Facebook Ads,NaN,NaN,NaN,2024-06-21 13:32:00,NaN,NaN,NaN,NaN,5805028000056889351,NaN,NaN,2024-06-21,0.00
4,5805028000056873292,Ben Hall,2024-06-21,D - Non Target,Lost,Non target,/eng,discovery_DE,00:53:12,website,NaN,Google Ads,NaN,NaN,NaN,2024-06-21 13:21:00,NaN,NaN,NaN,NaN,5805028000056876176,NaN,NaN,2024-06-21,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21588,5805028000000970006,Jane Smith,2023-07-04,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-04 07:10:00,NaN,NaN,NaN,NaN,5805028000000979006,NaN,NaN,2023-07-04,0.00
21589,5805028000000948010,Jane Smith,2023-08-29,B - Medium,Lost,needs time to think,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-04 07:10:00,NaN,NaN,NaN,NaN,5805028000000979006,NaN,NaN,2023-07-04,56.00
21590,5805028000000945016,Jane Smith,2023-08-29,A - High,Lost,Changed Decision,eng/digital-marketing,02.07.23wide_DE,"56 days, 19:01:59",b3,wide,Facebook Ads,NaN,NaN,NaN,2023-07-03 20:39:00,NaN,NaN,NaN,NaN,5805028000000968001,NaN,NaN,2023-07-03,57.00
21591,5805028000000927004,Bob Brown,2023-07-09,D - Non Target,Lost,Does not speak English,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-03 20:17:00,NaN,NaN,NaN,NaN,5805028000000961001,NaN,NaN,2023-07-03,6.00
21592,5805028000000922001,Bob Brown,2023-07-03,E - Non Qualified,Lost,Refugee,NaN,NaN,"4 days, 22:47:14",NaN,NaN,Organic,NaN,NaN,NaN,2023-07-03 17:03:00,NaN,NaN,0.00,0.00,5805028000001009140,NaN,NaN,2023-07-03,0.00

In [1072]:
deals_df[deals_df['Quality'].isna()]

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
0,5805028000056864695,Ben Hall,NaT,NaN,New Lead,NaN,/eng/test,03.07.23women,NaN,v16,women,Facebook Ads,NaN,NaN,NaN,2024-06-21 15:30:00,NaN,NaN,NaN,NaN,5805028000056849495,NaN,NaN,2024-06-21,NaN
1,5805028000056859489,Ulysses Adams,NaT,NaN,New Lead,NaN,/at-eng,NaN,NaN,NaN,NaN,Organic,NaN,Web Developer,Morning,2024-06-21 15:23:00,6.00,NaN,0.00,2000.00,5805028000056834471,NaN,NaN,2024-06-21,NaN
5,5805028000056828429,Paula Underwood,NaT,NaN,Need a consultation,NaN,/eng,youtube_shorts_DE,01:33:10,bloggersvideo2june,Com_august,Youtube Ads,NaN,NaN,NaN,2024-06-21 13:02:00,NaN,NaN,NaN,NaN,5805028000056833279,NaN,NaN,2024-06-21,NaN
6,5805028000056893379,Ulysses Adams,NaT,NaN,Need To Call,NaN,eng/digital-marketing,NaN,NaN,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-21 12:52:00,NaN,NaN,NaN,NaN,5805028000056832215,NaN,NaN,2024-06-21,NaN
7,5805028000056849262,Eva Kent,NaT,NaN,Need a consultation,NaN,/eng,brand_search_eng_DE,02:12:29,152789402780_{region_name}_695563281558,it career hub,Google Ads,NaN,NaN,NaN,2024-06-21 12:44:00,NaN,NaN,NaN,NaN,5805028000056833242,NaN,NaN,2024-06-21,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20371,5805028000005178088,John Doe,NaT,NaN,Registered on Webinar,NaN,/workshop,NaN,NaN,NaN,NaN,Organic,NaN,NaN,NaN,2023-08-18 20:46:00,NaN,NaN,NaN,NaN,5805028000000872003,NaN,NaN,2023-08-18,NaN
20373,5805028000005176076,John Doe,NaT,NaN,Registered on Webinar,NaN,/workshop,NaN,NaN,NaN,NaN,Organic,NaN,Digital Marketing,Evening,2023-08-18 20:22:00,11.00,NaN,NaN,NaN,5805028000000872003,NaN,NaN,2023-08-18,NaN
20375,5805028000005174051,John Doe,NaT,NaN,Registered on Webinar,NaN,/workshop,NaN,NaN,NaN,NaN,Organic,NaN,NaN,NaN,2023-08-18 19:54:00,NaN,NaN,NaN,NaN,5805028000000872003,NaN,NaN,2023-08-18,NaN
20376,5805028000005168037,John Doe,NaT,NaN,Registered on Webinar,NaN,/workshop,web2408_DE,NaN,NaN,allcomlost,CRM,NaN,NaN,NaN,2023-08-18 19:45:00,NaN,NaN,NaN,NaN,5805028000000872003,NaN,NaN,2023-08-18,NaN
20377,5805028000005176025,John Doe,NaT,NaN,Registered on Webinar,NaN,/workshop,web2408_DE,NaN,NaN,allcomlost,CRM,NaN,NaN,NaN,2023-08-18 19:42:00,NaN,NaN,NaN,NaN,5805028000000872003,NaN,NaN,2023-08-18,NaN

In [1073]:
deals_df['Quality'].isna().sum()

np.int64(2253)

In [1074]:
print(deals_df['Quality'].dtype)

object

In [1075]:
deals_df['Quality'].value_counts(dropna=True)

Quality
E - Non Qualified    7634
D - Non Target       6248
C - Low              3459
B - Medium           1564
A - High              432
F                       3
Name: count, dtype: int64

In [1076]:
deals_df['Source'].value_counts(dropna=True)

Source
Facebook Ads      4850
Google Ads        4226
Organic           2590
Tiktok Ads        2051
SMM               1730
Youtube Ads       1657
CRM               1656
Bloggers          1089
Telegram posts    1001
Webinar            379
Partnership        203
Test               159
Offline              2
Name: count, dtype: int64

In [1077]:
deals_df['Source'].isna().sum()

np.int64(0)

In [1078]:
deals_df['Stage'].isna().sum()

np.int64(0)

In [1079]:
deals_df['Quality'].value_counts(dropna=True)

Quality
E - Non Qualified    7634
D - Non Target       6248
C - Low              3459
B - Medium           1564
A - High              432
F                       3
Name: count, dtype: int64

In [1080]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report, accuracy_score
from datetime import datetime

# 1. Копируем нужные колонки
df_quality_model = deals_df[['Initial Amount Paid', 'Stage', 'Created Date', 'Closing Date', 'Quality', 'Source']].copy()

# 2. Создаём бинарный признак "Is Closed"
df_quality_model['Is Closed'] = df_quality_model['Closing Date'].notna().astype(int)

# 3. Признак: сколько дней с начала наблюдения
df_quality_model['Created Days'] = (df_quality_model['Created Date'] - df_quality_model['Created Date'].min()).dt.days

# 4. Признак: длительность сделки
today = pd.to_datetime(datetime.today().date())
df_quality_model['Deal Duration'] = (df_quality_model['Closing Date'] - df_quality_model['Created Date']).dt.days
df_quality_model['Deal Duration'].fillna((today - df_quality_model['Created Date']).dt.days, inplace=True)

# 5. Кодируем категориальные переменные
df_dummies = pd.get_dummies(df_quality_model[['Stage', 'Source']], prefix=['Stage', 'Source'])

# 6. Объединяем признаки
features = pd.concat([
    df_quality_model[['Initial Amount Paid', 'Is Closed', 'Created Days', 'Deal Duration']],
    df_dummies
], axis=1)

# 7. Разделяем на обучающую и предсказуемую части
df_train = df_quality_model[df_quality_model['Quality'].notna()].copy()
df_predict = df_quality_model[df_quality_model['Quality'].isna()].copy()

X = features.loc[df_train.index]
y = df_train['Quality']
X_pred = features.loc[df_predict.index]

# 8. Делим на обучающую и тестовую выборки
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y  # стратификация сохраняет баланс классов
)

# Создаём модель с улучшенными параметрами
model = DecisionTreeClassifier(
    max_depth=10,
    min_samples_leaf=10,
    class_weight='balanced',
    random_state=42
)

# Обучаем
model.fit(X_train, y_train)

# Предсказания и оценка
y_pred = model.predict(X_test)

print(f"Accuracy: {accuracy_score(y_test, y_pred):.2f}")
print("Classification report:")
print(classification_report(y_test, y_pred))

Accuracy: 0.54
Classification report:
                   precision    recall  f1-score   support

         A - High       0.11      0.50      0.18        86
       B - Medium       0.32      0.37      0.34       313
          C - Low       0.39      0.28      0.32       692
   D - Non Target       0.65      0.50      0.57      1249
E - Non Qualified       0.67      0.72      0.69      1527
                F       0.25      1.00      0.40         1

         accuracy                           0.54      3868
        macro avg       0.40      0.56      0.42      3868
     weighted avg       0.57      0.54      0.55      3868

C:\Users\user\AppData\Local\Temp\ipykernel_636\1626222087.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_quality_model['Deal Duration'].fillna((today - df_quality_model['Created Date']).dt.days, inplace=True)

In [1081]:
# 10. Предсказываем пропущенные значения
predicted_quality = model.predict(X_pred)

# 11. Заполняем пропуски в оригинальном датафрейме
deals_df.loc[df_predict.index, 'Quality'] = predicted_quality

In [1082]:
deals_df['Quality'].isna().sum()

np.int64(0)

In [1083]:
deals_df['Quality'].value_counts()

Quality
E - Non Qualified    7635
D - Non Target       6248
C - Low              4098
B - Medium           1990
A - High             1619
F                       3
Name: count, dtype: int64

In [1084]:
deals_df['Quality'] = deals_df['Quality'].astype('category')
print(deals_df['Quality'].dtype)

category

## Stage

In [840]:
print(deals_df['Stage'].dtype)

object

In [841]:
deals_df['Stage'].isna().sum()

np.int64(0)

In [843]:
deals_df['Stage'].value_counts()

Stage
Lost                         15743
Call Delayed                  2248
Registered on Webinar         2072
Payment Done                   858
Waiting For Payment            325
Qualificated                   128
Registered on Offline Day      100
Need to Call - Sales            33
Need To Call                    31
Test Sent                       25
Need a consultation             23
New Lead                         6
Free Education                   1
Name: count, dtype: int64

In [844]:
deals_df['Stage'] = deals_df['Stage'].astype('category')
print(deals_df['Stage'].dtype)

category

## Lost Reason

In [1085]:
deals_df['Lost Reason'].isna().sum()

np.int64(5469)

In [1086]:
deals_df['Lost Reason'].value_counts(dropna=True)

Lost Reason
Doesn't Answer                             4135
Changed Decision                           2146
Duplicate                                  1771
Non target                                 1761
Stopped Answering                          1588
Invalid number                             1481
needs time to think                         655
Expensive                                   626
Conditions are not suitable                 531
Next stream                                 288
Inadequate                                  176
Gutstein refusal                            172
Considering a different direction in IT     148
Not for myself                              145
Does not speak English                      138
Didn't leave an application                 133
Thought for free                            110
Does not know how to use a computer          50
Went to Rivals                               48
The contract did not fit                     21
Refugee                                       1
Name: count, dtype: int64

In [1087]:
print(deals_df['Lost Reason'].dtype)

object

In [1088]:
deals_df['Lost Reason'] = deals_df['Lost Reason'].astype('category')
print(deals_df['Lost Reason'].dtype)

category

In [848]:
# deals_df['Lost Reason'] = deals_df['Lost Reason'].fillna('No data')
# deals_df['Lost Reason'].isnull().sum()

np.int64(0)

## Page

In [1090]:
print(deals_df['Page'].dtype)

object

In [1094]:
deals_df['Page'].isna().sum()

np.int64(1082)

In [1092]:
(deals_df.isnull().sum()/(len(deals_df)))*100

Id                     0.00
Deal Owner Name        0.00
Closing Date          21.89
Quality                0.00
Stage                  0.00
Lost Reason           25.33
Page                   5.01
Campaign              25.59
SLA                   28.06
Content               34.48
Term                  42.50
Source                 0.00
Payment Type          97.70
Product               83.36
Education Type        84.72
Created Time           0.00
Course duration       83.39
Months of study       96.11
Initial Amount Paid   80.71
Offer Total Amount    80.62
Contact Name           0.28
City                  89.98
Level of Deutsch      94.31
Created Date           0.00
Date Diff             32.18
dtype: float64

In [1093]:
deals_df['Page'].value_counts(dropna=True)

Page
/eng                         5814
eng/digital-marketing        4552
/eng/test                    2996
/workshop                    1162
/webinar                     1130
/direct                      1076
/eng/ux-ui                   1058
/web-developer                658
/email                        462
/pl-eng                       446
/event                        325
/at-eng                       224
/account                      116
eng/web-developer             105
/pl-eng/web-developer          94
/test                          42
/at-end/web-developer          37
/eng/career                    36
/digital-marketing             33
/offer                         27
/specialoffer                  25
/pl-eng/digital-marketing      21
/at-eng/digital-marketing      19
/ppc                           12
/smm                           11
/ux-ui                          9
/course                         7
/at-ru/ux/ui                    7
/pl-eng/ux-ui                   2
/page                           2
/at/digital-marketing           1
/welcomepage                    1
/page1                          1
Name: count, dtype: int64

In [853]:
# deals_df['Page'] = deals_df['Page'].fillna('No data')
# deals_df['Page'].isnull().sum()

np.int64(0)

## Campaign

In [1095]:
print(deals_df['Campaign'].dtype)

object

In [1096]:
deals_df['Campaign'].isna().sum()

np.int64(5526)

In [1097]:
deals_df['Campaign'].value_counts(dropna=True)

Campaign
performancemax_digitalmarkt_ru_DE    2653
youtube_shorts_DE                    1635
12.07.2023wide_DE                    1575
02.07.23wide_DE                       975
04.07.23recentlymoved_DE              750
                                     ...
women_DE                                1
anuta_DE                                1
grad_DE                                 1
comp_search_DE                          1
marue_DE                                1
Name: count, Length: 154, dtype: int64

In [1098]:
deals_df['Campaign'].nunique(dropna=True)

154

In [1099]:
deals_df['Campaign'].value_counts().head(60)  # самые популярные

Campaign
performancemax_digitalmarkt_ru_DE    2653
youtube_shorts_DE                    1635
12.07.2023wide_DE                    1575
02.07.23wide_DE                       975
04.07.23recentlymoved_DE              750
03.07.23women                         612
Dis_DE                                581
07.07.23LAL_DE                        542
12.09.23interests_Uxui_DE             531
24.09.23retargeting_DE                479
webinar1604                           343
work_DE                               317
webinar1906                           290
08.04.24wide_webinar_DE               284
blog2_DE                              273
1performancemax_wide_PL               261
BloggerShina_DE                       246
performancemax_eng_DE                 245
brand_search_eng_DE                   168
web2408_DE                            158
bbo_DE                                154
mu_DE                                 151
15.07.23b_DE                          139
performancemax_wide_AT                124
20.03.2024wide_PL                     121
02.05.24test_DE                       121
ASA_de_DE                             112
08.06.24wide_webinar_DE               112
14.11.23wide_webinar_DE               109
web2211_DE                            108
discovery_DE                           94
22.05.2024wide_DE                      72
jet_DE                                 70
discovery_wide1_AT                     62
20.03.24_widde_PL                      59
talav_DE                               57
anastasia_de_DE                        49
workingin_DE                           48
1005start                              47
18.10.23wide_gos_DE                    42
20.05.24interests_DE                   42
engwien_AT                             38
Trigger_DE                             38
17.03.24wide_AT                        37
Bloggernina_DE                         37
05.07.23interests_DE                   37
20.03.24interests_WebDev_PL            35
gen_analyst_DE                         35
euro_DE                                32
01.04.23women_PL                       31
2905start                              30
karta_DE                               30
chat_DE                                29
1704start                              28
Live_DE                                27
berlin_DE                              26
bloggerfrai_DE                         25
1406start                              24
arina_DE                               24
BloggerIvan                            24
Name: count, dtype: int64

In [1100]:
deals_df['Campaign'].value_counts().tail(60)  # самые редкие

Campaign
uk12_AT                        7
15.04.24LAL_ab__PL             7
Relocat_DE                     7
Consult_DE                     7
20.03.24interests_WebDev_AT    7
LOST_de                        7
podrugi_DE                     7
2005_Lost_DE                   6
05.09.2023wide_DE              6
pishet_DE                      6
col_DE                         6
work_wr                        6
Forum_DE                       6
bloggerdr_DE                   6
web8_DE                        6
magda_DE                       6
Aussiedler_DE                  6
forum_DE                       5
PL_life                        5
10.07.23wide_com_DE            5
mail_3                         5
warsaw_PL                      5
ineng_DE                       5
5555_DE                        5
liveberlin_DE                  4
12.06.24wide_DE                4
mailreg_DE                     4
blog_DE                        3
wa_PL                          3
shorts_PL                      3
potsdam                        3
clever_DE                      3
adv_DE                         3
referral                       3
ggg10_DE                       2
Bloggerperr_DE                 2
lviv_DE                        2
welt_DE                        2
sushechka_PL                   2
Kak_PL                         2
Markt_DE                       2
Berlin_DE                      2
maria_DE                       2
BVRE                           2
mail_DE                        2
11.10_prizes_DE                2
webanons                       2
ruslana_DE                     2
nochtum_DE                     2
eha_DE                         1
Bolgspeak_DE                   1
domain                         1
nina                           1
hanna                          1
web2410_DE                     1
women_DE                       1
anuta_DE                       1
grad_DE                        1
comp_search_DE                 1
marue_DE                       1
Name: count, dtype: int64

In [1101]:
# Посмотрим, сколько кампаний занимают какую долю
campaign_counts = deals_df['Campaign'].value_counts(normalize=True)
campaign_counts = campaign_counts * 100  # в процентах
campaign_counts = campaign_counts.round(2)

# Посмотрим, сколько кампаний > 1%
print((campaign_counts > 1).sum())

19

In [1102]:
# Зададим порог — например, топ-20 по частоте (или > 1%)
top_n = 20 

top_campaigns = deals_df['Campaign'].value_counts().head(top_n).index

In [1103]:
print(top_campaigns.value_counts())

Campaign
performancemax_digitalmarkt_ru_DE    1
youtube_shorts_DE                    1
12.07.2023wide_DE                    1
02.07.23wide_DE                      1
04.07.23recentlymoved_DE             1
03.07.23women                        1
Dis_DE                               1
07.07.23LAL_DE                       1
12.09.23interests_Uxui_DE            1
24.09.23retargeting_DE               1
webinar1604                          1
work_DE                              1
webinar1906                          1
08.04.24wide_webinar_DE              1
blog2_DE                             1
1performancemax_wide_PL              1
BloggerShina_DE                      1
performancemax_eng_DE                1
brand_search_eng_DE                  1
web2408_DE                           1
Name: count, dtype: int64

In [1104]:
deals_df[deals_df['Contact Name'].isna()]

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
11246,5805028000029290052,Kevin Parker,2024-02-17,E - Non Qualified,Lost,Invalid number,NaN,NaN,00:59:43,NaN,NaN,Organic,NaN,NaN,NaN,2024-01-31 10:27:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-01-31,17.00
11247,5805028000029290031,Kevin Parker,2024-02-17,D - Non Target,Lost,Doesn't Answer,NaN,NaN,01:02:42,NaN,NaN,Organic,NaN,NaN,NaN,2024-01-31 10:24:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-01-31,17.00
11310,5805028000029010001,Quincy Vincent,2024-01-31,D - Non Target,Lost,Inadequate,NaN,NaN,00:09:29,NaN,NaN,Organic,NaN,NaN,NaN,2024-01-30 14:43:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-01-30,1.00
11363,5805028000028760241,Charlie Davis,2024-02-15,E - Non Qualified,Lost,Changed Decision,/direct,NaN,00:02:03,NaN,NaN,Partnership,NaN,NaN,NaN,2024-01-29 17:50:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-01-29,17.00
11393,5805028000028690001,Victor Barnes,2024-01-29,E - Non Qualified,Lost,Duplicate,NaN,NaN,00:16:37,NaN,NaN,Organic,NaN,NaN,NaN,2024-01-29 11:17:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-01-29,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20064,5805028000005695192,Jane Smith,2023-10-14,C - Low,Lost,Stopped Answering,NaN,NaN,03:32:43,NaN,NaN,Organic,NaN,NaN,NaN,2023-08-24 12:51:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-08-24,51.00
20070,5805028000005695023,Jane Smith,2023-09-10,E - Non Qualified,Lost,Stopped Answering,NaN,NaN,01:41:30,NaN,NaN,Organic,NaN,NaN,NaN,2023-08-24 10:37:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-08-24,17.00
20272,5805028000005183749,Jane Smith,2023-08-23,E - Non Qualified,Lost,Doesn't Answer,NaN,NaN,00:00:04,NaN,NaN,Organic,NaN,NaN,NaN,2023-08-20 19:59:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-08-20,3.00
20744,5805028000004028088,Charlie Davis,2023-09-20,C - Low,Lost,Changed Decision,NaN,NaN,01:02:26,NaN,NaN,Organic,NaN,Digital Marketing,NaN,2023-08-07 16:52:00,11.00,NaN,NaN,NaN,NaN,NaN,NaN,2023-08-07,44.00
21480,5805028000001588071,John Doe,2023-07-13,E - Non Qualified,Lost,Duplicate,NaN,NaN,NaN,NaN,NaN,Organic,NaN,NaN,NaN,2023-07-13 10:01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-07-13,NaN

## SLA

In [1105]:
print(deals_df['SLA'].dtype)

object

In [1106]:
deals_df['SLA'].isna().sum()

np.int64(6060)

In [1107]:
deals_df['SLA'].apply(type).value_counts()

SLA
<class 'str'>      15533
<class 'float'>     6060
Name: count, dtype: int64

In [1108]:
# Проверка типов внутри колонки SLA
type_counts = deals_df['SLA'].apply(type).value_counts()
print("Типы данных внутри столбца 'SLA':")
print(type_counts)

# Фильтры по типу
timedelta_mask = deals_df['SLA'].apply(lambda x: isinstance(x, pd.Timedelta))
string_mask = deals_df['SLA'].apply(lambda x: isinstance(x, str))
float_mask = deals_df['SLA'].apply(lambda x: isinstance(x, float))  # Обычно NaN

# Количество строк каждого типа
print("\nКоличество значений по типам:")
print(f"Timedelta: {timedelta_mask.sum()}")
print(f"String: {string_mask.sum()}")
print(f"Float (NaN): {float_mask.sum()}")

# При желании можно вывести примеры
print("\nПримеры значений с типом Timedelta:")
print(deals_df.loc[timedelta_mask, 'SLA'].head())

print("\nПримеры значений с типом str:")
print(deals_df.loc[string_mask, 'SLA'].head())

print("\nПримеры NaN:")
print(deals_df.loc[float_mask, 'SLA'].head())

Типы данных внутри столбца 'SLA':
SLA
<class 'str'>      15533
<class 'float'>     6060
Name: count, dtype: int64

Количество значений по типам:
Timedelta: 0
String: 15533
Float (NaN): 6060

Примеры значений с типом Timedelta:
Series([], Name: SLA, dtype: object)

Примеры значений с типом str:
2    00:26:43
3    01:00:04
4    00:53:12
5    01:33:10
7    02:12:29
Name: SLA, dtype: object

Примеры NaN:
0     NaN
1     NaN
6     NaN
8     NaN
10    NaN
Name: SLA, dtype: object

In [1109]:
deals_df.tail(10)

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
21583,5805028000000931068,Bob Brown,2023-07-06,E - Non Qualified,Lost,Doesn't Answer,eng/digital-marketing,02.07.23wide_DE,NaN,b3,wide,Facebook Ads,NaN,NaN,NaN,2023-07-04 15:40:00,NaN,NaN,NaN,NaN,5805028000000964025,NaN,NaN,2023-07-04,2.00
21584,5805028000000963032,Ian Miller,2023-09-25,A - High,Lost,Stopped Answering,eng/digital-marketing,02.07.23wide_DE,"1 day, 23:02:57",b3,wide,Facebook Ads,NaN,NaN,NaN,2023-07-04 12:57:00,NaN,NaN,NaN,NaN,5805028000000942003,NaN,NaN,2023-07-04,83.00
21585,5805028000000935081,Julia Nelson,NaT,D - Non Target,Call Delayed,NaN,eng/digital-marketing,03.07.23women,"70 days, 23:12:53",b3,women,Facebook Ads,NaN,Digital Marketing,Morning,2023-07-04 11:46:00,11.00,NaN,1000.00,11500.00,5805028000000971007,NaN,NaN,2023-07-04,NaN
21586,5805028000000947046,Oliver Taylor,2023-07-12,B - Medium,Payment Done,NaN,eng/digital-marketing,02.07.23wide_DE,"71 days, 0:46:22",b3,wide,Facebook Ads,NaN,Digital Marketing,Morning,2023-07-04 10:11:00,11.00,11.00,1000.00,11000.00,5805028000000939010,NaN,NaN,2023-07-04,NaN
21587,5805028000000935025,Kevin Parker,2023-07-06,E - Non Qualified,Lost,Doesn't Answer,eng/digital-marketing,02.07.23wide_DE,NaN,b3,wide,Facebook Ads,NaN,NaN,NaN,2023-07-04 09:34:00,NaN,NaN,NaN,NaN,5805028000000983028,NaN,NaN,2023-07-04,2.00
21588,5805028000000970006,Jane Smith,2023-07-04,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-04 07:10:00,NaN,NaN,NaN,NaN,5805028000000979006,NaN,NaN,2023-07-04,0.00
21589,5805028000000948010,Jane Smith,2023-08-29,B - Medium,Lost,needs time to think,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-04 07:10:00,NaN,NaN,NaN,NaN,5805028000000979006,NaN,NaN,2023-07-04,56.00
21590,5805028000000945016,Jane Smith,2023-08-29,A - High,Lost,Changed Decision,eng/digital-marketing,02.07.23wide_DE,"56 days, 19:01:59",b3,wide,Facebook Ads,NaN,NaN,NaN,2023-07-03 20:39:00,NaN,NaN,NaN,NaN,5805028000000968001,NaN,NaN,2023-07-03,57.00
21591,5805028000000927004,Bob Brown,2023-07-09,D - Non Target,Lost,Does not speak English,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-03 20:17:00,NaN,NaN,NaN,NaN,5805028000000961001,NaN,NaN,2023-07-03,6.00
21592,5805028000000922001,Bob Brown,2023-07-03,E - Non Qualified,Lost,Refugee,NaN,NaN,"4 days, 22:47:14",NaN,NaN,Organic,NaN,NaN,NaN,2023-07-03 17:03:00,NaN,NaN,0.00,0.00,5805028000001009140,NaN,NaN,2023-07-03,0.00

In [1110]:
deals_df.head(10)

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
0,5805028000056864695,Ben Hall,NaT,B - Medium,New Lead,NaN,/eng/test,03.07.23women,NaN,v16,women,Facebook Ads,NaN,NaN,NaN,2024-06-21 15:30:00,NaN,NaN,NaN,NaN,5805028000056849495,NaN,NaN,2024-06-21,NaN
1,5805028000056859489,Ulysses Adams,NaT,B - Medium,New Lead,NaN,/at-eng,NaN,NaN,NaN,NaN,Organic,NaN,Web Developer,Morning,2024-06-21 15:23:00,6.00,NaN,0.00,2000.00,5805028000056834471,NaN,NaN,2024-06-21,NaN
2,5805028000056832357,Ulysses Adams,2024-06-21,D - Non Target,Lost,Non target,/at-eng,engwien_AT,00:26:43,b1-at,21_06_2024,Telegram posts,NaN,NaN,NaN,2024-06-21 14:45:00,NaN,NaN,NaN,NaN,5805028000056854421,NaN,NaN,2024-06-21,0.00
3,5805028000056824246,Eva Kent,2024-06-21,E - Non Qualified,Lost,Invalid number,/eng,04.07.23recentlymoved_DE,01:00:04,bloggersvideo14com,recentlymoved,Facebook Ads,NaN,NaN,NaN,2024-06-21 13:32:00,NaN,NaN,NaN,NaN,5805028000056889351,NaN,NaN,2024-06-21,0.00
4,5805028000056873292,Ben Hall,2024-06-21,D - Non Target,Lost,Non target,/eng,discovery_DE,00:53:12,website,NaN,Google Ads,NaN,NaN,NaN,2024-06-21 13:21:00,NaN,NaN,NaN,NaN,5805028000056876176,NaN,NaN,2024-06-21,0.00
5,5805028000056828429,Paula Underwood,NaT,B - Medium,Need a consultation,NaN,/eng,youtube_shorts_DE,01:33:10,bloggersvideo2june,Com_august,Youtube Ads,NaN,NaN,NaN,2024-06-21 13:02:00,NaN,NaN,NaN,NaN,5805028000056833279,NaN,NaN,2024-06-21,NaN
6,5805028000056893379,Ulysses Adams,NaT,B - Medium,Need To Call,NaN,eng/digital-marketing,NaN,NaN,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-21 12:52:00,NaN,NaN,NaN,NaN,5805028000056832215,NaN,NaN,2024-06-21,NaN
7,5805028000056849262,Eva Kent,NaT,B - Medium,Need a consultation,NaN,/eng,brand_search_eng_DE,02:12:29,152789402780_{region_name}_695563281558,it career hub,Google Ads,NaN,NaN,NaN,2024-06-21 12:44:00,NaN,NaN,NaN,NaN,5805028000056833242,NaN,NaN,2024-06-21,NaN
8,5805028000056845137,Rachel White,2024-06-21,E - Non Qualified,Lost,Duplicate,NaN,NaN,NaN,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-21 12:40:00,NaN,NaN,NaN,NaN,5805028000056849237,NaN,NaN,2024-06-21,0.00
9,5805028000056864442,Victor Barnes,2024-06-21,D - Non Target,Lost,Inadequate,/email,1406start,00:10:08,NaN,NaN,CRM,NaN,NaN,NaN,2024-06-21 12:39:00,NaN,NaN,NaN,NaN,5805028000039274091,NaN,NaN,2024-06-21,0.00

In [1111]:
deals_df['SLA'] = pd.to_timedelta(deals_df['SLA'], errors='coerce')

In [1112]:
print(deals_df['SLA'].dtype)

timedelta64[ns]

In [1113]:
deals_df.head(10)

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
0,5805028000056864695,Ben Hall,NaT,B - Medium,New Lead,NaN,/eng/test,03.07.23women,NaT,v16,women,Facebook Ads,NaN,NaN,NaN,2024-06-21 15:30:00,NaN,NaN,NaN,NaN,5805028000056849495,NaN,NaN,2024-06-21,NaN
1,5805028000056859489,Ulysses Adams,NaT,B - Medium,New Lead,NaN,/at-eng,NaN,NaT,NaN,NaN,Organic,NaN,Web Developer,Morning,2024-06-21 15:23:00,6.00,NaN,0.00,2000.00,5805028000056834471,NaN,NaN,2024-06-21,NaN
2,5805028000056832357,Ulysses Adams,2024-06-21,D - Non Target,Lost,Non target,/at-eng,engwien_AT,0 days 00:26:43,b1-at,21_06_2024,Telegram posts,NaN,NaN,NaN,2024-06-21 14:45:00,NaN,NaN,NaN,NaN,5805028000056854421,NaN,NaN,2024-06-21,0.00
3,5805028000056824246,Eva Kent,2024-06-21,E - Non Qualified,Lost,Invalid number,/eng,04.07.23recentlymoved_DE,0 days 01:00:04,bloggersvideo14com,recentlymoved,Facebook Ads,NaN,NaN,NaN,2024-06-21 13:32:00,NaN,NaN,NaN,NaN,5805028000056889351,NaN,NaN,2024-06-21,0.00
4,5805028000056873292,Ben Hall,2024-06-21,D - Non Target,Lost,Non target,/eng,discovery_DE,0 days 00:53:12,website,NaN,Google Ads,NaN,NaN,NaN,2024-06-21 13:21:00,NaN,NaN,NaN,NaN,5805028000056876176,NaN,NaN,2024-06-21,0.00
5,5805028000056828429,Paula Underwood,NaT,B - Medium,Need a consultation,NaN,/eng,youtube_shorts_DE,0 days 01:33:10,bloggersvideo2june,Com_august,Youtube Ads,NaN,NaN,NaN,2024-06-21 13:02:00,NaN,NaN,NaN,NaN,5805028000056833279,NaN,NaN,2024-06-21,NaN
6,5805028000056893379,Ulysses Adams,NaT,B - Medium,Need To Call,NaN,eng/digital-marketing,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-21 12:52:00,NaN,NaN,NaN,NaN,5805028000056832215,NaN,NaN,2024-06-21,NaN
7,5805028000056849262,Eva Kent,NaT,B - Medium,Need a consultation,NaN,/eng,brand_search_eng_DE,0 days 02:12:29,152789402780_{region_name}_695563281558,it career hub,Google Ads,NaN,NaN,NaN,2024-06-21 12:44:00,NaN,NaN,NaN,NaN,5805028000056833242,NaN,NaN,2024-06-21,NaN
8,5805028000056845137,Rachel White,2024-06-21,E - Non Qualified,Lost,Duplicate,NaN,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-21 12:40:00,NaN,NaN,NaN,NaN,5805028000056849237,NaN,NaN,2024-06-21,0.00
9,5805028000056864442,Victor Barnes,2024-06-21,D - Non Target,Lost,Inadequate,/email,1406start,0 days 00:10:08,NaN,NaN,CRM,NaN,NaN,NaN,2024-06-21 12:39:00,NaN,NaN,NaN,NaN,5805028000039274091,NaN,NaN,2024-06-21,0.00

In [1114]:
deals_df.tail(10)

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
21583,5805028000000931068,Bob Brown,2023-07-06,E - Non Qualified,Lost,Doesn't Answer,eng/digital-marketing,02.07.23wide_DE,NaT,b3,wide,Facebook Ads,NaN,NaN,NaN,2023-07-04 15:40:00,NaN,NaN,NaN,NaN,5805028000000964025,NaN,NaN,2023-07-04,2.00
21584,5805028000000963032,Ian Miller,2023-09-25,A - High,Lost,Stopped Answering,eng/digital-marketing,02.07.23wide_DE,1 days 23:02:57,b3,wide,Facebook Ads,NaN,NaN,NaN,2023-07-04 12:57:00,NaN,NaN,NaN,NaN,5805028000000942003,NaN,NaN,2023-07-04,83.00
21585,5805028000000935081,Julia Nelson,NaT,D - Non Target,Call Delayed,NaN,eng/digital-marketing,03.07.23women,70 days 23:12:53,b3,women,Facebook Ads,NaN,Digital Marketing,Morning,2023-07-04 11:46:00,11.00,NaN,1000.00,11500.00,5805028000000971007,NaN,NaN,2023-07-04,NaN
21586,5805028000000947046,Oliver Taylor,2023-07-12,B - Medium,Payment Done,NaN,eng/digital-marketing,02.07.23wide_DE,71 days 00:46:22,b3,wide,Facebook Ads,NaN,Digital Marketing,Morning,2023-07-04 10:11:00,11.00,11.00,1000.00,11000.00,5805028000000939010,NaN,NaN,2023-07-04,NaN
21587,5805028000000935025,Kevin Parker,2023-07-06,E - Non Qualified,Lost,Doesn't Answer,eng/digital-marketing,02.07.23wide_DE,NaT,b3,wide,Facebook Ads,NaN,NaN,NaN,2023-07-04 09:34:00,NaN,NaN,NaN,NaN,5805028000000983028,NaN,NaN,2023-07-04,2.00
21588,5805028000000970006,Jane Smith,2023-07-04,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,03.07.23women,NaT,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-04 07:10:00,NaN,NaN,NaN,NaN,5805028000000979006,NaN,NaN,2023-07-04,0.00
21589,5805028000000948010,Jane Smith,2023-08-29,B - Medium,Lost,needs time to think,eng/digital-marketing,03.07.23women,NaT,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-04 07:10:00,NaN,NaN,NaN,NaN,5805028000000979006,NaN,NaN,2023-07-04,56.00
21590,5805028000000945016,Jane Smith,2023-08-29,A - High,Lost,Changed Decision,eng/digital-marketing,02.07.23wide_DE,56 days 19:01:59,b3,wide,Facebook Ads,NaN,NaN,NaN,2023-07-03 20:39:00,NaN,NaN,NaN,NaN,5805028000000968001,NaN,NaN,2023-07-03,57.00
21591,5805028000000927004,Bob Brown,2023-07-09,D - Non Target,Lost,Does not speak English,eng/digital-marketing,03.07.23women,NaT,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-03 20:17:00,NaN,NaN,NaN,NaN,5805028000000961001,NaN,NaN,2023-07-03,6.00
21592,5805028000000922001,Bob Brown,2023-07-03,E - Non Qualified,Lost,Refugee,NaN,NaN,4 days 22:47:14,NaN,NaN,Organic,NaN,NaN,NaN,2023-07-03 17:03:00,NaN,NaN,0.00,0.00,5805028000001009140,NaN,NaN,2023-07-03,0.00

In [ ]:
# Преобразовать SLA в timedelta;

# Разбить значения на категории продолжительности.

# ✅ 1. Преобразуем SLA в timedelta:
# python
# Копировать
# Редактировать
# import pandas as pd

# # Преобразуем строки в timedelta
# deals_df['SLA'] = pd.to_timedelta(deals_df['SLA'], errors='coerce')
# ✅ 2. Категоризируем значения:
# Допустим, ты хочешь разбить на такие группы:

# До 1 часа

# 1–4 часа

# 4–24 часов

# Более суток

# Нет данных (если NaT)

# python
# Копировать
# Редактировать
# def categorize_sla(sla):
#     if pd.isna(sla):
#         return 'Нет данных'
#     elif sla <= pd.Timedelta(hours=1):
#         return 'До 1 часа'
#     elif sla <= pd.Timedelta(hours=4):
#         return '1–4 часа'
#     elif sla <= pd.Timedelta(hours=24):
#         return '4–24 часа'
#     else:
#         return 'Более суток'

# deals_df['SLA_category'] = deals_df['SLA'].apply(categorize_sla)
# ✅ 3. Посмотрим результат:
# python
# Копировать
# Редактировать
# print(deals_df['SLA_category'].value_counts())

## Source

In [1115]:
print(deals_df['Source'].dtype)

object

In [1116]:
deals_df['Source'].value_counts(dropna=True)

Source
Facebook Ads      4850
Google Ads        4226
Organic           2590
Tiktok Ads        2051
SMM               1730
Youtube Ads       1657
CRM               1656
Bloggers          1089
Telegram posts    1001
Webinar            379
Partnership        203
Test               159
Offline              2
Name: count, dtype: int64

In [1117]:
deals_df['Source'].isna().sum()

np.int64(0)

In [1118]:
deals_df['Source'] = deals_df['Source'].astype('category')
print(deals_df['Source'].dtype)

category

## Payment Type

In [1119]:
print(deals_df['Payment Type'].dtype)

object

In [1120]:
deals_df['Payment Type'].value_counts(dropna=True)

Payment Type
Recurring Payments    350
One Payment           141
Reservation             5
Name: count, dtype: int64

In [1121]:
deals_df['Payment Type'].isna().sum()

np.int64(21097)

In [1122]:
deals_df['Payment Type'] = deals_df['Payment Type'].astype('category')
print(deals_df['Payment Type'].dtype)

category

## Product

In [1123]:
print(deals_df['Product'].dtype)

object

In [1124]:
deals_df['Product'].value_counts(dropna=True)

Product
Digital Marketing      1990
UX/UI Design           1022
Web Developer           575
Find yourself in IT       4
Data Analytics            1
Name: count, dtype: int64

In [1125]:
deals_df['Product'].isna().sum()

np.int64(18001)

In [1126]:
deals_df['Product'] = deals_df['Product'].astype('category')
print(deals_df['Product'].dtype)

category

## Education Type

In [1127]:
print(deals_df['Education Type'].dtype)

object

In [1128]:
deals_df['Education Type'].value_counts(dropna=True)

Education Type
Morning    2895
Evening     404
Name: count, dtype: int64

In [1129]:
deals_df['Education Type'].isna().sum()

np.int64(18294)

In [1130]:
deals_df['Education Type'] = deals_df['Education Type'].astype('category')
print(deals_df['Education Type'].dtype)

category

## Created Time

In [1131]:
print(deals_df['Created Time'].dtype)

datetime64[ns]

In [1132]:
deals_df['Created Time'].isna().sum()

np.int64(0)

## Course duration

In [1133]:
print(deals_df['Course duration'].dtype)

float64

In [1134]:
deals_df['Course duration'].value_counts(dropna=True)

Course duration
11.00    3012
6.00      575
Name: count, dtype: int64

In [1135]:
deals_df['Course duration'] = deals_df['Course duration'].astype('Int64').astype('category')
print(deals_df['Course duration'].dtype)

category

In [1136]:
deals_df['Course duration'].value_counts(dropna=True)

Course duration
11    3012
6      575
Name: count, dtype: int64

## Months of study

In [1137]:
print(deals_df['Months of study'].dtype)

float64

In [1138]:
deals_df['Months of study'].value_counts(dropna=True)

Months of study
6.00     107
2.00     104
3.00      94
4.00      93
8.00      83
7.00      79
1.00      67
5.00      64
9.00      61
11.00     45
10.00     42
0.00       1
Name: count, dtype: int64

In [1139]:
deals_df['Months of study'] = deals_df['Months of study'].astype('Int64')
print(deals_df['Months of study'].dtype)

Int64

In [1140]:
deals_df['Months of study'].value_counts(dropna=True)

Months of study
6     107
2     104
3      94
4      93
8      83
7      79
1      67
5      64
9      61
11     45
10     42
0       1
Name: count, dtype: Int64

## Contact Name

In [1141]:
print(deals_df['Contact Name'].dtype)

object

In [1142]:
deals_df['Contact Name'].nunique()

18089

In [1143]:
print("Непустые значения:", deals_df['Contact Name'].count())
print("Пустые значения:", deals_df['Contact Name'].isna().sum())
print("Всего значений:", len(deals_df['Contact Name']))

Непустые значения: 21532
Пустые значения: 61
Всего значений: 21593

In [1144]:
# Количество уникальных значений
print("Уникальных Id:", deals_df['Id'].nunique())
print("Уникальных Contact Name:", deals_df['Contact Name'].nunique())

# Проверим, есть ли несколько сделок у одного Contact Name
print("\nTop 5 Contact Name с несколькими сделками:")
print(deals_df['Contact Name'].value_counts().head())

# Проверим, есть ли несколько контактов с одним Id (что было бы странно)
print("\nTop 5 Id с несколькими контактами:")
print(deals_df.groupby('Id')['Contact Name'].nunique().sort_values(ascending=False).head())

Уникальных Id: 21593
Уникальных Contact Name: 18089

Top 5 Contact Name с несколькими сделками:
Contact Name
5805028000003014152    54
5805028000005448163    39
5805028000017522090    19
5805028000014478367    13
5805028000000872003    11
Name: count, dtype: int64

Top 5 Id с несколькими контактами:
Id
5805028000056893379    1
5805028000000922001    1
5805028000000927004    1
5805028000000931068    1
5805028000000933086    1
Name: Contact Name, dtype: int64

## City

In [1145]:
print(deals_df['City'].dtype)

object

In [1146]:
deals_df['City'].nunique()

875

In [1147]:
deals_df.loc[deals_df['Id'] == '5805028000055942854']

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
243,5805028000055942854,Ben Hall,NaT,D - Non Target,Waiting For Payment,NaN,eng/digital-marketing,NaN,0 days 12:39:12,NaN,NaN,Organic,NaN,Digital Marketing,Morning,2024-06-17 23:43:00,11,<NA>,1000.00,11000.00,5805028000055981689,NaN,NaN,2024-06-17,NaN

In [1148]:
# Фильтрация строк, где в названии города присутствуют кириллические символы
non_latin_cities = deals_df[deals_df['City'].notna() & deals_df['City'].str.contains('[\u0400-\u04FF]', regex=True)]

# Выводим только названия городов, написанных кириллицей
print(non_latin_cities['City'])

Series([], Name: City, dtype: object)

Пояснение:
Вместо .dropna(), используется условие deals_df['City'].notna(), чтобы исключить пропущенные значения, не изменяя индексы.

Затем проверяется, содержат ли названия города кириллические символы с помощью .str.contains().

Фильтрация работает без изменения индексов, и выводятся только города, написанные кириллицей.

In [1149]:
total = deals_df['City'].notna().sum()
cyrillic = deals_df['City'].notna() & deals_df['City'].str.contains('[\u0400-\u04FF]', regex=True)
print(f"Всего непустых городов: {total}")
print(f"С кириллицей: {cyrillic.sum()}")

Всего непустых городов: 2163
С кириллицей: 0

In [1150]:
# Фильтруем только непустые значения
non_null_cities = deals_df['City'].dropna()

# Проверяем, все ли значения имеют тип str
all_strings = non_null_cities.apply(lambda x: isinstance(x, str)).all()

print("Все значения являются строками?" , all_strings)

Все значения являются строками? True

In [1151]:
deals_df.to_pickle("clean_deals_v1.pkl")

## Date Diff

In [940]:
# # 6. Чистим временную колонку
# deals_df.drop(columns='Date Diff', inplace=True)

In [941]:
# deals_df['Closing Date'].isna().sum()

np.int64(4726)

In [ ]:
# deals_lost_reason = deals[deals['lost_reason'] == 'Duplicate']

## Работа с Duplicate

In [943]:
# duplicates_id = deals_df[deals_df.duplicated(subset=['Id'])]

In [944]:
# duplicates_id

Empty DataFrame
Columns: [Id, Deal Owner Name, Closing Date, Quality, Stage, Lost Reason, Page, Campaign, SLA, Content, Term, Source, Payment Type, Product, Education Type, Created Time, Course duration, Months of study, Initial Amount Paid, Offer Total Amount, Contact Name, City, Level of Deutsch, Created Date]
Index: []

In [ ]:
1362944

In [945]:
# deals_df['Id'].nunique()

21593

In [946]:
# len(deals_df)

21593

In [947]:
# duplicates_all = deals_df[deals_df.duplicated(keep=False)]

In [948]:
# duplicates_all

Empty DataFrame
Columns: [Id, Deal Owner Name, Closing Date, Quality, Stage, Lost Reason, Page, Campaign, SLA, Content, Term, Source, Payment Type, Product, Education Type, Created Time, Course duration, Months of study, Initial Amount Paid, Offer Total Amount, Contact Name, City, Level of Deutsch, Created Date]
Index: []

In [949]:
# deals_df.duplicated().sum()

np.int64(0)

In [950]:
# duplicates_contact_name = deals_df[deals_df.duplicated(subset=['Contact Name'])]
# duplicates_contact_name

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date
44,5805028000056703432,Ulysses Adams,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-20 17:34:00,NaN,<NA>,0.00,0.00,5805028000056727001,NaN,NaN,2024-06-20
46,5805028000056741308,Paula Underwood,NaT,B - Medium,Registered on Webinar,No data,/webinar,NaN,NaT,NaN,NaN,SMM,NaN,NaN,NaN,2024-06-20 16:50:00,NaN,<NA>,0.00,0.00,5805028000056685457,NaN,NaN,2024-06-20
55,5805028000056704066,Ulysses Adams,2024-06-20,E - Non Qualified,Lost,Duplicate,No data,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-20 12:50:00,NaN,<NA>,0.00,0.00,5805028000056727001,NaN,NaN,2024-06-20
90,5805028000056368560,Ulysses Adams,2024-06-19,E - Non Qualified,Lost,Duplicate,No data,NaN,0 days 00:01:46,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-19 13:41:00,NaN,<NA>,0.00,0.00,5805028000056392363,NaN,NaN,2024-06-19
170,5805028000056158285,Ben Hall,NaT,D - Non Target,Call Delayed,No data,/eng,12.07.2023wide_DE,0 days 00:13:56,bloggersvideo11,wide,Tiktok Ads,NaN,NaN,NaN,2024-06-18 15:13:00,NaN,<NA>,0.00,0.00,5805028000056174445,NaN,NaN,2024-06-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21585,5805028000000935081,Julia Nelson,NaT,D - Non Target,Call Delayed,No data,eng/digital-marketing,03.07.23women,70 days 23:12:53,b3,women,Facebook Ads,NaN,Digital Marketing,Morning,2023-07-04 11:46:00,11,<NA>,1000.00,11500.00,5805028000000971007,NaN,NaN,2023-07-04
21586,5805028000000947046,Oliver Taylor,2023-07-12,B - Medium,Payment Done,No data,eng/digital-marketing,02.07.23wide_DE,71 days 00:46:22,b3,wide,Facebook Ads,NaN,Digital Marketing,Morning,2023-07-04 10:11:00,11,11,1000.00,11000.00,5805028000000939010,NaN,NaN,2023-07-04
21588,5805028000000970006,Jane Smith,2023-07-04,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,03.07.23women,NaT,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-04 07:10:00,NaN,<NA>,0.00,0.00,5805028000000979006,NaN,NaN,2023-07-04
21589,5805028000000948010,Jane Smith,2023-08-29,B - Medium,Lost,needs time to think,eng/digital-marketing,03.07.23women,NaT,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-04 07:10:00,NaN,<NA>,0.00,0.00,5805028000000979006,NaN,NaN,2023-07-04
21591,5805028000000927004,Bob Brown,2023-07-09,D - Non Target,Lost,Does not speak English,eng/digital-marketing,03.07.23women,NaT,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-03 20:17:00,NaN,<NA>,0.00,0.00,5805028000000961001,NaN,NaN,2023-07-03

In [951]:
# #1. Отфильтруем только нужные строки:
# filtered_df = deals_df[
#     (deals_df['Stage'] == 'Lost') &
#     (deals_df['Lost Reason'] == 'Duplicate') &
#     (deals_df['Contact Name'].notna())
# ]
# filtered_df

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date
8,5805028000056845137,Rachel White,2024-06-21,E - Non Qualified,Lost,Duplicate,No data,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-21 12:40:00,NaN,<NA>,0.00,0.00,5805028000056849237,NaN,NaN,2024-06-21
10,5805028000056892253,Ulysses Adams,2024-06-21,E - Non Qualified,Lost,Duplicate,/webinar,NaN,NaT,NaN,NaN,Webinar,NaN,NaN,NaN,2024-06-21 12:32:00,NaN,<NA>,0.00,0.00,5805028000056828292,NaN,NaN,2024-06-21
16,5805028000056828139,Rachel White,2024-06-21,E - Non Qualified,Lost,Duplicate,No data,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-21 11:44:00,NaN,<NA>,0.00,0.00,5805028000056824095,NaN,NaN,2024-06-21
43,5805028000056705395,Ulysses Adams,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-20 17:36:00,NaN,<NA>,0.00,0.00,5805028000056727001,NaN,NaN,2024-06-20
44,5805028000056703432,Ulysses Adams,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-20 17:34:00,NaN,<NA>,0.00,0.00,5805028000056727001,NaN,NaN,2024-06-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21552,5805028000001348003,Bob Brown,2023-07-08,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,05.07.23interests_DE,NaT,b3,interest_work,Facebook Ads,NaN,NaN,NaN,2023-07-08 09:39:00,NaN,<NA>,0.00,0.00,5805028000001387008,NaN,NaN,2023-07-08
21569,5805028000001135001,Ian Miller,2023-07-21,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,02.07.23wide_DE,0 days 00:00:53,b3,wide,Facebook Ads,NaN,NaN,NaN,2023-07-06 15:43:00,NaN,<NA>,0.00,0.00,5805028000001129001,NaN,NaN,2023-07-06
21575,5805028000001037050,Jane Smith,2023-07-06,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,03.07.23women,NaT,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-05 21:36:00,NaN,<NA>,0.00,0.00,5805028000001033019,NaN,NaN,2023-07-05
21579,5805028000001032016,Kevin Parker,2023-07-05,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,02.07.23wide_DE,NaT,b3,wide,Facebook Ads,NaN,NaN,NaN,2023-07-05 18:05:00,NaN,<NA>,0.00,0.00,5805028000001073001,NaN,NaN,2023-07-05
21588,5805028000000970006,Jane Smith,2023-07-04,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,03.07.23women,NaT,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-04 07:10:00,NaN,<NA>,0.00,0.00,5805028000000979006,NaN,NaN,2023-07-04

In [956]:
# #2. Посмотрим, какие Contact Name встречаются более одного раза:
# duplicate_ids = filtered_df['Contact Name'].value_counts()
# duplicate_ids

Contact Name
5805028000003014152    30
5805028000005448163    14
5805028000017522090    13
5805028000014478367     7
5805028000003547139     4
                       ..
5805028000001770097     1
5805028000001799036     1
5805028000001726065     1
5805028000001653078     1
5805028000000979006     1
Name: count, Length: 1550, dtype: int64

In [957]:
# duplicate_ids_more_one = duplicate_ids[duplicate_ids > 1].index.tolist()

In [959]:
# len(duplicate_ids_more_one)

108

In [960]:
# duplicates_contact_name = filtered_df[filtered_df['Contact Name'].isin(duplicate_ids_more_one)]

In [961]:
# duplicates_contact_name

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date
43,5805028000056705395,Ulysses Adams,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-20 17:36:00,NaN,<NA>,0.00,0.00,5805028000056727001,NaN,NaN,2024-06-20
44,5805028000056703432,Ulysses Adams,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-20 17:34:00,NaN,<NA>,0.00,0.00,5805028000056727001,NaN,NaN,2024-06-20
54,5805028000056685164,Charlie Davis,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-20 13:49:00,NaN,<NA>,0.00,0.00,5805028000056392363,NaN,NaN,2024-06-20
55,5805028000056704066,Ulysses Adams,2024-06-20,E - Non Qualified,Lost,Duplicate,No data,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-20 12:50:00,NaN,<NA>,0.00,0.00,5805028000056727001,NaN,NaN,2024-06-20
90,5805028000056368560,Ulysses Adams,2024-06-19,E - Non Qualified,Lost,Duplicate,No data,NaN,0 days 00:01:46,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-19 13:41:00,NaN,<NA>,0.00,0.00,5805028000056392363,NaN,NaN,2024-06-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21514,5805028000001363318,Kevin Parker,2023-07-11,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,02.07.23wide_DE,NaT,b3,wide,Facebook Ads,NaN,NaN,NaN,2023-07-10 23:40:00,NaN,<NA>,0.00,0.00,5805028000001401189,NaN,NaN,2023-07-10
21546,5805028000001405002,Kevin Parker,2023-07-08,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,NaT,_{region_name}_,NaN,Google Ads,NaN,NaN,NaN,2023-07-08 13:29:00,NaN,<NA>,0.00,0.00,5805028000001347038,NaN,NaN,2023-07-08
21547,5805028000001375082,Kevin Parker,2023-07-08,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,NaT,_{region_name}_,NaN,Google Ads,NaN,NaN,NaN,2023-07-08 13:29:00,NaN,<NA>,0.00,0.00,5805028000001347038,NaN,NaN,2023-07-08
21548,5805028000001369097,Bob Brown,2023-07-08,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,NaT,_{region_name}_,NaN,Google Ads,NaN,NaN,NaN,2023-07-08 11:39:00,NaN,<NA>,0.00,0.00,5805028000001347003,NaN,NaN,2023-07-08
21549,5805028000001355009,Bob Brown,2023-07-08,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,NaT,_{region_name}_,NaN,Google Ads,NaN,NaN,NaN,2023-07-08 11:39:00,NaN,<NA>,0.00,0.00,5805028000001347003,NaN,NaN,2023-07-08

In [963]:
# #3. Оставим только одну строку на каждый дублирующийся ID — самую свежую:
# latest_duplicates_contact = (
#     duplicates_contact_name
#     .sort_values('Created Time')
#     .groupby('Contact Name', as_index=False)
#     .last()
# )

In [964]:
# len(latest_duplicates_contact)

108

In [965]:
# aggregated_contacts = (
#     duplicates_contact_name
#     .sort_values('Created Time')
#     .groupby('Contact Name')
#     .agg(lambda x: x.dropna().iloc[-1] if x.dropna().size > 0 else np.nan)
#     .reset_index()
# )

In [966]:
# aggregated_contacts

,Contact Name,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,City,Level of Deutsch,Created Date
0,5805028000000872003,5805028000004111157,John Doe,2023-08-08,C - Low,Lost,Duplicate,No data,04.07.23recentlymoved_DE,13 days 23:40:53,v7com,recentlymoved,Organic,One Payment,Web Developer,Morning,2023-08-08 14:40:00,6,<NA>,3500.00,3500.00,NaN,NaN,2023-08-08
1,5805028000000889001,5805028000005168087,Bob Brown,2023-10-26,E - Non Qualified,Lost,Duplicate,/workshop,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2023-08-18 21:35:00,NaN,<NA>,0.00,0.00,NaN,NaN,2023-08-18
2,5805028000001347003,5805028000001369097,Bob Brown,2023-07-08,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,NaT,_{region_name}_,NaN,Google Ads,NaN,NaN,NaN,2023-07-08 11:39:00,NaN,<NA>,0.00,0.00,NaN,NaN,2023-07-08
3,5805028000001347038,5805028000001375082,Kevin Parker,2023-07-08,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,NaT,_{region_name}_,NaN,Google Ads,NaN,NaN,NaN,2023-07-08 13:29:00,NaN,<NA>,0.00,0.00,NaN,NaN,2023-07-08
4,5805028000001401189,5805028000001387193,Kevin Parker,2023-07-13,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,02.07.23wide_DE,NaT,b3,wide,Facebook Ads,NaN,NaN,NaN,2023-07-11 00:17:00,NaN,<NA>,0.00,0.00,NaN,NaN,2023-07-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,5805028000049855125,5805028000050001603,Quincy Vincent,2024-05-15,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,0 days 05:35:41,NaN,NaN,Organic,NaN,NaN,NaN,2024-05-15 08:50:00,NaN,<NA>,0.00,0.00,NaN,NaN,2024-05-15
104,5805028000053705642,5805028000053787195,Paula Underwood,2024-06-06,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-06 18:45:00,NaN,<NA>,0.00,0.00,NaN,NaN,2024-06-06
105,5805028000054480760,5805028000054823001,Quincy Vincent,2024-06-12,E - Non Qualified,Lost,Duplicate,/eng,brand_search_eng_DE,0 days 04:30:17,152789402780_{region_name}_668024583824,it hub,Organic,NaN,NaN,NaN,2024-06-12 05:46:00,NaN,<NA>,0.00,0.00,NaN,NaN,2024-06-12
106,5805028000056392363,5805028000056685164,Charlie Davis,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,0 days 00:01:46,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-20 13:49:00,NaN,<NA>,0.00,0.00,NaN,NaN,2024-06-20
107,5805028000056727001,5805028000056705395,Ulysses Adams,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-20 17:36:00,NaN,<NA>,0.00,0.00,NaN,NaN,2024-06-20

In [968]:
# aggregated_contacts[aggregated_contacts['Contact Name']=='5805028000056727001']

,Contact Name,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,City,Level of Deutsch,Created Date
107,5805028000056727001,5805028000056705395,Ulysses Adams,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-20 17:36:00,NaN,<NA>,0.00,0.00,NaN,NaN,2024-06-20

In [980]:
# aggregated_contacts[aggregated_contacts['Contact Name']=='5805028000056392363']

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date
106,5805028000056685164,Charlie Davis,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,0 days 00:01:46,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-20 13:49:00,NaN,<NA>,0.00,0.00,5805028000056392363,NaN,NaN,2024-06-20

In [969]:
# aggregated_contacts.shape[0]

108

In [971]:
# aggregated_contacts.duplicated(subset='Contact Name', keep=False).sum()

np.int64(0)

In [972]:
# # 5. Приводим порядок колонок в aggregated_contacts к deals_df
# aggregated_contacts = aggregated_contacts[deals_df.columns]
# aggregated_contacts.head()

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date
0,5805028000004111157,John Doe,2023-08-08,C - Low,Lost,Duplicate,No data,04.07.23recentlymoved_DE,13 days 23:40:53,v7com,recentlymoved,Organic,One Payment,Web Developer,Morning,2023-08-08 14:40:00,6,<NA>,3500.00,3500.00,5805028000000872003,NaN,NaN,2023-08-08
1,5805028000005168087,Bob Brown,2023-10-26,E - Non Qualified,Lost,Duplicate,/workshop,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2023-08-18 21:35:00,NaN,<NA>,0.00,0.00,5805028000000889001,NaN,NaN,2023-08-18
2,5805028000001369097,Bob Brown,2023-07-08,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,NaT,_{region_name}_,NaN,Google Ads,NaN,NaN,NaN,2023-07-08 11:39:00,NaN,<NA>,0.00,0.00,5805028000001347003,NaN,NaN,2023-07-08
3,5805028000001375082,Kevin Parker,2023-07-08,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,NaT,_{region_name}_,NaN,Google Ads,NaN,NaN,NaN,2023-07-08 13:29:00,NaN,<NA>,0.00,0.00,5805028000001347038,NaN,NaN,2023-07-08
4,5805028000001387193,Kevin Parker,2023-07-13,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,02.07.23wide_DE,NaT,b3,wide,Facebook Ads,NaN,NaN,NaN,2023-07-11 00:17:00,NaN,<NA>,0.00,0.00,5805028000001401189,NaN,NaN,2023-07-11

In [973]:
# deals_df.shape[0]

21593

In [974]:
# # 6. Удаляем старые строки с этими Contact Name
# mask_to_remove = (
#     (deals_df['Stage'] == 'Lost') &
#     (deals_df['Lost Reason'] == 'Duplicate') &
#     (deals_df['Contact Name'].isin(duplicate_ids_more_one))
# )
# deals_df = deals_df[~mask_to_remove].copy()
# deals_df.shape[0]

21303

In [ ]:
# # Сохраняем порядок колонок
# aggregated_contacts = aggregated_contacts[deals_df.columns]

# # # 7. Добавляем очищенные агрегированные строки.  Склеиваем без сброса индексов
# deals_df = pd.concat([deals_df, aggregated_contacts], ignore_index=True)

In [975]:
# # 7. Добавляем очищенные агрегированные строки
# for _, row in aggregated_contacts.iterrows():
#     deals_df.loc[len(deals_df)] = row

In [976]:
# deals_df.shape[0]

21303

In [981]:
# deals_df[deals_df['Contact Name']=='5805028000056392363']

Empty DataFrame
Columns: [Id, Deal Owner Name, Closing Date, Quality, Stage, Lost Reason, Page, Campaign, SLA, Content, Term, Source, Payment Type, Product, Education Type, Created Time, Course duration, Months of study, Initial Amount Paid, Offer Total Amount, Contact Name, City, Level of Deutsch, Created Date]
Index: []

In [982]:
# deals_df.tail()

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date
21588,5805028000000970006,Jane Smith,2023-07-04,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,03.07.23women,NaT,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-04 07:10:00,NaN,<NA>,0.00,0.00,5805028000000979006,NaN,NaN,2023-07-04
21589,5805028000000948010,Jane Smith,2023-08-29,B - Medium,Lost,needs time to think,eng/digital-marketing,03.07.23women,NaT,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-04 07:10:00,NaN,<NA>,0.00,0.00,5805028000000979006,NaN,NaN,2023-07-04
21590,5805028000000945016,Jane Smith,2023-08-29,A - High,Lost,Changed Decision,eng/digital-marketing,02.07.23wide_DE,56 days 19:01:59,b3,wide,Facebook Ads,NaN,NaN,NaN,2023-07-03 20:39:00,NaN,<NA>,0.00,0.00,5805028000000968001,NaN,NaN,2023-07-03
21591,5805028000000927004,Bob Brown,2023-07-09,D - Non Target,Lost,Does not speak English,eng/digital-marketing,03.07.23women,NaT,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-03 20:17:00,NaN,<NA>,0.00,0.00,5805028000000961001,NaN,NaN,2023-07-03
21592,5805028000000922001,Bob Brown,2023-07-03,E - Non Qualified,Lost,Refugee,No data,NaN,4 days 22:47:14,NaN,NaN,Organic,NaN,NaN,NaN,2023-07-03 17:03:00,NaN,<NA>,0.00,0.00,5805028000001009140,NaN,NaN,2023-07-03

In [984]:
# cn = '5805028000056392363'

# # Был ли он в aggregated_contacts?
# print(cn in aggregated_contacts['Contact Name'].values)

# # А в deals_df?
# print(cn in deals_df['Contact Name'].values)

# # Найди все строки с ним
# print(deals_df[deals_df['Contact Name'] == cn].to_string())

True
False
Empty DataFrame
Columns: [Id, Deal Owner Name, Closing Date, Quality, Stage, Lost Reason, Page, Campaign, SLA, Content, Term, Source, Payment Type, Product, Education Type, Created Time, Course duration, Months of study, Initial Amount Paid, Offer Total Amount, Contact Name, City, Level of Deutsch, Created Date]
Index: []

In [ ]:
# # Приводим значения к нижнему регистру и убираем лишние пробелы / Convert to lowercase and strip leading/trailing spaces
# df_deals['Level Cleaned'] = df_deals['Level of Deutsch'].astype(str).str.strip().str.lower()

# #  Удаляем лишние слова и описания в скобках / Remove words like 'level', 'with', 'intensive', and text in parentheses
# df_deals['Level Cleaned'] = df_deals['Level Cleaned'].str.replace(r'\(.*?\)', '', regex=True)
# df_deals['Level Cleaned'] = df_deals['Level Cleaned'].str.replace(
#     r'level|with|intensive|passed|certificate|exam|kurs|course|modul|modul\+|completed', '', regex=True
# )

# # Удаляем лишние символы, оставляем буквы, цифры, -, +, / / Remove special characters, keep only letters, numbers, -, +, /
# df_deals['Level Cleaned'] = df_deals['Level Cleaned'].str.replace(r'[^a-z0-9\-\+\/]', '', regex=True)

# # Приводим к верхнему регистру / Convert to uppercase
# df_deals['Level Cleaned'] = df_deals['Level Cleaned'].str.upper()

# # Нормализуем известные нестандарты (например: A2B1 → A2-B1) / Normalize known patterns like A2B1 → A2-B1
# df_deals['Level Cleaned'] = df_deals['Level Cleaned'].str.replace('B1B2', 'B1-B2')
# df_deals['Level Cleaned'] = df_deals['Level Cleaned'].str.replace('A2B1', 'A2-B1')
# df_deals['Level Cleaned'] = df_deals['Level Cleaned'].str.replace('A12', 'A1')
# df_deals['Level Cleaned'] = df_deals['Level Cleaned'].str.replace('B12', 'B1')

# # Все неизвестные значения заменяем на 'Unknown' / Replace all values not in allowed list with 'Unknown'
# valid_levels = ['A1', 'A2', 'B1', 'B2', 'C1', 'C2', 'A2-B1', 'B1-B2']
# df_deals['Level Cleaned'] = df_deals['Level Cleaned'].where(
#     df_deals['Level Cleaned'].isin(valid_levels), 'Unknown'
# )