1. С помощью библиотеки scipy.stats выполните независимый t-тест на наборе данных tips из seaborn. Сравните средний общий счет между курящими и некурящими.

In [1]:
import seaborn as sns
from math import sqrt
import scipy.stats as stats
from statsmodels.stats.weightstats import ztest
import numpy as np
from scipy.stats import ttest_ind, norm
import pandas as pd

In [ ]:
H0 - средний счет курящих и некурящих сильно отличается
H1 - средний счет курящих и некурящих почти не отличается

In [4]:
tips = sns.load_dataset('tips')
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [22]:
smoker = tips[tips['smoker']== 'Yes']['total_bill'] 
mean_smoker = np.mean(smoker)
mean_smoker

np.float64(20.756344086021507)

In [21]:
no_smoker = tips[tips['smoker']== 'No']['total_bill']
mean_no_smoker = np.mean(no_smoker)
mean_no_smoker

np.float64(19.18827814569536)

In [23]:
t_statistic, p_value = stats.ttest_ind(smoker, no_smoker)

print(f"T-статистика: {t_statistic}")
print(f"P-value: {p_value}")

T-статистика: 1.338436383470007
P-value: 0.18201032884302448

Расстояние между средними значениями выборок в единицах стандартной ошибки составляет 1.34 и статистически не значима.
Т.к. p-value > 0.05, можем предположить, что значительное отличие среднего чека между группами курящих и некурящих отсутствует, нулевую гипотезу не отвергаем.

2. С помощью библиотеки statsmodels выполните одновыборочный z-тест для набора данных по бриллиантам из seaborn. Проверьте, значительно ли отличается средняя цена бриллиантов от $4000.

In [ ]:
H0 - средняя цена бриллиантов не отличается от $4000
H1 - средняя цена бриллиантов отличается от $4000

In [2]:
diamonds = sns.load_dataset('diamonds')
diamonds

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [3]:
hypot_mean_price = 4000

z_statistic, p_value = ztest(diamonds['price'], value=hypot_mean_price)

print(f"Z-статистика: {z_statistic}")
print(f"P-value: {p_value}")

Z-статистика: -3.9121421974108177
P-value: 9.148101728636513e-05

In [ ]:
Z-статистика не близка к нулю, а значит выдвинутая гипотетическая средняя цена не соответствует реальной цене выборки.
P-value < 0.05, значит мы отвергаем нулевую гипотезу.

In [ ]:
3. Используйте библиотеку scipy.stats для расчета коэффициента корреляции Пирсона между total_bill и tip в наборе данных tips.

In [5]:
import pandas as pd
from scipy.stats import pearsonr

corr, _ = pearsonr(tips['total_bill'], tips['tip'])
print(f'Pearson correlation: {corr}')

Pearson correlation: 0.6757341092113645