In [ ]:
Задача: Создайте простое приложение Dash, которое позволяет пользователям выбрать континент из выпадающего меню и динамически отображает гистограмму ожидаемой продолжительности жизни для выбранного континента, используя набор данных Gapminder.

Инструкции:

Инициализируйте приложение Dash.

Определите макет, включающий dcc.Dropdown для выбора континента и dcc.Graph для отображения гистограммы.

Наполните выпадающие опции континентами из набора данных Gapminder.

Напишите функцию обратного вызова, которая обновляет гистограмму в зависимости от выбранного континента.

Гистограмма должна отображать распределение lifeExp для выбранного континента.

Добавьте к гистограмме соответствующие заголовки и метки осей.

In [2]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots
from dash import Dash, html, dcc
import plotly.express as px
from dash import Input, Output, callback

In [20]:
app = Dash(__name__)

df = px.data.gapminder()

header = html.Header(html.H1('Dashboard \'Continents\'', className='header-title'))

dropdown_component = dcc.Dropdown(
    id='my_dropdown',
    options=[
        {'label': 'All', 'value': ''},
        {'label': 'Asia', 'value': 'Asia'},
        {'label': 'Africa', 'value': 'Africa'},
        {'label': 'Americas', 'value': 'Americas'},
        {'label': 'Europe', 'value': 'Europe'},
        {'label': 'Oceania', 'value': 'Oceania'}
    ],
    value='',
    placeholder='Select continent'
)


sidebar = html.Div([
    html.H2('Navigation', className='sidebar-title'),
    dropdown_component 
], className='sidebar')

graph_component = dcc.Graph(id='example-graph')

app.layout = html.Div([
    header,
    sidebar,
    graph_component
])

@callback(
    Output('example-graph', 'figure'),
    Input('my_dropdown', 'value')
    
)
def update_graph(selected_continent):
    if selected_continent:  
        filtered_df = df[df['continent'] == selected_continent]
    else:  
        filtered_df = df  
    diag = px.histogram(filtered_df, x='lifeExp', nbins=20, title = 'Life expendancy by continents')

    diag.update_layout(
        xaxis_title = 'Life expendancy',
        yaxis_title = 'Frequency',
        bargap=0.2
    )

    return diag
    

if __name__ == '__main__':
    app.run(debug=True)

In [16]:
df = px.data.gapminder()
df

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4
...,...,...,...,...,...,...,...,...
1699,Zimbabwe,Africa,1987,62.351,9216418,706.157306,ZWE,716
1700,Zimbabwe,Africa,1992,60.377,10704340,693.420786,ZWE,716
1701,Zimbabwe,Africa,1997,46.809,11404948,792.449960,ZWE,716
1702,Zimbabwe,Africa,2002,39.989,11926563,672.038623,ZWE,716
1703,Zimbabwe,Africa,2007,43.487,12311143,469.709298,ZWE,716