In [ ]:
УРОК 4-1. ВВЕДЕНИЕ В PANDAS. ТИП
ДАННЫХ SERIES

In [10]:
import pandas as pd

In [12]:
import numpy as np

l = [1, 3, 5, np.nan, 6, 8]
s = pd.Series(l) # series - это numpy.array

print(l)
print(type(s))
s

[1, 3, 5, nan, 6, 8]
<class 'pandas.core.series.Series'>

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [13]:
s.values, type(s.values)

(array([ 1.,  3.,  5., nan,  6.,  8.]), numpy.ndarray)

In [14]:
s.to_dict()

{0: 1.0, 1: 3.0, 2: 5.0, 3: nan, 4: 6.0, 5: 8.0}

In [15]:
s.index

RangeIndex(start=0, stop=6, step=1)

In [16]:
s.index.step

1

In [17]:
s.describe()

count    5.000000
mean     4.600000
std      2.701851
min      1.000000
25%      3.000000
50%      5.000000
75%      6.000000
max      8.000000
dtype: float64

In [18]:
type(s.describe())

pandas.core.series.Series

In [19]:
s.describe().index

Index(['count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max'], dtype='object')

In [20]:
type(s.describe().index)

pandas.core.indexes.base.Index

In [21]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s[2]

np.float64(5.0)

In [22]:
s[2] = 7
s

0    1.0
1    3.0
2    7.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [23]:
s[2:5]

2    7.0
3    NaN
4    6.0
dtype: float64

In [24]:
s1 = s[1:]
s1

1    3.0
2    7.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [25]:
s2 = s[:-1]
s2

0    1.0
1    3.0
2    7.0
3    NaN
4    6.0
dtype: float64

In [26]:
s1 + s2

0     NaN
1     6.0
2    14.0
3     NaN
4    12.0
5     NaN
dtype: float64

In [28]:
np.exp(s1)

1      20.085537
2    1096.633158
3            NaN
4     403.428793
5    2980.957987
dtype: float64

In [30]:
type(np.exp(s)), type(s)

(pandas.core.series.Series, pandas.core.series.Series)

In [31]:
new_index = list('abcdef') # i == ['a', 'b', 'c', 'd', 'e', 'f']
s = pd.Series(l, index=new_index )
s

a    1.0
b    3.0
c    5.0
d    NaN
e    6.0
f    8.0
dtype: float64

In [32]:
s['c']

np.float64(5.0)

In [33]:
s[5] # плохой вариант

C:\Users\user\AppData\Local\Temp\ipykernel_27072\1495924492.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s[5]

np.float64(8.0)

In [36]:
s = pd.Series({'a':1, 'b':2, 'c':0})
s

a    1
b    2
c    0
dtype: int64

In [37]:
d = pd.date_range('20160101', periods=6)
d

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06'],
              dtype='datetime64[ns]', freq='D')

In [38]:
s = pd.Series(l, index=d)
s

2016-01-01    1.0
2016-01-02    3.0
2016-01-03    5.0
2016-01-04    NaN
2016-01-05    6.0
2016-01-06    8.0
Freq: D, dtype: float64

In [39]:
s[s > 3]

2016-01-03    5.0
2016-01-05    6.0
2016-01-06    8.0
dtype: float64

In [40]:
s > 3

2016-01-01    False
2016-01-02    False
2016-01-03     True
2016-01-04    False
2016-01-05     True
2016-01-06     True
Freq: D, dtype: bool

In [41]:
s.diff()

2016-01-01    NaN
2016-01-02    2.0
2016-01-03    2.0
2016-01-04    NaN
2016-01-05    NaN
2016-01-06    2.0
Freq: D, dtype: float64

In [42]:
s.diff().dropna()

2016-01-02    2.0
2016-01-03    2.0
2016-01-06    2.0
dtype: float64

In [43]:
s.cummin()

2016-01-01    1.0
2016-01-02    1.0
2016-01-03    1.0
2016-01-04    NaN
2016-01-05    1.0
2016-01-06    1.0
Freq: D, dtype: float64

In [44]:
s.cummax()

2016-01-01    1.0
2016-01-02    3.0
2016-01-03    5.0
2016-01-04    NaN
2016-01-05    6.0
2016-01-06    8.0
Freq: D, dtype: float64

In [45]:
s.cumsum()

2016-01-01     1.0
2016-01-02     4.0
2016-01-03     9.0
2016-01-04     NaN
2016-01-05    15.0
2016-01-06    23.0
Freq: D, dtype: float64

In [47]:
s.expanding().apply(np.mean)

2016-01-01    1.00
2016-01-02    2.00
2016-01-03    3.00
2016-01-04    3.00
2016-01-05    3.75
2016-01-06    4.60
Freq: D, dtype: float64

In [48]:
s.expanding().apply(np.median)

2016-01-01    1.0
2016-01-02    2.0
2016-01-03    3.0
2016-01-04    NaN
2016-01-05    NaN
2016-01-06    NaN
Freq: D, dtype: float64

In [49]:
s = pd.Series([1, 2, 3, 4, 5, 6])
t = s[2:]+s[:2]
print(t)
print(t.dropna())

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
dtype: float64
Series([], dtype: float64)

In [50]:
s = pd.Series([1, 2, 3, 4, 5, 6])
t = s[2:]+s[:3]
print(t)
print(t.dropna())

0    NaN
1    NaN
2    6.0
3    NaN
4    NaN
5    NaN
dtype: float64
2    6.0
dtype: float64

In [ ]:
Посчитайте кумулятивное среднее квадратов разностей соседних элементов набора s.
От них можно избавиться при помощи метода dropna.

In [57]:
s5 = pd.Series([1, 2, 9, 4, 5, 7])
s6 = s5.diff()
print(s6)
s_m = (s6 ** 2)
print(s_m)
s_m.expanding().apply(np.mean)

0    NaN
1    1.0
2    7.0
3   -5.0
4    1.0
5    2.0
dtype: float64
0     NaN
1     1.0
2    49.0
3    25.0
4     1.0
5     4.0
dtype: float64

0     NaN
1     1.0
2    25.0
3    25.0
4    19.0
5    16.0
dtype: float64

In [ ]:
s5.diff().dropna().expanding().apply(lambda x: np.mean(x**2))