In [1]:
import pandas as pd

deals_df_v3 = pd.read_pickle("deals_cleaned_v2.pkl")

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
deals_df_v3

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
0,5805028000056864695,Ben Hall,NaT,B - Medium,New Lead,NaN,/eng/test,03.07.23women,NaT,v16,women,Facebook Ads,NaN,NaN,NaN,2024-06-21 15:30:00,NaN,<NA>,NaN,NaN,5805028000056849495,NaN,NaN,2024-06-21,NaN
1,5805028000056859489,Ulysses Adams,NaT,B - Medium,New Lead,NaN,/at-eng,NaN,NaT,NaN,NaN,Organic,NaN,Web Developer,Morning,2024-06-21 15:23:00,6,<NA>,0.0,2000.0,5805028000056834471,NaN,NaN,2024-06-21,NaN
2,5805028000056832357,Ulysses Adams,2024-06-21,D - Non Target,Lost,Non target,/at-eng,engwien_AT,0 days 00:26:43,b1-at,21_06_2024,Telegram posts,NaN,NaN,NaN,2024-06-21 14:45:00,NaN,<NA>,NaN,NaN,5805028000056854421,NaN,NaN,2024-06-21,0.0
3,5805028000056824246,Eva Kent,2024-06-21,E - Non Qualified,Lost,Invalid number,/eng,04.07.23recentlymoved_DE,0 days 01:00:04,bloggersvideo14com,recentlymoved,Facebook Ads,NaN,NaN,NaN,2024-06-21 13:32:00,NaN,<NA>,NaN,NaN,5805028000056889351,NaN,NaN,2024-06-21,0.0
4,5805028000056873292,Ben Hall,2024-06-21,D - Non Target,Lost,Non target,/eng,discovery_DE,0 days 00:53:12,website,NaN,Google Ads,NaN,NaN,NaN,2024-06-21 13:21:00,NaN,<NA>,NaN,NaN,5805028000056876176,NaN,NaN,2024-06-21,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21406,5805028000050001603,Quincy Vincent,2024-05-15,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,0 days 05:35:41,NaN,NaN,Organic,NaN,NaN,NaN,2024-05-15 08:50:00,NaN,<NA>,NaN,NaN,5805028000049855125,NaN,NaN,2024-05-15,0.0
21407,5805028000053787195,Paula Underwood,2024-06-06,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-06 18:45:00,NaN,<NA>,NaN,NaN,5805028000053705642,NaN,NaN,2024-06-06,0.0
21408,5805028000054823001,Quincy Vincent,2024-06-12,E - Non Qualified,Lost,Duplicate,/eng,brand_search_eng_DE,0 days 04:30:17,152789402780_{region_name}_668024583824,it hub,Google Ads,NaN,NaN,NaN,2024-06-12 05:46:00,NaN,<NA>,NaN,NaN,5805028000054480760,NaN,NaN,2024-06-12,0.0
21409,5805028000056685164,Charlie Davis,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,0 days 00:01:46,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-20 13:49:00,NaN,<NA>,NaN,NaN,5805028000056392363,NaN,NaN,2024-06-20,0.0
21410,5805028000056705395,Ulysses Adams,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-20 17:36:00,NaN,<NA>,NaN,NaN,5805028000056727001,NaN,NaN,2024-06-20,0.0

## City

In [4]:
deals_df_v3['City'].nunique()

875

In [5]:
deals_df_v3['City'].value_counts(dropna=True)

City
Berlin           182
München           74
Hamburg           62
Nürnberg          45
Leipzig           45
                ...
Chuguev            1
Bad Hönningen      1
Senftenberg        1
Günzburg           1
Malschwitz         1
Name: count, Length: 875, dtype: int64

In [6]:
deals_df_v3[deals_df_v3['City']=='Karl-Liebknecht str. 24, Hildburghausen, Thüringen']

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
132,5805028000056242502,Eva Kent,NaT,D - Non Target,Waiting For Payment,NaN,/eng/test,brand_search_eng_DE,NaT,152789402780_{region_name}_668024583824,it%20career%20hub,Google Ads,NaN,Digital Marketing,Morning,2024-06-18 18:38:00,11,<NA>,1000.0,11000.0,5805028000056242477,"Karl-Liebknecht str. 24, Hildburghausen, Thüri...",b1,2024-06-18,NaN
517,5805028000055337926,Eva Kent,NaT,D - Non Target,Waiting For Payment,NaN,/eng/test,brand_search_eng_DE,0 days 10:22:18,152789402780_{region_name}_668024583824,it%20career%20hub,Google Ads,NaN,UX/UI Design,Morning,2024-06-15 01:15:00,11,<NA>,1000.0,11000.0,5805028000055329808,"Karl-Liebknecht str. 24, Hildburghausen, Thüri...",b1,2024-06-15,NaN

In [7]:
print(deals_df_v3['City'].apply(type).value_counts())

City
<class 'float'>    19248
<class 'str'>       2163
Name: count, dtype: int64

In [8]:
import re

pattern = r'[,\d]'  # ищем строки, содержащие запятые или цифры, эквивалентно логическому оператору ИЛИ, который проверяет, если в строке присутствует хотя бы один из этих символов.

mask = deals_df_v3['City'].str.contains(pattern, na=False)
suspicious_cities = deals_df_v3[mask]
print(suspicious_cities['City'].unique()[:20])

['Karl-Liebknecht str. 24, Hildburghausen, Thüringen'
 'Poland , Gdansk , Al. Grunwaldzka 7, ap. 1a'
 'Vor Ebersbach 1, 77761 Schiltach']

In [9]:
deals_df_v3[deals_df_v3['City']=='Karl-Liebknecht str. 24, Hildburghausen, Thüringen']

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
132,5805028000056242502,Eva Kent,NaT,D - Non Target,Waiting For Payment,NaN,/eng/test,brand_search_eng_DE,NaT,152789402780_{region_name}_668024583824,it%20career%20hub,Google Ads,NaN,Digital Marketing,Morning,2024-06-18 18:38:00,11,<NA>,1000.0,11000.0,5805028000056242477,"Karl-Liebknecht str. 24, Hildburghausen, Thüri...",b1,2024-06-18,NaN
517,5805028000055337926,Eva Kent,NaT,D - Non Target,Waiting For Payment,NaN,/eng/test,brand_search_eng_DE,0 days 10:22:18,152789402780_{region_name}_668024583824,it%20career%20hub,Google Ads,NaN,UX/UI Design,Morning,2024-06-15 01:15:00,11,<NA>,1000.0,11000.0,5805028000055329808,"Karl-Liebknecht str. 24, Hildburghausen, Thüri...",b1,2024-06-15,NaN

In [10]:
deals_df_v3[deals_df_v3['City']=='Poland , Gdansk , Al. Grunwaldzka 7, ap. 1a']

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
488,5805028000055525099,Eva Kent,NaT,B - Medium,Waiting For Payment,NaN,/webinar,webinar1906,4 days 21:19:46,NaN,invitation,Webinar,NaN,Web Developer,Morning,2024-06-15 13:50:00,6,<NA>,100.0,2900.0,5805028000055474262,"Poland , Gdansk , Al. Grunwaldzka 7, ap. 1a",NaN,2024-06-15,NaN

In [11]:
deals_df_v3[deals_df_v3['City']== 'Vor Ebersbach 1, 77761 Schiltach']

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
1199,5805028000053993309,Cara Iverson,NaT,C - Low,Waiting For Payment,NaN,NaN,NaN,0 days 15:06:28,NaN,NaN,Organic,NaN,Digital Marketing,Morning,2024-06-07 19:23:00,11,<NA>,11000.0,11000.0,5805028000053993277,"Vor Ebersbach 1, 77761 Schiltach",в1,2024-06-07,NaN

In [12]:
deals_df_v3.loc[deals_df_v3['City'] == 'Karl-Liebknecht str. 24, Hildburghausen, Thüringen', 'City'] = 'Hildburghausen'
deals_df_v3.loc[deals_df_v3['City'] == 'Poland , Gdansk , Al. Grunwaldzka 7, ap. 1a', 'City'] = 'Gdansk'
deals_df_v3.loc[deals_df_v3['City'] == 'Vor Ebersbach 1, 77761 Schiltach', 'City'] = 'Schiltach'

In [13]:
deals_df_v3[deals_df_v3['Id'].isin(['5805028000055337926', '5805028000056242502', '5805028000055525099', '5805028000053993309'])]

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
132,5805028000056242502,Eva Kent,NaT,D - Non Target,Waiting For Payment,NaN,/eng/test,brand_search_eng_DE,NaT,152789402780_{region_name}_668024583824,it%20career%20hub,Google Ads,NaN,Digital Marketing,Morning,2024-06-18 18:38:00,11,<NA>,1000.0,11000.0,5805028000056242477,Hildburghausen,b1,2024-06-18,NaN
488,5805028000055525099,Eva Kent,NaT,B - Medium,Waiting For Payment,NaN,/webinar,webinar1906,4 days 21:19:46,NaN,invitation,Webinar,NaN,Web Developer,Morning,2024-06-15 13:50:00,6,<NA>,100.0,2900.0,5805028000055474262,Gdansk,NaN,2024-06-15,NaN
517,5805028000055337926,Eva Kent,NaT,D - Non Target,Waiting For Payment,NaN,/eng/test,brand_search_eng_DE,0 days 10:22:18,152789402780_{region_name}_668024583824,it%20career%20hub,Google Ads,NaN,UX/UI Design,Morning,2024-06-15 01:15:00,11,<NA>,1000.0,11000.0,5805028000055329808,Hildburghausen,b1,2024-06-15,NaN
1199,5805028000053993309,Cara Iverson,NaT,C - Low,Waiting For Payment,NaN,NaN,NaN,0 days 15:06:28,NaN,NaN,Organic,NaN,Digital Marketing,Morning,2024-06-07 19:23:00,11,<NA>,11000.0,11000.0,5805028000053993277,Schiltach,в1,2024-06-07,NaN

In [179]:
# # Пример фильтра: ищем строки с умлаутами или немецкими названиями
# pattern = r'[äöüÄÖÜß]|München|Nürnberg|Köln|Wien|Zürich|Genf|Düsseldorf'
# print(deals_df_v3[deals_df_v3['City'].str.contains(pattern, na=False)]['City'].unique())

['München' 'Wien' 'Görlitz' 'Rüdesheim am Rhein' 'Mönchengladbach'
 'Nürnberg' 'Düren' 'Düsseldorf' 'Jünkerath' 'Lünen'
 'Bad Homburg vor der Höhe' 'Lüchow' 'Göppingen' 'Süßen' 'Tönning'
 'Osnabrück' 'Grevesmühlen' 'Münster' 'Wächtersbach'
 'Weißenburg in Bayern' 'Büchen' 'Delbrück' 'Würzburg' 'Südlohn' 'Bärnau'
 'Gröditz' 'Königswinter' 'Übelbach' 'Fürth' 'Mülheim an der Ruhr'
 'Höhenkirchen-Siegertsbrunn' 'Wolfenbüttel' 'Güglingen' 'Köln' 'Lübeck'
 'Büren' 'Gießen' 'Obergünzburg' 'Mülheim-Kärlich' 'Hörstel' 'Gütersloh'
 'Röttingen' 'Rötgesbüttel' 'Großrosseln' 'Neumünster' 'Wörthsee'
 'Königsmoos' 'Großbreitenbach' 'Karstädt' 'Hückelhoven' 'Böhlen' 'Bünde'
 'Löbau' 'Bad Wörishofen' 'Bühl' 'Bad Tölz' 'Güstrow' 'Saarbrücken'
 'Markgröningen' 'Weinähr' 'Rheda-Wiedenbrück' 'Weißwasser'
 'Schwäbisch Hall' 'Buttstädt' 'Altötting' 'Nünchritz' 'Floß' 'Dörverden'
 'Königstein im Taunus' 'Brühl' 'Hösbach' 'Nastätten' 'Donauwörth'
 'Münchhausen' 'Dußlingen' 'Löningen' 'Wangen im Allgäu' 'Böblingen'
 'Neuhäusel' 'Mömlingen' 'Fröndenberg' 'Überlingen' 'Leutkirch im Allgäu'
 'Neusäß' 'Mühlhausen' 'Tübingen' 'Hückeswagen' 'Fürstenfeldbruck'
 'Wülfrath' 'Müllrose' 'Hüttisheim' 'Königslutter' 'Uhldingen-Mühlhofen'
 'Nürtingen' 'Schmölln' 'Gröbenzell' 'Kirchheim bei München' 'Schönwald'
 'Schwäbisch Gmünd' 'Rosbach vor der Höhe' 'Göttingen'
 'Steinau an der Straße' 'Leopoldshöhe' 'Bad Gottleuba-Berggießhübel'
 'Plön' 'Wittendörp' 'Lörrach' 'Öhringen' 'Haselünne' 'Mühldorf'
 'Meißenheim' 'Bürstadt' 'Lüdenscheid' 'Alsbach-Hähnlein' 'Winhöring'
 'Pößneck' 'Bruchköbel' 'Bad Hönningen' 'Günzburg' 'Jördenstorf'
 'Lüneburg']

In [181]:
# deals_df_v3['City'].value_counts(dropna=True)

City
Berlin           182
München           74
Hamburg           62
Nürnberg          45
Leipzig           45
                ...
Chuguev            1
Bad Hönningen      1
Senftenberg        1
Günzburg           1
Malschwitz         1
Name: count, Length: 875, dtype: int64

In [182]:
# # Регулярка: допускаем только английские буквы (a-z и A-Z), пробелы и дефисы
# pattern_eng = r'^[a-zA-Z\s\-]+$'

# # Фильтруем только строки, где все символы соответствуют допустимым
# english_only_cities = deals_df_v3[deals_df_v3['City'].str.match(pattern_eng, na=False)]

# # Посмотрим уникальные значения
# print(english_only_cities['City'].unique())

['Crailsheim' 'Dortmund' 'Stuttgart' 'Berlin' 'Wien' 'Offenbach am Main'
 'Eberbach' 'Pfedelbach' 'Unterhaching' 'Hildburghausen' 'Dresden'
 'Gummersbach' 'Kassel' 'Wenzenbach' 'Merseburg' 'Gommern' 'Pommelsbrunn'
 'Duisburg' 'Herzogenrath' 'Schwandorf' 'Mainz' 'Podskalie' 'Zinnowitz'
 'Quedlinburg' 'Gdansk' 'Wolfsburg' 'Weilburg' 'Dillenburg' 'Neu-Ulm'
 'Lauter-Bernsbach' 'Bonn' 'Riedstadt' 'Rosenheim' 'Neuburg' 'Rostock'
 'Bad Oeynhausen' 'Chemnitz' 'Diez' 'Laubach' 'Zwickau' 'Bremen' 'Halle'
 'Erbach' 'Magdeburg' 'Celle' 'Germering' 'Kleve'
 'Leinfelden-Echterdingen' 'Garmisch-Partenkirchen' 'Leipzig' 'Hof' 'Murr'
 'Bochum' 'Leonberg' 'Kiel' 'Theres' 'Stolberg' 'Bautzen' 'Weiden'
 'Osterode am Harz' 'Schiltach' 'Ansbach' 'Aachen' 'Menden' 'Iserlohn'
 'Aying' 'Mannheim' 'Hamburg' 'Einhausen' 'Minden' 'Igalo' 'Flensburg'
 'Aschaffenburg' 'Holzwickede' 'Ochtrup' 'Klosterlechfeld' 'Straubing'
 'Augsburg' 'Rheine' 'Singen' 'Werl' 'Schweinfurt' 'Ditzingen' 'Frankfurt'
 'Waldbronn' 'Bad Wildbad im Schwarzwald' 'Essen' 'Weil am Rhein'
 'Lahnstein' 'Lierschied' 'Eggenfelden' 'Trebgast' 'Verl' 'Wesel'
 'Frammersbach' 'Perleberg' 'Michelfeld' 'Stralsund' 'Zeitz' 'Novi Sad'
 'Helmstedt' 'Krefeld' 'Rastatt' 'Detmold' 'Weinstadt' 'Friedrichshafen'
 'Solingen' 'Worms' 'Schlangen' 'Schwarzenberg' 'Ludwigsburg' 'Remscheid'
 'Kulmbach' 'Burghausen' 'Meinerzhagen' 'Torgau' 'Coesfeld'
 'Hartmannsdorf' 'Adelschlag' 'Eisenberg' 'Kehl' 'Kempten' 'Marburg'
 'Oranienburg' 'Siegen' 'Castrop-Rauxel' 'Kalkar' 'Molsberg' 'Rust'
 'Bad Hersfeld' 'Erfurt' 'Wiesenttal' 'Altenstadt' 'Sankt Leon-Rot'
 'Friedrichsdorf' 'Heinsberg' 'Passau' 'Darmstadt' 'Ruhla' 'Bad Nauheim'
 'Erftstadt' 'Arnsberg' 'Pullach im Isartal' 'Gelnhausen'
 'Liederbach am Taunus' 'Trier' 'Buxtehude' 'Uelzen' 'Aldenhoven'
 'Lutherstadt Wittenberg' 'Friedenweiler' 'Witzeeze' 'Neuss' 'Pforzheim'
 'Northeim' 'Rohrdorf' 'Filderstadt' 'Kerpen' 'Warszawa' 'Markdorf'
 'Piatek' 'Hannover' 'Erkner' 'Monschau' 'Bad Segeberg'
 'Lauf an der Pegnitz' 'Oberasbach' 'Naumburg' 'Wandlitz' 'Witten'
 'Obernheim' 'Wilhelmshaven' 'Heimbuchenthal' 'Weiterstadt' 'Braunfels'
 'Salzwedel' 'Rechitsa' 'Freiburg' 'Regensburg' 'Leer' 'Coburg'
 'Niederorschel' 'Vierden' 'Ostbevern' 'Bad Pyrmont' 'Stelle' 'Wadgassen'
 'Leingarten' 'Obermarchtal' 'Linz' 'Sankt Ingbert' 'Staufen im Breisgau'
 'Baku' 'Erlensee' 'Erkrath' 'Kornwestheim' 'Wiesbaden' 'Leutershausen'
 'Rees' 'Schwerin' 'Reutlingen' 'Hamm' 'Allendorf' 'Gladenbach'
 'Euskirchen' 'Gerlingen' 'Ganderkesee' 'Ohrdruf' 'Beverungen' 'Oldenburg'
 'Usingen' 'Geilenkirchen' 'Leichlingen' 'Veldenz' 'Duschanbe'
 'Ahad Al Masarihah' 'Werder' 'Morsbach' 'Herdecke' 'Seevetal'
 'Korschenbroich' 'Stendal' 'Teublitz' 'Meerbusch' 'Eggolsheim'
 'Limbach-Oberfrohna' 'Kraichtal' 'Rathenow' 'Babenhausen' 'Heidenheim'
 'Rotterdam' 'Cremlingen' 'Rinteln' 'Bayreuth' 'Ajman' 'Hagen' 'Parchim'
 'Emsdetten' 'Randersacker' 'Erding' 'Kressbronn am Bodensee' 'Essing'
 'Nesselwang' 'Braunschweig' 'Zoetermeer' 'Karlsfeld' 'Nuenchritz'
 'Obergriesbach' 'Karlsruhe' 'Paderborn' 'Remchingen' 'Neuhemsbach'
 'Herford' 'Lubrza' 'Kalanchak' 'Hennef' 'Monheim am Rhein' 'Klasztorna'
 'Taraz' 'Troisdorf' 'Henstedt-Ulzburg' 'Achberg' 'Bialystok' 'Warburg'
 'Stade' 'Bad Driburg' 'Sollstedt' 'Esslingen am Neckar' 'Cloppenburg'
 'Landshut' 'Steinfurt' 'Tatabanya' 'Gerolstein' 'Astana'
 'Dabrowa Gornicza' 'Schwanewede' 'Glendale' 'Cheremkhovo' 'Schwarzheide'
 'Pleinfeld' 'Hettenshausen' 'Sankt Georgen im Schwarzwald' 'Lichtenfels'
 'Fulda' 'Riesa' 'Waren' 'Hameln' 'Aichwald' 'Eppelheim' 'Bad Berleburg'
 'Aalen' 'Minsk' 'Oberding' 'Wermelskirchen' 'Jindrichuv Hradec'
 'Trossingen' 'Stein' 'Nizhny Novgorod' 'Murom' 'Twistringen'
 'Langenselbold' 'Alsfeld' 'Limeshain' 'Helmstidde' 'Schwalbach' 'Alfeld'
 'Mainz-Kastel' 'Forchheim' 'Altenkirchen' 'Velden'
 'Alzenau in Unterfranken' 'Schkeuditz' 'Poing' 'Tuttlingen' 'Semej'
 'Cuxhaven' 'Kirchlauter' 'Speyer' 'Untersiemau' 'Pfalzgrafenweiler'
 'Wetzlar' 'Reichenau' 'Scharbeutz' 'Kirchheim' 'Blankenfelde' 'Frechen'
 'Vechta' 'Leuna' 'Coswig' 'Kisslegg' 'Ebern' 'Weilheim in Oberbayern'
 'Engen' 'Lippstadt' 'Konstanz' 'Aichach' 'Heilbronn' 'Sandersdorf'
 'Luckenwalde' 'Inchenhofen' 'Amberg' 'Oberhausen' 'Waiblingen' 'Appen'
 'Chambon-sur-Lignon' 'Nettetal' 'Kirchlinteln' 'Ottobrunn' 'Koblenz'
 'Kusel' 'Massenbachhausen' 'Rangsdorf' 'Hildesheim' 'Heidelberg' 'Senden'
 'Borna' 'Bad Saulgau' 'Cham' 'Herne' 'Lenningen' 'Niederstetten' 'Olpe'
 'Heinersreuth' 'Speichersdorf' 'Potsdam' 'Bergisch Gladbach' 'Weingarten'
 'Brandenburg an der Havel' 'Lengerich' 'Poppenhausen'
 'Villingen-Schwenningen' 'Friesoythe' 'Lingen' 'Jena' 'Griepswohld'
 'Garrel' 'Herbrechtingen' 'Binzen' 'Friedberg' 'Wuppertal' 'Ulm'
 'Dinslaken' 'Ravensburg' 'Geyer' 'Ilmenau' 'Freital' 'Engelsbrand'
 'Planegg' 'Zwingenberg' 'Abensberg' 'Wiefelstede' 'Fritzlar' 'Rudolstadt'
 'Neunkirchen-Seelscheid' 'Tittmoning' 'Kamen' 'Haimhausen' 'Triberg'
 'Herrsching am Ammersee' 'Oberndorf am Neckar' 'Tashkent' 'Bad Windsheim'
 'Selm' 'Arnstadt' 'Neu-Isenburg' 'Kaltenkirchen' 'Neuenkirchen' 'Eystrup'
 'Kirn' 'Neunkirchen' 'Buchholz' 'Mittweida' 'Saint Petersburg'
 'Bad Emstal' 'Mandelbachtal' 'Riga' 'Oelde' 'Bergheim' 'London'
 'Mainz-Kostheim' 'Niedenstein' 'Kaliningrad' 'Hilchenbach'
 'Neu Wulmstorf' 'Bielefeld' 'Zorneding' 'Eggenstein-Leopoldshafen'
 'Rosengarten' 'Schwaig' 'Bingen' 'Tettnang' 'Wismar' 'Ahaus' 'Eppelborn'
 'Bat yam' 'Rodewisch' 'Schrozberg' 'Hoyerswerda' 'Aschersleben' 'Teterow'
 'Gera' 'Backnang' 'Kamenskoe' 'Kirchlengern' 'Delitzsch' 'Walldorf'
 'Neubrandenburg' 'Viernheim' 'Fernwald' 'Kemnath'
 'Neumarkt in der Oberpfalz' 'Kamenz' 'Hattgenstein' 'Neukirchen-Vluyn'
 'Wolnzach' 'Hofkirchen' 'Moscow' 'Zerbst' 'Grafenau' 'Albstadt'
 'Postbauer-Heng' 'Neutraubling' 'Meinersen' 'Espenau' 'Grevenbroich'
 'Deggendorf' 'Niedereschach' 'Haldensleben' 'Illingen' 'Norderney'
 'Itzehoe' 'Oberrot' 'Weilheim' 'Marsberg' 'Beckingen' 'Lemgo' 'Werlte'
 'Pfaffenhofen' 'Waldenburg' 'Schieder-Schwalenberg' 'Nordhausen'
 'Dormagen' 'Ottersweier' 'Voerde' 'Forst' 'Seesen' 'Baesweiler' 'Nagold'
 'Kleinostheim' 'Unterschneidheim' 'Sand am Main' 'Maasbree' 'Homburg'
 'Bad Abbach' 'Lotte' 'Birkenfeld' 'Phuket' 'Almaty' 'Ingolstadt'
 'Adelebsen' 'Sigmarszell' 'Lehre' 'Herzogenaurach' 'Willich' 'Dettelbach'
 'Michelstadt' 'Niesky' 'Neuwied' 'Freren' 'Heimbach' 'Euerbach'
 'Waldkraiburg' 'Saarlouis' 'Litzendorf' 'Bad Soden am Taunus' 'Lauf'
 'Anklam' 'Eislingen' 'Hachenburg' 'Pfinztal' 'Szczecin'
 'Annaberg-Buchholz' 'Blumberg' 'Retzstadt' 'Kolbermoor' 'Donaueschingen'
 'Gdynia' 'Rendsburg' 'Namur' 'Dingolfing' 'Dinkelscherben'
 'Neuburg an der Donau' 'Sundern' 'Sexau' 'Vaihingen an der Enz'
 'Steinbach' 'Imsbach' 'Harsewinkel' 'Bad Feilnbach' 'Marne'
 'Kappelrodeck' 'Ehrensberg' 'Dettenhausen' 'Wittstock' 'Vellberg'
 'Bad Vilbel' 'Kluse' 'Hockenheim' 'Runkel' 'Kelkheim' 'Viereth-Trunstadt'
 'Nellingen' 'Glandorf' 'Nisterberg' 'Landsberg am Lech' 'Bamberg'
 'Kernen im Remstal' 'Nottuln' 'Hechingen' 'Marktredwitz' 'Beilstein'
 'Heusweiler' 'Aidlingen' 'Elze' 'Borken' 'Bernau' 'Pyrbaum'
 'Niederstotzingen' 'Porta Westfalica' 'Volgodonsk' 'Burg' 'Melsungen'
 'Bitterfeld-Wolfen' 'Grafenhausen' 'Freudenstadt' 'Mengerskirchen'
 'Heppenheim' 'Rothenburg ob der Tauber' 'Sasbach' 'Malchin' 'Lengenfeld'
 'Miesbach' 'Holzminden' 'Mettmann' 'Eching' 'Manching' 'Karben'
 'Mainaschaff' 'Baden-Baden' 'Dubai' 'Miltenberg' 'Wetter' 'Garbsen'
 'Prenzlau' 'Odelzhausen' 'Urbach' 'Altlandsberg' 'Hopfen am See'
 'Boppard' 'Wertheim' 'Sindelfingen' 'Pirmasens' 'Neuenrade' 'Hagenow'
 'Kaufbeuren' 'Osterhofen' 'Rotenburg an der Fulda' 'Hofheim am Taunus'
 'Krumbach' 'Bretten' 'Langenbach' 'Stadecken-Elsheim' 'Oerlinghausen'
 'Lampertheim' 'Wolfhagen' 'Plauen' 'Sulzbach' 'Herzberg' 'Biberach'
 'Schmallenberg' 'Gelsenkirchen' 'Verden' 'Salzgitter' 'Furtwangen'
 'Isernhagen' 'Schonach im Schwarzwald' 'Erkelenz' 'Heide' 'Mainbernheim'
 'Bopfingen' 'Bremerhaven' 'Ampfing' 'Hohenberg an der Eger'
 'Bergneustadt' 'Offenbach' 'Hennigsdorf' 'Schliersee' 'Gaildorf'
 'Kitzingen' 'Lennestadt' 'Weinsberg' 'Kaiserslautern' 'Konz'
 'Landau in der Pfalz' 'Nordenham' 'Raschau-Markersbach' 'Wirges' 'Zetel'
 'Weimar' 'Bobingen' 'Wemding' 'Sankt Augustin' 'Maikammer' 'Oberkochen'
 'Siegburg' 'Greven' 'Birstein' 'Altenburg' 'Brakel' 'Pinneberg'
 'Ladenburg' 'Bad Schwalbach' 'Mahlberg' 'Leverkusen' 'Pavlograd'
 'Starnberg' 'Rommerskirchen' 'Lychen' 'Zella-Mehlis'
 'Lutherstadt Eisleben' 'Eiterfeld' 'Neustadt-Glewe' 'Finnentrop'
 'Thalmassing' 'Ahrensburg' 'Bad Hindelang' 'Bad Blankenburg'
 'Germersheim' 'Montabaur' 'Hasbergen' 'Bad Ems' 'Bad Essen' 'Norden'
 'Heiligenhaus' 'Mutlangen' 'Edingen-Neckarhausen' 'Sonneberg'
 'Recklinghausen' 'Delmenhorst' 'Freising' 'Peine' 'Altshausen'
 'Baiersbronn' 'Schenefeld' 'Hallbergmoos' 'Burbach' 'Waldkirch' 'Stuhr'
 'Bad Wildungen' 'Warendorf' 'Erlangen' 'Tengen' 'Saalfeld' 'Olching'
 'Berchtesgaden' 'Lage' 'Freigericht' 'Bad Friedrichshall' 'Reichenbach'
 'Causeni' 'Schwepnitz' 'Quickborn' 'Radebeul' 'Korbach'
 'Landau an der Isar' 'Emden' 'Hohenstein' 'Duderstadt' 'Chuguev'
 'Senftenberg' 'Malschwitz' 'Tutzing' 'Blankenburg' 'Eschenburg' 'Netphen'
 'Apen' 'Kharkiv' 'Wittmund' 'Novorossiysk' 'Werne' 'Melle' 'Bruck'
 'Prostejov' 'Wenden' 'Belgrade' 'Alamudun' 'Bad Gandersheim' 'Braubach'
 'Geldern' 'Bassum' 'Brake']

In [184]:
# deals_df_v3['City'].dropna().unique()

array(['Crailsheim', 'Dortmund', 'Stuttgart', 'München', 'Berlin', 'Wien',
       'Offenbach am Main', 'Eberbach', 'Görlitz', 'Pfedelbach',
       'Unterhaching', 'Hildburghausen', 'Rüdesheim am Rhein', 'Dresden',
       'Gummersbach', 'Kassel', 'Wenzenbach', 'Merseburg', 'Gommern',
       'Pommelsbrunn', 'Duisburg', 'Herzogenrath', 'Schwandorf', 'Mainz',
       'Podskalie', 'Zinnowitz', 'Quedlinburg', 'Gdansk', 'Wolfsburg',
       'Weilburg', 'Dillenburg', 'Neu-Ulm', 'Lauter-Bernsbach', 'Bonn',
       'Riedstadt', 'Rosenheim', 'Mönchengladbach', 'Neuburg', 'Rostock',
       'Bad Oeynhausen', 'Chemnitz', 'Diez', 'Nürnberg', 'Laubach',
       'Düren', 'Düsseldorf', 'Zwickau', 'Bremen', 'Halle', 'Erbach',
       'Jünkerath', 'Magdeburg', 'Celle', 'Germering', 'Kleve',
       'Leinfelden-Echterdingen', 'Garmisch-Partenkirchen', 'Leipzig',
       'Hof', 'Lünen', 'Murr', 'Bochum', 'Leonberg',
       'Bad Homburg vor der Höhe', 'Kiel', 'Theres', 'Lüchow', 'Stolberg',
       'Bautzen', 'Weiden', 'Osterode am Harz', 'Schiltach', 'Göppingen',
       'Ansbach', 'Aachen', 'Menden', 'Iserlohn', 'Aying', 'Mannheim',
       'Hamburg', 'Einhausen', 'Minden', 'Igalo', 'Süßen', 'Flensburg',
       'Tönning', 'Aschaffenburg', 'Holzwickede',
       'Villingen‑Schwenningen', 'Ochtrup', 'Klosterlechfeld',
       'Straubing', 'Augsburg', 'Rheine', 'Singen', 'Werl', 'Schweinfurt',
       'Ditzingen', 'Frankfurt', 'Waldbronn',
       'Bad Wildbad im Schwarzwald', 'Essen', 'Weil am Rhein',
       'Lahnstein', 'Osnabrück', 'Lierschied', 'Eggenfelden', 'Trebgast',
       'Verl', 'Wesel', 'Frammersbach', 'Grevesmühlen', 'Perleberg',
       'Michelfeld', 'Stralsund', 'Zeitz', 'Novi Sad', 'Münster',
       'Helmstedt', 'Krefeld', 'Rastatt', 'Detmold', 'Weinstadt',
       'Friedrichshafen', 'Wächtersbach', 'Weißenburg in Bayern',
       'Solingen', 'Worms', 'Schlangen', 'Schwarzenberg', 'Ludwigsburg',
       'Büchen', 'Remscheid', 'Kulmbach', 'Burghausen', 'Meinerzhagen',
       'Torgau', 'Coesfeld', 'Hartmannsdorf', 'Adelschlag', 'Eisenberg',
       'Kehl', 'Delbrück', 'Kempten', 'Marburg', 'Oranienburg', 'Siegen',
       'Castrop-Rauxel', 'Kalkar', 'Würzburg', 'Molsberg', 'Rust',
       'Bad Hersfeld', 'Südlohn', 'Erfurt', 'Wiesenttal', 'Altenstadt',
       'Sankt Leon-Rot', 'Friedrichsdorf', 'Heinsberg', 'Passau',
       'Darmstadt', 'Ruhla', 'Bad Nauheim', 'Bärnau', 'Erftstadt',
       'Arnsberg', 'Pullach im Isartal', 'Gelnhausen',
       'Liederbach am Taunus', 'Gröditz', 'Trier', 'Buxtehude', 'Uelzen',
       'Aldenhoven', 'Lutherstadt Wittenberg', 'Friedenweiler',
       'Witzeeze', 'Neuss', 'Pforzheim', 'Königswinter', 'Northeim',
       'Rohrdorf', 'Filderstadt', 'Übelbach', 'Fürth', 'Kerpen',
       'Warszawa', 'Markdorf', 'Piatek', 'Hannover',
       'Mülheim an der Ruhr', 'Erkner', 'Monschau', 'Bad Segeberg',
       'Lauf an der Pegnitz', 'Oberasbach', 'Naumburg', 'Wandlitz',
       'Witten', 'Obernheim', 'Wilhelmshaven', 'Heimbuchenthal',
       'Weiterstadt', 'Braunfels', 'Salzwedel', 'Rechitsa', 'Freiburg',
       'Regensburg', 'Leer', 'Höhenkirchen-Siegertsbrunn', 'Coburg',
       'Wolfenbüttel', 'Niederorschel', 'Vierden', 'Ostbevern',
       'Bad Pyrmont', 'Stelle', 'Wadgassen', 'Leingarten', 'Obermarchtal',
       'Güglingen', 'Linz', 'Sankt Ingbert', 'Staufen im Breisgau',
       'Baku', 'Erlensee', 'Erkrath', 'Kornwestheim', 'Wiesbaden',
       'Leutershausen', 'Rees', 'Schwerin', 'Słupsk', 'Reutlingen',
       'Hamm', 'Köln', 'Gdańsk', 'Allendorf', 'Gladenbach', 'Euskirchen',
       'Gerlingen', 'Lübeck', 'Büren', 'Ganderkesee', 'Ohrdruf',
       'Beverungen', 'Oldenburg', 'Usingen', 'Geilenkirchen',
       'Leichlingen', 'Veldenz', 'Duschanbe', 'Ahad Al Masarihah',
       'Werder', 'Morsbach', 'Herdecke', 'Gießen', 'Seevetal',
       'Korschenbroich', 'Stendal', 'Teublitz', 'Meerbusch',
       'Obergünzburg', 'Eggolsheim', 'Limbach-Oberfrohna', 'Kraichtal',
       'Rathenow', 'Śrem', 'Mülheim-Kärlich', 'Babenhausen', 'Heidenheim',
       'Rotterdam', 'Cremlingen', 'Hörstel', 'Rinteln', 'Gütersloh',
       'Röttingen', 'Bayreuth', 'Ajman', 'Hagen', 'Rötgesbüttel',
       'Parchim', 'Emsdetten', 'Randersacker', 'Erding',
       'Kressbronn am Bodensee', 'Essing', 'Nesselwang', 'Braunschweig',
       'Zoetermeer', 'Karlsfeld', 'Nuenchritz', 'Obergriesbach',
       'Karlsruhe', 'Paderborn', 'Remchingen', 'Großrosseln',
       'Neuhemsbach', 'Nebra (Unstrut)', 'Herford', 'Lubrza', 'Kalanchak',
       'Piotrków Trybunalski', 'Neumünster', 'Hennef', 'Wörthsee',
       'Monheim am Rhein', 'Klasztorna', 'Taraz', 'Troisdorf',
       'Henstedt-Ulzburg', 'Achberg', 'Bialystok', 'Königsmoos',
       'Warburg', 'Stade', 'Großbreitenbach', 'Bad Driburg', 'Sollstedt',
       'Esslingen am Neckar', 'Cloppenburg', 'Landshut', 'Karstädt',
       'Steinfurt', 'Tatabanya', 'Gerolstein', 'Astana',
       'Dabrowa Gornicza', 'Schwanewede', 'Glendale', 'Hückelhoven',
       'Cheremkhovo', 'Schwarzheide', 'Böhlen', 'Pleinfeld',
       'Hettenshausen', 'Bünde', 'Sankt Georgen im Schwarzwald',
       'Lichtenfels', 'Fulda', 'Riesa', 'Löbau', 'Waren', 'Hameln',
       'Aichwald', 'Eppelheim', 'Bad Berleburg', 'Aalen', 'Minsk',
       'Oberding', 'Wermelskirchen', 'Jindrichuv Hradec', 'Trossingen',
       'Stein', 'Nizhny Novgorod', 'Murom', 'Bad Wörishofen',
       'Twistringen', 'Langenselbold', 'Alsfeld', 'Limeshain',
       'Helmstidde', 'Schwalbach', 'Alfeld', 'Mainz-Kastel', 'Forchheim',
       'Altenkirchen', 'Velden', 'Alzenau in Unterfranken', 'Bühl',
       'Bad Tölz', 'Schkeuditz', 'Poing', 'Tuttlingen', 'Semej',
       'Cuxhaven', 'Kirchlauter', 'Speyer', 'Untersiemau', 'Słubice',
       'Pfalzgrafenweiler', 'Wetzlar', 'Reichenau', 'Scharbeutz',
       'Kirchheim', 'Blankenfelde', 'Güstrow', 'Frechen', 'Vechta',
       'Leuna', 'Coswig', 'Kisslegg', 'Ebern', 'Weilheim in Oberbayern',
       'Engen', 'Lippstadt', 'Konstanz', 'Saarbrücken', 'Aichach',
       'Heilbronn', 'Sandersdorf', 'Luckenwalde', 'Inchenhofen', 'Amberg',
       'Oberhausen', 'Waiblingen', 'Appen', 'Chambon-sur-Lignon',
       'Nettetal', 'Kirchlinteln', 'Ottobrunn', 'Koblenz', 'Kusel',
       'Massenbachhausen', 'Rangsdorf', 'Hildesheim', 'Heidelberg',
       'Senden', 'Borna', 'Bad Saulgau', 'Cham', 'Herne', 'Lenningen',
       'Niederstetten', 'Olpe', 'Heinersreuth', 'Speichersdorf',
       'Potsdam', 'Bergisch Gladbach', 'Weingarten',
       'Brandenburg an der Havel', 'Lengerich', 'Poppenhausen',
       'Villingen-Schwenningen', 'Friesoythe', 'Lingen', 'Jena',
       'Griepswohld', 'Garrel', 'Herbrechtingen', 'Binzen', 'Friedberg',
       'Wuppertal', 'Ulm', 'Markgröningen', 'Dinslaken', 'Ravensburg',
       'Geyer', 'Ilmenau', 'Freital', 'Engelsbrand', 'Planegg',
       'Zwingenberg', 'Abensberg', 'Weinähr', 'Wiefelstede', 'Fritzlar',
       'Rheda-Wiedenbrück', 'Rudolstadt', 'Neunkirchen-Seelscheid',
       'Tittmoning', 'Kamen', 'Haimhausen', 'Weißwasser', 'Triberg',
       'Herrsching am Ammersee', 'Oberndorf am Neckar', 'Schwäbisch Hall',
       'Tashkent', 'Bad Windsheim', 'Selm', 'Arnstadt', 'Neu-Isenburg',
       'Buttstädt', 'Kaltenkirchen', 'Neuenkirchen', 'Eystrup', 'Kirn',
       'Neunkirchen', 'Buchholz', 'Mittweida', 'Altötting',
       'Saint Petersburg', 'Bad Emstal', 'Mandelbachtal', 'Riga',
       'Nünchritz', 'Oelde', 'Bergheim', 'London', 'Mainz-Kostheim',
       'Niedenstein', 'Kaliningrad', 'Hilchenbach', 'Neu Wulmstorf',
       'Bielefeld', 'Zorneding', 'Eggenstein-Leopoldshafen', 'Floß',
       'Rosengarten', 'Schwaig', 'Bingen', 'Tettnang', 'Wismar', 'Ahaus',
       'Eppelborn', 'Dörverden', 'Bat yam', 'Rodewisch', 'Schrozberg',
       'Hoyerswerda', 'Aschersleben', 'Teterow', 'Gera', 'Backnang',
       'Kamenskoe', 'Kirchlengern', 'Delitzsch', 'Walldorf',
       'Königstein im Taunus', 'Brühl', 'Neubrandenburg', 'Viernheim',
       'Fernwald', 'Hösbach', 'Kemnath', 'Neumarkt in der Oberpfalz',
       'Kamenz', 'Hattgenstein', 'Neukirchen-Vluyn', 'Wolnzach',
       'Hofkirchen', 'Moscow', 'Nastätten', 'Zerbst', 'Grafenau',
       'Albstadt', 'Postbauer-Heng', 'Neutraubling', 'Meinersen',
       'Espenau', 'Grevenbroich', 'Deggendorf', 'Niedereschach',
       'Donauwörth', 'Haldensleben', 'Illingen', 'Norderney', 'Itzehoe',
       'Münchhausen', 'Oberrot', 'Weilheim', 'Marsberg', 'Beckingen',
       'Lemgo', 'Werlte', 'Pfaffenhofen', 'Waldenburg',
       'Schieder-Schwalenberg', 'Nordhausen', 'Dormagen', 'Dußlingen',
       'Ottersweier', 'Voerde', 'Forst', 'Seesen', 'Baesweiler', 'Nagold',
       'Kleinostheim', 'Löningen', 'Unterschneidheim', 'Sand am Main',
       'Wangen im Allgäu', 'Maasbree', 'Homburg', 'Bad Abbach', 'Lotte',
       'Birkenfeld', 'Phuket', 'Almaty', 'Ingolstadt', 'Böblingen',
       'Adelebsen', 'Sigmarszell', 'Neuhäusel', 'Lehre', 'Herzogenaurach',
       'Mömlingen', 'Willich', 'Dettelbach', 'Michelstadt', 'Niesky',
       'Neuwied', 'Freren', 'Nienburg/Weser', 'Heimbach', 'Euerbach',
       'Waldkraiburg', 'Saarlouis', 'Litzendorf', 'Fröndenberg',
       'Überlingen', 'Bad Soden am Taunus', 'Lauf', 'Anklam', 'Eislingen',
       'Hachenburg', 'Pfinztal', 'Szczecin', 'Leutkirch im Allgäu',
       'Neusäß', 'Mühlhausen', 'Annaberg-Buchholz', 'Blumberg',
       'Retzstadt', 'Kolbermoor', 'Donaueschingen', 'Gdynia', 'Rendsburg',
       'Namur', 'Dingolfing', 'Dinkelscherben', 'Neuburg an der Donau',
       'Halle (Saale)', 'Sundern', 'Tübingen', 'Sexau',
       'Vaihingen an der Enz', 'Steinbach', 'Imsbach', 'Harsewinkel',
       'Bad Feilnbach', 'Marne', 'Hückeswagen', 'Kappelrodeck',
       'Ehrensberg', 'Dettenhausen', 'Wittstock', 'Vellberg',
       'Bad Vilbel', 'Kluse', 'Hockenheim', 'Runkel', 'Włodawa',
       'Kelkheim', 'Viereth-Trunstadt', 'Nellingen', 'Fürstenfeldbruck',
       'Glandorf', 'Nisterberg', 'Landsberg am Lech', 'Bamberg',
       'Kernen im Remstal', 'Nottuln', 'Hechingen', 'Marktredwitz',
       'Beilstein', 'Heusweiler', 'Aidlingen', 'Elze', 'Borken', 'Bernau',
       'Pyrbaum', 'Niederstotzingen', 'Porta Westfalica', 'Wülfrath',
       'Volgodonsk', 'Müllrose', 'Burg', 'Hüttisheim', 'Königslutter',
       'Melsungen', 'Bitterfeld-Wolfen', 'Uhldingen-Mühlhofen',
       'Grafenhausen', 'Freudenstadt', 'Mengerskirchen', 'Heppenheim',
       'Nürtingen', 'Rothenburg ob der Tauber', 'Sasbach', 'Malchin',
       'Schmölln', 'Lengenfeld', 'Miesbach', 'Holzminden', 'Gröbenzell',
       'Mettmann', 'Eching', 'Manching', 'Karben', 'Mainaschaff',
       'Baden-Baden', 'Dubai', 'Miltenberg', 'Wetter', 'Garbsen',
       'Kirchheim bei München', 'Prenzlau', 'Odelzhausen', 'Urbach',
       'Schönwald', 'Altlandsberg', 'Hopfen am See', 'Schwäbisch Gmünd',
       'Boppard', 'Wertheim', 'Sindelfingen', 'Pirmasens',
       'Rosbach vor der Höhe', 'Neuenrade', 'Hagenow', 'Kaufbeuren',
       'Osterhofen', 'Rotenburg an der Fulda', 'Hofheim am Taunus',
       'Krumbach', 'Bretten', 'Langenbach', 'Stadecken-Elsheim',
       'Oerlinghausen', 'Göttingen', 'Lampertheim',
       'Steinau an der Straße', 'Wolfhagen', 'Plauen', 'Sulzbach',
       'Herzberg', 'Biberach', 'Schmallenberg', 'Gelsenkirchen', 'Verden',
       'Salzgitter', 'Furtwangen', 'Isernhagen',
       'Schonach im Schwarzwald', 'Kobyłka', 'Erkelenz', 'Heide',
       'Mainbernheim', 'Bopfingen', 'Bremerhaven', 'Ampfing',
       'Hohenberg an der Eger', 'Leopoldshöhe', 'Bergneustadt',
       'Offenbach', 'Hennigsdorf', 'Schliersee', 'Gaildorf',
       'Bad Gottleuba-Berggießhübel', 'Kitzingen', 'Lennestadt',
       'Weinsberg', 'Kaiserslautern', 'Plön', 'Wittendörp', 'Konz',
       'Landau in der Pfalz', 'Nordenham', 'Raschau-Markersbach',
       'Wirges', 'Lörrach', 'Öhringen', 'Zetel', 'Weimar', 'Bobingen',
       'Wemding', 'Sankt Augustin', 'Haselünne', 'Maikammer',
       'Oberkochen', 'Siegburg', 'Greven', 'Birstein', 'Altenburg',
       'Brakel', 'Pinneberg', 'Ladenburg', 'Bad Schwalbach', 'Mahlberg',
       'Leverkusen', 'Pavlograd', 'Mühldorf', 'Starnberg', 'Meißenheim',
       'Rommerskirchen', 'Lychen', 'Zella-Mehlis', 'Lutherstadt Eisleben',
       'Eiterfeld', 'Neustadt-Glewe', 'Finnentrop', 'Thalmassing',
       'Przesław', 'Ahrensburg', 'Bad Hindelang', 'Bad Blankenburg',
       'Germersheim', 'Montabaur', 'Bürstadt', 'Hasbergen', 'Bad Ems',
       'Bad Essen', 'Norden', 'Heiligenhaus', 'Mutlangen',
       'Edingen-Neckarhausen', 'Sonneberg', 'Recklinghausen',
       'Delmenhorst', 'Freising', 'Peine', 'Altshausen', 'Baiersbronn',
       'Lüdenscheid', 'Alsbach-Hähnlein', 'Schenefeld', 'Hallbergmoos',
       'Burbach', 'Waldkirch', 'Stuhr', 'Bad Wildungen', 'Warendorf',
       'Winhöring', 'Erlangen', 'Pößneck', 'Tengen', 'Saalfeld',
       'Olching', 'Berchtesgaden', 'Lage', 'Freigericht',
       'Bad Friedrichshall', 'Reichenbach', 'Causeni', 'Bruchköbel',
       'Schwepnitz', 'Quickborn', 'Radebeul', 'Korbach',
       'Landau an der Isar', 'Emden', 'Eisenbach (Hochschwarzwald)',
       'Hohenstein', 'Duderstadt', 'Chuguev', 'Lindau (Bodensee)',
       'Bad Hönningen', 'Senftenberg', 'Günzburg', 'Malschwitz',
       'Tutzing', 'Blankenburg', 'Eschenburg', 'Netphen', 'Apen',
       'Kharkiv', 'Wittmund', 'Novorossiysk', 'Jördenstorf', 'Werne',
       'Melle', 'Lüneburg', 'Bruck', 'Prostejov', 'Wenden', 'Belgrade',
       'Alamudun', 'Bad Gandersheim', 'Braubach', 'Geldern', 'Bassum',
       'Brake'], dtype=object)

In [ ]:
# city_replace = {
#     "München": "Munich",
#     "Köln": "Cologne",
#     "Nürnberg": "Nuremberg",
#     "Düsseldorf": "Dusseldorf",
#     "Frankfurt am Main": "Frankfurt",
#     "Frankfurt a.M.": "Frankfurt",
#     "Frankfurt/Main": "Frankfurt",
#     "Hannover": "Hanover",
#     "Freiburg im Breisgau": "Freiburg",
#     "Braunschweig": "Brunswick",
#     "Saarbrücken": "Saarbruecken",

#     # Австрия
#     "Wien": "Vienna",

#     # Швейцария
#     "Zürich": "Zurich",
#     "Zuerich": "Zurich",
#     "Genf": "Geneva",
#     "Luzern": "Lucerne",
#     "St. Gallen": "St. Gallen",
#     "Winterthur": "Winterthur",
#     "Biel": "Biel/Bienne"
# }

# deals_df_v3['City Normalized'] = deals_df_v3['City'].replace(city_replace)

## Level of Deutsch

In [14]:
deals_df_v3['Level of Deutsch'].nunique()

212

In [15]:
deals_df_v3['Level of Deutsch'].value_counts(dropna=True)

Level of Deutsch
B1                                                      219
б1                                                      118
в1                                                      100
b1                                                       93
Б1                                                       93
                                                       ...
точно уровень не знаю, но говорить могу - учила сама      1
А2-В1 учит                                                1
В1 (учится на В2 уже)                                     1
В январе - В2 сдает                                       1
b1 должна получить результаты в феврале                   1
Name: count, Length: 212, dtype: int64

In [16]:
deals_df_v3['Level of Deutsch'].isna().sum()

np.int64(20183)

In [17]:
deals_df_v3['Level of Deutsch Cleaned'] = deals_df_v3['Level of Deutsch'].apply(
    lambda x: x.strip().upper() if isinstance(x, str) else x
)
deals_df_v3['Level of Deutsch Cleaned'].value_counts(dropna=True)

Level of Deutsch Cleaned
B1                                                      312
Б1                                                      211
В1                                                      163
А2                                                       85
B2                                                       64
                                                       ...
ТОЧНО УРОВЕНЬ НЕ ЗНАЮ, НО ГОВОРИТЬ МОГУ - УЧИЛА САМА      1
А2-В1 УЧИТ                                                1
В1 (УЧИТСЯ НА В2 УЖЕ)                                     1
В ЯНВАРЕ - В2 СДАЕТ                                       1
B1 ДОЛЖНА ПОЛУЧИТЬ РЕЗУЛЬТАТЫ В ФЕВРАЛЕ                   1
Name: count, Length: 193, dtype: int64

In [18]:
deals_df_v3['Level of Deutsch Cleaned'].isna().sum()

np.int64(20183)

In [19]:
deals_df_v3['Level of Deutsch Cleaned'].nunique()

193

In [20]:
# Регулярное выражение для поиска уровней
level_pattern = r'([A-C][1-2]|[А-Я][1-2])(?:-([A-C][1-2]|[А-Я][1-2]))?'

# Словарь для перевода уровней на английский
level_translation = {
    'A0': 'A0',
    'A1': 'A1',
    'A2': 'A2',
    'B1': 'B1',
    'B2': 'B2',
    'C1': 'C1',
    'C2': 'C2',
    'А1': 'A1',
    'А1': 'A1',
    'А2': 'A2',
    'Б1': 'B1',
    'Б2': 'B2',
    'Ц1': 'C1',
    'Ц2': 'C2',
}

# Регулярное выражение для поиска уровней
# Учитываем как латиницу, так и кириллицу, а также комбинации уровней типа 'A2-B1'
level_pattern = r'([A-C][0-2]|[А-Я][0-2])(?:-([A-C][0-2]|[А-Я][0-2]))?'

#нормализация кириллических букв
def normalize_cyrillic(text):
    return (str(text)
        .replace('А', 'A')
        .replace('В', 'B')
        .replace('С', 'C')
        .replace('Б', 'B')
        .replace('Ц', 'C'))

    
# Функция для извлечения уровня и перевода
def extract_level(text):
    text = normalize_cyrillic(str(text).upper())  # сначала нормализуем
    match = re.search(level_pattern, text)
    if match:
        if match.group(2):
            return level_translation.get(match.group(1), match.group(1)) + '-' + level_translation.get(match.group(2), match.group(2))
        else:
            return level_translation.get(match.group(1), match.group(1))
    return None

In [21]:
# Применяем функцию к колонке 'Level of Deutsch'
deals_df_v3['Level of Deutsch Cleaned'] = deals_df_v3['Level of Deutsch Cleaned'].apply(normalize_cyrillic).apply(extract_level)

In [22]:
deals_df_v3['Level of Deutsch Cleaned'].value_counts(dropna=True)

Level of Deutsch Cleaned
B1       783
B2       165
A2       136
B1-B2     34
C1        27
A1        21
A2-B1     13
A0         5
A1-A2      4
B2-C1      4
C2         3
B2-C2      2
A0-A1      1
Name: count, dtype: int64

In [23]:
deals_df_v3['Level of Deutsch Cleaned'].nunique()

13

In [24]:
deals_df_v3[deals_df_v3['Id']== '5805028000055337926']

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff,Level of Deutsch Cleaned
517,5805028000055337926,Eva Kent,NaT,D - Non Target,Waiting For Payment,NaN,/eng/test,brand_search_eng_DE,0 days 10:22:18,152789402780_{region_name}_668024583824,it%20career%20hub,Google Ads,NaN,UX/UI Design,Morning,2024-06-15 01:15:00,11,<NA>,1000.0,11000.0,5805028000055329808,Hildburghausen,b1,2024-06-15,NaN,B1

In [25]:
deals_df_v3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21411 entries, 0 to 21410
Data columns (total 26 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        21411 non-null  object
 1   Deal Owner Name           21382 non-null  object
 2   Closing Date              16685 non-null  datetime64[ns]
 3   Quality                   21411 non-null  category
 4   Stage                     21411 non-null  category
 5   Lost Reason               15942 non-null  category
 6   Page                      20342 non-null  object
 7   Campaign                  16006 non-null  object
 8   SLA                       15504 non-null  timedelta64[ns]
 9   Content                   14101 non-null  object
 10  Term                      12387 non-null  object
 11  Source                    21411 non-null  category
 12  Payment Type              496 non-null    category
 13  Product                   3592 non-null   category
 14  Education Type            3299 non-null   category
 15  Created Time              21411 non-null  datetime64[ns]
 16  Course duration           3587 non-null   category
 17  Months of study           840 non-null    Int64
 18  Initial Amount Paid       4155 non-null   float64
 19  Offer Total Amount        4175 non-null   float64
 20  Contact Name              21350 non-null  object
 21  City                      2163 non-null   object
 22  Level of Deutsch          1228 non-null   object
 23  Created Date              21411 non-null  datetime64[ns]
 24  Date Diff                 14495 non-null  float64
 25  Level of Deutsch Cleaned  1198 non-null   object
dtypes: Int64(1), category(8), datetime64[ns](3), float64(3), object(10), timedelta64[ns](1)
memory usage: 3.1+ MB

In [26]:
# До заполнения
missing_before = deals_df_v3[['City', 'Level of Deutsch Cleaned']].isna().sum()
missing_before

City                        19248
Level of Deutsch Cleaned    20213
dtype: int64

In [27]:
# 1. Найдём дубликаты Contact Name (встречаются больше одного раза)
duplicate_ids = deals_df_v3['Contact Name'].value_counts()
duplicate_ids = duplicate_ids[duplicate_ids > 1].index

# 2. Отфильтруем строки, где Contact Name в списке дубликатов и оба поля не пустые
filtered_df = deals_df_v3[
    deals_df_v3['Contact Name'].isin(duplicate_ids) &
    deals_df_v3['City'].notna() &
    deals_df_v3['Level of Deutsch Cleaned'].notna()
].copy()

# Посмотрим результат
filtered_df

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff,Level of Deutsch Cleaned
334,5805028000055845510,Ulysses Adams,NaT,C - Low,Waiting For Payment,NaN,/eng,youtube_shorts_DE,0 days 00:10:45,bloggersvideo1june,Com_august,Youtube Ads,NaN,Digital Marketing,Morning,2024-06-17 15:19:00,11,<NA>,1000.0,11000.0,5805028000013860161,Gommern,в1-в2,2024-06-17,NaN,B1-B2
803,5805028000054755129,Paula Underwood,2024-06-19,C - Low,Waiting For Payment,NaN,/webinar,webinar1906,7 days 08:29:07,NaN,invitation,Webinar,NaN,Web Developer,Morning,2024-06-12 08:13:00,6,<NA>,1000.0,9000.0,5805028000024183526,Düren,б1,2024-06-12,7.0,B1
804,5805028000054758046,Eva Kent,2024-06-12,B - Medium,Lost,Stopped Answering,/email,1406start,0 days 03:25:32,NaN,NaN,CRM,NaN,Digital Marketing,Morning,2024-06-12 07:38:00,11,<NA>,1000.0,11000.0,5805028000030074915,Düsseldorf,b1,2024-06-12,NaN,B1
1029,5805028000054257317,Quincy Vincent,2024-06-17,B - Medium,Payment Done,NaN,/eng,02.07.23wide_DE,0 days 00:45:55,bloggersvideo16com,wide,Facebook Ads,NaN,Digital Marketing,Morning,2024-06-10 15:33:00,11,1,1000.0,11000.0,5805028000054284461,Leinfelden-Echterdingen,B1,2024-06-10,7.0,B1
1109,5805028000054231507,Eva Kent,2024-06-18,B - Medium,Payment Done,NaN,/eng,NaN,0 days 03:44:24,NaN,NaN,Organic,NaN,UX/UI Design,Morning,2024-06-10 09:00:00,11,1,1000.0,11000.0,5805028000054106087,Bochum,b1,2024-06-10,NaN,B1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20152,5805028000004920001,Charlie Davis,2023-09-13,C - Low,Payment Done,Next stream,/eng,NaN,0 days 00:48:38,NaN,NaN,SMM,NaN,Digital Marketing,Morning,2023-08-17 10:47:00,11,11,1000.0,11500.0,5805028000004910006,Haldensleben,Б1,2023-08-17,27.0,B1
20258,5805028000004603773,Julia Nelson,2024-06-14,C - Low,Payment Done,Doesn't Answer,eng/digital-marketing,03.07.23women,0 days 09:26:01,bloggersvideo1com,women,Facebook Ads,One Payment,Digital Marketing,Morning,2023-08-14 01:12:00,11,11,1000.0,11000.0,5805028000004561698,Mettmann,b1,2023-08-14,305.0,B1
20610,5805028000003571464,Ulysses Adams,2023-08-02,A - High,Lost,Stopped Answering,eng/digital-marketing,15.07.23b_DE,0 days 00:49:58,b2com,b,Facebook Ads,NaN,Digital Marketing,Morning,2023-08-02 14:03:00,11,<NA>,1000.0,11000.0,5805028000003554473,Hagen,В январе - В2 сдает,2023-08-02,NaN,B2
20664,5805028000003461836,Jane Smith,2023-11-15,B - Medium,Payment Done,NaN,eng/digital-marketing,03.07.23women,0 days 00:09:10,b3,women,Facebook Ads,NaN,Digital Marketing,Morning,2023-07-31 19:33:00,11,11,1000.0,11500.0,5805028000003456878,Düsseldorf,B2,2023-07-31,107.0,B2
20890,5805028000002926478,Julia Nelson,2023-10-16,C - Low,Lost,Next stream,eng/digital-marketing,work_DE,0 days 00:26:51,b3com,19_07_2023,Telegram posts,NaN,Digital Marketing,Morning,2023-07-24 11:22:00,11,<NA>,1000.0,11000.0,5805028000002895508,Hamburg,b1,2023-07-24,84.0,B1

In [28]:
deals_df_v3[deals_df_v3['Contact Name']== '5805028000002895508']

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff,Level of Deutsch Cleaned
11878,5805028000027446849,Julia Nelson,2024-01-21,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,NaN,0 days 00:24:32,NaN,NaN,CRM,NaN,NaN,NaN,2024-01-21 17:57:00,NaN,<NA>,NaN,NaN,5805028000002895508,NaN,NaN,2024-01-21,0.0,None
20890,5805028000002926478,Julia Nelson,2023-10-16,C - Low,Lost,Next stream,eng/digital-marketing,work_DE,0 days 00:26:51,b3com,19_07_2023,Telegram posts,NaN,Digital Marketing,Morning,2023-07-24 11:22:00,11,<NA>,1000.0,11000.0,5805028000002895508,Hamburg,b1,2023-07-24,84.0,B1

In [29]:
print(deals_df_v3._is_copy)

None

In [30]:
deals_df_v3[deals_df_v3['Contact Name']== '5805028000013860161']

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff,Level of Deutsch Cleaned
154,5805028000056187569,Ulysses Adams,NaT,B - Medium,Registered on Webinar,NaN,/webinar,webinar1906,NaT,NaN,invitation,CRM,NaN,NaN,NaN,2024-06-18 16:41:00,NaN,<NA>,NaN,NaN,5805028000013860161,NaN,NaN,2024-06-18,NaN,None
334,5805028000055845510,Ulysses Adams,NaT,C - Low,Waiting For Payment,NaN,/eng,youtube_shorts_DE,0 days 00:10:45,bloggersvideo1june,Com_august,Youtube Ads,NaN,Digital Marketing,Morning,2024-06-17 15:19:00,11,<NA>,1000.0,11000.0,5805028000013860161,Gommern,в1-в2,2024-06-17,NaN,B1-B2
17229,5805028000013846226,Ulysses Adams,2023-10-27,C - Low,Lost,needs time to think,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,0 days 01:48:42,_{region_name}_,NaN,Google Ads,NaN,NaN,NaN,2023-10-26 12:37:00,NaN,<NA>,NaN,NaN,5805028000013860161,NaN,NaN,2023-10-26,1.0,None

In [31]:
# Заполняем пропущенные значения на основе других строк с таким же Contact Name
deals_df_v3['City'] = deals_df_v3.groupby('Contact Name')['City'].transform(lambda x: x.ffill().bfill()).infer_objects(copy=False)
deals_df_v3['Level of Deutsch Cleaned'] = deals_df_v3.groupby('Contact Name')['Level of Deutsch Cleaned'].transform(lambda x: x.ffill().bfill()).infer_objects(copy=False)

C:\Users\user\AppData\Local\Temp\ipykernel_5872\1796359762.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  deals_df_v3['City'] = deals_df_v3.groupby('Contact Name')['City'].transform(lambda x: x.ffill().bfill()).infer_objects(copy=False)

In [32]:
# Если всё работает корректно, то оба принта ничего не выведут. Если где-то есть несовпадения — увидим, у каких Contact Name это произошло.
# Проверка: у каждого Contact Name должно быть только одно уникальное значение в этих колонках
check_city = deals_df_v3.groupby('Contact Name')['City'].nunique()
check_deutsch = deals_df_v3.groupby('Contact Name')['Level of Deutsch Cleaned'].nunique()

# Выводим только те, где есть проблема (больше 1 уникального значения — это ошибка)
print("Проблемы с 'City':")
print(check_city[check_city > 1])

print("\nПроблемы с 'Level of Deutsch Cleaned':")
print(check_deutsch[check_deutsch > 1])

Проблемы с 'City':
Contact Name
5805028000018547198    2
5805028000018952496    2
Name: City, dtype: int64

Проблемы с 'Level of Deutsch Cleaned':
Series([], Name: Level of Deutsch Cleaned, dtype: int64)

In [33]:
deals_df_v3[deals_df_v3['Contact Name']== '5805028000018547198']

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff,Level of Deutsch Cleaned
5583,5805028000043391490,Paula Underwood,2024-04-24,E - Non Qualified,Lost,Doesn't Answer,/webinar,webinar1604,NaT,NaN,invitation,Webinar,NaN,NaN,NaN,2024-04-12 08:14:00,NaN,<NA>,NaN,NaN,5805028000018547198,Nuenchritz,NaN,2024-04-12,12.0,None
10815,5805028000029953462,Paula Underwood,2024-03-12,A - High,Lost,Stopped Answering,/eng,NaN,1 days 02:01:46,120202615685650341,120202614050220341,Organic,NaN,Digital Marketing,Morning,2024-02-03 14:45:00,11,<NA>,1000.0,11000.0,5805028000018547198,Nünchritz,NaN,2024-02-03,38.0,None
15335,5805028000018602153,Paula Underwood,2023-12-07,E - Non Qualified,Lost,Doesn't Answer,eng/digital-marketing,04.07.23recentlymoved_DE,0 days 21:00:50,bloggersvideo4com,recentlymoved,Facebook Ads,NaN,NaN,NaN,2023-11-23 17:58:00,NaN,<NA>,NaN,NaN,5805028000018547198,Nünchritz,NaN,2023-11-23,14.0,None
21361,5805028000043398470,Paula Underwood,2024-04-16,D - Non Target,Lost,Duplicate,/specialoffer,web8_DE,NaT,NaN,NaN,Webinar,NaN,NaN,NaN,2024-04-12 08:15:00,NaN,<NA>,NaN,NaN,5805028000018547198,Nünchritz,NaN,2024-04-12,4.0,None

In [34]:
deals_df_v3[deals_df_v3['Contact Name']== '5805028000018952496']

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff,Level of Deutsch Cleaned
11716,5805028000027926021,Charlie Davis,2024-01-24,B - Medium,Payment Done,NaN,/eng/test,02.07.23wide_DE,1 days 00:51:41,bloggersvideo3com,wide,Facebook Ads,Recurring Payments,UX/UI Design,Morning,2024-01-23 15:32:00,11,6,200.0,2500.0,5805028000018952496,Hofkirchen,NaN,2024-01-23,1.0,A2
15170,5805028000018990428,Charlie Davis,2024-01-25,D - Non Target,Lost,Gutstein refusal,/eng/test,02.07.23wide_DE,0 days 00:18:45,bloggersvideo3com,wide,Facebook Ads,NaN,UX/UI Design,Morning,2023-11-28 19:03:00,11,<NA>,1000.0,11000.0,5805028000018952496,Passau,А2,2023-11-28,58.0,A2

In [35]:
deals_df_v3[deals_df_v3['Contact Name']== '5805028000013860161']

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff,Level of Deutsch Cleaned
154,5805028000056187569,Ulysses Adams,NaT,B - Medium,Registered on Webinar,NaN,/webinar,webinar1906,NaT,NaN,invitation,CRM,NaN,NaN,NaN,2024-06-18 16:41:00,NaN,<NA>,NaN,NaN,5805028000013860161,Gommern,NaN,2024-06-18,NaN,B1-B2
334,5805028000055845510,Ulysses Adams,NaT,C - Low,Waiting For Payment,NaN,/eng,youtube_shorts_DE,0 days 00:10:45,bloggersvideo1june,Com_august,Youtube Ads,NaN,Digital Marketing,Morning,2024-06-17 15:19:00,11,<NA>,1000.0,11000.0,5805028000013860161,Gommern,в1-в2,2024-06-17,NaN,B1-B2
17229,5805028000013846226,Ulysses Adams,2023-10-27,C - Low,Lost,needs time to think,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,0 days 01:48:42,_{region_name}_,NaN,Google Ads,NaN,NaN,NaN,2023-10-26 12:37:00,NaN,<NA>,NaN,NaN,5805028000013860161,Gommern,NaN,2023-10-26,1.0,B1-B2

In [36]:
deals_df_v3[deals_df_v3['Contact Name']== '5805028000002895508']

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff,Level of Deutsch Cleaned
11878,5805028000027446849,Julia Nelson,2024-01-21,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,NaN,0 days 00:24:32,NaN,NaN,CRM,NaN,NaN,NaN,2024-01-21 17:57:00,NaN,<NA>,NaN,NaN,5805028000002895508,Hamburg,NaN,2024-01-21,0.0,B1
20890,5805028000002926478,Julia Nelson,2023-10-16,C - Low,Lost,Next stream,eng/digital-marketing,work_DE,0 days 00:26:51,b3com,19_07_2023,Telegram posts,NaN,Digital Marketing,Morning,2023-07-24 11:22:00,11,<NA>,1000.0,11000.0,5805028000002895508,Hamburg,b1,2023-07-24,84.0,B1

In [37]:
# 1. Найдём дубликаты Contact Name (встречаются больше одного раза)
duplicate_ids = deals_df_v3['Contact Name'].value_counts()
duplicate_ids = duplicate_ids[duplicate_ids > 1].index

# 2. Отфильтруем строки, где Contact Name в списке дубликатов и оба поля не пустые
filtered_df = deals_df_v3[
    deals_df_v3['Contact Name'].isin(duplicate_ids) &
    deals_df_v3['City'].notna() &
    deals_df_v3['Level of Deutsch Cleaned'].notna()
].copy()

# Посмотрим результат
filtered_df

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff,Level of Deutsch Cleaned
53,5805028000056568397,Paula Underwood,NaT,B - Medium,Registered on Webinar,NaN,/webinar,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-20 12:17:00,NaN,<NA>,NaN,NaN,5805028000020664131,Prenzlau,NaN,2024-06-20,NaN,B1
85,5805028000056378468,Ulysses Adams,NaT,B - Medium,Registered on Webinar,NaN,/webinar,webinar1906,NaT,NaN,invitation,CRM,NaN,NaN,NaN,2024-06-19 14:53:00,NaN,<NA>,NaN,NaN,5805028000027735302,Berlin,NaN,2024-06-19,NaN,B2
133,5805028000056197613,Julia Nelson,NaT,B - Medium,Registered on Webinar,NaN,/webinar,webinar1906,NaT,NaN,invitation,CRM,NaN,NaN,NaN,2024-06-18 18:11:00,NaN,<NA>,NaN,NaN,5805028000012569171,Sonneberg,NaN,2024-06-18,NaN,B1
143,5805028000056174908,Quincy Vincent,NaT,B - Medium,Registered on Webinar,NaN,/webinar,webinar1906,NaT,NaN,invitation,CRM,NaN,NaN,NaN,2024-06-18 17:17:00,NaN,<NA>,NaN,NaN,5805028000031340270,Düsseldorf,NaN,2024-06-18,NaN,B1
154,5805028000056187569,Ulysses Adams,NaT,B - Medium,Registered on Webinar,NaN,/webinar,webinar1906,NaT,NaN,invitation,CRM,NaN,NaN,NaN,2024-06-18 16:41:00,NaN,<NA>,NaN,NaN,5805028000013860161,Gommern,NaN,2024-06-18,NaN,B1-B2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21376,5805028000024632568,Julia Nelson,2024-01-08,E - Non Qualified,Lost,Duplicate,/eng,02.07.23wide_DE,0 days 01:55:58,bloggersvideo9com,wide,Facebook Ads,NaN,NaN,NaN,2024-01-07 18:52:00,NaN,<NA>,NaN,NaN,5805028000024640104,Hannover,NaN,2024-01-07,1.0,B1
21379,5805028000038064604,Charlie Davis,2024-03-18,E - Non Qualified,Lost,Duplicate,/event,NaN,0 days 01:04:26,NaN,NaN,Webinar,NaN,NaN,NaN,2024-03-18 11:08:00,NaN,<NA>,NaN,NaN,5805028000027427115,Oberhausen,NaN,2024-03-18,39.0,B1
21381,5805028000038085086,Paula Underwood,2024-03-18,E - Non Qualified,Lost,Duplicate,/event,NaN,NaT,NaN,NaN,CRM,NaN,NaN,NaN,2024-03-18 08:14:00,NaN,<NA>,NaN,NaN,5805028000028006930,Hennef,NaN,2024-03-18,31.0,B2
21389,5805028000046297317,Charlie Davis,2024-04-26,E - Non Qualified,Lost,Duplicate,/eng,webinar1604,NaT,NaN,NaN,SMM,NaN,NaN,NaN,2024-04-24 22:27:00,NaN,<NA>,NaN,NaN,5805028000033674083,Bremen,NaN,2024-04-24,2.0,B1
21395,5805028000038067280,Julia Nelson,2024-03-18,E - Non Qualified,Lost,Duplicate,/event,NaN,0 days 01:54:42,NaN,NaN,Organic,NaN,NaN,NaN,2024-03-18 11:04:00,NaN,<NA>,NaN,NaN,5805028000036951161,Essen,NaN,2024-03-18,0.0,B1

In [38]:
print(type(deals_df_v3))
print(deals_df_v3.shape)

<class 'pandas.core.frame.DataFrame'>
(21411, 26)

In [39]:
deals_df_v3[deals_df_v3['Contact Name']== '5805028000049197176']

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff,Level of Deutsch Cleaned
2898,5805028000049200125,Victor Barnes,2024-05-10,D - Non Target,Lost,Changed Decision,/eng/ux-ui,Dis_DE,0 days 10:33:52,151836595805_{region_name}_673801336999,NaN,Google Ads,NaN,UX/UI Design,Morning,2024-05-10 01:07:00,11,<NA>,1000.0,11000.0,5805028000049197176,NaN,NaN,2024-05-10,NaN,None
21405,5805028000050807506,Paula Underwood,2024-05-20,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2024-05-20 18:36:00,NaN,<NA>,NaN,NaN,5805028000049197176,NaN,NaN,2024-05-20,0.0,None

In [40]:
deals_df_v3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21411 entries, 0 to 21410
Data columns (total 26 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        21411 non-null  object
 1   Deal Owner Name           21382 non-null  object
 2   Closing Date              16685 non-null  datetime64[ns]
 3   Quality                   21411 non-null  category
 4   Stage                     21411 non-null  category
 5   Lost Reason               15942 non-null  category
 6   Page                      20342 non-null  object
 7   Campaign                  16006 non-null  object
 8   SLA                       15504 non-null  timedelta64[ns]
 9   Content                   14101 non-null  object
 10  Term                      12387 non-null  object
 11  Source                    21411 non-null  category
 12  Payment Type              496 non-null    category
 13  Product                   3592 non-null   category
 14  Education Type            3299 non-null   category
 15  Created Time              21411 non-null  datetime64[ns]
 16  Course duration           3587 non-null   category
 17  Months of study           840 non-null    Int64
 18  Initial Amount Paid       4155 non-null   float64
 19  Offer Total Amount        4175 non-null   float64
 20  Contact Name              21350 non-null  object
 21  City                      2831 non-null   object
 22  Level of Deutsch          1228 non-null   object
 23  Created Date              21411 non-null  datetime64[ns]
 24  Date Diff                 14495 non-null  float64
 25  Level of Deutsch Cleaned  1584 non-null   object
dtypes: Int64(1), category(8), datetime64[ns](3), float64(3), object(10), timedelta64[ns](1)
memory usage: 3.1+ MB

In [41]:
# Переносим значения
deals_df_v3['Level of Deutsch'] = deals_df_v3['Level of Deutsch Cleaned']

In [42]:
deals_df_v3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21411 entries, 0 to 21410
Data columns (total 26 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        21411 non-null  object
 1   Deal Owner Name           21382 non-null  object
 2   Closing Date              16685 non-null  datetime64[ns]
 3   Quality                   21411 non-null  category
 4   Stage                     21411 non-null  category
 5   Lost Reason               15942 non-null  category
 6   Page                      20342 non-null  object
 7   Campaign                  16006 non-null  object
 8   SLA                       15504 non-null  timedelta64[ns]
 9   Content                   14101 non-null  object
 10  Term                      12387 non-null  object
 11  Source                    21411 non-null  category
 12  Payment Type              496 non-null    category
 13  Product                   3592 non-null   category
 14  Education Type            3299 non-null   category
 15  Created Time              21411 non-null  datetime64[ns]
 16  Course duration           3587 non-null   category
 17  Months of study           840 non-null    Int64
 18  Initial Amount Paid       4155 non-null   float64
 19  Offer Total Amount        4175 non-null   float64
 20  Contact Name              21350 non-null  object
 21  City                      2831 non-null   object
 22  Level of Deutsch          1584 non-null   object
 23  Created Date              21411 non-null  datetime64[ns]
 24  Date Diff                 14495 non-null  float64
 25  Level of Deutsch Cleaned  1584 non-null   object
dtypes: Int64(1), category(8), datetime64[ns](3), float64(3), object(10), timedelta64[ns](1)
memory usage: 3.1+ MB

In [43]:
deals_df_v3[deals_df_v3['Contact Name']== '5805028000002895508']

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff,Level of Deutsch Cleaned
11878,5805028000027446849,Julia Nelson,2024-01-21,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,NaN,0 days 00:24:32,NaN,NaN,CRM,NaN,NaN,NaN,2024-01-21 17:57:00,NaN,<NA>,NaN,NaN,5805028000002895508,Hamburg,B1,2024-01-21,0.0,B1
20890,5805028000002926478,Julia Nelson,2023-10-16,C - Low,Lost,Next stream,eng/digital-marketing,work_DE,0 days 00:26:51,b3com,19_07_2023,Telegram posts,NaN,Digital Marketing,Morning,2023-07-24 11:22:00,11,<NA>,1000.0,11000.0,5805028000002895508,Hamburg,B1,2023-07-24,84.0,B1

In [44]:
# Удаляем колонку
deals_df_v3.drop(columns='Level of Deutsch Cleaned', inplace=True)

In [45]:
deals_df_v3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21411 entries, 0 to 21410
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Id                   21411 non-null  object
 1   Deal Owner Name      21382 non-null  object
 2   Closing Date         16685 non-null  datetime64[ns]
 3   Quality              21411 non-null  category
 4   Stage                21411 non-null  category
 5   Lost Reason          15942 non-null  category
 6   Page                 20342 non-null  object
 7   Campaign             16006 non-null  object
 8   SLA                  15504 non-null  timedelta64[ns]
 9   Content              14101 non-null  object
 10  Term                 12387 non-null  object
 11  Source               21411 non-null  category
 12  Payment Type         496 non-null    category
 13  Product              3592 non-null   category
 14  Education Type       3299 non-null   category
 15  Created Time         21411 non-null  datetime64[ns]
 16  Course duration      3587 non-null   category
 17  Months of study      840 non-null    Int64
 18  Initial Amount Paid  4155 non-null   float64
 19  Offer Total Amount   4175 non-null   float64
 20  Contact Name         21350 non-null  object
 21  City                 2831 non-null   object
 22  Level of Deutsch     1584 non-null   object
 23  Created Date         21411 non-null  datetime64[ns]
 24  Date Diff            14495 non-null  float64
dtypes: Int64(1), category(8), datetime64[ns](3), float64(3), object(9), timedelta64[ns](1)
memory usage: 3.0+ MB

In [46]:
deals_df_v3['Level of Deutsch'] = deals_df_v3['Level of Deutsch'].astype('category')
print(deals_df_v3['Level of Deutsch'].dtype)

category

In [47]:
deals_df_v3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21411 entries, 0 to 21410
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Id                   21411 non-null  object
 1   Deal Owner Name      21382 non-null  object
 2   Closing Date         16685 non-null  datetime64[ns]
 3   Quality              21411 non-null  category
 4   Stage                21411 non-null  category
 5   Lost Reason          15942 non-null  category
 6   Page                 20342 non-null  object
 7   Campaign             16006 non-null  object
 8   SLA                  15504 non-null  timedelta64[ns]
 9   Content              14101 non-null  object
 10  Term                 12387 non-null  object
 11  Source               21411 non-null  category
 12  Payment Type         496 non-null    category
 13  Product              3592 non-null   category
 14  Education Type       3299 non-null   category
 15  Created Time         21411 non-null  datetime64[ns]
 16  Course duration      3587 non-null   category
 17  Months of study      840 non-null    Int64
 18  Initial Amount Paid  4155 non-null   float64
 19  Offer Total Amount   4175 non-null   float64
 20  Contact Name         21350 non-null  object
 21  City                 2831 non-null   object
 22  Level of Deutsch     1584 non-null   category
 23  Created Date         21411 non-null  datetime64[ns]
 24  Date Diff            14495 non-null  float64
dtypes: Int64(1), category(9), datetime64[ns](3), float64(3), object(8), timedelta64[ns](1)
memory usage: 2.8+ MB

In [48]:
deals_df_v3.rename(columns={"Date Diff": "Create_to_Close_Days"}, inplace=True)

In [49]:
deals_df_v3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21411 entries, 0 to 21410
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Id                    21411 non-null  object
 1   Deal Owner Name       21382 non-null  object
 2   Closing Date          16685 non-null  datetime64[ns]
 3   Quality               21411 non-null  category
 4   Stage                 21411 non-null  category
 5   Lost Reason           15942 non-null  category
 6   Page                  20342 non-null  object
 7   Campaign              16006 non-null  object
 8   SLA                   15504 non-null  timedelta64[ns]
 9   Content               14101 non-null  object
 10  Term                  12387 non-null  object
 11  Source                21411 non-null  category
 12  Payment Type          496 non-null    category
 13  Product               3592 non-null   category
 14  Education Type        3299 non-null   category
 15  Created Time          21411 non-null  datetime64[ns]
 16  Course duration       3587 non-null   category
 17  Months of study       840 non-null    Int64
 18  Initial Amount Paid   4155 non-null   float64
 19  Offer Total Amount    4175 non-null   float64
 20  Contact Name          21350 non-null  object
 21  City                  2831 non-null   object
 22  Level of Deutsch      1584 non-null   category
 23  Created Date          21411 non-null  datetime64[ns]
 24  Create_to_Close_Days  14495 non-null  float64
dtypes: Int64(1), category(9), datetime64[ns](3), float64(3), object(8), timedelta64[ns](1)
memory usage: 2.8+ MB

In [50]:
deals_df_v3[deals_df_v3['Create_to_Close_Days'] < 0]

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Create_to_Close_Days
449,5805028000055502890,Quincy Vincent,2024-06-16,D - Non Target,Lost,Changed Decision,/eng,24.09.23retargeting_DE,0 days 11:22:54,v15,retargeting,Facebook Ads,NaN,NaN,NaN,2024-06-16 00:06:00,NaN,<NA>,NaN,NaN,5805028000055488584,NaN,NaN,2024-06-16,-5.0
2065,5805028000051847114,Quincy Vincent,2024-05-25,E - Non Qualified,Lost,Changed Decision,/eng/test,22.05.2024wide_DE,0 days 12:58:43,bloggersvideo18com,wide,Tiktok Ads,NaN,NaN,NaN,2024-05-25 21:29:00,NaN,<NA>,NaN,NaN,5805028000051866233,NaN,NaN,2024-05-25,-3.0
2762,5805028000049539444,Julia Nelson,2024-05-12,E - Non Qualified,Lost,Changed Decision,/eng/test,NaN,0 days 00:06:32,NaN,NaN,SMM,NaN,NaN,NaN,2024-05-12 11:19:00,NaN,<NA>,NaN,NaN,5805028000049438717,NaN,NaN,2024-05-12,-5.0
2992,5805028000048886321,Oliver Taylor,2024-05-08,C - Low,Payment Done,NaN,NaN,NaN,NaT,NaN,NaN,Organic,Recurring Payments,UX/UI Design,Morning,2024-05-08 15:31:00,11,2,1000.0,11000.0,5805028000048886280,Berlin,B1,2024-05-08,-1.0
2995,5805028000048883316,Ulysses Adams,2024-05-08,A - High,Lost,Duplicate,/eng,03.07.23women,NaT,v16,women,Facebook Ads,Recurring Payments,UX/UI Design,Morning,2024-05-08 14:48:00,11,<NA>,1000.0,11000.0,5805028000043444319,Neu-Ulm,NaN,2024-05-08,-21.0
3004,5805028000048886160,Oliver Taylor,2024-05-08,C - Low,Payment Done,NaN,NaN,NaN,NaT,NaN,NaN,Organic,NaN,Digital Marketing,Morning,2024-05-08 12:54:00,11,1,1000.0,11000.0,5805028000048886140,Berlin,B1,2024-05-08,-1.0
3662,5805028000047482214,Paula Underwood,2024-04-30,E - Non Qualified,Lost,Expensive,/eng,12.07.2023wide_DE,0 days 00:24:45,bloggersvideo11,wide,Tiktok Ads,NaN,NaN,NaN,2024-04-30 15:16:00,NaN,<NA>,NaN,NaN,5805028000047492138,NaN,NaN,2024-04-30,-7.0
4074,5805028000046234250,Rachel White,2024-04-24,E - Non Qualified,Lost,Duplicate,NaN,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2024-04-24 17:30:00,NaN,<NA>,NaN,NaN,5805028000046193190,NaN,NaN,2024-04-24,-7.0
4134,5805028000045961466,Paula Underwood,2024-04-23,D - Non Target,Lost,Expensive,/eng/test,12.07.2023wide_DE,0 days 20:38:10,bloggersvideo16com,wide,Tiktok Ads,NaN,NaN,NaN,2024-04-23 21:44:00,NaN,<NA>,NaN,NaN,5805028000045998344,NaN,NaN,2024-04-23,-5.0
4398,5805028000045314301,Quincy Vincent,2024-04-21,E - Non Qualified,Lost,Doesn't Answer,/eng,02.07.23wide_DE,0 days 05:17:10,bloggersvideo14com,wide,Facebook Ads,NaN,NaN,NaN,2024-04-21 08:57:00,NaN,<NA>,NaN,NaN,5805028000045305375,NaN,NaN,2024-04-21,-3.0
4484,5805028000045245616,Ulysses Adams,2024-04-20,B - Medium,Lost,Doesn't Answer,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,27 days 13:56:25,_{region_name}_,NaN,Google Ads,NaN,Digital Marketing,Morning,2024-04-20 06:19:00,11,<NA>,1000.0,11000.0,5805028000003597256,Eggolsheim,NaN,2024-04-20,-243.0
4758,5805028000044499302,Cara Iverson,2024-04-17,E - Non Qualified,Lost,Invalid number,/pl-eng,20.03.2024wide_PL,NaT,bloggersvideo19com_pl,wide,Tiktok Ads,NaN,NaN,NaN,2024-04-17 09:10:00,NaN,<NA>,NaN,NaN,5805028000044499235,NaN,NaN,2024-04-17,-5.0
4865,5805028000044342009,Yara Edwards,2024-04-16,E - Non Qualified,Lost,Invalid number,NaN,brand_search_eng_DE,NaT,152789402780_{region_name}_695563281558,it career hub,Google Ads,NaN,NaN,NaN,2024-04-16 19:30:00,NaN,<NA>,NaN,NaN,5805028000040234689,NaN,NaN,2024-04-16,-5.0
4957,5805028000044017980,Ben Hall,2024-04-16,E - Non Qualified,Lost,Changed Decision,/eng,02.07.23wide_DE,0 days 01:58:31,bloggersvideo14com,wide,Facebook Ads,NaN,NaN,NaN,2024-04-16 15:35:00,NaN,<NA>,NaN,NaN,5805028000044160080,NaN,NaN,2024-04-16,-6.0
5045,5805028000043980301,Paula Underwood,2024-04-16,E - Non Qualified,Lost,Doesn't Answer,/eng,02.07.23wide_DE,2 days 04:26:30,bloggersvideo14com,wide,Facebook Ads,NaN,NaN,NaN,2024-04-16 07:50:00,NaN,<NA>,NaN,NaN,5805028000043982060,NaN,NaN,2024-04-16,-5.0
5446,5805028000043623605,Cara Iverson,2024-04-13,D - Non Target,Lost,Changed Decision,/pl-eng,PL_life,0 days 11:24:26,b3-pl,12_04_2024,Telegram posts,NaN,NaN,NaN,2024-04-13 04:14:00,NaN,<NA>,NaN,NaN,5805028000043630666,NaN,NaN,2024-04-13,-5.0
5610,5805028000043408097,Cara Iverson,2024-04-12,D - Non Target,Lost,Doesn't Answer,/eng,12.07.2023wide_DE,0 days 11:36:18,bloggersvideo14com,wide,Tiktok Ads,NaN,NaN,NaN,2024-04-12 01:40:00,NaN,<NA>,NaN,NaN,5805028000043385265,NaN,NaN,2024-04-12,-3.0
6159,5805028000042255704,Quincy Vincent,2024-04-07,D - Non Target,Lost,Doesn't Answer,/eng,12.07.2023wide_DE,0 days 03:41:10,bloggersvideo14com,wide,Tiktok Ads,NaN,NaN,NaN,2024-04-07 15:02:00,NaN,<NA>,NaN,NaN,5805028000042291268,NaN,NaN,2024-04-07,-4.0
6304,5805028000042015392,Ulysses Adams,2024-04-05,A - High,Payment Done,NaN,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,6 days 08:00:58,_{region_name}_,NaN,Google Ads,Recurring Payments,UX/UI Design,Morning,2024-04-05 10:40:00,11,1,1000.0,11000.0,5805028000009072093,Düren,C1,2024-04-05,-185.0
7156,5805028000039885153,Julia Nelson,2024-03-26,D - Non Target,Lost,Changed Decision,/direct,NaN,0 days 00:39:39,NaN,NaN,SMM,NaN,NaN,NaN,2024-03-26 16:44:00,NaN,<NA>,NaN,NaN,5805028000039920131,NaN,NaN,2024-03-26,-7.0
7556,5805028000038726269,Charlie Davis,2024-03-20,D - Non Target,Lost,Changed Decision,/eng,mu_DE,0 days 02:07:32,NaN,19_03_2024,Bloggers,NaN,NaN,NaN,2024-03-20 12:37:00,NaN,<NA>,NaN,NaN,5805028000038738285,NaN,NaN,2024-03-20,-7.0
8562,5805028000035795505,Paula Underwood,2024-03-06,D - Non Target,Lost,Changed Decision,/eng,youtube_shorts_DE,0 days 03:14:22,bloggersvideo10,Com_august,Youtube Ads,NaN,NaN,NaN,2024-03-06 09:15:00,NaN,<NA>,NaN,NaN,5805028000035782435,NaN,NaN,2024-03-06,-7.0
8723,5805028000035472715,Victor Barnes,2024-03-04,D - Non Target,Lost,Doesn't Answer,/eng/test,NaN,0 days 02:25:22,NaN,NaN,Organic,NaN,NaN,NaN,2024-03-04 08:17:00,NaN,<NA>,NaN,NaN,5805028000035509553,NaN,NaN,2024-03-04,-4.0
8950,5805028000034901649,Ulysses Adams,2024-02-29,E - Non Qualified,Lost,Conditions are not suitable,/eng,performancemax_digitalmarkt_ru_DE,0 days 03:01:40,_{region_name}_,NaN,Google Ads,NaN,NaN,NaN,2024-02-29 08:54:00,NaN,<NA>,NaN,NaN,5805028000034915704,NaN,NaN,2024-02-29,-7.0
8990,5805028000034907064,Charlie Davis,2024-02-28,D - Non Target,Lost,Non target,/eng/test,02.07.23wide_DE,NaT,bloggersvideo11,wide,Facebook Ads,NaN,NaN,NaN,2024-02-28 14:33:00,NaN,<NA>,NaN,NaN,5805028000034912001,NaN,NaN,2024-02-28,-7.0
9251,5805028000034004022,Charlie Davis,2024-02-25,E - Non Qualified,Lost,Conditions are not suitable,/eng,12.07.2023wide_DE,0 days 09:52:33,bloggersvideo11,wide,Tiktok Ads,NaN,NaN,NaN,2024-02-25 04:14:00,NaN,<NA>,NaN,NaN,5805028000033889455,NaN,NaN,2024-02-25,-1.0
9377,5805028000033525798,Rachel White,2024-02-23,E - Non Qualified,Lost,Duplicate,NaN,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2024-02-23 10:29:00,NaN,<NA>,NaN,NaN,5805028000033646006,NaN,NaN,2024-02-23,-7.0
9526,5805028000033287611,Rachel White,2024-02-21,E - Non Qualified,Lost,Duplicate,NaN,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2024-02-21 19:51:00,NaN,<NA>,NaN,NaN,5805028000033287591,NaN,NaN,2024-02-21,-7.0
9843,5805028000032566474,Paula Underwood,2024-02-17,E - Non Qualified,Lost,Duplicate,/eng,02.07.23wide_DE,0 days 22:23:52,bloggersvideo11,wide,Facebook Ads,NaN,NaN,NaN,2024-02-17 18:07:00,NaN,<NA>,NaN,NaN,5805028000032528677,NaN,NaN,2024-02-17,-4.0
10256,5805028000030992007,Quincy Vincent,2024-02-08,D - Non Target,Lost,Expensive,/eng,24.09.23retargeting_DE,0 days 00:16:39,v11comwebdev,retargeting,Facebook Ads,NaN,NaN,NaN,2024-02-08 17:20:00,NaN,<NA>,NaN,NaN,5805028000030877879,NaN,NaN,2024-02-08,-7.0
10302,5805028000030881469,Victor Barnes,2024-02-08,D - Non Target,Lost,Expensive,/direct,NaN,0 days 01:37:08,NaN,NaN,SMM,NaN,NaN,NaN,2024-02-08 12:35:00,NaN,<NA>,NaN,NaN,5805028000030831406,NaN,NaN,2024-02-08,-7.0
10433,5805028000030630156,Quincy Vincent,2024-02-07,D - Non Target,Lost,Invalid number,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,NaT,_{region_name}_,NaN,Google Ads,NaN,NaN,NaN,2024-02-07 17:39:00,NaN,<NA>,NaN,NaN,5805028000030637199,NaN,NaN,2024-02-07,-7.0
12427,5805028000025976668,Julia Nelson,2024-01-15,E - Non Qualified,Lost,Doesn't Answer,/eng/ux-ui,12.09.23interests_Uxui_DE,0 days 11:43:30,bloggersvideo5,interest_programming_WebDev,Facebook Ads,NaN,NaN,NaN,2024-01-15 00:43:00,NaN,<NA>,NaN,NaN,5805028000025976636,NaN,NaN,2024-01-15,-4.0
13854,5805028000022036007,NaN,2023-12-19,E - Non Qualified,Payment Done,NaN,NaN,NaN,NaT,NaN,NaN,Organic,One Payment,NaN,NaN,2023-12-19 10:37:00,NaN,<NA>,0.0,0.0,NaN,NaN,NaN,2023-12-19,-171.0
15260,5805028000018706283,Paula Underwood,2023-11-25,C - Low,Lost,Changed Decision,/eng/test,performancemax_digitalmarkt_ru_DE,0 days 15:57:07,_{region_name}_,NaN,Google Ads,NaN,Digital Marketing,Morning,2023-11-25 20:04:00,11,<NA>,1000.0,11000.0,5805028000018704446,Oberndorf am Neckar,B1,2023-11-25,-6.0
15542,5805028000018163631,Nina Scott,2023-11-21,E - Non Qualified,Lost,Invalid number,/eng,NaN,0 days 22:06:41,NaN,NaN,Organic,NaN,NaN,NaN,2023-11-21 17:55:00,NaN,<NA>,NaN,NaN,5805028000018148571,NaN,NaN,2023-11-21,-6.0
17445,5805028000013174103,Charlie Davis,2023-10-21,D - Non Target,Lost,Thought for free,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,NaT,_{region_name}_,NaN,Google Ads,NaN,NaN,NaN,2023-10-21 21:17:00,NaN,<NA>,NaN,NaN,5805028000013128091,NaN,NaN,2023-10-21,-25.0
17958,5805028000011322126,Charlie Davis,2023-10-12,D - Non Target,Lost,Stopped Answering,/eng/ux-ui,12.09.23interests_Uxui_DE,0 days 00:31:16,bloggersvideo5,interest_programming_WebDev,Facebook Ads,NaN,NaN,NaN,2023-10-12 18:17:00,NaN,<NA>,NaN,NaN,5805028000011144141,NaN,NaN,2023-10-12,-16.0
18061,5805028000010744206,Julia Nelson,2023-10-10,E - Non Qualified,Lost,Doesn't Answer,/eng/ux-ui,blog2_DE,0 days 00:24:24,NaN,10_10_2023,Bloggers,NaN,NaN,NaN,2023-10-10 16:21:00,NaN,<NA>,NaN,NaN,5805028000010764225,NaN,NaN,2023-10-10,-20.0
18291,5805028000010282031,Diana Evans,2023-10-05,C - Low,Lost,Considering a different direction in IT,eng/digital-marketing,BloggerShina_DE,0 days 12:20:29,NaN,05_10_2023,Bloggers,NaN,NaN,NaN,2023-10-05 21:51:00,NaN,<NA>,NaN,NaN,5805028000010282001,NaN,NaN,2023-10-05,-5.0
18309,5805028000010216149,Charlie Davis,2023-10-05,D - Non Target,Lost,Non target,eng/digital-marketing,BloggerShina_DE,0 days 01:30:05,NaN,05_10_2023,Bloggers,Recurring Payments,Digital Marketing,Morning,2023-10-05 19:02:00,11,<NA>,1000.0,11500.0,5805028000010209081,Helmstedt,NaN,2023-10-05,-11.0
18437,5805028000009789201,Julia Nelson,2023-10-03,E - Non Qualified,Lost,Doesn't Answer,eng/digital-marketing,02.07.23wide_DE,0 days 00:44:33,b8,wide,Facebook Ads,NaN,NaN,NaN,2023-10-03 10:36:00,NaN,<NA>,NaN,NaN,5805028000009784179,NaN,NaN,2023-10-03,-357.0
18524,5805028000009682053,Ian Miller,2023-10-02,E - Non Qualified,Lost,Invalid number,eng/digital-marketing,03.07.23women,NaT,bloggersvideo4com,women,Facebook Ads,NaN,NaN,NaN,2023-10-02 09:27:00,NaN,<NA>,NaN,NaN,5805028000009575662,NaN,NaN,2023-10-02,-7.0
21390,5805028000038223676,Ulysses Adams,2024-03-19,E - Non Qualified,Lost,Duplicate,/event,NaN,0 days 02:45:47,NaN,NaN,CRM,NaN,NaN,NaN,2024-03-19 10:56:00,NaN,<NA>,NaN,NaN,5805028000034891733,NaN,NaN,2024-03-19,-7.0

In [51]:
print((deals_df_v3['Create_to_Close_Days'] < 0).sum())

44

In [52]:
deals_df_v3['Create_to_Close_Days'] = (deals_df_v3['Closing Date'] - deals_df_v3['Created Date']).dt.days

In [53]:
print((deals_df_v3['Create_to_Close_Days'] < 0).sum())

0

In [54]:
import numpy as np

# Categorize SLA
def sla_category(td):
    if pd.isna(td): # 1. Проверка: если значение пустое (NaT или NaN)
        return np.nan #    → возвращаем np.nan
    minutes = td.total_seconds() / 60 # 2. Переводим timedelta в минуты
    # 3. Определяем, в какой диапазон попало время
    if minutes <= 5:
        return 'Very fast (≤5 min)'
    elif minutes <= 15:
        return 'Fast (5-15 min)'
    elif minutes <= 30:
        return 'Medium (15-30 min)'
    elif minutes <= 60:
        return 'Slow (30-60 min)'
    else:
        return 'Very slow (>60 min)'

deals_df_v3['SLA_range'] = deals_df_v3['SLA'].apply(sla_category)

In [55]:
deals_df_v3

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Create_to_Close_Days,SLA_range
0,5805028000056864695,Ben Hall,NaT,B - Medium,New Lead,NaN,/eng/test,03.07.23women,NaT,v16,women,Facebook Ads,NaN,NaN,NaN,2024-06-21 15:30:00,NaN,<NA>,NaN,NaN,5805028000056849495,NaN,NaN,2024-06-21,NaN,NaN
1,5805028000056859489,Ulysses Adams,NaT,B - Medium,New Lead,NaN,/at-eng,NaN,NaT,NaN,NaN,Organic,NaN,Web Developer,Morning,2024-06-21 15:23:00,6,<NA>,0.0,2000.0,5805028000056834471,NaN,NaN,2024-06-21,NaN,NaN
2,5805028000056832357,Ulysses Adams,2024-06-21,D - Non Target,Lost,Non target,/at-eng,engwien_AT,0 days 00:26:43,b1-at,21_06_2024,Telegram posts,NaN,NaN,NaN,2024-06-21 14:45:00,NaN,<NA>,NaN,NaN,5805028000056854421,NaN,NaN,2024-06-21,0.0,Medium (15-30 min)
3,5805028000056824246,Eva Kent,2024-06-21,E - Non Qualified,Lost,Invalid number,/eng,04.07.23recentlymoved_DE,0 days 01:00:04,bloggersvideo14com,recentlymoved,Facebook Ads,NaN,NaN,NaN,2024-06-21 13:32:00,NaN,<NA>,NaN,NaN,5805028000056889351,NaN,NaN,2024-06-21,0.0,Very slow (>60 min)
4,5805028000056873292,Ben Hall,2024-06-21,D - Non Target,Lost,Non target,/eng,discovery_DE,0 days 00:53:12,website,NaN,Google Ads,NaN,NaN,NaN,2024-06-21 13:21:00,NaN,<NA>,NaN,NaN,5805028000056876176,NaN,NaN,2024-06-21,0.0,Slow (30-60 min)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21406,5805028000050001603,Quincy Vincent,2024-05-15,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,0 days 05:35:41,NaN,NaN,Organic,NaN,NaN,NaN,2024-05-15 08:50:00,NaN,<NA>,NaN,NaN,5805028000049855125,NaN,NaN,2024-05-15,0.0,Very slow (>60 min)
21407,5805028000053787195,Paula Underwood,2024-06-06,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-06 18:45:00,NaN,<NA>,NaN,NaN,5805028000053705642,NaN,NaN,2024-06-06,0.0,NaN
21408,5805028000054823001,Quincy Vincent,2024-06-12,E - Non Qualified,Lost,Duplicate,/eng,brand_search_eng_DE,0 days 04:30:17,152789402780_{region_name}_668024583824,it hub,Google Ads,NaN,NaN,NaN,2024-06-12 05:46:00,NaN,<NA>,NaN,NaN,5805028000054480760,NaN,NaN,2024-06-12,0.0,Very slow (>60 min)
21409,5805028000056685164,Charlie Davis,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,0 days 00:01:46,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-20 13:49:00,NaN,<NA>,NaN,NaN,5805028000056392363,NaN,NaN,2024-06-20,0.0,Very fast (≤5 min)
21410,5805028000056705395,Ulysses Adams,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-20 17:36:00,NaN,<NA>,NaN,NaN,5805028000056727001,NaN,NaN,2024-06-20,0.0,NaN

In [56]:
print(deals_df_v3._is_copy)

None

In [57]:
deals_df_v3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21411 entries, 0 to 21410
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Id                    21411 non-null  object
 1   Deal Owner Name       21382 non-null  object
 2   Closing Date          16685 non-null  datetime64[ns]
 3   Quality               21411 non-null  category
 4   Stage                 21411 non-null  category
 5   Lost Reason           15942 non-null  category
 6   Page                  20342 non-null  object
 7   Campaign              16006 non-null  object
 8   SLA                   15504 non-null  timedelta64[ns]
 9   Content               14101 non-null  object
 10  Term                  12387 non-null  object
 11  Source                21411 non-null  category
 12  Payment Type          496 non-null    category
 13  Product               3592 non-null   category
 14  Education Type        3299 non-null   category
 15  Created Time          21411 non-null  datetime64[ns]
 16  Course duration       3587 non-null   category
 17  Months of study       840 non-null    Int64
 18  Initial Amount Paid   4155 non-null   float64
 19  Offer Total Amount    4175 non-null   float64
 20  Contact Name          21350 non-null  object
 21  City                  2831 non-null   object
 22  Level of Deutsch      1584 non-null   category
 23  Created Date          21411 non-null  datetime64[ns]
 24  Create_to_Close_Days  16685 non-null  float64
 25  SLA_range             15504 non-null  object
dtypes: Int64(1), category(9), datetime64[ns](3), float64(3), object(9), timedelta64[ns](1)
memory usage: 3.0+ MB

In [58]:
deals_df_v3['SLA_range'] = deals_df_v3['SLA_range'].astype('category')

In [59]:
deals_df_v3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21411 entries, 0 to 21410
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Id                    21411 non-null  object
 1   Deal Owner Name       21382 non-null  object
 2   Closing Date          16685 non-null  datetime64[ns]
 3   Quality               21411 non-null  category
 4   Stage                 21411 non-null  category
 5   Lost Reason           15942 non-null  category
 6   Page                  20342 non-null  object
 7   Campaign              16006 non-null  object
 8   SLA                   15504 non-null  timedelta64[ns]
 9   Content               14101 non-null  object
 10  Term                  12387 non-null  object
 11  Source                21411 non-null  category
 12  Payment Type          496 non-null    category
 13  Product               3592 non-null   category
 14  Education Type        3299 non-null   category
 15  Created Time          21411 non-null  datetime64[ns]
 16  Course duration       3587 non-null   category
 17  Months of study       840 non-null    Int64
 18  Initial Amount Paid   4155 non-null   float64
 19  Offer Total Amount    4175 non-null   float64
 20  Contact Name          21350 non-null  object
 21  City                  2831 non-null   object
 22  Level of Deutsch      1584 non-null   category
 23  Created Date          21411 non-null  datetime64[ns]
 24  Create_to_Close_Days  16685 non-null  float64
 25  SLA_range             15504 non-null  category
dtypes: Int64(1), category(10), datetime64[ns](3), float64(3), object(8), timedelta64[ns](1)
memory usage: 2.8+ MB

In [60]:
deals_df_v3

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Create_to_Close_Days,SLA_range
0,5805028000056864695,Ben Hall,NaT,B - Medium,New Lead,NaN,/eng/test,03.07.23women,NaT,v16,women,Facebook Ads,NaN,NaN,NaN,2024-06-21 15:30:00,NaN,<NA>,NaN,NaN,5805028000056849495,NaN,NaN,2024-06-21,NaN,NaN
1,5805028000056859489,Ulysses Adams,NaT,B - Medium,New Lead,NaN,/at-eng,NaN,NaT,NaN,NaN,Organic,NaN,Web Developer,Morning,2024-06-21 15:23:00,6,<NA>,0.0,2000.0,5805028000056834471,NaN,NaN,2024-06-21,NaN,NaN
2,5805028000056832357,Ulysses Adams,2024-06-21,D - Non Target,Lost,Non target,/at-eng,engwien_AT,0 days 00:26:43,b1-at,21_06_2024,Telegram posts,NaN,NaN,NaN,2024-06-21 14:45:00,NaN,<NA>,NaN,NaN,5805028000056854421,NaN,NaN,2024-06-21,0.0,Medium (15-30 min)
3,5805028000056824246,Eva Kent,2024-06-21,E - Non Qualified,Lost,Invalid number,/eng,04.07.23recentlymoved_DE,0 days 01:00:04,bloggersvideo14com,recentlymoved,Facebook Ads,NaN,NaN,NaN,2024-06-21 13:32:00,NaN,<NA>,NaN,NaN,5805028000056889351,NaN,NaN,2024-06-21,0.0,Very slow (>60 min)
4,5805028000056873292,Ben Hall,2024-06-21,D - Non Target,Lost,Non target,/eng,discovery_DE,0 days 00:53:12,website,NaN,Google Ads,NaN,NaN,NaN,2024-06-21 13:21:00,NaN,<NA>,NaN,NaN,5805028000056876176,NaN,NaN,2024-06-21,0.0,Slow (30-60 min)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21406,5805028000050001603,Quincy Vincent,2024-05-15,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,0 days 05:35:41,NaN,NaN,Organic,NaN,NaN,NaN,2024-05-15 08:50:00,NaN,<NA>,NaN,NaN,5805028000049855125,NaN,NaN,2024-05-15,0.0,Very slow (>60 min)
21407,5805028000053787195,Paula Underwood,2024-06-06,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-06 18:45:00,NaN,<NA>,NaN,NaN,5805028000053705642,NaN,NaN,2024-06-06,0.0,NaN
21408,5805028000054823001,Quincy Vincent,2024-06-12,E - Non Qualified,Lost,Duplicate,/eng,brand_search_eng_DE,0 days 04:30:17,152789402780_{region_name}_668024583824,it hub,Google Ads,NaN,NaN,NaN,2024-06-12 05:46:00,NaN,<NA>,NaN,NaN,5805028000054480760,NaN,NaN,2024-06-12,0.0,Very slow (>60 min)
21409,5805028000056685164,Charlie Davis,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,0 days 00:01:46,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-20 13:49:00,NaN,<NA>,NaN,NaN,5805028000056392363,NaN,NaN,2024-06-20,0.0,Very fast (≤5 min)
21410,5805028000056705395,Ulysses Adams,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-20 17:36:00,NaN,<NA>,NaN,NaN,5805028000056727001,NaN,NaN,2024-06-20,0.0,NaN

In [61]:
deals_df_v3['Campaign'] = deals_df_v3['Campaign'].str.strip().str.lower()
deals_df_v3['Source'] = deals_df_v3['Source'].str.strip().str.lower()

In [62]:
deals_df_v3

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Create_to_Close_Days,SLA_range
0,5805028000056864695,Ben Hall,NaT,B - Medium,New Lead,NaN,/eng/test,03.07.23women,NaT,v16,women,facebook ads,NaN,NaN,NaN,2024-06-21 15:30:00,NaN,<NA>,NaN,NaN,5805028000056849495,NaN,NaN,2024-06-21,NaN,NaN
1,5805028000056859489,Ulysses Adams,NaT,B - Medium,New Lead,NaN,/at-eng,NaN,NaT,NaN,NaN,organic,NaN,Web Developer,Morning,2024-06-21 15:23:00,6,<NA>,0.0,2000.0,5805028000056834471,NaN,NaN,2024-06-21,NaN,NaN
2,5805028000056832357,Ulysses Adams,2024-06-21,D - Non Target,Lost,Non target,/at-eng,engwien_at,0 days 00:26:43,b1-at,21_06_2024,telegram posts,NaN,NaN,NaN,2024-06-21 14:45:00,NaN,<NA>,NaN,NaN,5805028000056854421,NaN,NaN,2024-06-21,0.0,Medium (15-30 min)
3,5805028000056824246,Eva Kent,2024-06-21,E - Non Qualified,Lost,Invalid number,/eng,04.07.23recentlymoved_de,0 days 01:00:04,bloggersvideo14com,recentlymoved,facebook ads,NaN,NaN,NaN,2024-06-21 13:32:00,NaN,<NA>,NaN,NaN,5805028000056889351,NaN,NaN,2024-06-21,0.0,Very slow (>60 min)
4,5805028000056873292,Ben Hall,2024-06-21,D - Non Target,Lost,Non target,/eng,discovery_de,0 days 00:53:12,website,NaN,google ads,NaN,NaN,NaN,2024-06-21 13:21:00,NaN,<NA>,NaN,NaN,5805028000056876176,NaN,NaN,2024-06-21,0.0,Slow (30-60 min)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21406,5805028000050001603,Quincy Vincent,2024-05-15,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,0 days 05:35:41,NaN,NaN,organic,NaN,NaN,NaN,2024-05-15 08:50:00,NaN,<NA>,NaN,NaN,5805028000049855125,NaN,NaN,2024-05-15,0.0,Very slow (>60 min)
21407,5805028000053787195,Paula Underwood,2024-06-06,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,NaT,NaN,NaN,organic,NaN,NaN,NaN,2024-06-06 18:45:00,NaN,<NA>,NaN,NaN,5805028000053705642,NaN,NaN,2024-06-06,0.0,NaN
21408,5805028000054823001,Quincy Vincent,2024-06-12,E - Non Qualified,Lost,Duplicate,/eng,brand_search_eng_de,0 days 04:30:17,152789402780_{region_name}_668024583824,it hub,google ads,NaN,NaN,NaN,2024-06-12 05:46:00,NaN,<NA>,NaN,NaN,5805028000054480760,NaN,NaN,2024-06-12,0.0,Very slow (>60 min)
21409,5805028000056685164,Charlie Davis,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,0 days 00:01:46,NaN,NaN,organic,NaN,NaN,NaN,2024-06-20 13:49:00,NaN,<NA>,NaN,NaN,5805028000056392363,NaN,NaN,2024-06-20,0.0,Very fast (≤5 min)
21410,5805028000056705395,Ulysses Adams,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,NaT,NaN,NaN,organic,NaN,NaN,NaN,2024-06-20 17:36:00,NaN,<NA>,NaN,NaN,5805028000056727001,NaN,NaN,2024-06-20,0.0,NaN

In [63]:
deals_df_v3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21411 entries, 0 to 21410
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Id                    21411 non-null  object
 1   Deal Owner Name       21382 non-null  object
 2   Closing Date          16685 non-null  datetime64[ns]
 3   Quality               21411 non-null  category
 4   Stage                 21411 non-null  category
 5   Lost Reason           15942 non-null  category
 6   Page                  20342 non-null  object
 7   Campaign              16006 non-null  object
 8   SLA                   15504 non-null  timedelta64[ns]
 9   Content               14101 non-null  object
 10  Term                  12387 non-null  object
 11  Source                21411 non-null  object
 12  Payment Type          496 non-null    category
 13  Product               3592 non-null   category
 14  Education Type        3299 non-null   category
 15  Created Time          21411 non-null  datetime64[ns]
 16  Course duration       3587 non-null   category
 17  Months of study       840 non-null    Int64
 18  Initial Amount Paid   4155 non-null   float64
 19  Offer Total Amount    4175 non-null   float64
 20  Contact Name          21350 non-null  object
 21  City                  2831 non-null   object
 22  Level of Deutsch      1584 non-null   category
 23  Created Date          21411 non-null  datetime64[ns]
 24  Create_to_Close_Days  16685 non-null  float64
 25  SLA_range             15504 non-null  category
dtypes: Int64(1), category(9), datetime64[ns](3), float64(3), object(9), timedelta64[ns](1)
memory usage: 3.0+ MB

In [64]:
deals_df_v3['Campaign'] = deals_df_v3['Campaign'].astype('category')

In [65]:
deals_df_v3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21411 entries, 0 to 21410
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Id                    21411 non-null  object
 1   Deal Owner Name       21382 non-null  object
 2   Closing Date          16685 non-null  datetime64[ns]
 3   Quality               21411 non-null  category
 4   Stage                 21411 non-null  category
 5   Lost Reason           15942 non-null  category
 6   Page                  20342 non-null  object
 7   Campaign              16006 non-null  category
 8   SLA                   15504 non-null  timedelta64[ns]
 9   Content               14101 non-null  object
 10  Term                  12387 non-null  object
 11  Source                21411 non-null  object
 12  Payment Type          496 non-null    category
 13  Product               3592 non-null   category
 14  Education Type        3299 non-null   category
 15  Created Time          21411 non-null  datetime64[ns]
 16  Course duration       3587 non-null   category
 17  Months of study       840 non-null    Int64
 18  Initial Amount Paid   4155 non-null   float64
 19  Offer Total Amount    4175 non-null   float64
 20  Contact Name          21350 non-null  object
 21  City                  2831 non-null   object
 22  Level of Deutsch      1584 non-null   category
 23  Created Date          21411 non-null  datetime64[ns]
 24  Create_to_Close_Days  16685 non-null  float64
 25  SLA_range             15504 non-null  category
dtypes: Int64(1), category(10), datetime64[ns](3), float64(3), object(8), timedelta64[ns](1)
memory usage: 2.9+ MB

In [66]:
# Количество нулей
num_zeros = (deals_df_v3['Initial Amount Paid'] == 0).sum()

# Количество NaN
num_nans = deals_df_v3['Initial Amount Paid'].isna().sum()

print(f"Zero: {num_zeros}")
print(f"NaN: {num_nans}")

Zero: 866
NaN: 17256

In [67]:
# Фильтруем только сделки со стадией 'Payment Done'
payment_done_df = deals_df_v3[deals_df_v3['Stage'] == 'Payment Done']

# Считаем количество нулей и NaN
num_zeros = (payment_done_df['Initial Amount Paid'] == 0).sum()
num_nans = payment_done_df['Initial Amount Paid'].isna().sum()
total_rows = len(payment_done_df)

# Выводим результат с процентами
print(f"Zero: {num_zeros} ({num_zeros / total_rows:.2%})")
print(f"NaN: {num_nans} ({num_nans / total_rows:.2%})")

Zero: 3 (0.35%)
NaN: 15 (1.75%)

In [68]:
# Количество нулей
num_zeros_offer = (deals_df_v3['Offer Total Amount'] == 0).sum()

# Количество NaN
num_nans_offer = deals_df_v3['Offer Total Amount'].isna().sum()

print(f"Zero: {num_zeros_offer}")
print(f"NaN: {num_nans_offer}")

Zero: 838
NaN: 17236

In [69]:
# Replace 0 to NaN in 'Initial Amount Paid'
deals_df_v3['Initial Amount Paid'] = deals_df_v3['Initial Amount Paid'].replace(0, np.nan)

Zero: 3
NaN: 15

In [71]:
num_zeros = (deals_df_v3['Initial Amount Paid'] == 0).sum()
num_nans = deals_df_v3['Initial Amount Paid'].isna().sum()

print(f"Zero: {num_zeros}")
print(f"NaN: {num_nans}")

Zero: 0
NaN: 18122

In [72]:
# Replace 0 to NaN in 'Offer Total Amount'
deals_df_v3['Offer Total Amount'] = deals_df_v3['Offer Total Amount'].replace(0, np.nan)

In [73]:
num_zeros_offer = (deals_df_v3['Offer Total Amount'] == 0).sum()

num_nans_offer = deals_df_v3['Offer Total Amount'].isna().sum()

print(f"Zero: {num_zeros_offer}")
print(f"NaN: {num_nans_offer}")

Zero: 0
NaN: 18074

In [74]:
deals_df_v3.to_pickle("deals_cleaned_v3.pkl")