# Задание по продуктовой аналитике

In [1]:
import pandas as pd

deals_df = pd.read_pickle("deals_cleaned_v3.pkl")
deals_df

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,...,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Create_to_Close_Days,Latitude,Longitude,SLA_range
0,5805028000056864695,Ben Hall,NaT,B - Medium,New Lead,NaN,/eng/test,03.07.23women,NaT,v16,...,NaN,NaN,5805028000056849495,NaN,NaN,2024-06-21,NaN,NaN,NaN,NaN
1,5805028000056859489,Ulysses Adams,NaT,B - Medium,New Lead,NaN,/at-eng,NaN,NaT,NaN,...,NaN,2000.0,5805028000056834471,NaN,NaN,2024-06-21,NaN,NaN,NaN,NaN
2,5805028000056832357,Ulysses Adams,2024-06-21,D - Non Target,Lost,Non target,/at-eng,engwien_at,0 days 00:26:43,b1-at,...,NaN,NaN,5805028000056854421,NaN,NaN,2024-06-21,0.0,NaN,NaN,Medium (15-30 min)
3,5805028000056824246,Eva Kent,2024-06-21,E - Non Qualified,Lost,Invalid number,/eng,04.07.23recentlymoved_de,0 days 01:00:04,bloggersvideo14com,...,NaN,NaN,5805028000056889351,NaN,NaN,2024-06-21,0.0,NaN,NaN,Very slow (>60 min)
4,5805028000056873292,Ben Hall,2024-06-21,D - Non Target,Lost,Non target,/eng,discovery_de,0 days 00:53:12,website,...,NaN,NaN,5805028000056876176,NaN,NaN,2024-06-21,0.0,NaN,NaN,Slow (30-60 min)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21406,5805028000050001603,Quincy Vincent,2024-05-15,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,0 days 05:35:41,NaN,...,NaN,NaN,5805028000049855125,NaN,NaN,2024-05-15,0.0,NaN,NaN,Very slow (>60 min)
21407,5805028000053787195,Paula Underwood,2024-06-06,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,NaT,NaN,...,NaN,NaN,5805028000053705642,NaN,NaN,2024-06-06,0.0,NaN,NaN,NaN
21408,5805028000054823001,Quincy Vincent,2024-06-12,E - Non Qualified,Lost,Duplicate,/eng,brand_search_eng_de,0 days 04:30:17,152789402780_{region_name}_668024583824,...,NaN,NaN,5805028000054480760,NaN,NaN,2024-06-12,0.0,NaN,NaN,Very slow (>60 min)
21409,5805028000056685164,Charlie Davis,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,0 days 00:01:46,NaN,...,NaN,NaN,5805028000056392363,NaN,NaN,2024-06-20,0.0,NaN,NaN,Very fast (≤5 min)
21410,5805028000056705395,Ulysses Adams,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,NaT,NaN,...,NaN,NaN,5805028000056727001,NaN,NaN,2024-06-20,0.0,NaN,NaN,NaN

In [2]:
deals_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21411 entries, 0 to 21410
Data columns (total 28 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Id                    21411 non-null  object
 1   Deal Owner Name       21382 non-null  object
 2   Closing Date          16685 non-null  datetime64[ns]
 3   Quality               21411 non-null  category
 4   Stage                 21411 non-null  category
 5   Lost Reason           15942 non-null  category
 6   Page                  20342 non-null  object
 7   Campaign              16006 non-null  category
 8   SLA                   15504 non-null  timedelta64[ns]
 9   Content               14101 non-null  object
 10  Term                  12387 non-null  object
 11  Source                21411 non-null  object
 12  Payment Type          496 non-null    category
 13  Product               3592 non-null   category
 14  Education Type        3299 non-null   category
 15  Created Time          21411 non-null  datetime64[ns]
 16  Course duration       3587 non-null   category
 17  Months of study       840 non-null    Int64
 18  Initial Amount Paid   3289 non-null   float64
 19  Offer Total Amount    3337 non-null   float64
 20  Contact Name          21350 non-null  object
 21  City                  2831 non-null   object
 22  Level of Deutsch      1584 non-null   category
 23  Created Date          21411 non-null  datetime64[ns]
 24  Create_to_Close_Days  16685 non-null  float64
 25  Latitude              2824 non-null   float64
 26  Longitude             2824 non-null   float64
 27  SLA_range             15504 non-null  category
dtypes: Int64(1), category(10), datetime64[ns](3), float64(5), object(8), timedelta64[ns](1)
memory usage: 3.2+ MB

Для расчета среднего чека по каждой сделке добавим колонку AOV_i и рассчитаем по формуле:

$$
AOV_i = \frac{\text{Initial Amount Paid} + \left(\text{Offer Total Amount} - \text{Initial Amount Paid}\right)}{\text{Course duration} - 1} \cdot (\text{Months of study} - 1) \div \text{Months of study}
$$

Убедимся, что в Course duration нет значений равных 1 (иначе получим деление на 0)

In [11]:
has_ones = (deals_df['Course duration'] == 1).any()

print(has_ones)

False

Изменим тип данных для Course duration с категориального на числовой. Т.к. в поле есть пропуски, сделаем обработку таких ошибок и замним пропуски на 0:

In [10]:
deals_df['Course duration'] = pd.to_numeric(deals_df['Course duration'], errors='coerce')
deals_df['Course duration'] = deals_df['Course duration'].fillna(0).astype(int)

Добавляем колонку AOV_i

In [13]:
deals_df['AOV_i'] = (
    deals_df['Initial Amount Paid'] +
    ((deals_df['Offer Total Amount'] - deals_df['Initial Amount Paid']) / (deals_df['Course duration'] - 1)) *
    (deals_df['Months of study'] - 1)
) / deals_df['Months of study']

In [21]:
filtered_aov = deals_df[deals_df['AOV_i'].notna()]
filtered_aov

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,...,Contact Name,City,Level of Deutsch,Created Date,Create_to_Close_Days,Latitude,Longitude,SLA_range,AOV_i,Revenue_i
463,5805028000055502703,Eva Kent,2024-06-18,B - Medium,Payment Done,NaN,/pl-eng/web-developer,performancemax_wide_at,0 days 14:35:20,_{region_name}_,...,5805028000055471387,Podskalie,NaN,2024-06-15,3.0,48.1667,18.3167,Very slow (>60 min),500.0,500.0
473,5805028000055524315,Ben Hall,2024-06-19,A - High,Payment Done,NaN,/eng,12.07.2023wide_de,0 days 00:17:25,bloggersvideo11,...,5805028000055503302,Zinnowitz,NaN,2024-06-15,4.0,54.0777,13.9104,Medium (15-30 min),500.0,500.0
491,5805028000055524040,Ben Hall,2024-06-23,B - Medium,Payment Done,NaN,/eng,live_de,0 days 00:23:42,b0,...,5805028000055464156,Wolfsburg,B1,2024-06-15,8.0,52.4226,10.7865,Medium (15-30 min),1000.0,1000.0
824,5805028000054664018,Ben Hall,2024-06-19,D - Non Target,Payment Done,NaN,/eng,NaN,0 days 16:31:52,NaN,...,5805028000054683001,Zwickau,A2,2024-06-11,8.0,50.7194,12.4884,Very slow (>60 min),1000.0,1000.0
1029,5805028000054257317,Quincy Vincent,2024-06-17,B - Medium,Payment Done,NaN,/eng,02.07.23wide_de,0 days 00:45:55,bloggersvideo16com,...,5805028000054284461,Leinfelden-Echterdingen,B1,2024-06-10,7.0,48.6941,9.1479,Slow (30-60 min),1000.0,1000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21034,5805028000002302112,Julia Nelson,2023-07-19,C - Low,Payment Done,Expensive,eng/digital-marketing,performancemax_digitalmarkt_ru_de,0 days 15:24:52,_{region_name}_,...,5805028000002302109,Wolfsburg,B1,2023-07-18,1.0,52.4226,10.7865,Very slow (>60 min),900.0,1800.0
21087,5805028000001987082,Julia Nelson,2023-07-17,C - Low,Payment Done,Conditions are not suitable,eng/digital-marketing,12.07.2023wide_de,0 days 00:49:16,v3com,...,5805028000001986077,NaN,B1,2023-07-17,0.0,NaN,NaN,Slow (30-60 min),1000.0,11000.0
21130,5805028000001885076,Jane Smith,2023-08-31,A - High,Payment Done,NaN,eng/digital-marketing,04.07.23recentlymoved_de,0 days 00:13:31,b2,...,5805028000001880249,Ingolstadt,NaN,2023-07-15,47.0,48.7651,11.4237,Fast (5-15 min),363.636364,4000.0
21265,5805028000001401001,Oliver Taylor,2023-07-16,B - Medium,Payment Done,NaN,eng/digital-marketing,02.07.23wide_de,0 days 02:22:36,b3,...,5805028000001350049,NaN,NaN,2023-07-08,8.0,NaN,NaN,Very slow (>60 min),1043.75,8350.0
21296,5805028000000947046,Oliver Taylor,2023-07-12,B - Medium,Payment Done,NaN,eng/digital-marketing,02.07.23wide_de,71 days 00:46:22,b3,...,5805028000000939010,Hamburg,NaN,2023-07-04,8.0,53.5511,9.9937,Very slow (>60 min),1000.0,11000.0

Добавим колонку с вычислением по формуле:

$$
Revenue_i = AOV_i \times \text{Months of study}
$$

In [17]:
deals_df['Revenue_i'] = deals_df['AOV_i'] * deals_df['Months of study']

In [22]:
filtered_revenue = deals_df[deals_df['AOV_i'].notna()]
filtered_revenue

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,...,Contact Name,City,Level of Deutsch,Created Date,Create_to_Close_Days,Latitude,Longitude,SLA_range,AOV_i,Revenue_i
463,5805028000055502703,Eva Kent,2024-06-18,B - Medium,Payment Done,NaN,/pl-eng/web-developer,performancemax_wide_at,0 days 14:35:20,_{region_name}_,...,5805028000055471387,Podskalie,NaN,2024-06-15,3.0,48.1667,18.3167,Very slow (>60 min),500.0,500.0
473,5805028000055524315,Ben Hall,2024-06-19,A - High,Payment Done,NaN,/eng,12.07.2023wide_de,0 days 00:17:25,bloggersvideo11,...,5805028000055503302,Zinnowitz,NaN,2024-06-15,4.0,54.0777,13.9104,Medium (15-30 min),500.0,500.0
491,5805028000055524040,Ben Hall,2024-06-23,B - Medium,Payment Done,NaN,/eng,live_de,0 days 00:23:42,b0,...,5805028000055464156,Wolfsburg,B1,2024-06-15,8.0,52.4226,10.7865,Medium (15-30 min),1000.0,1000.0
824,5805028000054664018,Ben Hall,2024-06-19,D - Non Target,Payment Done,NaN,/eng,NaN,0 days 16:31:52,NaN,...,5805028000054683001,Zwickau,A2,2024-06-11,8.0,50.7194,12.4884,Very slow (>60 min),1000.0,1000.0
1029,5805028000054257317,Quincy Vincent,2024-06-17,B - Medium,Payment Done,NaN,/eng,02.07.23wide_de,0 days 00:45:55,bloggersvideo16com,...,5805028000054284461,Leinfelden-Echterdingen,B1,2024-06-10,7.0,48.6941,9.1479,Slow (30-60 min),1000.0,1000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21034,5805028000002302112,Julia Nelson,2023-07-19,C - Low,Payment Done,Expensive,eng/digital-marketing,performancemax_digitalmarkt_ru_de,0 days 15:24:52,_{region_name}_,...,5805028000002302109,Wolfsburg,B1,2023-07-18,1.0,52.4226,10.7865,Very slow (>60 min),900.0,1800.0
21087,5805028000001987082,Julia Nelson,2023-07-17,C - Low,Payment Done,Conditions are not suitable,eng/digital-marketing,12.07.2023wide_de,0 days 00:49:16,v3com,...,5805028000001986077,NaN,B1,2023-07-17,0.0,NaN,NaN,Slow (30-60 min),1000.0,11000.0
21130,5805028000001885076,Jane Smith,2023-08-31,A - High,Payment Done,NaN,eng/digital-marketing,04.07.23recentlymoved_de,0 days 00:13:31,b2,...,5805028000001880249,Ingolstadt,NaN,2023-07-15,47.0,48.7651,11.4237,Fast (5-15 min),363.636364,4000.0
21265,5805028000001401001,Oliver Taylor,2023-07-16,B - Medium,Payment Done,NaN,eng/digital-marketing,02.07.23wide_de,0 days 02:22:36,b3,...,5805028000001350049,NaN,NaN,2023-07-08,8.0,NaN,NaN,Very slow (>60 min),1043.75,8350.0
21296,5805028000000947046,Oliver Taylor,2023-07-12,B - Medium,Payment Done,NaN,eng/digital-marketing,02.07.23wide_de,71 days 00:46:22,b3,...,5805028000000939010,Hamburg,NaN,2023-07-04,8.0,53.5511,9.9937,Very slow (>60 min),1000.0,11000.0

In [31]:
print(filtered_revenue['Revenue_i'].dtype)

Float64

Т.к. тип данных Float64 (с большой буквы) может испортить данные (возвращает pd.NA вместо pd.nan и ломает вычисления даже при отсутствии строк с NaN), то поменяем тип на float64:

In [34]:
filtered_revenue = filtered_revenue.copy()
filtered_revenue['Revenue_i'] = filtered_revenue['Revenue_i'].astype('float64')
print(filtered_revenue['Revenue_i'].dtype)

float64

In [ ]:
Теперь можем вычислить средний чек по формуле:

$$
AOV = \frac{\sum Revenue_i}{\sum \text{Months of study}}
$$

In [39]:
AOV = filtered_revenue['Revenue_i'].sum() / filtered_revenue['Months of study'].sum()
print(f"AOV = {AOV:.2f}")

AOV = 785.09

In [42]:
deals_df = deals_df.copy()
deals_df['Revenue_i'] = deals_df['Revenue_i'].astype('float64')
print(deals_df['Revenue_i'].dtype)

float64

In [43]:
AOV_2 = deals_df['Revenue_i'].sum() / deals_df['Months of study'].sum()
print(f"AOV_2 = {AOV_2:.2f}")

AOV_2 = 783.21

In [44]:
deals_df[deals_df['Initial Amount Paid'] == 0]

Empty DataFrame
Columns: [Id, Deal Owner Name, Closing Date, Quality, Stage, Lost Reason, Page, Campaign, SLA, Content, Term, Source, Payment Type, Product, Education Type, Created Time, Course duration, Months of study, Initial Amount Paid, Offer Total Amount, Contact Name, City, Level of Deutsch, Created Date, Create_to_Close_Days, Latitude, Longitude, SLA_range, AOV_i, Revenue_i]
Index: []

[0 rows x 30 columns]

In [45]:
deals_df[deals_df['Offer Total Amount'] == 0]

Empty DataFrame
Columns: [Id, Deal Owner Name, Closing Date, Quality, Stage, Lost Reason, Page, Campaign, SLA, Content, Term, Source, Payment Type, Product, Education Type, Created Time, Course duration, Months of study, Initial Amount Paid, Offer Total Amount, Contact Name, City, Level of Deutsch, Created Date, Create_to_Close_Days, Latitude, Longitude, SLA_range, AOV_i, Revenue_i]
Index: []

[0 rows x 30 columns]

In [46]:
deals_df[deals_df['Revenue_i'] == 0]

Empty DataFrame
Columns: [Id, Deal Owner Name, Closing Date, Quality, Stage, Lost Reason, Page, Campaign, SLA, Content, Term, Source, Payment Type, Product, Education Type, Created Time, Course duration, Months of study, Initial Amount Paid, Offer Total Amount, Contact Name, City, Level of Deutsch, Created Date, Create_to_Close_Days, Latitude, Longitude, SLA_range, AOV_i, Revenue_i]
Index: []

[0 rows x 30 columns]

In [47]:
deals_df[deals_df['Months of study'] == 0]

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,...,Contact Name,City,Level of Deutsch,Created Date,Create_to_Close_Days,Latitude,Longitude,SLA_range,AOV_i,Revenue_i
1242,5805028000053813018,Charlie Davis,2024-06-11,B - Medium,Payment Done,NaN,/email,1006start,0 days 07:06:44,NaN,...,5805028000015298335,Aachen,NaN,2024-06-07,4.0,50.7753,6.0839,Very slow (>60 min),-inf,NaN

In [50]:
deals_df.loc[deals_df['Id'] == '5805028000053813018',  ['Initial Amount Paid', 'Offer Total Amount', 'Months of study', 'Course duration']]

,Initial Amount Paid,Offer Total Amount,Months of study,Course duration
1242,300.0,4000.0,0,11