In [ ]:
УРОК 61. ПРОДВИНУТЫЕ
ВОЗМОЖНОСТИ ГРУППИРОВКИ И
РАБОТЫ С JUPYTER NOTEBOOK

In [2]:
import pandas as pd
import numpy as np

In [7]:
np.random.seed(42)
df = pd.DataFrame({
'Специальность' : ['Ветеринар', 'Ветеринар',
'Психолог', 'Психолог'] * 6,
'Врач' : ['Андрей', 'Сергей', 'Ирина'] * 8,
'Диагноз' : ['Простуда', 'Простуда', 'Простуда',
'Волнения', 'Волнения', 'Простуда'] * 4,
'Доза' : np.random.randint(low=1, high=6,size=24),
'Продолжительность' : np.random.randint(low=1, high=6,size=24)
})
df

   Специальность    Врач   Диагноз  Доза  Продолжительность
0      Ветеринар  Андрей  Простуда     4                  1
1      Ветеринар  Сергей  Простуда     5                  3
2       Психолог   Ирина  Простуда     3                  3
3       Психолог  Андрей  Волнения     5                  2
4      Ветеринар  Сергей  Волнения     5                  4
5      Ветеринар   Ирина  Простуда     2                  4
6       Психолог  Андрей  Простуда     3                  3
7       Психолог  Сергей  Простуда     3                  4
8      Ветеринар   Ирина  Простуда     3                  4
9      Ветеринар  Андрей  Волнения     5                  1
10      Психолог  Сергей  Волнения     4                  3
11      Психолог   Ирина  Простуда     3                  5
12     Ветеринар  Андрей  Простуда     5                  3
13     Ветеринар  Сергей  Простуда     2                  5
14      Психолог   Ирина  Простуда     4                  1
15      Психолог  Андрей  Волнения     2                  2
16     Ветеринар  Сергей  Волнения     4                  4
17     Ветеринар   Ирина  Простуда     5                  1
18      Психолог  Андрей  Простуда     1                  4
19      Психолог  Сергей  Простуда     4                  2
20     Ветеринар   Ирина  Простуда     2                  2
21     Ветеринар  Андрей  Волнения     5                  1
22      Психолог  Сергей  Волнения     4                  2
23      Психолог   Ирина  Простуда     1                  5

In [4]:
pd.crosstab(df['Врач'], df['Диагноз'], margins=True) # crosstab по умолчанию считает количество строк

Диагноз  Волнения  Простуда  All
Врач
Андрей          4         4    8
Ирина           0         8    8
Сергей          4         4    8
All             8        16   24

In [5]:
pd.crosstab(df['Врач'], df['Диагноз'])

Диагноз  Волнения  Простуда
Врач
Андрей          4         4
Ирина           0         8
Сергей          4         4

In [8]:
pd.crosstab(df['Врач'], df['Диагноз'], values=df['Доза'], aggfunc="mean")

Диагноз  Волнения  Простуда
Врач
Андрей       4.25     3.250
Ирина         NaN     2.875
Сергей       4.25     3.500

In [9]:
pd.pivot_table(df, index=['Врач'], values=['Доза', 'Продолжительность']) #pivot_table по умолчанию считает среднее

         Доза  Продолжительность
Врач
Андрей  3.750              2.125
Ирина   2.875              3.125
Сергей  3.875              3.375

pivot поддерживает индексы и мощнее, чем crosstab.
Если надо просто посчитать кол-во строк, то crosstab, такой код проще посчитать будет.
В pivot больше функций.

In [12]:
pd.pivot_table(df,
    values='Доза',
    index=['Специальность', 'Врач'],
    columns=['Диагноз'],
    aggfunc="sum")

Диагноз               Волнения  Простуда
Специальность Врач
Ветеринар     Андрей      10.0       9.0
              Ирина        NaN      12.0
              Сергей       9.0       7.0
Психолог      Андрей       7.0       4.0
              Ирина        NaN      11.0
              Сергей       8.0       7.0

In [14]:
pd.pivot_table(df,
    values=['Доза', 'Продолжительность'], # какие данные
    index=['Специальность', 'Врач'], #что в строках
    columns=['Диагноз'],# что в колонках
    aggfunc=["min", "mean", "max"], # что вычисляем
    margins=True).T #margins - это итоги

Специальность                   Ветеринар              Психолог               \
Врач                               Андрей Ирина Сергей   Андрей Ирина Сергей
                       Диагноз
min  Доза              Волнения      5.00   NaN    4.0     2.00   NaN   4.00
                       Простуда      4.00  2.00    2.0     1.00  1.00   3.00
                       All           4.00  2.00    2.0     1.00  1.00   3.00
     Продолжительность Волнения      1.00   NaN    4.0     2.00   NaN   2.00
                       Простуда      1.00  1.00    3.0     3.00  1.00   2.00
                       All           1.00  1.00    3.0     2.00  1.00   2.00
mean Доза              Волнения      5.00   NaN    4.5     3.50   NaN   4.00
                       Простуда      4.50  3.00    3.5     2.00  2.75   3.50
                       All           4.75  3.00    4.0     2.75  2.75   3.75
     Продолжительность Волнения      1.00   NaN    4.0     2.00   NaN   2.50
                       Простуда      2.00  2.75    4.0     3.50  3.50   3.00
                       All           1.50  2.75    4.0     2.75  3.50   2.75
max  Доза              Волнения      5.00   NaN    5.0     5.00   NaN   4.00
                       Простуда      5.00  5.00    5.0     3.00  4.00   4.00
                       All           5.00  5.00    5.0     5.00  4.00   4.00
     Продолжительность Волнения      1.00   NaN    4.0     2.00   NaN   3.00
                       Простуда      3.00  4.00    5.0     4.00  5.00   4.00
                       All           3.00  4.00    5.0     4.00  5.00   4.00

Специальность                      All
Врач
                       Диагноз
min  Доза              Волнения  2.000
                       Простуда  1.000
                       All       1.000
     Продолжительность Волнения  1.000
                       Простуда  1.000
                       All       1.000
mean Доза              Волнения  4.250
                       Простуда  3.125
                       All       3.500
     Продолжительность Волнения  2.375
                       Простуда  3.125
                       All       2.875
max  Доза              Волнения  5.000
                       Простуда  5.000
                       All       5.000
     Продолжительность Волнения  4.000
                       Простуда  5.000
                       All       5.000

In [15]:
pd.pivot_table(df,
    values=['Доза', 'Продолжительность'], # какие данные
    index=['Специальность', 'Врач'], #что в строках
    columns=['Диагноз'],# что в колонках
    aggfunc=["min", "mean", "max"], # что вычисляем
    margins=True).T #margins - это итоги

?pd.pivot_table

Signature:
pd.pivot_table(
    data: 'DataFrame',
    values=None,
    index=None,
    columns=None,
    aggfunc: 'AggFuncType' = 'mean',
    fill_value=None,
    margins: 'bool' = False,
    dropna: 'bool' = True,
    margins_name: 'Hashable' = 'All',
    observed: 'bool | lib.NoDefault' = <no_default>,
    sort: 'bool' = True,
) -> 'DataFrame'
Docstring:
Create a spreadsheet-style pivot table as a DataFrame.

The levels in the pivot table will be stored in MultiIndex objects
(hierarchical indexes) on the index and columns of the result DataFrame.

Parameters
----------
data : DataFrame
values : list-like or scalar, optional
    Column or columns to aggregate.
index : column, Grouper, array, or list of the previous
    Keys to group by on the pivot table index. If a list is passed,
    it can contain any of the other types (except list). If an array is
    passed, it must be the same length as the data and will be used in
    the same manner as column values.
columns : column, Grouper, array, or list of the previous
    Keys to group by on the pivot table column. If a list is passed,
    it can contain any of the other types (except list). If an array is
    passed, it must be the same length as the data and will be used in
    the same manner as column values.
aggfunc : function, list of functions, dict, default "mean"
    If a list of functions is passed, the resulting pivot table will have
    hierarchical columns whose top level are the function names
    (inferred from the function objects themselves).
    If a dict is passed, the key is column to aggregate and the value is
    function or list of functions. If ``margin=True``, aggfunc will be
    used to calculate the partial aggregates.
fill_value : scalar, default None
    Value to replace missing values with (in the resulting pivot table,
    after aggregation).
margins : bool, default False
    If ``margins=True``, special ``All`` columns and rows
    will be added with partial group aggregates across the categories
    on the rows and columns.
dropna : bool, default True
    Do not include columns whose entries are all NaN. If True,
    rows with a NaN value in any column will be omitted before
    computing margins.
margins_name : str, default 'All'
    Name of the row / column that will contain the totals
    when margins is True.
observed : bool, default False
    This only applies if any of the groupers are Categoricals.
    If True: only show observed values for categorical groupers.
    If False: show all values for categorical groupers.

    .. deprecated:: 2.2.0

        The default value of ``False`` is deprecated and will change to
        ``True`` in a future version of pandas.

sort : bool, default True
    Specifies if the result should be sorted.

    .. versionadded:: 1.3.0

Returns
-------
DataFrame
    An Excel style pivot table.

See Also
--------
DataFrame.pivot : Pivot without aggregation that can handle
    non-numeric data.
DataFrame.melt: Unpivot a DataFrame from wide to long format,
    optionally leaving identifiers set.
wide_to_long : Wide panel to long format. Less flexible but more
    user-friendly than melt.

Notes
-----
Reference :ref:`the user guide <reshaping.pivot>` for more examples.

Examples
--------
>>> df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",
...                          "bar", "bar", "bar", "bar"],
...                    "B": ["one", "one", "one", "two", "two",
...                          "one", "one", "two", "two"],
...                    "C": ["small", "large", "large", "small",
...                          "small", "large", "small", "small",
...                          "large"],
...                    "D": [1, 2, 2, 3, 3, 4, 5, 6, 7],
...                    "E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})
>>> df
     A    B      C  D  E
0  foo  one  small  1  2
1  foo  one  large  2  4
2  foo  one  large  2  5
3  foo  two  small  3  5
4  foo  two  small  3  6
5  bar  one  large  4  6
6  bar  one  small  5  8
7  bar  two  small  6  9
8  bar  two  large  7  9

This first example aggregates values by taking the sum.

>>> table = pd.pivot_table(df, values='D', index=['A', 'B'],
...                        columns=['C'], aggfunc="sum")
>>> table
C        large  small
A   B
bar one    4.0    5.0
    two    7.0    6.0
foo one    4.0    1.0
    two    NaN    6.0

We can also fill missing values using the `fill_value` parameter.

>>> table = pd.pivot_table(df, values='D', index=['A', 'B'],
...                        columns=['C'], aggfunc="sum", fill_value=0)
>>> table
C        large  small
A   B
bar one      4      5
    two      7      6
foo one      4      1
    two      0      6

The next example aggregates by taking the mean across multiple columns.

>>> table = pd.pivot_table(df, values=['D', 'E'], index=['A', 'C'],
...                        aggfunc={'D': "mean", 'E': "mean"})
>>> table
                D         E
A   C
bar large  5.500000  7.500000
    small  5.500000  8.500000
foo large  2.000000  4.500000
    small  2.333333  4.333333

We can also calculate multiple types of aggregations for any given
value column.

>>> table = pd.pivot_table(df, values=['D', 'E'], index=['A', 'C'],
...                        aggfunc={'D': "mean",
...                                 'E': ["min", "max", "mean"]})
>>> table
                  D   E
               mean max      mean  min
A   C
bar large  5.500000   9  7.500000    6
    small  5.500000   9  8.500000    8
foo large  2.000000   5  4.500000    4
    small  2.333333   6  4.333333    2
File:      c:\users\user\appdata\local\programs\python\python312\lib\site-packages\pandas\core\reshape\pivot.py
Type:      function

$a = \sqrt{5/3}^8$ -- это пример на Latex

In [17]:
%lsmagic

Available line magics:
%alias  %alias_magic  %autoawait  %autocall  %automagic  %autosave  %bookmark  %cd  %clear  %cls  %code_wrap  %colors  %conda  %config  %connect_info  %copy  %ddir  %debug  %dhist  %dirs  %doctest_mode  %echo  %ed  %edit  %env  %gui  %hist  %history  %killbgscripts  %ldir  %less  %load  %load_ext  %loadpy  %logoff  %logon  %logstart  %logstate  %logstop  %ls  %lsmagic  %macro  %magic  %mamba  %matplotlib  %micromamba  %mkdir  %more  %notebook  %page  %pastebin  %pdb  %pdef  %pdoc  %pfile  %pinfo  %pinfo2  %pip  %popd  %pprint  %precision  %prun  %psearch  %psource  %pushd  %pwd  %pycat  %pylab  %qtconsole  %quickref  %recall  %rehashx  %reload_ext  %ren  %rep  %rerun  %reset  %reset_selective  %rmdir  %run  %save  %sc  %set_env  %store  %sx  %system  %tb  %time  %timeit  %unalias  %unload_ext  %who  %who_ls  %whos  %xdel  %xmode

Available cell magics:
%%!  %%HTML  %%SVG  %%bash  %%capture  %%cmd  %%code_wrap  %%debug  %%file  %%html  %%javascript  %%js  %%latex  %%markdown  %%perl  %%prun  %%pypy  %%python  %%python2  %%python3  %%ruby  %%script  %%sh  %%svg  %%sx  %%system  %%time  %%timeit  %%writefile

Automagic is ON, % prefix IS NOT needed for line magics.

In [22]:
%%writefile test.py 
print("Hello, World!")
print('Hi everybody!')
#записать в ячейку в пайтоновский файл

Overwriting test.py

In [19]:
%pycat test.py

print("Hello, World!")

In [23]:
%system date

['’ҐЄгй\xa0п ¤\xa0в\xa0: 27.02.2025 ', '‚ўҐ¤ЁвҐ \xad®ўго ¤\xa0вг (¤¤-¬¬-ЈЈ): ']

In [24]:
!date

^C
’ҐЄгй п ¤ в : 27.02.2025
‚ўҐ¤ЁвҐ ­®ўго ¤ вг (¤¤-¬¬-ЈЈ):

In [25]:
%system dir

[' ’®¬ ў гбва®©бвўҐ C Ё¬ҐҐв ¬ҐвЄг Windows 10',
 ' ‘ҐаЁ©\xadл© \xad®¬Ґа в®¬\xa0: FE2D-815A',
 '',
 ' ‘®¤Ґа¦Ё¬®Ґ Ї\xa0ЇЄЁ C:\\Users\\user\\ICH\\Python\\hw',
 '',
 '27.02.2025  12:12    <DIR>          .',
 '27.02.2025  12:12    <DIR>          ..',
 '27.02.2025  12:02    <DIR>          .ipynb_checkpoints',
 '17.08.2024  14:32             3я599 160824.ipynb',
 '16.09.2024  09:37             3я430 160924_format_str.ipynb',
 '17.09.2024  22:19            15я133 170924_pr.ipynb',
 '19.08.2024  18:18             3я107 190824.ipynb',
 '01.11.2024  17:54             6я024 1_11_2024.ipynb',
 '22.08.2024  09:42             5я406 220824.ipynb',
 '27.08.2024  07:35             5я001 260824.ipynb',
 '26.08.2024  09:10             1я730 260824_else_if.ipynb',
 '27.11.2024  09:51             7я881 261124_practice_oop.ipynb',
 '29.10.2024  11:48            11я547 291024_collections.ipynb',
 '29.10.2024  12:17            11я218 291024_practik_collect.ipynb',
 '26.09.2024  09:40             1я856 3 methods of reverse lists.ipynb',
 '08.11.2024  09:01             6я332 46_generators.ipynb',
 '13.11.2024  18:27            10я252 47_summary.ipynb',
 '14.11.2024  18:06             4я783 48_annotations.ipynb',
 '15.11.2024  08:35            12я411 50_os.ipynb',
 '17.11.2024  18:01             2я678 51_summary.ipynb',
 '25.11.2024  17:49             9я245 55_summary.ipynb',
 '25.11.2024  16:30             9я426 56_oop.ipynb',
 '08.12.2024  19:05             3я979 58_classes.ipynb',
 '10.12.2024  18:33            15я909 59_summary.ipynb',
 '08.12.2024  19:05             5я539 60_decorators.ipynb',
 '09.12.2024  17:53               133 add.log',
 '26.02.2025  19:17    <DIR>          Algorithms',
 '18.02.2025  10:44             3я363 AL_binary_search.ipynb',
 '12.09.2024  09:49            11я680 class_02.ipynb',
 '24.09.2024  12:38                62 data.txt',
 '20.09.2024  09:27                22 data_revers.txt',
 '15.02.2025  17:54            27я694 DA_Arithmetic_np.ipynb',
 '27.02.2025  12:12            53я197 DA_GroupBy_advanced.ipynb',
 '17.02.2025  10:48             5я786 DA_hw_1.ipynb',
 '22.02.2025  16:27             7я736 DA_hw_2.ipynb',
 '19.02.2025  23:48            10я631 DA_hw_3.ipynb',
 '23.02.2025  00:33             5я194 DA_hw_4.ipynb',
 '25.02.2025  01:59            24я704 DA_hw_5.ipynb',
 '13.02.2025  09:03            25я424 DA_Intro.ipynb',
 '17.02.2025  12:19            21я624 DA_LinAlgebra.ipynb',
 '17.02.2025  10:26            40я132 DA_Matrix_begin.ipynb',
 '21.02.2025  13:05            86я588 DA_Pandas_dataframe.ipynb',
 '22.02.2025  23:23            20я649 DA_Pandas_series.ipynb',
 '17.02.2025  14:01            17я481 DA_Performance.ipynb',
 '13.02.2025  10:51            14я551 DA_practice_01_array.ipynb',
 '17.02.2025  10:10            16я235 DA_practice_02_matrix.ipynb',
 '20.02.2025  11:12            28я701 DA_practice_3.ipynb',
 '21.02.2025  14:05            26я255 DA_practice_4.ipynb',
 '27.02.2025  11:13            47я362 DA_practice_5_2.ipynb',
 '24.02.2025  18:19           129я144 DA_Simple_operations_df.ipynb',
 '27.02.2025  09:10            89я071 DA_Some_dataframes_groupby.ipynb',
 '18.10.2024  08:17            21я768 dict_171024.ipynb',
 '24.02.2025  11:40            10я914 example.csv',
 '24.02.2025  11:40            10я894 example.tsv',
 '02.09.2024  21:08               160 fd.py',
 '01.10.2024  13:09             6я222 file_hw_10.ipynb',
 '10.01.2025  00:11            10я450 flickr.ipynb',
 '25.11.2024  17:49            14я085 functional_part_1.ipynb',
 '25.11.2024  17:49             7я609 functional_part_2.ipynb',
 '19.11.2024  12:31             8я635 func_prog_191124_practice.ipynb',
 '13.08.2024  18:31             1я369 hw1.ipynb',
 '17.08.2024  14:33             1я322 hw2.ipynb',
 '13.09.2024  22:32             5я072 hw_10.ipynb',
 '01.10.2024  12:49             5я735 hw_10_test.txt',
 '24.09.2024  11:46             4я693 hw_11.ipynb',
 '26.09.2024  07:50             3я545 hw_12.ipynb',
 '20.09.2024  10:38             1я819 hw_12_draft.ipynb',
 '29.09.2024  00:50             2я824 hw_13.ipynb',
 '29.09.2024  02:17             3я808 hw_14.ipynb',
 '02.10.2024  01:31             4я234 hw_15.ipynb',
 '02.10.2024  16:28             2я819 hw_16.ipynb',
 '11.10.2024  09:17             3я883 hw_17.ipynb',
 '12.10.2024  17:05             2я848 hw_18.ipynb',
 '14.10.2024  23:38             4я197 hw_19.ipynb',
 '26.10.2024  15:15             5я863 hw_20.ipynb',
 '01.11.2024  09:39             4я965 hw_21.ipynb',
 '14.11.2024  09:04             3я795 hw_22.ipynb',
 '13.11.2024  08:55             3я611 hw_23.ipynb',
 '13.11.2024  20:45             5я249 hw_24.ipynb',
 '15.11.2024  09:40             4я134 hw_25.ipynb',
 '17.11.2024  01:53             1я219 hw_26_1.py',
 '17.11.2024  02:53             1я494 hw_26_2.py',
 '21.11.2024  10:00             2я876 hw_27.ipynb',
 '29.11.2024  15:35             4я322 hw_28.ipynb',
 '25.11.2024  16:47             3я612 hw_29.ipynb',
 '19.08.2024  19:52             3я831 hw_3.ipynb',
 '09.12.2024  00:12             4я643 hw_30.ipynb',
 '09.12.2024  17:56             7я133 hw_31.ipynb',
 '10.12.2024  19:45             5я307 hw_32.ipynb',
 '11.12.2024  17:07             5я553 hw_33.ipynb',
 '12.12.2024  16:58             2я964 hw_34.ipynb',
 '16.12.2024  17:43             6я675 hw_35.ipynb',
 '20.12.2024  17:50            11я967 hw_36.ipynb',
 '10.01.2025  09:21            24я538 hw_37_1.ipynb',
 '10.01.2025  09:20            25я383 hw_37_2.ipynb',
 '22.08.2024  21:20             4я689 hw_4.ipynb',
 '28.08.2024  21:53             3я916 hw_5.ipynb',
 '28.08.2024  21:53             7я549 hw_5_draft.ipynb',
 '01.09.2024  22:55             6я933 hw_6.ipynb',
 '06.09.2024  09:15             3я386 hw_7.ipynb',
 '08.09.2024  13:03             2я182 hw_8.ipynb',
 '11.09.2024  07:39             5я458 hw_9.ipynb',
 '10.09.2024  21:05             2я825 hw_9_draft.ipynb',
 '08.11.2024  08:52             8я676 iterator.ipynb',
 '19.11.2024  11:39                41 NameAge.txt',
 '01.10.2024  12:51             9я221 pr011024.ipynb',
 '03.09.2024  13:03             7я331 pr030924_while.ipynb',
 '07.09.2024  11:06             4я633 pr060924.ipynb',
 '10.09.2024  17:21            13я229 pr100924_string.ipynb',
 '22.08.2024  08:41             6я152 pr200824.ipynb',
 '24.09.2024  14:12            13я266 pr240924_Functions.ipynb',
 '27.08.2024  13:09            10я207 pr270824_if.ipynb',
 '10.01.2025  00:11             7я834 Practica 19a.ipynb',
 '03.12.2024  13:37            11я364 practice_031224_oop.ipynb',
 '05.11.2024  12:25             4я814 practice_051124.ipynb',
 '10.01.2025  00:11             2я599 practice_070125_our.ipynb',
 '10.12.2024  14:17            13я546 practice_101224_file_class_json.ipynb',
 '05.12.2024  08:28            17я750 practice_15_comments.ipynb',
 '06.01.2025  14:14             2я011 practice_18_api_weather.ipynb',
 '10.01.2025  00:11            23я169 practice_20_fixed.ipynb',
 '16.01.2025  01:35            19я232 practice_20_sakila.ipynb',
 '17.12.2024  14:09             9я099 practice_regexp_171224.ipynb',
 '10.01.2025  00:11             2я455 practic_070125.py',
 '12.11.2024  15:34             4я893 practic_121124.ipynb',
 '14.01.2025  22:10             5я833 practic_20_sakila_2.ipynb',
 '14.11.2024  13:33                60 products.txt',
 '09.10.2024  08:16            11я423 pr_081024_lambda.ipynb',
 '06.01.2025  14:14            45я742 pymysql_connect.ipynb',
 '08.12.2024  19:05             8я827 python_extra_lesson.ipynb',
 '10.01.2025  00:11            61я673 sakila_2_sv.ipynb',
 '10.01.2025  00:11            38я073 sakila_sv.ipynb',
 '10.12.2024  13:18               163 sales.json',
 '10.12.2024  13:18                76 sales.txt',
 '27.02.2025  11:02             8я567 sales_data.csv',
 '01.09.2024  22:31             5я378 sample_hw6.ipynb',
 '04.09.2024  16:51    <DIR>          Scrins',
 '01.09.2024  19:39            22я770 step.ipynb',
 '15.09.2024  13:15             5я365 string_hw.ipynb',
 '15.09.2024  13:09            13я142 string_methods.ipynb',
 '13.09.2024  10:20             4я523 sum130924.ipynb',
 '23.08.2024  20:32             4я242 sum230824.ipynb',
 '29.09.2024  00:51             3я604 sum270924.ipynb',
 '30.08.2024  08:40             1я800 sum300824.ipynb',
 '29.09.2024  02:23             9я667 summary_7.ipynb',
 '18.09.2024  17:08             9я399 tasks_string.ipynb',
 '27.02.2025  12:05               120 test.py',
 '31.10.2024  15:29                18 test_exc.txt',
 '02.09.2024  13:45             1я951 th020924.ipynb',
 '02.10.2024  16:31             3я801 th021024_Compreh.ipynb',
 '05.09.2024  21:50             2я543 th050924_float.ipynb',
 '20.09.2024  09:29             8я600 th200924_files.ipynb',
 '01.09.2024  22:53             4я372 th290824_while.ipynb',
 '01.10.2024  11:23             1я163 th300924.ipynb',
 '20.09.2024  10:43            18я904 th_190924_for.ipynb',
 '24.09.2024  12:26             5я453 th_230924_Function.ipynb',
 '27.09.2024  08:37             7я922 th_260924_Lists.ipynb',
 '31.10.2024  14:41             4я868 th_311024_try.ipynb',
 '14.11.2024  09:27               994 Timing.ipynb',
 '13.08.2024  18:27             4я739 Untitled.ipynb',
 '17.08.2024  14:32             1я322 Untitled1.ipynb',
 '20.12.2024  17:47             2я155 Untitled10.ipynb',
 '10.01.2025  00:11               650 Untitled11.ipynb',
 '10.02.2025  10:34             7я938 Untitled12.ipynb',
 '10.01.2025  00:11             1я553 Untitled13.ipynb',
 '16.10.2024  13:34             1я226 Untitled2.ipynb',
 '01.09.2024  12:31           481я521 Untitled3.ipynb',
 '02.09.2024  21:20               617 Untitled4.ipynb',
 '02.09.2024  14:08             2я196 Untitled5.ipynb',
 '19.11.2024  11:08             3я308 Untitled6.ipynb',
 '29.10.2024  11:41                72 Untitled7.ipynb',
 '16.12.2024  10:30             3я723 Untitled8.ipynb',
 '16.12.2024  10:35             2я153 Untitled9.ipynb',
 '04.11.2024  15:24                 5 v2.txt',
 '14.11.2024  09:02                 6 v3.txt',
 '04.09.2024  16:52    <DIR>          venv',
 '06.01.2025  13:38             5я251 Wether.ipynb',
 '05.09.2024  21:47             7я389 Work_IF_WHILE.ipynb',
 '             171 д\xa0©«®ў      2я223я264 Ў\xa0©в',
 '               6 Ї\xa0Ї®Є  325я210я828я800 Ў\xa0©в бў®Ў®¤\xad®']

In [26]:
!pip install scipy

Collecting scipy
  Downloading scipy-1.15.2-cp312-cp312-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: numpy<2.5,>=1.23.5 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from scipy) (2.2.2)
Downloading scipy-1.15.2-cp312-cp312-win_amd64.whl (40.9 MB)
   ---------------------------------------- 0.0/40.9 MB ? eta -:--:--
   ----- ---------------------------------- 6.0/40.9 MB 33.5 MB/s eta 0:00:02
   ------------- -------------------------- 13.9/40.9 MB 36.4 MB/s eta 0:00:01
   --------------------- ------------------ 21.8/40.9 MB 36.2 MB/s eta 0:00:01
   ---------------------------- ----------- 29.4/40.9 MB 35.8 MB/s eta 0:00:01
   ----------------------------------- ---- 36.7/40.9 MB 35.9 MB/s eta 0:00:01
   ---------------------------------------  40.9/40.9 MB 36.1 MB/s eta 0:00:01
   ---------------------------------------- 40.9/40.9 MB 29.3 MB/s eta 0:00:00
Installing collected packages: scipy
Successfully installed scipy-1.15.2

[notice] A new release of pip is available: 24.2 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

1. У вас есть датафрейм с информацией о покупках различных товаров разными
клиентами. Кроме того, у вас есть информация о поле каждого клиента и
категории товаров. Необходимо создать сводную таблицу, чтобы
проанализировать, какие категории товаров покупаются чаще всего
мужчинами и женщинами разных возрастных групп.

In [27]:
data = { 'CustomerID': [1, 2, 3, 4, 5, 6, 7, 8], 
        'Age': [25, 35, 45, 55, 25, 35, 45, 55], 
        'Gender': ['M', 'M', 'M', 'M', 'F', 'F', 'F', 'F'], 
        'Category': ['Electronics', 'Fashion', 'Electronics', 'Fashion', 'Electronics', 'Fashion', 'Electronics', 'Fashion'] }

df = pd.DataFrame(data)
display(df)

pd.pivot_table(df,
             index=['Gender', 'Age'], #что в строках
             columns=['Category'], #что в колонках
             aggfunc=["sum"], #что вычисляем
             margins=True) #итого

   CustomerID  Age Gender     Category
0           1   25      M  Electronics
1           2   35      M      Fashion
2           3   45      M  Electronics
3           4   55      M      Fashion
4           5   25      F  Electronics
5           6   35      F      Fashion
6           7   45      F  Electronics
7           8   55      F      Fashion

                   sum
            CustomerID
Category   Electronics Fashion All
Gender Age
F      25          5.0     NaN   5
       35          NaN     6.0   6
       45          7.0     NaN   7
       55          NaN     8.0   8
M      25          1.0     NaN   1
       35          NaN     2.0   2
       45          3.0     NaN   3
       55          NaN     4.0   4
All               16.0    20.0  36

2. У вас есть датафрейм с результатами опроса, в котором каждый респондент
указал свой пол и предпочтения по категориям товаров. Необходимо создать
таблицу сопряженности и добавить в нее процентные значения по строкам
или столбцам.

In [32]:
data = {
'Gender': ['Male', 'Female', 'Male', 'Male', 'Female', 'Female'],
'Category': ['Electronics', 'Fashion', 'Electronics', 'Fashion',
'Electronics', 'Fashion']
}
df = pd.DataFrame(data)
cr_table = pd.crosstab(df['Gender'], df['Category'])
cr_table.div(cr_table.sum(axis=1), axis=0)
# cr_table.sum(axis=1)

Category  Electronics   Fashion
Gender
Female       0.333333  0.666667
Male         0.666667  0.333333

В медицинской клинике информацию о приемах записывают в таблицу со следующими полями:
● Время приема
● Врач
● Пациент
● Поставленный диагноз
● Назначение
● Другие поля
Посчитать, сколько раз за предыдущий месяц каждый врач ставил какой-либо диагноз.
Результаты представить в виде таблицы, в которой посчитать суммы по строкам и столбцам, т.е.
сколько врач сделал приемов за месяц и сколько раз конкретный диагноз поставлен всеми врачами.

Используем
pd.crosstab(index, columns, values=None, rownames=None, colnames=None,
aggfunc=None, margins=False, margins_name='All', dropna=True, normalize=False)

или:
pd.pivot_table(data, values=None, index=None, columns=None, aggfunc='mean', fill_value=None,
margins=False, dropna=True, margins_name='All')

In [ ]:
pd.crosstab(df['Врач'], df['Диагноз'], margins=True)

In [ ]:
pd.pivot_table(df, index='врач', columns='диагноз', margins=True)

In [ ]:
df = pd.DataFrame({
    'Специальность' : ['Ветеринар', 'Ветеринар',
    'Психолог', 'Психолог'] * 6,
    'Врач' : ['Андрей', 'Сергей', 'Ирина'] * 8,
    'Диагноз' : ['Простуда', 'Простуда', 'Простуда',
    'Волнения', 'Волнения', 'Простуда'] * 4,
    'Доза' : np.random.randint(low=1, high=6,size=24),
    'Продолжительность' : np.random.randint(low=1, high=6,size=24)
    })
df

In [ ]:
Ctrl + [ - сдвинуть влево
Ctrl + ] - сдвинуть вправо

%%  - действует на всю ячейку, если написаны в начале ячейки
% - действует на одну строку

%timeit - запускает команду несколько раз и замеряет среднее время выполнения. Нужно именно несколько раз, потому что производительность работы компьютера не стабильно, память может быть занята в этот момент какими-то другими процессами

In [ ]:
%%writefile - отправляет всю ячейку в pyfile
%pycat - наоборот выводит на экран файл