In [18]:
import pandas as pd
# Загрузка с явным указанием типа данных для CONTACTID как строка
dtype_dict = {
    'Id': 'str',
}
# Загружаем Excel
excel_file_contacts = pd.read_excel('Contacts (Done).xlsx', dtype=dtype_dict)

excel_file_contacts.to_csv("Contacts.csv", index=False, encoding='utf-8-sig')

In [19]:
contacts_df = pd.read_csv("Contacts.csv", dtype={'Id': str})
contacts_df

,Id,Contact Owner Name,Created Time,Modified Time
0,5805028000000645014,Rachel White,27.06.2023 11:28,22.12.2023 13:34
1,5805028000000872003,Charlie Davis,03.07.2023 11:31,21.05.2024 10:23
2,5805028000000889001,Bob Brown,02.07.2023 22:37,21.12.2023 13:17
3,5805028000000907006,Bob Brown,03.07.2023 05:44,29.12.2023 15:20
4,5805028000000939010,Nina Scott,04.07.2023 10:11,16.04.2024 16:14
...,...,...,...,...
18543,5805028000056889209,Ulysses Adams,21.06.2024 12:11,21.06.2024 14:11
18544,5805028000056889351,Eva Kent,21.06.2024 13:32,21.06.2024 15:32
18545,5805028000056892018,Eva Kent,21.06.2024 10:21,21.06.2024 12:21
18546,5805028000056892055,Yara Edwards,21.06.2024 10:22,21.06.2024 12:23
18547,5805028000056907001,Ben Hall,21.06.2024 10:56,21.06.2024 12:56

In [20]:
contacts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18548 entries, 0 to 18547
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  18548 non-null  object
 1   Contact Owner Name  18548 non-null  object
 2   Created Time        18548 non-null  object
 3   Modified Time       18548 non-null  object
dtypes: object(4)
memory usage: 579.8+ KB

In [4]:
contacts_df.dtypes

Id                    object
Contact Owner Name    object
Created Time          object
Modified Time         object
dtype: object

In [5]:
contacts_df.nunique()

Id                    18548
Contact Owner Name       28
Created Time          17921
Modified Time         16580
dtype: int64

In [21]:
contacts_df[contacts_df.duplicated()]

Empty DataFrame
Columns: [Id, Contact Owner Name, Created Time, Modified Time]
Index: []

In [22]:
contacts_df[contacts_df.duplicated(subset='Id', keep=False)]

Empty DataFrame
Columns: [Id, Contact Owner Name, Created Time, Modified Time]
Index: []

In [23]:
# Преобразуем колонку в datetime
contacts_df['Created Time'] = pd.to_datetime(contacts_df['Created Time'], errors = 'coerce', dayfirst=True)
contacts_df['Modified Time'] = pd.to_datetime(contacts_df['Modified Time'], errors = 'coerce', dayfirst=True)

# Создаем колонку с датой, тип datetime64[ns], время обрезается
contacts_df['Created Date'] = contacts_df['Created Time'].dt.normalize()

# Создаем колонку с временем (объекты datetime.time)
contacts_df['Created HourMinute'] = contacts_df['Created Time'].dt.time

In [24]:
contacts_df.dtypes

Id                            object
Contact Owner Name            object
Created Time          datetime64[ns]
Modified Time         datetime64[ns]
Created Date          datetime64[ns]
Created HourMinute            object
dtype: object

In [25]:
contacts_df

,Id,Contact Owner Name,Created Time,Modified Time,Created Date,Created HourMinute
0,5805028000000645014,Rachel White,2023-06-27 11:28:00,2023-12-22 13:34:00,2023-06-27,11:28:00
1,5805028000000872003,Charlie Davis,2023-07-03 11:31:00,2024-05-21 10:23:00,2023-07-03,11:31:00
2,5805028000000889001,Bob Brown,2023-07-02 22:37:00,2023-12-21 13:17:00,2023-07-02,22:37:00
3,5805028000000907006,Bob Brown,2023-07-03 05:44:00,2023-12-29 15:20:00,2023-07-03,05:44:00
4,5805028000000939010,Nina Scott,2023-07-04 10:11:00,2024-04-16 16:14:00,2023-07-04,10:11:00
...,...,...,...,...,...,...
18543,5805028000056889209,Ulysses Adams,2024-06-21 12:11:00,2024-06-21 14:11:00,2024-06-21,12:11:00
18544,5805028000056889351,Eva Kent,2024-06-21 13:32:00,2024-06-21 15:32:00,2024-06-21,13:32:00
18545,5805028000056892018,Eva Kent,2024-06-21 10:21:00,2024-06-21 12:21:00,2024-06-21,10:21:00
18546,5805028000056892055,Yara Edwards,2024-06-21 10:22:00,2024-06-21 12:23:00,2024-06-21,10:22:00
18547,5805028000056907001,Ben Hall,2024-06-21 10:56:00,2024-06-21 12:56:00,2024-06-21,10:56:00

In [26]:
contacts_df.nunique()

Id                    18548
Contact Owner Name       28
Created Time          17921
Modified Time         16580
Created Date            357
Created HourMinute     1406
dtype: int64

In [27]:
contacts_df.loc[:, 'Contact Owner Name'] = contacts_df['Contact Owner Name'].str.strip().str.replace(r'\s+', ' ', regex=True).str.title()
contacts_df

,Id,Contact Owner Name,Created Time,Modified Time,Created Date,Created HourMinute
0,5805028000000645014,Rachel White,2023-06-27 11:28:00,2023-12-22 13:34:00,2023-06-27,11:28:00
1,5805028000000872003,Charlie Davis,2023-07-03 11:31:00,2024-05-21 10:23:00,2023-07-03,11:31:00
2,5805028000000889001,Bob Brown,2023-07-02 22:37:00,2023-12-21 13:17:00,2023-07-02,22:37:00
3,5805028000000907006,Bob Brown,2023-07-03 05:44:00,2023-12-29 15:20:00,2023-07-03,05:44:00
4,5805028000000939010,Nina Scott,2023-07-04 10:11:00,2024-04-16 16:14:00,2023-07-04,10:11:00
...,...,...,...,...,...,...
18543,5805028000056889209,Ulysses Adams,2024-06-21 12:11:00,2024-06-21 14:11:00,2024-06-21,12:11:00
18544,5805028000056889351,Eva Kent,2024-06-21 13:32:00,2024-06-21 15:32:00,2024-06-21,13:32:00
18545,5805028000056892018,Eva Kent,2024-06-21 10:21:00,2024-06-21 12:21:00,2024-06-21,10:21:00
18546,5805028000056892055,Yara Edwards,2024-06-21 10:22:00,2024-06-21 12:23:00,2024-06-21,10:22:00
18547,5805028000056907001,Ben Hall,2024-06-21 10:56:00,2024-06-21 12:56:00,2024-06-21,10:56:00

In [28]:
contacts_df.nunique()

Id                    18548
Contact Owner Name       28
Created Time          17921
Modified Time         16580
Created Date            357
Created HourMinute     1406
dtype: int64

In [29]:
contacts_df.isnull().sum()

Id                    0
Contact Owner Name    0
Created Time          0
Modified Time         0
Created Date          0
Created HourMinute    0
dtype: int64

In [30]:
contacts_df.to_pickle("contacts_cleaned_v1.pkl")