In [1]:
import pandas as pd

# Загрузка Excel-файла с явным указанием типа данных
dtype_dict = {
    'Id': 'str',
    'Contact Name': 'str'
}

deals_df = pd.read_excel('Deals (Done).xlsx', dtype=dtype_dict)

In [2]:
pd.set_option('display.max_columns', None)

In [4]:
deals_df

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch
0,5805028000056864695,Ben Hall,NaN,NaN,New Lead,NaN,/eng/test,03.07.23women,NaN,v16,women,Facebook Ads,NaN,NaN,NaN,21.06.2024 15:30,NaN,NaN,NaN,NaN,5805028000056849495,NaN,NaN
1,5805028000056859489,Ulysses Adams,NaN,NaN,New Lead,NaN,/at-eng,NaN,NaN,NaN,NaN,Organic,NaN,Web Developer,Morning,21.06.2024 15:23,6.0,NaN,0,2000,5805028000056834471,NaN,NaN
2,5805028000056832357,Ulysses Adams,21.06.2024,D - Non Target,Lost,Non target,/at-eng,engwien_AT,00:26:43,b1-at,21_06_2024,Telegram posts,NaN,NaN,NaN,21.06.2024 14:45,NaN,NaN,NaN,NaN,5805028000056854421,NaN,NaN
3,5805028000056824246,Eva Kent,21.06.2024,E - Non Qualified,Lost,Invalid number,/eng,04.07.23recentlymoved_DE,01:00:04,bloggersvideo14com,recentlymoved,Facebook Ads,NaN,NaN,NaN,21.06.2024 13:32,NaN,NaN,NaN,NaN,5805028000056889351,NaN,NaN
4,5805028000056873292,Ben Hall,21.06.2024,D - Non Target,Lost,Non target,/eng,discovery_DE,00:53:12,website,NaN,Google Ads,NaN,NaN,NaN,21.06.2024 13:21,NaN,NaN,NaN,NaN,5805028000056876176,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21590,5805028000000945016,Jane Smith,29.08.2023,A - High,Lost,Changed Decision,eng/digital-marketing,02.07.23wide_DE,"56 days, 19:01:59",b3,wide,Facebook Ads,NaN,NaN,NaN,03.07.2023 20:39,NaN,NaN,NaN,NaN,5805028000000968001,NaN,NaN
21591,5805028000000927004,Bob Brown,09.07.2023,D - Non Target,Lost,Does not speak English,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,03.07.2023 20:17,NaN,NaN,NaN,NaN,5805028000000961001,NaN,NaN
21592,5805028000000922001,Bob Brown,03.07.2023,E - Non Qualified,Lost,Refugee,/,NaN,"4 days, 22:47:14",NaN,NaN,Organic,NaN,NaN,NaN,03.07.2023 17:03,NaN,NaN,0,0,5805028000001009140,NaN,NaN
21593,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21594,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,#REF!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
(deals_df.isnull().sum()/(len(deals_df)))*100 #процент отсутствующих значений

Id                      0.009261
Deal Owner Name         0.143552
Closing Date           32.183376
Quality                10.442232
Stage                   0.009261
Lost Reason            25.334568
Page                    0.009261
Campaign               25.598518
SLA                    28.071313
Content                34.489465
Term                   42.329243
Source                  0.009261
Payment Type           97.703172
Product                83.366520
Education Type         84.718685
Created Time            0.009261
Course duration        83.389674
Months of study        96.110211
Initial Amount Paid    80.713128
Offer Total Amount     80.620514
Contact Name            0.291734
City                   88.372308
Level of Deutsch       94.206992
dtype: float64

In [6]:
deals_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21595 entries, 0 to 21594
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Id                   21593 non-null  object
 1   Deal Owner Name      21564 non-null  object
 2   Closing Date         14645 non-null  object
 3   Quality              19340 non-null  object
 4   Stage                21593 non-null  object
 5   Lost Reason          16124 non-null  object
 6   Page                 21593 non-null  object
 7   Campaign             16067 non-null  object
 8   SLA                  15533 non-null  object
 9   Content              14147 non-null  object
 10  Term                 12454 non-null  object
 11  Source               21593 non-null  object
 12  Payment Type         496 non-null    object
 13  Product              3592 non-null   object
 14  Education Type       3300 non-null   object
 15  Created Time         21593 non-null  object
 16  Course duration      3587 non-null   float64
 17  Months of study      840 non-null    float64
 18  Initial Amount Paid  4165 non-null   object
 19  Offer Total Amount   4185 non-null   object
 20  Contact Name         21532 non-null  object
 21  City                 2511 non-null   object
 22  Level of Deutsch     1251 non-null   object
dtypes: float64(2), object(21)
memory usage: 3.8+ MB

In [7]:
deals_df['Created Time'] = pd.to_datetime(deals_df['Created Time'], format='%d.%m.%Y %H:%M', errors='coerce')
deals_df['Closing Date'] = pd.to_datetime(deals_df['Closing Date'], format='%d.%m.%Y', errors='coerce')
deals_df

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch
0,5805028000056864695,Ben Hall,NaT,NaN,New Lead,NaN,/eng/test,03.07.23women,NaN,v16,women,Facebook Ads,NaN,NaN,NaN,2024-06-21 15:30:00,NaN,NaN,NaN,NaN,5805028000056849495,NaN,NaN
1,5805028000056859489,Ulysses Adams,NaT,NaN,New Lead,NaN,/at-eng,NaN,NaN,NaN,NaN,Organic,NaN,Web Developer,Morning,2024-06-21 15:23:00,6.0,NaN,0,2000,5805028000056834471,NaN,NaN
2,5805028000056832357,Ulysses Adams,2024-06-21,D - Non Target,Lost,Non target,/at-eng,engwien_AT,00:26:43,b1-at,21_06_2024,Telegram posts,NaN,NaN,NaN,2024-06-21 14:45:00,NaN,NaN,NaN,NaN,5805028000056854421,NaN,NaN
3,5805028000056824246,Eva Kent,2024-06-21,E - Non Qualified,Lost,Invalid number,/eng,04.07.23recentlymoved_DE,01:00:04,bloggersvideo14com,recentlymoved,Facebook Ads,NaN,NaN,NaN,2024-06-21 13:32:00,NaN,NaN,NaN,NaN,5805028000056889351,NaN,NaN
4,5805028000056873292,Ben Hall,2024-06-21,D - Non Target,Lost,Non target,/eng,discovery_DE,00:53:12,website,NaN,Google Ads,NaN,NaN,NaN,2024-06-21 13:21:00,NaN,NaN,NaN,NaN,5805028000056876176,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21590,5805028000000945016,Jane Smith,2023-08-29,A - High,Lost,Changed Decision,eng/digital-marketing,02.07.23wide_DE,"56 days, 19:01:59",b3,wide,Facebook Ads,NaN,NaN,NaN,2023-07-03 20:39:00,NaN,NaN,NaN,NaN,5805028000000968001,NaN,NaN
21591,5805028000000927004,Bob Brown,2023-07-09,D - Non Target,Lost,Does not speak English,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-03 20:17:00,NaN,NaN,NaN,NaN,5805028000000961001,NaN,NaN
21592,5805028000000922001,Bob Brown,2023-07-03,E - Non Qualified,Lost,Refugee,/,NaN,"4 days, 22:47:14",NaN,NaN,Organic,NaN,NaN,NaN,2023-07-03 17:03:00,NaN,NaN,0,0,5805028000001009140,NaN,NaN
21593,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21594,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,#REF!,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
deals_df.isnull().sum()

Id                         2
Deal Owner Name           31
Closing Date            6950
Quality                 2255
Stage                      2
Lost Reason             5471
Page                       2
Campaign                5528
SLA                     6062
Content                 7448
Term                    9141
Source                     2
Payment Type           21099
Product                18003
Education Type         18295
Created Time               2
Course duration        18008
Months of study        20755
Initial Amount Paid    17430
Offer Total Amount     17410
Contact Name              63
City                   19084
Level of Deutsch       20344
dtype: int64

In [9]:
import numpy as np

deals_df = deals_df.replace(r'^\s*$', np.nan, regex=True) #заменяем пробелы и пустые строки на NaN
# deals_df = deals_df.replace(r'^[\s\t\r\n/\\]*$', np.nan, regex=True)

In [10]:
deals_df

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch
0,5805028000056864695,Ben Hall,NaT,NaN,New Lead,NaN,/eng/test,03.07.23women,NaN,v16,women,Facebook Ads,NaN,NaN,NaN,2024-06-21 15:30:00,NaN,NaN,NaN,NaN,5805028000056849495,NaN,NaN
1,5805028000056859489,Ulysses Adams,NaT,NaN,New Lead,NaN,/at-eng,NaN,NaN,NaN,NaN,Organic,NaN,Web Developer,Morning,2024-06-21 15:23:00,6.0,NaN,0,2000,5805028000056834471,NaN,NaN
2,5805028000056832357,Ulysses Adams,2024-06-21,D - Non Target,Lost,Non target,/at-eng,engwien_AT,00:26:43,b1-at,21_06_2024,Telegram posts,NaN,NaN,NaN,2024-06-21 14:45:00,NaN,NaN,NaN,NaN,5805028000056854421,NaN,NaN
3,5805028000056824246,Eva Kent,2024-06-21,E - Non Qualified,Lost,Invalid number,/eng,04.07.23recentlymoved_DE,01:00:04,bloggersvideo14com,recentlymoved,Facebook Ads,NaN,NaN,NaN,2024-06-21 13:32:00,NaN,NaN,NaN,NaN,5805028000056889351,NaN,NaN
4,5805028000056873292,Ben Hall,2024-06-21,D - Non Target,Lost,Non target,/eng,discovery_DE,00:53:12,website,NaN,Google Ads,NaN,NaN,NaN,2024-06-21 13:21:00,NaN,NaN,NaN,NaN,5805028000056876176,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21590,5805028000000945016,Jane Smith,2023-08-29,A - High,Lost,Changed Decision,eng/digital-marketing,02.07.23wide_DE,"56 days, 19:01:59",b3,wide,Facebook Ads,NaN,NaN,NaN,2023-07-03 20:39:00,NaN,NaN,NaN,NaN,5805028000000968001,NaN,NaN
21591,5805028000000927004,Bob Brown,2023-07-09,D - Non Target,Lost,Does not speak English,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-03 20:17:00,NaN,NaN,NaN,NaN,5805028000000961001,NaN,NaN
21592,5805028000000922001,Bob Brown,2023-07-03,E - Non Qualified,Lost,Refugee,/,NaN,"4 days, 22:47:14",NaN,NaN,Organic,NaN,NaN,NaN,2023-07-03 17:03:00,NaN,NaN,0,0,5805028000001009140,NaN,NaN
21593,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21594,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,#REF!,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
deals_df[deals_df.duplicated()]

Empty DataFrame
Columns: [Id, Deal Owner Name, Closing Date, Quality, Stage, Lost Reason, Page, Campaign, SLA, Content, Term, Source, Payment Type, Product, Education Type, Created Time, Course duration, Months of study, Initial Amount Paid, Offer Total Amount, Contact Name, City, Level of Deutsch]
Index: []

In [12]:
deals_df[deals_df.duplicated(subset='Id', keep=False)]

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch
21593,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21594,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,#REF!,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
print(deals_df._is_copy)

None

In [14]:
deals_df = deals_df.drop(deals_df.tail(2).index)
deals_df

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch
0,5805028000056864695,Ben Hall,NaT,NaN,New Lead,NaN,/eng/test,03.07.23women,NaN,v16,women,Facebook Ads,NaN,NaN,NaN,2024-06-21 15:30:00,NaN,NaN,NaN,NaN,5805028000056849495,NaN,NaN
1,5805028000056859489,Ulysses Adams,NaT,NaN,New Lead,NaN,/at-eng,NaN,NaN,NaN,NaN,Organic,NaN,Web Developer,Morning,2024-06-21 15:23:00,6.0,NaN,0,2000,5805028000056834471,NaN,NaN
2,5805028000056832357,Ulysses Adams,2024-06-21,D - Non Target,Lost,Non target,/at-eng,engwien_AT,00:26:43,b1-at,21_06_2024,Telegram posts,NaN,NaN,NaN,2024-06-21 14:45:00,NaN,NaN,NaN,NaN,5805028000056854421,NaN,NaN
3,5805028000056824246,Eva Kent,2024-06-21,E - Non Qualified,Lost,Invalid number,/eng,04.07.23recentlymoved_DE,01:00:04,bloggersvideo14com,recentlymoved,Facebook Ads,NaN,NaN,NaN,2024-06-21 13:32:00,NaN,NaN,NaN,NaN,5805028000056889351,NaN,NaN
4,5805028000056873292,Ben Hall,2024-06-21,D - Non Target,Lost,Non target,/eng,discovery_DE,00:53:12,website,NaN,Google Ads,NaN,NaN,NaN,2024-06-21 13:21:00,NaN,NaN,NaN,NaN,5805028000056876176,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21588,5805028000000970006,Jane Smith,2023-07-04,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-04 07:10:00,NaN,NaN,NaN,NaN,5805028000000979006,NaN,NaN
21589,5805028000000948010,Jane Smith,2023-08-29,B - Medium,Lost,needs time to think,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-04 07:10:00,NaN,NaN,NaN,NaN,5805028000000979006,NaN,NaN
21590,5805028000000945016,Jane Smith,2023-08-29,A - High,Lost,Changed Decision,eng/digital-marketing,02.07.23wide_DE,"56 days, 19:01:59",b3,wide,Facebook Ads,NaN,NaN,NaN,2023-07-03 20:39:00,NaN,NaN,NaN,NaN,5805028000000968001,NaN,NaN
21591,5805028000000927004,Bob Brown,2023-07-09,D - Non Target,Lost,Does not speak English,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-03 20:17:00,NaN,NaN,NaN,NaN,5805028000000961001,NaN,NaN
21592,5805028000000922001,Bob Brown,2023-07-03,E - Non Qualified,Lost,Refugee,/,NaN,"4 days, 22:47:14",NaN,NaN,Organic,NaN,NaN,NaN,2023-07-03 17:03:00,NaN,NaN,0,0,5805028000001009140,NaN,NaN

In [16]:
deals_df.nunique()

Id                     21593
Deal Owner Name           27
Closing Date             359
Quality                    6
Stage                     13
Lost Reason               21
Page                      34
Campaign                 154
SLA                    13357
Content                  187
Term                     220
Source                    13
Payment Type               3
Product                    5
Education Type             2
Created Time           20334
Course duration            2
Months of study           12
Initial Amount Paid       24
Offer Total Amount        21
Contact Name           18089
City                     876
Level of Deutsch         215
dtype: int64

In [17]:
deals_df.isnull().sum()

Id                         0
Deal Owner Name           29
Closing Date            6948
Quality                 2253
Stage                      0
Lost Reason             5469
Page                       0
Campaign                5526
SLA                     6060
Content                 7446
Term                    9139
Source                     0
Payment Type           21097
Product                18001
Education Type         18294
Created Time               0
Course duration        18006
Months of study        20753
Initial Amount Paid    17428
Offer Total Amount     17408
Contact Name              61
City                   19082
Level of Deutsch       20342
dtype: int64

In [18]:
# проверка на наличие спецсимволов
import re

only_specials_pattern_regex = r'^[\s\W_]+$'

mask_strict_regex = deals_df.astype(str).map(lambda x: bool(re.fullmatch(only_specials_pattern_regex, x)))

# Посмотреть, сколько таких ячеек
print("Количество ячеек со спецсимволами:", mask_strict_regex.sum().sum())

# Посмотреть, в каких колонках они встречаются
print("Колонки с такими значениями:", mask_strict_regex.any()[mask_strict_regex.any()].index.tolist())

Количество ячеек со спецсимволами: 1490
Колонки с такими значениями: ['Page', 'Term', 'City', 'Level of Deutsch']

In [19]:
deals_df[mask_strict_regex.any(axis=1)]

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch
8,5805028000056845137,Rachel White,2024-06-21,E - Non Qualified,Lost,Duplicate,/,NaN,NaN,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-21 12:40:00,NaN,NaN,NaN,NaN,5805028000056849237,NaN,NaN
16,5805028000056828139,Rachel White,2024-06-21,E - Non Qualified,Lost,Duplicate,/,NaN,NaN,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-21 11:44:00,NaN,NaN,NaN,NaN,5805028000056824095,NaN,NaN
20,5805028000056892092,Ulysses Adams,NaT,NaN,Need a consultation,NaN,/,NaN,01:03:57,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-21 10:38:00,NaN,NaN,NaN,NaN,5805028000053247795,NaN,NaN
55,5805028000056704066,Ulysses Adams,2024-06-20,E - Non Qualified,Lost,Duplicate,/,NaN,NaN,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-20 12:50:00,NaN,NaN,NaN,NaN,5805028000056727001,NaN,NaN
90,5805028000056368560,Ulysses Adams,2024-06-19,E - Non Qualified,Lost,Duplicate,/,NaN,00:01:46,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-19 13:41:00,NaN,NaN,NaN,NaN,5805028000056392363,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21450,5805028000001775026,John Doe,NaT,E - Non Qualified,Lost,Duplicate,/,NaN,NaN,NaN,NaN,Organic,NaN,NaN,NaN,2023-07-14 09:27:00,NaN,NaN,0,0,5805028000001805007,NaN,NaN
21456,5805028000001812001,Victor Barnes,2023-07-14,E - Non Qualified,Waiting For Payment,Non target,eng/digital-marketing,07.07.23LAL_DE,"311 days, 10:34:24",b2,LAL1,Facebook Ads,NaN,Digital Marketing,Morning,2023-07-14 07:08:00,11.0,NaN,1000,11500,5805028000001782077,-,B1
21480,5805028000001588071,John Doe,NaT,E - Non Qualified,Lost,Duplicate,/,NaN,NaN,NaN,NaN,Organic,NaN,NaN,NaN,2023-07-13 10:01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21581,5805028000001037002,Diana Evans,2023-09-07,A - High,Lost,Changed Decision,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,23:09:28,NaN,_,Google Ads,NaN,NaN,NaN,2023-07-05 15:36:00,NaN,NaN,NaN,NaN,5805028000001023002,NaN,NaN
21592,5805028000000922001,Bob Brown,2023-07-03,E - Non Qualified,Lost,Refugee,/,NaN,"4 days, 22:47:14",NaN,NaN,Organic,NaN,NaN,NaN,2023-07-03 17:03:00,NaN,NaN,0,0,5805028000001009140,NaN,NaN

In [20]:
print(deals_df._is_copy)

None

In [21]:
# Заменяем на NaN во всём датафрейме
deals_df = deals_df.mask(mask_strict_regex, np.nan)

In [23]:
deals_df

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch
0,5805028000056864695,Ben Hall,NaT,NaN,New Lead,NaN,/eng/test,03.07.23women,NaN,v16,women,Facebook Ads,NaN,NaN,NaN,2024-06-21 15:30:00,NaN,NaN,NaN,NaN,5805028000056849495,NaN,NaN
1,5805028000056859489,Ulysses Adams,NaT,NaN,New Lead,NaN,/at-eng,NaN,NaN,NaN,NaN,Organic,NaN,Web Developer,Morning,2024-06-21 15:23:00,6.0,NaN,0,2000,5805028000056834471,NaN,NaN
2,5805028000056832357,Ulysses Adams,2024-06-21,D - Non Target,Lost,Non target,/at-eng,engwien_AT,00:26:43,b1-at,21_06_2024,Telegram posts,NaN,NaN,NaN,2024-06-21 14:45:00,NaN,NaN,NaN,NaN,5805028000056854421,NaN,NaN
3,5805028000056824246,Eva Kent,2024-06-21,E - Non Qualified,Lost,Invalid number,/eng,04.07.23recentlymoved_DE,01:00:04,bloggersvideo14com,recentlymoved,Facebook Ads,NaN,NaN,NaN,2024-06-21 13:32:00,NaN,NaN,NaN,NaN,5805028000056889351,NaN,NaN
4,5805028000056873292,Ben Hall,2024-06-21,D - Non Target,Lost,Non target,/eng,discovery_DE,00:53:12,website,NaN,Google Ads,NaN,NaN,NaN,2024-06-21 13:21:00,NaN,NaN,NaN,NaN,5805028000056876176,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21588,5805028000000970006,Jane Smith,2023-07-04,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-04 07:10:00,NaN,NaN,NaN,NaN,5805028000000979006,NaN,NaN
21589,5805028000000948010,Jane Smith,2023-08-29,B - Medium,Lost,needs time to think,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-04 07:10:00,NaN,NaN,NaN,NaN,5805028000000979006,NaN,NaN
21590,5805028000000945016,Jane Smith,2023-08-29,A - High,Lost,Changed Decision,eng/digital-marketing,02.07.23wide_DE,"56 days, 19:01:59",b3,wide,Facebook Ads,NaN,NaN,NaN,2023-07-03 20:39:00,NaN,NaN,NaN,NaN,5805028000000968001,NaN,NaN
21591,5805028000000927004,Bob Brown,2023-07-09,D - Non Target,Lost,Does not speak English,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-03 20:17:00,NaN,NaN,NaN,NaN,5805028000000961001,NaN,NaN
21592,5805028000000922001,Bob Brown,2023-07-03,E - Non Qualified,Lost,Refugee,NaN,NaN,"4 days, 22:47:14",NaN,NaN,Organic,NaN,NaN,NaN,2023-07-03 17:03:00,NaN,NaN,0,0,5805028000001009140,NaN,NaN

In [24]:
#фильтруеv строки в DataFrame deals_df, для которых хотя бы в одной ячейке присутствуют значения, которые соответствуют регулярному выражению only_specials_pattern_regex (то есть содержат только пробельные символы или спецсимволы).
deals_df[mask_strict_regex.any(axis=1)]

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch
8,5805028000056845137,Rachel White,2024-06-21,E - Non Qualified,Lost,Duplicate,NaN,NaN,NaN,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-21 12:40:00,NaN,NaN,NaN,NaN,5805028000056849237,NaN,NaN
16,5805028000056828139,Rachel White,2024-06-21,E - Non Qualified,Lost,Duplicate,NaN,NaN,NaN,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-21 11:44:00,NaN,NaN,NaN,NaN,5805028000056824095,NaN,NaN
20,5805028000056892092,Ulysses Adams,NaT,NaN,Need a consultation,NaN,NaN,NaN,01:03:57,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-21 10:38:00,NaN,NaN,NaN,NaN,5805028000053247795,NaN,NaN
55,5805028000056704066,Ulysses Adams,2024-06-20,E - Non Qualified,Lost,Duplicate,NaN,NaN,NaN,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-20 12:50:00,NaN,NaN,NaN,NaN,5805028000056727001,NaN,NaN
90,5805028000056368560,Ulysses Adams,2024-06-19,E - Non Qualified,Lost,Duplicate,NaN,NaN,00:01:46,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-19 13:41:00,NaN,NaN,NaN,NaN,5805028000056392363,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21450,5805028000001775026,John Doe,NaT,E - Non Qualified,Lost,Duplicate,NaN,NaN,NaN,NaN,NaN,Organic,NaN,NaN,NaN,2023-07-14 09:27:00,NaN,NaN,0,0,5805028000001805007,NaN,NaN
21456,5805028000001812001,Victor Barnes,2023-07-14,E - Non Qualified,Waiting For Payment,Non target,eng/digital-marketing,07.07.23LAL_DE,"311 days, 10:34:24",b2,LAL1,Facebook Ads,NaN,Digital Marketing,Morning,2023-07-14 07:08:00,11.0,NaN,1000,11500,5805028000001782077,NaN,B1
21480,5805028000001588071,John Doe,NaT,E - Non Qualified,Lost,Duplicate,NaN,NaN,NaN,NaN,NaN,Organic,NaN,NaN,NaN,2023-07-13 10:01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21581,5805028000001037002,Diana Evans,2023-09-07,A - High,Lost,Changed Decision,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,23:09:28,NaN,NaN,Google Ads,NaN,NaN,NaN,2023-07-05 15:36:00,NaN,NaN,NaN,NaN,5805028000001023002,NaN,NaN
21592,5805028000000922001,Bob Brown,2023-07-03,E - Non Qualified,Lost,Refugee,NaN,NaN,"4 days, 22:47:14",NaN,NaN,Organic,NaN,NaN,NaN,2023-07-03 17:03:00,NaN,NaN,0,0,5805028000001009140,NaN,NaN

In [25]:
# Применяет функцию, которая для каждой колонки получает уникальные типы значений
deals_df.map(type).apply(lambda col: set(col))

Id                                                       {<class 'str'>}
Deal Owner Name                         {<class 'str'>, <class 'float'>}
Closing Date           {<class 'pandas._libs.tslibs.nattype.NaTType'>...
Quality                                 {<class 'str'>, <class 'float'>}
Stage                                                    {<class 'str'>}
Lost Reason                             {<class 'str'>, <class 'float'>}
Page                                    {<class 'str'>, <class 'float'>}
Campaign                                {<class 'str'>, <class 'float'>}
SLA                    {<class 'datetime.timedelta'>, <class 'datetim...
Content                                 {<class 'str'>, <class 'float'>}
Term                                    {<class 'str'>, <class 'float'>}
Source                                                   {<class 'str'>}
Payment Type                            {<class 'str'>, <class 'float'>}
Product                                 {<class 'str'>, <class 'float'>}
Education Type                          {<class 'str'>, <class 'float'>}
Created Time           {<class 'pandas._libs.tslibs.timestamps.Timest...
Course duration                                        {<class 'float'>}
Months of study                                        {<class 'float'>}
Initial Amount Paid      {<class 'int'>, <class 'str'>, <class 'float'>}
Offer Total Amount       {<class 'int'>, <class 'str'>, <class 'float'>}
Contact Name                            {<class 'str'>, <class 'float'>}
City                                    {<class 'str'>, <class 'float'>}
Level of Deutsch         {<class 'int'>, <class 'str'>, <class 'float'>}
dtype: object

## Initial Amount Paid & Offer Total Amount

In [26]:
type(deals_df['Initial Amount Paid'].iloc[0])

float

In [27]:
deals_df[deals_df['Initial Amount Paid'] == 'nan']

Empty DataFrame
Columns: [Id, Deal Owner Name, Closing Date, Quality, Stage, Lost Reason, Page, Campaign, SLA, Content, Term, Source, Payment Type, Product, Education Type, Created Time, Course duration, Months of study, Initial Amount Paid, Offer Total Amount, Contact Name, City, Level of Deutsch]
Index: []

In [28]:
deals_df[deals_df['Initial Amount Paid'].notna()].head(10)

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch
1,5805028000056859489,Ulysses Adams,NaT,NaN,New Lead,NaN,/at-eng,NaN,NaN,NaN,NaN,Organic,NaN,Web Developer,Morning,2024-06-21 15:23:00,6.0,NaN,0,2000,5805028000056834471,NaN,NaN
56,5805028000056683030,Charlie Davis,NaT,C - Low,Waiting For Payment,NaN,/eng/test,performancemax_eng_DE,00:20:39,_{region_name}_,NaN,Google Ads,NaN,Web Developer,Morning,2024-06-20 12:34:00,6.0,NaN,1000,9000,5805028000056690015,Crailsheim,NaN
60,5805028000056558351,Ulysses Adams,NaT,C - Low,Waiting For Payment,NaN,/eng,NaN,00:09:49,NaN,NaN,SMM,NaN,Web Developer,Morning,2024-06-20 11:16:00,6.0,NaN,1000,9000,5805028000056578244,Dortmund,в1
65,5805028000056555140,Paula Underwood,NaT,B - Medium,Waiting For Payment,NaN,/eng,03.07.23women,01:55:11,v16,women,Facebook Ads,NaN,Digital Marketing,Morning,2024-06-20 08:48:00,11.0,NaN,1000,11000,5805028000056576103,Stuttgart,NaN
71,5805028000056564131,Ben Hall,NaT,D - Non Target,Waiting For Payment,NaN,/eng,20.05.24interests_DE,12:51:39,bloggersvideo14com,interest_work,Facebook Ads,NaN,UX/UI Design,Morning,2024-06-19 22:31:00,11.0,NaN,1000,11000,5805028000056575100,München,A2
75,5805028000056590062,Paula Underwood,NaT,B - Medium,Waiting For Payment,NaN,eng/digital-marketing,brand_search_eng_DE,NaN,152789402780_{region_name}_668024583824,it career hub,Google Ads,NaN,Digital Marketing,Morning,2024-06-19 20:25:00,11.0,NaN,1000,11000,5805028000056570036,Berlin,NaN
82,5805028000056496090,Paula Underwood,NaT,B - Medium,Waiting For Payment,NaN,/eng,blog_DE,17:39:22,NaN,19_06_2024,Bloggers,NaN,Digital Marketing,Morning,2024-06-19 18:23:00,11.0,NaN,1000,11000,5805028000056487259,München,NaN
94,5805028000056362332,Eva Kent,NaT,C - Low,Waiting For Payment,NaN,/at-eng,17.03.24wide_AT,00:49:26,bloggersvideo16com_at,wide,Facebook Ads,NaN,UX/UI Design,Morning,2024-06-19 13:08:00,11.0,NaN,"€ 3.500,00",3500,5805028000050559164,Wien,NaN
98,5805028000056374135,Ulysses Adams,NaT,C - Low,Waiting For Payment,NaN,/eng,03.07.23women,02:42:33,v16,women,Facebook Ads,NaN,UX/UI Design,Morning,2024-06-19 12:12:00,11.0,NaN,1000,11000,5805028000056362225,Offenbach am Main,в1
113,5805028000056162903,Paula Underwood,NaT,B - Medium,Waiting For Payment,NaN,/direct,Jobs_germany_DE,02:01:43,NaN,10_04_2024,SMM,NaN,Digital Marketing,Morning,2024-06-19 08:12:00,11.0,NaN,1000,11000,5805028000056370054,Eberbach,б1

In [29]:
print(deals_df['Initial Amount Paid'].dtype)

object

In [30]:
print(deals_df['Offer Total Amount'].dtype)

object

In [31]:
print(deals_df['Initial Amount Paid'].unique())

[nan 0 1000 '€ 3.500,00' 500 100 4500 300 200 2000 11000 4000 3000 3500
 11500 1200 1500 1 5000 600 700 350 9 400 450]

In [32]:
print(deals_df['Offer Total Amount'].unique())

[nan 2000 9000 11000 3500 4500 '€ 2.900,00' 6500 4000 3000 10000 2500 5000
 11500 1 1000 1200 0 1500 '€ 11398,00' 11111 6000]

In [33]:
deals_df['Initial Amount Paid'].map(type).value_counts()

Initial Amount Paid
<class 'float'>    17428
<class 'int'>       4149
<class 'str'>         16
Name: count, dtype: int64

In [34]:
deals_df['Offer Total Amount'].map(type).value_counts()

Offer Total Amount
<class 'float'>    17408
<class 'int'>       4164
<class 'str'>         21
Name: count, dtype: int64

In [35]:
print(deals_df._is_copy)

None

In [36]:
# Обработка Initial Amount Paid
deals_df['Initial Amount Paid'] = deals_df['Initial Amount Paid'].astype(str)
deals_df['Initial Amount Paid'] = deals_df['Initial Amount Paid'].str.replace('€', '', regex=False)
deals_df['Initial Amount Paid'] = deals_df['Initial Amount Paid'].str.strip()
deals_df['Initial Amount Paid'] = deals_df['Initial Amount Paid'].str.replace('.', '', regex=False)
deals_df['Initial Amount Paid'] = deals_df['Initial Amount Paid'].str.replace(',', '.', regex=False)
deals_df['Initial Amount Paid'] = pd.to_numeric(deals_df['Initial Amount Paid'], errors='coerce')

In [37]:
print(deals_df['Initial Amount Paid'].dtype)

float64

In [38]:
# Обработка Offer Total Amount
deals_df['Offer Total Amount'] = deals_df['Offer Total Amount'].astype(str)
deals_df['Offer Total Amount'] = deals_df['Offer Total Amount'].str.replace('€', '', regex=False)
deals_df['Offer Total Amount'] = deals_df['Offer Total Amount'].str.strip()
deals_df['Offer Total Amount'] = deals_df['Offer Total Amount'].str.replace('.', '', regex=False)
deals_df['Offer Total Amount'] = deals_df['Offer Total Amount'].str.replace(',', '.', regex=False)
deals_df['Offer Total Amount'] = pd.to_numeric(deals_df['Offer Total Amount'], errors='coerce')

In [39]:
print(deals_df['Offer Total Amount'].dtype)

float64

In [40]:
#выведет все уникальные значения из колонки Initial Amount Paid, отсортированные по возрастанию, и каждое значение будет представлено с двумя знаками после запятой
unique_vals_init = sorted(deals_df['Initial Amount Paid'].dropna().unique())
for val in unique_vals_init:
    print(f"{val:.2f}")

0.00
1.00
9.00
100.00
200.00
300.00
350.00
400.00
450.00
500.00
600.00
700.00
1000.00
1200.00
1500.00
2000.00
3000.00
3500.00
4000.00
4500.00
5000.00
11000.00
11500.00

In [41]:
unique_vals_offe = sorted(deals_df['Offer Total Amount'].dropna().unique())
for val in unique_vals_offe:
    print(f"{val:.2f}")

0.00
1.00
1000.00
1200.00
1500.00
2000.00
2500.00
2900.00
3000.00
3500.00
4000.00
4500.00
5000.00
6000.00
6500.00
9000.00
10000.00
11000.00
11111.00
11398.00
11500.00

In [42]:
deals_df.isna().all(axis=1).sum()

np.int64(0)

## Deal Owner Name

In [43]:
print(deals_df['Deal Owner Name'].dtype)

object

In [44]:
deals_df['Deal Owner Name'].isnull().sum()

np.int64(29)

In [45]:
deals_df[deals_df['Deal Owner Name'].isna()]

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch
14007,5805028000022036007,NaN,2023-07-01,E - Non Qualified,Payment Done,NaN,NaN,NaN,NaN,NaN,NaN,Organic,One Payment,NaN,NaN,2023-12-19 10:37:00,NaN,NaN,0.0,0.0,NaN,NaN,NaN
18834,5805028000009465153,NaN,NaT,C - Low,Qualificated,NaN,eng/digital-marketing,12.07.2023wide_DE,00:28:20,bloggersvideo3com,wide,Tiktok Ads,NaN,NaN,NaN,2023-09-29 18:09:00,NaN,NaN,NaN,NaN,5805028000009482152,NaN,NaN
18954,5805028000009133444,NaN,NaT,C - Low,Qualificated,NaN,/eng,24.09.23retargeting_DE,02:15:53,bloggersvideo5,retargeting,Facebook Ads,NaN,NaN,NaN,2023-09-27 13:23:00,NaN,NaN,NaN,NaN,5805028000009150146,NaN,NaN
19054,5805028000008812739,NaN,NaT,C - Low,Qualificated,NaN,eng/digital-marketing,04.07.23recentlymoved_DE,00:03:30,bloggersvideo4com,recentlymoved,Facebook Ads,NaN,NaN,NaN,2023-09-25 15:11:00,NaN,NaN,NaN,NaN,5805028000008758890,NaN,NaN
19150,5805028000008666416,NaN,2023-10-12,C - Low,Lost,Changed Decision,/direct,NaN,00:11:32,NaN,NaN,SMM,NaN,NaN,NaN,2023-09-23 16:34:00,NaN,NaN,NaN,NaN,5805028000008647384,NaN,NaN
19248,5805028000008355196,NaN,NaT,B - Medium,Qualificated,NaN,/eng,mu_DE,00:09:00,NaN,20_09_2023,Bloggers,NaN,NaN,NaN,2023-09-21 11:32:00,NaN,NaN,NaN,NaN,5805028000008364208,NaN,NaN
19254,5805028000008367218,NaN,NaT,C - Low,Qualificated,NaN,/eng/test,mu_DE,11:47:45,NaN,20_09_2023,Bloggers,NaN,NaN,NaN,2023-09-21 08:50:00,NaN,NaN,NaN,NaN,5805028000008367188,NaN,NaN
19337,5805028000008036373,NaN,NaT,B - Medium,Qualificated,NaN,eng/digital-marketing,15.07.23b_DE,02:28:27,b6,b,Facebook Ads,NaN,NaN,NaN,2023-09-19 14:43:00,NaN,NaN,NaN,NaN,5805028000008017270,NaN,NaN
19382,5805028000007956266,NaN,NaT,C - Low,Qualificated,NaN,eng/digital-marketing,05.09.2023wide_DE,15:18:30,v11,wide,Tiktok Ads,NaN,NaN,NaN,2023-09-18 04:02:00,NaN,NaN,NaN,NaN,5805028000007865975,NaN,NaN
19438,5805028000007863693,NaN,2023-10-13,C - Low,Lost,Not for myself,/eng/ux-ui,Dis_DE,00:09:01,151836595805_{region_name}_673801337002,NaN,Google Ads,NaN,NaN,NaN,2023-09-16 10:45:00,NaN,NaN,NaN,NaN,5805028000007854438,NaN,NaN
19439,5805028000007863646,NaN,2023-10-13,C - Low,Lost,Changed Decision,/eng/ux-ui,12.09.23interests_Uxui_DE,01:12:47,bloggersvideo2comwebdev,interest_programming_WebDev,Facebook Ads,NaN,NaN,NaN,2023-09-16 10:20:00,NaN,NaN,NaN,NaN,5805028000007858469,NaN,NaN
19482,5805028000007768111,NaN,2023-10-13,C - Low,Lost,Changed Decision,eng/digital-marketing,15.07.23b_DE,06:23:44,b6,b,Facebook Ads,NaN,NaN,NaN,2023-09-15 07:28:00,NaN,NaN,NaN,NaN,5805028000007761222,NaN,NaN
19727,5805028000006842309,NaN,NaT,C - Low,Qualificated,NaN,eng/digital-marketing,arina_DE,00:33:37,NaN,06_09_2023,Bloggers,NaN,NaN,NaN,2023-09-06 19:09:00,NaN,NaN,NaN,NaN,5805028000006838193,NaN,NaN
19728,5805028000006833371,NaN,NaT,C - Low,Qualificated,NaN,eng/digital-marketing,02.07.23wide_DE,00:08:25,bloggersvideo1com,wide,Facebook Ads,NaN,NaN,NaN,2023-09-06 19:07:00,NaN,NaN,NaN,NaN,5805028000006833335,NaN,NaN
21357,5805028000002085423,NaN,NaT,C - Low,Qualificated,NaN,eng/digital-marketing,04.07.23recentlymoved_DE,NaN,b2,recentlymoved,Facebook Ads,NaN,NaN,NaN,2023-07-18 01:22:00,NaN,NaN,0.0,0.0,5805028000002085394,NaN,NaN
21385,5805028000001875303,NaN,2023-10-11,B - Medium,Lost,Went to Rivals,eng/digital-marketing,04.07.23recentlymoved_DE,06:08:08,b2,recentlymoved,Facebook Ads,NaN,NaN,NaN,2023-07-17 06:22:00,NaN,NaN,0.0,0.0,5805028000001882329,NaN,NaN
21416,5805028000001895163,NaN,2023-10-12,C - Low,Lost,Doesn't Answer,eng/digital-marketing,02.07.23wide_DE,01:31:11,b3,wide,Facebook Ads,NaN,NaN,NaN,2023-07-15 08:54:00,NaN,NaN,0.0,0.0,5805028000001868168,NaN,NaN
21424,5805028000001847072,NaN,NaT,B - Medium,Qualificated,NaN,eng/digital-marketing,04.07.23recentlymoved_DE,NaN,b2,recentlymoved,Facebook Ads,NaN,NaN,NaN,2023-07-15 02:15:00,NaN,NaN,0.0,0.0,5805028000001847037,NaN,NaN
21432,5805028000001855074,NaN,NaT,C - Low,Qualificated,NaN,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-14 20:25:00,NaN,NaN,0.0,0.0,5805028000001848023,NaN,NaN
21440,5805028000001838006,NaN,NaT,C - Low,Qualificated,NaN,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-14 13:47:00,NaN,NaN,0.0,0.0,5805028000001839001,NaN,NaN
21451,5805028000001781030,NaN,NaT,C - Low,Qualificated,NaN,eng/digital-marketing,07.07.23LAL_DE,NaN,b2,LAL1,Facebook Ads,NaN,NaN,NaN,2023-07-14 09:03:00,NaN,NaN,0.0,0.0,5805028000001770133,NaN,NaN
21463,5805028000001795013,NaN,NaT,A - High,Qualificated,NaN,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,NaN,_{region_name}_,NaN,Google Ads,NaN,NaN,NaN,2023-07-13 21:06:00,NaN,NaN,0.0,0.0,5805028000001761037,NaN,NaN
21518,5805028000001350381,NaN,NaT,B - Medium,Qualificated,NaN,eng/digital-marketing,04.07.23recentlymoved_DE,NaN,b2,recentlymoved,Facebook Ads,NaN,NaN,NaN,2023-07-10 15:53:00,NaN,NaN,0.0,0.0,5805028000001390227,NaN,NaN
21527,5805028000001350311,NaN,NaT,A - High,Qualificated,NaN,eng/digital-marketing,07.07.23LAL_DE,NaN,b3,LAL1,Facebook Ads,NaN,NaN,NaN,2023-07-10 08:48:00,NaN,NaN,0.0,0.0,5805028000001369367,NaN,NaN
21531,5805028000001361167,NaN,NaT,B - Medium,Qualificated,NaN,eng/digital-marketing,04.07.23recentlymoved_DE,NaN,b2,recentlymoved,Facebook Ads,NaN,NaN,NaN,2023-07-10 02:03:00,NaN,NaN,0.0,0.0,5805028000001347171,NaN,NaN
21538,5805028000001402050,NaN,NaT,C - Low,Qualificated,NaN,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,NaN,_{region_name}_,NaN,Google Ads,NaN,NaN,NaN,2023-07-09 09:57:00,NaN,NaN,0.0,0.0,5805028000001348102,NaN,NaN
21544,5805028000001369159,NaN,NaT,B - Medium,Qualificated,NaN,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,NaN,_{region_name}_,NaN,Google Ads,NaN,NaN,NaN,2023-07-08 20:46:00,NaN,NaN,0.0,0.0,5805028000001367055,NaN,NaN
21560,5805028000001299037,NaN,NaT,A - High,Qualificated,NaN,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-07 18:48:00,NaN,NaN,0.0,0.0,5805028000001325013,NaN,NaN
21568,5805028000001164001,NaN,NaT,B - Medium,Qualificated,NaN,eng/digital-marketing,02.07.23wide_DE,NaN,b3,wide,Facebook Ads,NaN,NaN,NaN,2023-07-06 17:04:00,NaN,NaN,0.0,0.0,5805028000001154013,NaN,NaN

In [ ]:
# deals_df['Deal Owner Name'] = deals_df['Deal Owner Name'].fillna('Unassigned')
# deals_df['Deal Owner Name'].isnull().sum() -- пока не заменяем пустые

## Closing Date

In [46]:
print(deals_df['Closing Date'].dtype)

datetime64[ns]

In [47]:
deals_df['Closing Date'].isnull().sum()

np.int64(6948)

In [48]:
deals_df.head()

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch
0,5805028000056864695,Ben Hall,NaT,NaN,New Lead,NaN,/eng/test,03.07.23women,NaN,v16,women,Facebook Ads,NaN,NaN,NaN,2024-06-21 15:30:00,NaN,NaN,NaN,NaN,5805028000056849495,NaN,NaN
1,5805028000056859489,Ulysses Adams,NaT,NaN,New Lead,NaN,/at-eng,NaN,NaN,NaN,NaN,Organic,NaN,Web Developer,Morning,2024-06-21 15:23:00,6.0,NaN,0.0,2000.0,5805028000056834471,NaN,NaN
2,5805028000056832357,Ulysses Adams,2024-06-21,D - Non Target,Lost,Non target,/at-eng,engwien_AT,00:26:43,b1-at,21_06_2024,Telegram posts,NaN,NaN,NaN,2024-06-21 14:45:00,NaN,NaN,NaN,NaN,5805028000056854421,NaN,NaN
3,5805028000056824246,Eva Kent,2024-06-21,E - Non Qualified,Lost,Invalid number,/eng,04.07.23recentlymoved_DE,01:00:04,bloggersvideo14com,recentlymoved,Facebook Ads,NaN,NaN,NaN,2024-06-21 13:32:00,NaN,NaN,NaN,NaN,5805028000056889351,NaN,NaN
4,5805028000056873292,Ben Hall,2024-06-21,D - Non Target,Lost,Non target,/eng,discovery_DE,00:53:12,website,NaN,Google Ads,NaN,NaN,NaN,2024-06-21 13:21:00,NaN,NaN,NaN,NaN,5805028000056876176,NaN,NaN

In [49]:
# 2. Создаём колонку только с датой создания (без времени)
deals_df['Created Date'] = deals_df['Created Time'].dt.normalize() #приводит время к формату 00:00:00
deals_df['Created Date'] = pd.to_datetime(deals_df['Created Date'])
deals_df.head()

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date
0,5805028000056864695,Ben Hall,NaT,NaN,New Lead,NaN,/eng/test,03.07.23women,NaN,v16,women,Facebook Ads,NaN,NaN,NaN,2024-06-21 15:30:00,NaN,NaN,NaN,NaN,5805028000056849495,NaN,NaN,2024-06-21
1,5805028000056859489,Ulysses Adams,NaT,NaN,New Lead,NaN,/at-eng,NaN,NaN,NaN,NaN,Organic,NaN,Web Developer,Morning,2024-06-21 15:23:00,6.0,NaN,0.0,2000.0,5805028000056834471,NaN,NaN,2024-06-21
2,5805028000056832357,Ulysses Adams,2024-06-21,D - Non Target,Lost,Non target,/at-eng,engwien_AT,00:26:43,b1-at,21_06_2024,Telegram posts,NaN,NaN,NaN,2024-06-21 14:45:00,NaN,NaN,NaN,NaN,5805028000056854421,NaN,NaN,2024-06-21
3,5805028000056824246,Eva Kent,2024-06-21,E - Non Qualified,Lost,Invalid number,/eng,04.07.23recentlymoved_DE,01:00:04,bloggersvideo14com,recentlymoved,Facebook Ads,NaN,NaN,NaN,2024-06-21 13:32:00,NaN,NaN,NaN,NaN,5805028000056889351,NaN,NaN,2024-06-21
4,5805028000056873292,Ben Hall,2024-06-21,D - Non Target,Lost,Non target,/eng,discovery_DE,00:53:12,website,NaN,Google Ads,NaN,NaN,NaN,2024-06-21 13:21:00,NaN,NaN,NaN,NaN,5805028000056876176,NaN,NaN,2024-06-21

In [50]:
(deals_df['Closing Date'] < deals_df['Created Date']).sum()

np.int64(44)

In [51]:
#проверим, есть ли даты закрытия, которые меньше даты создания
lost_mask = deals_df['Stage'] == 'Lost'
(deals_df.loc[lost_mask, 'Closing Date'] < deals_df.loc[lost_mask, 'Created Date']).sum()

np.int64(40)

In [52]:
invalid_dates = deals_df[(deals_df['Closing Date'] < deals_df['Created Date'])]
invalid_dates[['Id', 'Closing Date', 'Created Date', 'Contact Name', 'Stage']]

,Id,Closing Date,Created Date,Contact Name,Stage
454,5805028000055502890,2024-06-11,2024-06-16,5805028000055488584,Lost
2083,5805028000051847114,2024-05-22,2024-05-25,5805028000051866233,Lost
2787,5805028000049539444,2024-05-07,2024-05-12,5805028000049438717,Lost
3019,5805028000048886321,2024-05-07,2024-05-08,5805028000048886280,Payment Done
3022,5805028000048883316,2024-04-17,2024-05-08,5805028000043444319,Lost
3031,5805028000048886160,2024-05-07,2024-05-08,5805028000048886140,Payment Done
3691,5805028000047482214,2024-04-23,2024-04-30,5805028000047492138,Lost
4107,5805028000046234250,2024-04-17,2024-04-24,5805028000046193190,Lost
4169,5805028000045961466,2024-04-18,2024-04-23,5805028000045998344,Lost
4434,5805028000045314301,2024-04-18,2024-04-21,5805028000045305375,Lost
4520,5805028000045245616,2023-08-21,2024-04-20,5805028000003597256,Lost
4798,5805028000044499302,2024-04-12,2024-04-17,5805028000044499235,Lost
4906,5805028000044342009,2024-04-11,2024-04-16,5805028000040234689,Lost
5000,5805028000044017980,2024-04-10,2024-04-16,5805028000044160080,Lost
5088,5805028000043980301,2024-04-11,2024-04-16,5805028000043982060,Lost
5492,5805028000043623605,2024-04-08,2024-04-13,5805028000043630666,Lost
5657,5805028000043408097,2024-04-09,2024-04-12,5805028000043385265,Lost
6212,5805028000042255704,2024-04-03,2024-04-07,5805028000042291268,Lost
6357,5805028000042015392,2023-10-03,2024-04-05,5805028000009072093,Payment Done
7215,5805028000039885153,2024-03-19,2024-03-26,5805028000039920131,Lost
7622,5805028000038726269,2024-03-13,2024-03-20,5805028000038738285,Lost
7752,5805028000038223676,2024-03-12,2024-03-19,5805028000034891733,Lost
8655,5805028000035795505,2024-02-28,2024-03-06,5805028000035782435,Lost
8817,5805028000035472715,2024-02-29,2024-03-04,5805028000035509553,Lost
9044,5805028000034901649,2024-02-22,2024-02-29,5805028000034915704,Lost
9086,5805028000034907064,2024-02-21,2024-02-28,5805028000034912001,Lost
9349,5805028000034004022,2024-02-24,2024-02-25,5805028000033889455,Lost
9475,5805028000033525798,2024-02-16,2024-02-23,5805028000033646006,Lost
9624,5805028000033287611,2024-02-14,2024-02-21,5805028000033287591,Lost
9943,5805028000032566474,2024-02-13,2024-02-17,5805028000032528677,Lost
10367,5805028000030992007,2024-02-01,2024-02-08,5805028000030877879,Lost
10413,5805028000030881469,2024-02-01,2024-02-08,5805028000030831406,Lost
10545,5805028000030630156,2024-01-31,2024-02-07,5805028000030637199,Lost
12561,5805028000025976668,2024-01-11,2024-01-15,5805028000025976636,Lost
14007,5805028000022036007,2023-07-01,2023-12-19,NaN,Payment Done
15436,5805028000018706283,2023-11-19,2023-11-25,5805028000018704446,Lost
15722,5805028000018163631,2023-11-15,2023-11-21,5805028000018148571,Lost
17650,5805028000013174103,2023-09-26,2023-10-21,5805028000013128091,Lost
18169,5805028000011322126,2023-09-26,2023-10-12,5805028000011144141,Lost
18277,5805028000010744206,2023-09-20,2023-10-10,5805028000010764225,Lost
18508,5805028000010282031,2023-09-30,2023-10-05,5805028000010282001,Lost
18526,5805028000010216149,2023-09-24,2023-10-05,5805028000010209081,Lost
18658,5805028000009789201,2022-10-11,2023-10-03,5805028000009784179,Lost
18747,5805028000009682053,2023-09-25,2023-10-02,5805028000009575662,Lost

In [53]:
deals_df[deals_df['Stage'] == 'Lost']

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date
2,5805028000056832357,Ulysses Adams,2024-06-21,D - Non Target,Lost,Non target,/at-eng,engwien_AT,00:26:43,b1-at,21_06_2024,Telegram posts,NaN,NaN,NaN,2024-06-21 14:45:00,NaN,NaN,NaN,NaN,5805028000056854421,NaN,NaN,2024-06-21
3,5805028000056824246,Eva Kent,2024-06-21,E - Non Qualified,Lost,Invalid number,/eng,04.07.23recentlymoved_DE,01:00:04,bloggersvideo14com,recentlymoved,Facebook Ads,NaN,NaN,NaN,2024-06-21 13:32:00,NaN,NaN,NaN,NaN,5805028000056889351,NaN,NaN,2024-06-21
4,5805028000056873292,Ben Hall,2024-06-21,D - Non Target,Lost,Non target,/eng,discovery_DE,00:53:12,website,NaN,Google Ads,NaN,NaN,NaN,2024-06-21 13:21:00,NaN,NaN,NaN,NaN,5805028000056876176,NaN,NaN,2024-06-21
8,5805028000056845137,Rachel White,2024-06-21,E - Non Qualified,Lost,Duplicate,NaN,NaN,NaN,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-21 12:40:00,NaN,NaN,NaN,NaN,5805028000056849237,NaN,NaN,2024-06-21
9,5805028000056864442,Victor Barnes,2024-06-21,D - Non Target,Lost,Inadequate,/email,1406start,00:10:08,NaN,NaN,CRM,NaN,NaN,NaN,2024-06-21 12:39:00,NaN,NaN,NaN,NaN,5805028000039274091,NaN,NaN,2024-06-21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21588,5805028000000970006,Jane Smith,2023-07-04,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-04 07:10:00,NaN,NaN,NaN,NaN,5805028000000979006,NaN,NaN,2023-07-04
21589,5805028000000948010,Jane Smith,2023-08-29,B - Medium,Lost,needs time to think,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-04 07:10:00,NaN,NaN,NaN,NaN,5805028000000979006,NaN,NaN,2023-07-04
21590,5805028000000945016,Jane Smith,2023-08-29,A - High,Lost,Changed Decision,eng/digital-marketing,02.07.23wide_DE,"56 days, 19:01:59",b3,wide,Facebook Ads,NaN,NaN,NaN,2023-07-03 20:39:00,NaN,NaN,NaN,NaN,5805028000000968001,NaN,NaN,2023-07-03
21591,5805028000000927004,Bob Brown,2023-07-09,D - Non Target,Lost,Does not speak English,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-03 20:17:00,NaN,NaN,NaN,NaN,5805028000000961001,NaN,NaN,2023-07-03
21592,5805028000000922001,Bob Brown,2023-07-03,E - Non Qualified,Lost,Refugee,NaN,NaN,"4 days, 22:47:14",NaN,NaN,Organic,NaN,NaN,NaN,2023-07-03 17:03:00,NaN,NaN,0.0,0.0,5805028000001009140,NaN,NaN,2023-07-03

In [54]:
print(deals_df._is_copy)

None

In [55]:
# 3. Считаем разницу в днях (где Closing Date заполнен)
mask = deals_df['Closing Date'].notna()
deals_df.loc[mask, 'Date Diff'] = (
    deals_df.loc[mask, 'Closing Date'] - deals_df.loc[mask, 'Created Date']
).dt.days

In [56]:
deals_df.tail()

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
21588,5805028000000970006,Jane Smith,2023-07-04,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-04 07:10:00,NaN,NaN,NaN,NaN,5805028000000979006,NaN,NaN,2023-07-04,0.0
21589,5805028000000948010,Jane Smith,2023-08-29,B - Medium,Lost,needs time to think,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-04 07:10:00,NaN,NaN,NaN,NaN,5805028000000979006,NaN,NaN,2023-07-04,56.0
21590,5805028000000945016,Jane Smith,2023-08-29,A - High,Lost,Changed Decision,eng/digital-marketing,02.07.23wide_DE,"56 days, 19:01:59",b3,wide,Facebook Ads,NaN,NaN,NaN,2023-07-03 20:39:00,NaN,NaN,NaN,NaN,5805028000000968001,NaN,NaN,2023-07-03,57.0
21591,5805028000000927004,Bob Brown,2023-07-09,D - Non Target,Lost,Does not speak English,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-03 20:17:00,NaN,NaN,NaN,NaN,5805028000000961001,NaN,NaN,2023-07-03,6.0
21592,5805028000000922001,Bob Brown,2023-07-03,E - Non Qualified,Lost,Refugee,NaN,NaN,"4 days, 22:47:14",NaN,NaN,Organic,NaN,NaN,NaN,2023-07-03 17:03:00,NaN,NaN,0.0,0.0,5805028000001009140,NaN,NaN,2023-07-03,0.0

In [57]:
# 4. Мода разницы для сделок со статусом Lost
most_lost_diff = deals_df.loc[deals_df['Stage'] == 'Lost', 'Date Diff'].mode()[0]
print(most_lost_diff)

0.0

In [58]:
deals_df[deals_df['Closing Date'].isna()]

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
0,5805028000056864695,Ben Hall,NaT,NaN,New Lead,NaN,/eng/test,03.07.23women,NaN,v16,women,Facebook Ads,NaN,NaN,NaN,2024-06-21 15:30:00,NaN,NaN,NaN,NaN,5805028000056849495,NaN,NaN,2024-06-21,NaN
1,5805028000056859489,Ulysses Adams,NaT,NaN,New Lead,NaN,/at-eng,NaN,NaN,NaN,NaN,Organic,NaN,Web Developer,Morning,2024-06-21 15:23:00,6.0,NaN,0.0,2000.0,5805028000056834471,NaN,NaN,2024-06-21,NaN
5,5805028000056828429,Paula Underwood,NaT,NaN,Need a consultation,NaN,/eng,youtube_shorts_DE,01:33:10,bloggersvideo2june,Com_august,Youtube Ads,NaN,NaN,NaN,2024-06-21 13:02:00,NaN,NaN,NaN,NaN,5805028000056833279,NaN,NaN,2024-06-21,NaN
6,5805028000056893379,Ulysses Adams,NaT,NaN,Need To Call,NaN,eng/digital-marketing,NaN,NaN,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-21 12:52:00,NaN,NaN,NaN,NaN,5805028000056832215,NaN,NaN,2024-06-21,NaN
7,5805028000056849262,Eva Kent,NaT,NaN,Need a consultation,NaN,/eng,brand_search_eng_DE,02:12:29,152789402780_{region_name}_695563281558,it career hub,Google Ads,NaN,NaN,NaN,2024-06-21 12:44:00,NaN,NaN,NaN,NaN,5805028000056833242,NaN,NaN,2024-06-21,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21567,5805028000001225001,Oliver Taylor,NaT,B - Medium,Lost,Stopped Answering,eng/digital-marketing,02.07.23wide_DE,03:57:36,b3,wide,Facebook Ads,NaN,Digital Marketing,NaN,2023-07-07 06:53:00,11.0,NaN,1000.0,11500.0,5805028000001204013,NaN,NaN,2023-07-07,NaN
21568,5805028000001164001,NaN,NaT,B - Medium,Qualificated,NaN,eng/digital-marketing,02.07.23wide_DE,NaN,b3,wide,Facebook Ads,NaN,NaN,NaN,2023-07-06 17:04:00,NaN,NaN,0.0,0.0,5805028000001154013,NaN,NaN,2023-07-06,NaN
21580,5805028000001061006,George King,NaT,A - High,Call Delayed,Next stream,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,18:51:07,_{region_name}_,NaN,Google Ads,NaN,NaN,NaN,2023-07-05 17:30:00,NaN,NaN,NaN,NaN,5805028000001068001,NaN,NaN,2023-07-05,NaN
21585,5805028000000935081,Julia Nelson,NaT,D - Non Target,Call Delayed,NaN,eng/digital-marketing,03.07.23women,"70 days, 23:12:53",b3,women,Facebook Ads,NaN,Digital Marketing,Morning,2023-07-04 11:46:00,11.0,NaN,1000.0,11500.0,5805028000000971007,NaN,NaN,2023-07-04,NaN
21586,5805028000000947046,Oliver Taylor,NaT,B - Medium,Payment Done,NaN,eng/digital-marketing,02.07.23wide_DE,"71 days, 0:46:22",b3,wide,Facebook Ads,NaN,Digital Marketing,Morning,2023-07-04 10:11:00,11.0,11.0,1000.0,11000.0,5805028000000939010,NaN,NaN,2023-07-04,NaN

In [59]:
deals_df[(deals_df['Stage'] == 'Lost') & (deals_df['Closing Date'].isna())]

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
73,5805028000056570095,Charlie Davis,NaT,E - Non Qualified,Lost,Duplicate,/eng/ux-ui,02.07.23wide_DE,12:27:23,bloggersvideo23com,wide,Facebook Ads,NaN,NaN,NaN,2024-06-19 21:58:00,NaN,NaN,NaN,NaN,5805028000056555054,NaN,NaN,2024-06-19,NaN
106,5805028000056370221,Ulysses Adams,NaT,E - Non Qualified,Lost,Duplicate,NaN,NaN,NaN,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-19 11:07:00,NaN,NaN,NaN,NaN,5805028000056272091,NaN,NaN,2024-06-19,NaN
175,5805028000056164376,Paula Underwood,NaT,E - Non Qualified,Lost,Duplicate,NaN,NaN,NaN,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-18 14:22:00,NaN,NaN,NaN,NaN,5805028000056254001,NaN,NaN,2024-06-18,NaN
180,5805028000056177319,Ben Hall,NaT,E - Non Qualified,Lost,Doesn't Answer,/eng,04.07.23recentlymoved_DE,00:43:43,bloggersvideo15com,recentlymoved,Facebook Ads,NaN,NaN,NaN,2024-06-18 13:38:00,NaN,NaN,NaN,NaN,5805028000055965957,NaN,NaN,2024-06-18,NaN
234,5805028000055987901,Ben Hall,NaT,E - Non Qualified,Lost,Duplicate,/webinar,webinar1906,NaN,NaN,invitation,Webinar,NaN,NaN,NaN,2024-06-18 05:19:00,NaN,NaN,NaN,NaN,5805028000056115037,Gummersbach,NaN,2024-06-18,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21508,5805028000001508013,Oliver Taylor,NaT,B - Medium,Lost,Stopped Answering,eng/digital-marketing,02.07.23wide_DE,00:06:48,b3,wide,Facebook Ads,NaN,Digital Marketing,NaN,2023-07-11 15:07:00,11.0,NaN,1000.0,11500.0,5805028000001495037,NaN,NaN,2023-07-11,NaN
21550,5805028000001390038,Jane Smith,NaT,D - Non Target,Lost,Conditions are not suitable,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,NaN,_{region_name}_,NaN,Google Ads,NaN,NaN,NaN,2023-07-08 11:38:00,NaN,NaN,0.0,0.0,5805028000001347003,NaN,NaN,2023-07-08,NaN
21559,5805028000001319036,Oliver Taylor,NaT,B - Medium,Lost,Stopped Answering,eng/digital-marketing,03.07.23women,00:27:56,b3,women,Facebook Ads,NaN,Digital Marketing,NaN,2023-07-07 19:02:00,11.0,NaN,1000.0,11500.0,5805028000001296026,NaN,NaN,2023-07-07,NaN
21564,5805028000001204084,Oliver Taylor,NaT,B - Medium,Lost,Stopped Answering,eng/digital-marketing,05.07.23interests_DE,03:09:15,b2,interest_work,Facebook Ads,NaN,Digital Marketing,NaN,2023-07-07 09:05:00,11.0,NaN,1000.0,11500.0,5805028000001187016,NaN,NaN,2023-07-07,NaN
21567,5805028000001225001,Oliver Taylor,NaT,B - Medium,Lost,Stopped Answering,eng/digital-marketing,02.07.23wide_DE,03:57:36,b3,wide,Facebook Ads,NaN,Digital Marketing,NaN,2023-07-07 06:53:00,11.0,NaN,1000.0,11500.0,5805028000001204013,NaN,NaN,2023-07-07,NaN

In [60]:
# 5. Заполняем Closing Date, если Stage == 'Lost' и Closing Date пуст
lost_mask = (deals_df['Stage'] == 'Lost') & deals_df['Closing Date'].isna()
deals_df.loc[lost_mask, 'Closing Date'] = (
    deals_df.loc[lost_mask, 'Created Date'] + pd.to_timedelta(most_lost_diff, unit='D')
)

In [61]:
print(deals_df._is_copy)

None

In [62]:
deals_df[(deals_df['Stage'] == 'Lost') & (deals_df['Closing Date'].isna())]

Empty DataFrame
Columns: [Id, Deal Owner Name, Closing Date, Quality, Stage, Lost Reason, Page, Campaign, SLA, Content, Term, Source, Payment Type, Product, Education Type, Created Time, Course duration, Months of study, Initial Amount Paid, Offer Total Amount, Contact Name, City, Level of Deutsch, Created Date, Date Diff]
Index: []

In [ ]:
# 6. Чистим временную колонку
# copy_deals_df.drop(columns='Date Diff', inplace=True)

In [63]:
((deals_df['Stage'] == 'Lost') & (deals_df['Closing Date'].isna())).sum()

np.int64(0)

In [64]:
print(len(invalid_dates))

44

In [65]:
#проверим, есть ли даты закрытия, которые меньше даты создания
lost_mask = deals_df['Stage'] == 'Lost'
(deals_df.loc[lost_mask, 'Closing Date'] < deals_df.loc[lost_mask, 'Created Date']).sum()

np.int64(40)

In [66]:
# 4. Мода разницы
most_common_diff = deals_df['Date Diff'].mode()[0]

In [67]:
most_common_diff

np.float64(0.0)

In [68]:
# Маска для некорректных строк (где Closing Date < Created Date)
invalid_mask = deals_df['Closing Date'] < deals_df['Created Date']

In [69]:
# Исправляем: Closing Date = Created Date + мода
deals_df.loc[invalid_mask, 'Closing Date'] = deals_df.loc[invalid_mask, 'Created Date'] + pd.to_timedelta(most_common_diff, unit='D')

In [70]:
invalid_dates_updated = deals_df[(deals_df['Closing Date'] < deals_df['Created Date'])]
print(len(invalid_dates_updated))

0

In [71]:
(deals_df.loc[lost_mask, 'Closing Date'] < deals_df.loc[lost_mask, 'Created Date']).sum()

np.int64(0)

In [72]:
(deals_df['Closing Date'] < deals_df['Created Date']).sum()

np.int64(0)

In [73]:
deals_df['Closing Date'].isnull().sum()

np.int64(5063)

In [74]:
deals_df[deals_df['Closing Date'].isna()]

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
0,5805028000056864695,Ben Hall,NaT,NaN,New Lead,NaN,/eng/test,03.07.23women,NaN,v16,women,Facebook Ads,NaN,NaN,NaN,2024-06-21 15:30:00,NaN,NaN,NaN,NaN,5805028000056849495,NaN,NaN,2024-06-21,NaN
1,5805028000056859489,Ulysses Adams,NaT,NaN,New Lead,NaN,/at-eng,NaN,NaN,NaN,NaN,Organic,NaN,Web Developer,Morning,2024-06-21 15:23:00,6.0,NaN,0.0,2000.0,5805028000056834471,NaN,NaN,2024-06-21,NaN
5,5805028000056828429,Paula Underwood,NaT,NaN,Need a consultation,NaN,/eng,youtube_shorts_DE,01:33:10,bloggersvideo2june,Com_august,Youtube Ads,NaN,NaN,NaN,2024-06-21 13:02:00,NaN,NaN,NaN,NaN,5805028000056833279,NaN,NaN,2024-06-21,NaN
6,5805028000056893379,Ulysses Adams,NaT,NaN,Need To Call,NaN,eng/digital-marketing,NaN,NaN,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-21 12:52:00,NaN,NaN,NaN,NaN,5805028000056832215,NaN,NaN,2024-06-21,NaN
7,5805028000056849262,Eva Kent,NaT,NaN,Need a consultation,NaN,/eng,brand_search_eng_DE,02:12:29,152789402780_{region_name}_695563281558,it career hub,Google Ads,NaN,NaN,NaN,2024-06-21 12:44:00,NaN,NaN,NaN,NaN,5805028000056833242,NaN,NaN,2024-06-21,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21560,5805028000001299037,NaN,NaT,A - High,Qualificated,NaN,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-07 18:48:00,NaN,NaN,0.0,0.0,5805028000001325013,NaN,NaN,2023-07-07,NaN
21568,5805028000001164001,NaN,NaT,B - Medium,Qualificated,NaN,eng/digital-marketing,02.07.23wide_DE,NaN,b3,wide,Facebook Ads,NaN,NaN,NaN,2023-07-06 17:04:00,NaN,NaN,0.0,0.0,5805028000001154013,NaN,NaN,2023-07-06,NaN
21580,5805028000001061006,George King,NaT,A - High,Call Delayed,Next stream,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,18:51:07,_{region_name}_,NaN,Google Ads,NaN,NaN,NaN,2023-07-05 17:30:00,NaN,NaN,NaN,NaN,5805028000001068001,NaN,NaN,2023-07-05,NaN
21585,5805028000000935081,Julia Nelson,NaT,D - Non Target,Call Delayed,NaN,eng/digital-marketing,03.07.23women,"70 days, 23:12:53",b3,women,Facebook Ads,NaN,Digital Marketing,Morning,2023-07-04 11:46:00,11.0,NaN,1000.0,11500.0,5805028000000971007,NaN,NaN,2023-07-04,NaN
21586,5805028000000947046,Oliver Taylor,NaT,B - Medium,Payment Done,NaN,eng/digital-marketing,02.07.23wide_DE,"71 days, 0:46:22",b3,wide,Facebook Ads,NaN,Digital Marketing,Morning,2023-07-04 10:11:00,11.0,11.0,1000.0,11000.0,5805028000000939010,NaN,NaN,2023-07-04,NaN

In [75]:
unique_stages_in_open_deals = deals_df[deals_df['Closing Date'].isna()]['Stage'].dropna().unique()
print("Уникальные стадии среди открытых сделок:", unique_stages_in_open_deals)

Уникальные стадии среди открытых сделок: ['New Lead' 'Need a consultation' 'Need To Call' 'Call Delayed'
 'Qualificated' 'Registered on Webinar' 'Waiting For Payment'
 'Need to Call - Sales' 'Test Sent' 'Payment Done'
 'Registered on Offline Day' 'Free Education']

In [76]:
open_paid_deals = deals_df[(deals_df['Closing Date'].isna()) & (deals_df['Stage'] == 'Payment Done')]
print("Открытые сделки со статусом 'Payment Done':", open_paid_deals.shape[0])

Открытые сделки со статусом 'Payment Done': 337

In [77]:
open_paid_deals

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
497,5805028000055524040,Ben Hall,NaT,B - Medium,Payment Done,NaN,/eng,Live_DE,00:23:42,b0,03_06_2024,Telegram posts,NaN,Web Developer,Morning,2024-06-15 12:20:00,6.0,1.0,1000.0,9000.0,5805028000055464156,Wolfsburg,B1,2024-06-15,NaN
833,5805028000054664018,Ben Hall,NaT,D - Non Target,Payment Done,NaN,/eng,NaN,16:31:52,NaN,NaN,Organic,NaN,Web Developer,Morning,2024-06-11 19:39:00,6.0,1.0,1000.0,9000.0,5805028000054683001,Zwickau,A2,2024-06-11,NaN
1065,5805028000054269295,Ben Hall,NaT,D - Non Target,Payment Done,NaN,/eng,12.07.2023wide_DE,03:54:02,bloggersvideo16com,wide,Tiktok Ads,NaN,Digital Marketing,Morning,2024-06-10 12:37:00,11.0,1.0,1000.0,11000.0,5805028000054318001,Hof,A2,2024-06-10,NaN
1073,5805028000054226039,Eva Kent,NaT,B - Medium,Payment Done,NaN,eng/digital-marketing,07.07.23LAL_DE,05:54:20,bloggersvideo9com,LAL1,Facebook Ads,NaN,Digital Marketing,Morning,2024-06-10 09:01:00,11.0,1.0,1000.0,11000.0,5805028000054226036,Nürnberg,b1,2024-06-10,NaN
1121,5805028000054231507,Eva Kent,NaT,B - Medium,Payment Done,NaN,/eng,NaN,03:44:24,NaN,NaN,Organic,NaN,UX/UI Design,Morning,2024-06-10 09:00:00,11.0,1.0,1000.0,11000.0,5805028000054106087,Bochum,b1,2024-06-10,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20613,5805028000004313387,Oliver Taylor,NaT,A - High,Payment Done,NaN,eng/digital-marketing,07.07.23LAL_DE,01:49:10,v9com,LAL1,Facebook Ads,NaN,Digital Marketing,NaN,2023-08-10 17:28:00,11.0,11.0,1000.0,11000.0,5805028000004333294,NaN,А2-В1 учит,2023-08-10,NaN
20728,5805028000004133115,Kevin Parker,NaT,B - Medium,Payment Done,NaN,eng/digital-marketing,NaN,03:59:05,NaN,NaN,Organic,NaN,Digital Marketing,Morning,2023-08-08 07:15:00,11.0,11.0,1000.0,11000.0,5805028000004106113,NaN,NaN,2023-08-08,NaN
21111,5805028000003130171,Ulysses Adams,NaT,C - Low,Payment Done,NaN,eng/digital-marketing,03.07.23women,00:37:23,b3,women,Facebook Ads,NaN,Digital Marketing,Morning,2023-07-26 15:32:00,11.0,11.0,0.0,0.0,5805028000003112233,NaN,NaN,2023-07-26,NaN
21555,5805028000001401001,Oliver Taylor,NaT,B - Medium,Payment Done,NaN,eng/digital-marketing,02.07.23wide_DE,02:22:36,b3,wide,Facebook Ads,NaN,Digital Marketing,NaN,2023-07-08 08:56:00,11.0,8.0,1000.0,11500.0,5805028000001350049,NaN,NaN,2023-07-08,NaN
21586,5805028000000947046,Oliver Taylor,NaT,B - Medium,Payment Done,NaN,eng/digital-marketing,02.07.23wide_DE,"71 days, 0:46:22",b3,wide,Facebook Ads,NaN,Digital Marketing,Morning,2023-07-04 10:11:00,11.0,11.0,1000.0,11000.0,5805028000000939010,NaN,NaN,2023-07-04,NaN

In [78]:
value_counts_diff = deals_df['Date Diff'].value_counts()

first_most_common = value_counts_diff.index[0]
first_most_freq = value_counts_diff.iloc[0]

# Смотрим второе по частоте значение
second_most_common = value_counts_diff.index[1]
second_most_freq = value_counts_diff.iloc[1]

print(f"Первое по частоте значение: {first_most_common}, встречается {first_most_freq} раз")
print(f"Второе по частоте значение: {second_most_common}, встречается {second_most_freq} раз")

Первое по частоте значение: 0.0, встречается 3268 раз
Второе по частоте значение: 1.0, встречается 1898 раз

In [79]:
# 4. Мода разницы для статусов 'Payment Done'
most_paydone_diff = deals_df.loc[deals_df['Stage'] == 'Payment Done', 'Date Diff'].mode()[0]
most_paydone_diff

np.float64(8.0)

In [80]:
value_counts_diff_payd = deals_df[deals_df['Stage'] == 'Payment Done']['Date Diff'].value_counts()

first_most_common_payd = value_counts_diff_payd.index[0]
first_most_freq_payd = value_counts_diff_payd.iloc[0]

# Смотрим второе по частоте значение
second_most_common_payd = value_counts_diff_payd.index[1]
second_most_freq_payd = value_counts_diff_payd.iloc[1]

print(f"Первое по частоте значение: {first_most_common_payd}, встречается {first_most_freq_payd} раз")
print(f"Второе по частоте значение: {second_most_common_payd}, встречается {second_most_freq_payd} раз")

Первое по частоте значение: 8.0, встречается 23 раз
Второе по частоте значение: 0.0, встречается 22 раз

In [81]:
paydone_mask = (deals_df['Stage'] == 'Payment Done') & deals_df['Closing Date'].isna()
deals_df.loc[paydone_mask, 'Closing Date'] = (
    deals_df.loc[paydone_mask, 'Created Date'] + pd.to_timedelta(most_paydone_diff, unit='D') #to_timedelta- преобразование значения most_lost_diff (числа — например, 5) в временной интервал (тип Timedelta) в днях.
)

In [82]:
open_paid_deals_updated = deals_df[(deals_df['Closing Date'].isna()) & (deals_df['Stage'] == 'Payment Done')]
print("Открытые сделки со статусом 'Payment Done':", open_paid_deals_updated.shape[0])

Открытые сделки со статусом 'Payment Done': 0

In [83]:
# Перепроверь в одной ячейке
paydone_mask = (deals_df['Stage'] == 'Payment Done') & (deals_df['Closing Date'].isna())
print("paydone_mask:", paydone_mask.sum())

open_paid_deals = deals_df[(deals_df['Closing Date'].isna()) & (deals_df['Stage'] == 'Payment Done')]
print("open_paid_deals:", open_paid_deals.shape[0])

paydone_mask: 0
open_paid_deals: 0

In [84]:
print(deals_df[paydone_mask].shape)

(0, 25)

In [85]:
print(most_paydone_diff)

8.0

In [86]:
print(deals_df.loc[deals_df['Stage'] == 'Payment Done', 'Date Diff'].mode()[0])

8.0

In [87]:
deals_df['Closing Date'].isnull().sum()

np.int64(4726)

## Quality

In [88]:
deals_df

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
0,5805028000056864695,Ben Hall,NaT,NaN,New Lead,NaN,/eng/test,03.07.23women,NaN,v16,women,Facebook Ads,NaN,NaN,NaN,2024-06-21 15:30:00,NaN,NaN,NaN,NaN,5805028000056849495,NaN,NaN,2024-06-21,NaN
1,5805028000056859489,Ulysses Adams,NaT,NaN,New Lead,NaN,/at-eng,NaN,NaN,NaN,NaN,Organic,NaN,Web Developer,Morning,2024-06-21 15:23:00,6.0,NaN,0.0,2000.0,5805028000056834471,NaN,NaN,2024-06-21,NaN
2,5805028000056832357,Ulysses Adams,2024-06-21,D - Non Target,Lost,Non target,/at-eng,engwien_AT,00:26:43,b1-at,21_06_2024,Telegram posts,NaN,NaN,NaN,2024-06-21 14:45:00,NaN,NaN,NaN,NaN,5805028000056854421,NaN,NaN,2024-06-21,0.0
3,5805028000056824246,Eva Kent,2024-06-21,E - Non Qualified,Lost,Invalid number,/eng,04.07.23recentlymoved_DE,01:00:04,bloggersvideo14com,recentlymoved,Facebook Ads,NaN,NaN,NaN,2024-06-21 13:32:00,NaN,NaN,NaN,NaN,5805028000056889351,NaN,NaN,2024-06-21,0.0
4,5805028000056873292,Ben Hall,2024-06-21,D - Non Target,Lost,Non target,/eng,discovery_DE,00:53:12,website,NaN,Google Ads,NaN,NaN,NaN,2024-06-21 13:21:00,NaN,NaN,NaN,NaN,5805028000056876176,NaN,NaN,2024-06-21,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21588,5805028000000970006,Jane Smith,2023-07-04,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-04 07:10:00,NaN,NaN,NaN,NaN,5805028000000979006,NaN,NaN,2023-07-04,0.0
21589,5805028000000948010,Jane Smith,2023-08-29,B - Medium,Lost,needs time to think,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-04 07:10:00,NaN,NaN,NaN,NaN,5805028000000979006,NaN,NaN,2023-07-04,56.0
21590,5805028000000945016,Jane Smith,2023-08-29,A - High,Lost,Changed Decision,eng/digital-marketing,02.07.23wide_DE,"56 days, 19:01:59",b3,wide,Facebook Ads,NaN,NaN,NaN,2023-07-03 20:39:00,NaN,NaN,NaN,NaN,5805028000000968001,NaN,NaN,2023-07-03,57.0
21591,5805028000000927004,Bob Brown,2023-07-09,D - Non Target,Lost,Does not speak English,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-03 20:17:00,NaN,NaN,NaN,NaN,5805028000000961001,NaN,NaN,2023-07-03,6.0
21592,5805028000000922001,Bob Brown,2023-07-03,E - Non Qualified,Lost,Refugee,NaN,NaN,"4 days, 22:47:14",NaN,NaN,Organic,NaN,NaN,NaN,2023-07-03 17:03:00,NaN,NaN,0.0,0.0,5805028000001009140,NaN,NaN,2023-07-03,0.0

In [89]:
deals_df[deals_df['Quality'].isna()]

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
0,5805028000056864695,Ben Hall,NaT,NaN,New Lead,NaN,/eng/test,03.07.23women,NaN,v16,women,Facebook Ads,NaN,NaN,NaN,2024-06-21 15:30:00,NaN,NaN,NaN,NaN,5805028000056849495,NaN,NaN,2024-06-21,NaN
1,5805028000056859489,Ulysses Adams,NaT,NaN,New Lead,NaN,/at-eng,NaN,NaN,NaN,NaN,Organic,NaN,Web Developer,Morning,2024-06-21 15:23:00,6.0,NaN,0.0,2000.0,5805028000056834471,NaN,NaN,2024-06-21,NaN
5,5805028000056828429,Paula Underwood,NaT,NaN,Need a consultation,NaN,/eng,youtube_shorts_DE,01:33:10,bloggersvideo2june,Com_august,Youtube Ads,NaN,NaN,NaN,2024-06-21 13:02:00,NaN,NaN,NaN,NaN,5805028000056833279,NaN,NaN,2024-06-21,NaN
6,5805028000056893379,Ulysses Adams,NaT,NaN,Need To Call,NaN,eng/digital-marketing,NaN,NaN,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-21 12:52:00,NaN,NaN,NaN,NaN,5805028000056832215,NaN,NaN,2024-06-21,NaN
7,5805028000056849262,Eva Kent,NaT,NaN,Need a consultation,NaN,/eng,brand_search_eng_DE,02:12:29,152789402780_{region_name}_695563281558,it career hub,Google Ads,NaN,NaN,NaN,2024-06-21 12:44:00,NaN,NaN,NaN,NaN,5805028000056833242,NaN,NaN,2024-06-21,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20371,5805028000005178088,John Doe,NaT,NaN,Registered on Webinar,NaN,/workshop,NaN,NaN,NaN,NaN,Organic,NaN,NaN,NaN,2023-08-18 20:46:00,NaN,NaN,NaN,NaN,5805028000000872003,NaN,NaN,2023-08-18,NaN
20373,5805028000005176076,John Doe,NaT,NaN,Registered on Webinar,NaN,/workshop,NaN,NaN,NaN,NaN,Organic,NaN,Digital Marketing,Evening,2023-08-18 20:22:00,11.0,NaN,NaN,NaN,5805028000000872003,NaN,NaN,2023-08-18,NaN
20375,5805028000005174051,John Doe,NaT,NaN,Registered on Webinar,NaN,/workshop,NaN,NaN,NaN,NaN,Organic,NaN,NaN,NaN,2023-08-18 19:54:00,NaN,NaN,NaN,NaN,5805028000000872003,NaN,NaN,2023-08-18,NaN
20376,5805028000005168037,John Doe,NaT,NaN,Registered on Webinar,NaN,/workshop,web2408_DE,NaN,NaN,allcomlost,CRM,NaN,NaN,NaN,2023-08-18 19:45:00,NaN,NaN,NaN,NaN,5805028000000872003,NaN,NaN,2023-08-18,NaN
20377,5805028000005176025,John Doe,NaT,NaN,Registered on Webinar,NaN,/workshop,web2408_DE,NaN,NaN,allcomlost,CRM,NaN,NaN,NaN,2023-08-18 19:42:00,NaN,NaN,NaN,NaN,5805028000000872003,NaN,NaN,2023-08-18,NaN

In [90]:
deals_df['Quality'].isna().sum()

np.int64(2253)

In [91]:
print(deals_df['Quality'].dtype)

object

In [92]:
deals_df['Quality'].value_counts(dropna=True)

Quality
E - Non Qualified    7634
D - Non Target       6248
C - Low              3459
B - Medium           1564
A - High              432
F                       3
Name: count, dtype: int64

In [93]:
deals_df['Source'].value_counts(dropna=True)

Source
Facebook Ads      4850
Google Ads        4226
Organic           2590
Tiktok Ads        2051
SMM               1730
Youtube Ads       1657
CRM               1656
Bloggers          1089
Telegram posts    1001
Webinar            379
Partnership        203
Test               159
Offline              2
Name: count, dtype: int64

In [94]:
deals_df['Source'].isna().sum()

np.int64(0)

In [95]:
deals_df['Stage'].isna().sum()

np.int64(0)

In [96]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report, accuracy_score
from datetime import datetime

# 1. Копируем нужные колонки
df_quality_model = deals_df[['Initial Amount Paid', 'Stage', 'Created Date', 'Closing Date', 'Quality', 'Source']].copy()

# 2. Создаём бинарный признак "Is Closed"
df_quality_model['Is Closed'] = df_quality_model['Closing Date'].notna().astype(int)

# 3. Признак: сколько дней с начала наблюдения
df_quality_model['Created Days'] = (df_quality_model['Created Date'] - df_quality_model['Created Date'].min()).dt.days

# 4. Признак: длительность сделки
today = pd.to_datetime(datetime.today().date())
df_quality_model['Deal Duration'] = (df_quality_model['Closing Date'] - df_quality_model['Created Date']).dt.days
df_quality_model['Deal Duration'] = df_quality_model['Deal Duration'].fillna(
    (today - df_quality_model['Created Date']).dt.days
)

# 5. Кодируем категориальные переменные
df_dummies = pd.get_dummies(df_quality_model[['Stage', 'Source']], prefix=['Stage', 'Source'])

# 6. Объединяем признаки
features = pd.concat([
    df_quality_model[['Initial Amount Paid', 'Is Closed', 'Created Days', 'Deal Duration']],
    df_dummies
], axis=1)

# 7. Разделяем на обучающую и предсказуемую части
df_train = df_quality_model[df_quality_model['Quality'].notna()].copy()
df_predict = df_quality_model[df_quality_model['Quality'].isna()].copy()

X = features.loc[df_train.index]
y = df_train['Quality']
X_pred = features.loc[df_predict.index]

# 8. Делим на обучающую и тестовую выборки
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)

# 9. Создаём модель
model = DecisionTreeClassifier(
    max_depth=10,
    min_samples_leaf=10,
    class_weight='balanced',
    random_state=42
)

# Обучаем
model.fit(X_train, y_train)

# Предсказания и оценка
y_pred = model.predict(X_test)

print(f"Accuracy: {accuracy_score(y_test, y_pred):.2f}")
print("Classification report:")
print(classification_report(y_test, y_pred))

Accuracy: 0.53
Classification report:
                   precision    recall  f1-score   support

         A - High       0.10      0.57      0.17        86
       B - Medium       0.31      0.34      0.33       313
          C - Low       0.37      0.23      0.29       692
   D - Non Target       0.65      0.50      0.57      1249
E - Non Qualified       0.67      0.72      0.69      1527
                F       0.25      1.00      0.40         1

         accuracy                           0.53      3868
        macro avg       0.39      0.56      0.41      3868
     weighted avg       0.57      0.53      0.54      3868

In [97]:
print(deals_df._is_copy)

None

In [98]:
# 10. Предсказываем пропущенные значения
predicted_quality = model.predict(X_pred)

# 11. Заполняем пропуски в оригинальном датафрейме
deals_df.loc[df_predict.index, 'Quality'] = predicted_quality

In [99]:
deals_df['Quality'].isna().sum()

np.int64(0)

In [100]:
deals_df['Quality'].value_counts()

Quality
E - Non Qualified    7635
D - Non Target       6248
C - Low              4098
B - Medium           1990
A - High             1619
F                       3
Name: count, dtype: int64

In [101]:
deals_df['Quality'] = deals_df['Quality'].astype('category')
print(deals_df['Quality'].dtype)

category

## Stage

In [102]:
print(deals_df['Stage'].dtype)

object

In [103]:
deals_df['Stage'].isna().sum()

np.int64(0)

In [104]:
deals_df['Stage'].value_counts()

Stage
Lost                         15743
Call Delayed                  2248
Registered on Webinar         2072
Payment Done                   858
Waiting For Payment            325
Qualificated                   128
Registered on Offline Day      100
Need to Call - Sales            33
Need To Call                    31
Test Sent                       25
Need a consultation             23
New Lead                         6
Free Education                   1
Name: count, dtype: int64

In [105]:
deals_df['Stage'] = deals_df['Stage'].astype('category')
print(deals_df['Stage'].dtype)

category

## Lost Reason

In [106]:
deals_df['Lost Reason'].isna().sum()

np.int64(5469)

In [107]:
deals_df['Lost Reason'].value_counts(dropna=True)

Lost Reason
Doesn't Answer                             4135
Changed Decision                           2146
Duplicate                                  1771
Non target                                 1761
Stopped Answering                          1588
Invalid number                             1481
needs time to think                         655
Expensive                                   626
Conditions are not suitable                 531
Next stream                                 288
Inadequate                                  176
Gutstein refusal                            172
Considering a different direction in IT     148
Not for myself                              145
Does not speak English                      138
Didn't leave an application                 133
Thought for free                            110
Does not know how to use a computer          50
Went to Rivals                               48
The contract did not fit                     21
Refugee                                       1
Name: count, dtype: int64

In [108]:
print(deals_df['Lost Reason'].dtype)

object

In [109]:
deals_df['Lost Reason'] = deals_df['Lost Reason'].astype('category')
print(deals_df['Lost Reason'].dtype)

category

## Page

In [110]:
print(deals_df['Page'].dtype)

object

In [111]:
deals_df['Page'].isna().sum()

np.int64(1082)

In [112]:
deals_df['Page'].value_counts(dropna=True)

Page
/eng                         5814
eng/digital-marketing        4552
/eng/test                    2996
/workshop                    1162
/webinar                     1130
/direct                      1076
/eng/ux-ui                   1058
/web-developer                658
/email                        462
/pl-eng                       446
/event                        325
/at-eng                       224
/account                      116
eng/web-developer             105
/pl-eng/web-developer          94
/test                          42
/at-end/web-developer          37
/eng/career                    36
/digital-marketing             33
/offer                         27
/specialoffer                  25
/pl-eng/digital-marketing      21
/at-eng/digital-marketing      19
/ppc                           12
/smm                           11
/ux-ui                          9
/course                         7
/at-ru/ux/ui                    7
/pl-eng/ux-ui                   2
/page                           2
/at/digital-marketing           1
/welcomepage                    1
/page1                          1
Name: count, dtype: int64

## Campaign

In [113]:
print(deals_df['Campaign'].dtype)

object

In [114]:
deals_df['Campaign'].isna().sum()

np.int64(5526)

In [115]:
deals_df['Campaign'].value_counts(dropna=True)

Campaign
performancemax_digitalmarkt_ru_DE    2653
youtube_shorts_DE                    1635
12.07.2023wide_DE                    1575
02.07.23wide_DE                       975
04.07.23recentlymoved_DE              750
                                     ...
women_DE                                1
anuta_DE                                1
grad_DE                                 1
comp_search_DE                          1
marue_DE                                1
Name: count, Length: 154, dtype: int64

In [116]:
deals_df['Campaign'].nunique(dropna=True)

154

In [117]:
deals_df['Campaign'].value_counts().head(60)  # самые популярные

Campaign
performancemax_digitalmarkt_ru_DE    2653
youtube_shorts_DE                    1635
12.07.2023wide_DE                    1575
02.07.23wide_DE                       975
04.07.23recentlymoved_DE              750
03.07.23women                         612
Dis_DE                                581
07.07.23LAL_DE                        542
12.09.23interests_Uxui_DE             531
24.09.23retargeting_DE                479
webinar1604                           343
work_DE                               317
webinar1906                           290
08.04.24wide_webinar_DE               284
blog2_DE                              273
1performancemax_wide_PL               261
BloggerShina_DE                       246
performancemax_eng_DE                 245
brand_search_eng_DE                   168
web2408_DE                            158
bbo_DE                                154
mu_DE                                 151
15.07.23b_DE                          139
performancemax_wide_AT                124
20.03.2024wide_PL                     121
02.05.24test_DE                       121
ASA_de_DE                             112
08.06.24wide_webinar_DE               112
14.11.23wide_webinar_DE               109
web2211_DE                            108
discovery_DE                           94
22.05.2024wide_DE                      72
jet_DE                                 70
discovery_wide1_AT                     62
20.03.24_widde_PL                      59
talav_DE                               57
anastasia_de_DE                        49
workingin_DE                           48
1005start                              47
18.10.23wide_gos_DE                    42
20.05.24interests_DE                   42
engwien_AT                             38
Trigger_DE                             38
17.03.24wide_AT                        37
Bloggernina_DE                         37
05.07.23interests_DE                   37
20.03.24interests_WebDev_PL            35
gen_analyst_DE                         35
euro_DE                                32
01.04.23women_PL                       31
2905start                              30
karta_DE                               30
chat_DE                                29
1704start                              28
Live_DE                                27
berlin_DE                              26
bloggerfrai_DE                         25
1406start                              24
arina_DE                               24
BloggerIvan                            24
Name: count, dtype: int64

In [118]:
deals_df['Campaign'].value_counts().tail(60)  # самые редкие

Campaign
uk12_AT                        7
15.04.24LAL_ab__PL             7
Relocat_DE                     7
Consult_DE                     7
20.03.24interests_WebDev_AT    7
LOST_de                        7
podrugi_DE                     7
2005_Lost_DE                   6
05.09.2023wide_DE              6
pishet_DE                      6
col_DE                         6
work_wr                        6
Forum_DE                       6
bloggerdr_DE                   6
web8_DE                        6
magda_DE                       6
Aussiedler_DE                  6
forum_DE                       5
PL_life                        5
10.07.23wide_com_DE            5
mail_3                         5
warsaw_PL                      5
ineng_DE                       5
5555_DE                        5
liveberlin_DE                  4
12.06.24wide_DE                4
mailreg_DE                     4
blog_DE                        3
wa_PL                          3
shorts_PL                      3
potsdam                        3
clever_DE                      3
adv_DE                         3
referral                       3
ggg10_DE                       2
Bloggerperr_DE                 2
lviv_DE                        2
welt_DE                        2
sushechka_PL                   2
Kak_PL                         2
Markt_DE                       2
Berlin_DE                      2
maria_DE                       2
BVRE                           2
mail_DE                        2
11.10_prizes_DE                2
webanons                       2
ruslana_DE                     2
nochtum_DE                     2
eha_DE                         1
Bolgspeak_DE                   1
domain                         1
nina                           1
hanna                          1
web2410_DE                     1
women_DE                       1
anuta_DE                       1
grad_DE                        1
comp_search_DE                 1
marue_DE                       1
Name: count, dtype: int64

In [119]:
# Посмотрим, сколько кампаний занимают какую долю
campaign_counts = deals_df['Campaign'].value_counts(normalize=True)
campaign_counts = campaign_counts * 100  # в процентах
campaign_counts = campaign_counts.round(2)

# Посмотрим, сколько кампаний > 1%
print((campaign_counts > 1).sum())

19

In [120]:
# Зададим порог — например, топ-20 по частоте (или > 1%)
top_n = 20 

top_campaigns = deals_df['Campaign'].value_counts().head(top_n).index

In [121]:
print(top_campaigns.value_counts())

Campaign
performancemax_digitalmarkt_ru_DE    1
youtube_shorts_DE                    1
12.07.2023wide_DE                    1
02.07.23wide_DE                      1
04.07.23recentlymoved_DE             1
03.07.23women                        1
Dis_DE                               1
07.07.23LAL_DE                       1
12.09.23interests_Uxui_DE            1
24.09.23retargeting_DE               1
webinar1604                          1
work_DE                              1
webinar1906                          1
08.04.24wide_webinar_DE              1
blog2_DE                             1
1performancemax_wide_PL              1
BloggerShina_DE                      1
performancemax_eng_DE                1
brand_search_eng_DE                  1
web2408_DE                           1
Name: count, dtype: int64

In [122]:
deals_df[deals_df['Contact Name'].isna()]

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
11246,5805028000029290052,Kevin Parker,2024-02-17,E - Non Qualified,Lost,Invalid number,NaN,NaN,00:59:43,NaN,NaN,Organic,NaN,NaN,NaN,2024-01-31 10:27:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-01-31,17.0
11247,5805028000029290031,Kevin Parker,2024-02-17,D - Non Target,Lost,Doesn't Answer,NaN,NaN,01:02:42,NaN,NaN,Organic,NaN,NaN,NaN,2024-01-31 10:24:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-01-31,17.0
11310,5805028000029010001,Quincy Vincent,2024-01-31,D - Non Target,Lost,Inadequate,NaN,NaN,00:09:29,NaN,NaN,Organic,NaN,NaN,NaN,2024-01-30 14:43:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-01-30,1.0
11363,5805028000028760241,Charlie Davis,2024-02-15,E - Non Qualified,Lost,Changed Decision,/direct,NaN,00:02:03,NaN,NaN,Partnership,NaN,NaN,NaN,2024-01-29 17:50:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-01-29,17.0
11393,5805028000028690001,Victor Barnes,2024-01-29,E - Non Qualified,Lost,Duplicate,NaN,NaN,00:16:37,NaN,NaN,Organic,NaN,NaN,NaN,2024-01-29 11:17:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-01-29,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20064,5805028000005695192,Jane Smith,2023-10-14,C - Low,Lost,Stopped Answering,NaN,NaN,03:32:43,NaN,NaN,Organic,NaN,NaN,NaN,2023-08-24 12:51:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-08-24,51.0
20070,5805028000005695023,Jane Smith,2023-09-10,E - Non Qualified,Lost,Stopped Answering,NaN,NaN,01:41:30,NaN,NaN,Organic,NaN,NaN,NaN,2023-08-24 10:37:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-08-24,17.0
20272,5805028000005183749,Jane Smith,2023-08-23,E - Non Qualified,Lost,Doesn't Answer,NaN,NaN,00:00:04,NaN,NaN,Organic,NaN,NaN,NaN,2023-08-20 19:59:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-08-20,3.0
20744,5805028000004028088,Charlie Davis,2023-09-20,C - Low,Lost,Changed Decision,NaN,NaN,01:02:26,NaN,NaN,Organic,NaN,Digital Marketing,NaN,2023-08-07 16:52:00,11.0,NaN,NaN,NaN,NaN,NaN,NaN,2023-08-07,44.0
21480,5805028000001588071,John Doe,2023-07-13,E - Non Qualified,Lost,Duplicate,NaN,NaN,NaN,NaN,NaN,Organic,NaN,NaN,NaN,2023-07-13 10:01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-07-13,NaN

## SLA

In [123]:
print(deals_df['SLA'].dtype)

object

In [124]:
deals_df['SLA'].isna().sum()

np.int64(6060)

In [125]:
deals_df['SLA'].apply(type).value_counts()

SLA
<class 'datetime.time'>         13672
<class 'float'>                  6060
<class 'datetime.timedelta'>     1861
Name: count, dtype: int64

In [126]:
# Проверка типов внутри колонки SLA
type_counts = deals_df['SLA'].apply(type).value_counts()
print("Типы данных внутри столбца 'SLA':")
print(type_counts)

# Фильтры по типу
timedelta_mask = deals_df['SLA'].apply(lambda x: isinstance(x, pd.Timedelta))
string_mask = deals_df['SLA'].apply(lambda x: isinstance(x, str))
float_mask = deals_df['SLA'].apply(lambda x: isinstance(x, float))  # Обычно NaN

# Количество строк каждого типа
print("\nКоличество значений по типам:")
print(f"Timedelta: {timedelta_mask.sum()}")
print(f"String: {string_mask.sum()}")
print(f"Float (NaN): {float_mask.sum()}")

# При желании можно вывести примеры
print("\nПримеры значений с типом Timedelta:")
print(deals_df.loc[timedelta_mask, 'SLA'].head())

print("\nПримеры значений с типом str:")
print(deals_df.loc[string_mask, 'SLA'].head())

print("\nПримеры NaN:")
print(deals_df.loc[float_mask, 'SLA'].head())

Типы данных внутри столбца 'SLA':
SLA
<class 'datetime.time'>         13672
<class 'float'>                  6060
<class 'datetime.timedelta'>     1861
Name: count, dtype: int64

Количество значений по типам:
Timedelta: 0
String: 0
Float (NaN): 6060

Примеры значений с типом Timedelta:
Series([], Name: SLA, dtype: object)

Примеры значений с типом str:
Series([], Name: SLA, dtype: object)

Примеры NaN:
0     NaN
1     NaN
6     NaN
8     NaN
10    NaN
Name: SLA, dtype: object

In [127]:
deals_df.tail(10)

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
21583,5805028000000931068,Bob Brown,2023-07-06,E - Non Qualified,Lost,Doesn't Answer,eng/digital-marketing,02.07.23wide_DE,NaN,b3,wide,Facebook Ads,NaN,NaN,NaN,2023-07-04 15:40:00,NaN,NaN,NaN,NaN,5805028000000964025,NaN,NaN,2023-07-04,2.0
21584,5805028000000963032,Ian Miller,2023-09-25,A - High,Lost,Stopped Answering,eng/digital-marketing,02.07.23wide_DE,"1 day, 23:02:57",b3,wide,Facebook Ads,NaN,NaN,NaN,2023-07-04 12:57:00,NaN,NaN,NaN,NaN,5805028000000942003,NaN,NaN,2023-07-04,83.0
21585,5805028000000935081,Julia Nelson,NaT,D - Non Target,Call Delayed,NaN,eng/digital-marketing,03.07.23women,"70 days, 23:12:53",b3,women,Facebook Ads,NaN,Digital Marketing,Morning,2023-07-04 11:46:00,11.0,NaN,1000.0,11500.0,5805028000000971007,NaN,NaN,2023-07-04,NaN
21586,5805028000000947046,Oliver Taylor,2023-07-12,B - Medium,Payment Done,NaN,eng/digital-marketing,02.07.23wide_DE,"71 days, 0:46:22",b3,wide,Facebook Ads,NaN,Digital Marketing,Morning,2023-07-04 10:11:00,11.0,11.0,1000.0,11000.0,5805028000000939010,NaN,NaN,2023-07-04,NaN
21587,5805028000000935025,Kevin Parker,2023-07-06,E - Non Qualified,Lost,Doesn't Answer,eng/digital-marketing,02.07.23wide_DE,NaN,b3,wide,Facebook Ads,NaN,NaN,NaN,2023-07-04 09:34:00,NaN,NaN,NaN,NaN,5805028000000983028,NaN,NaN,2023-07-04,2.0
21588,5805028000000970006,Jane Smith,2023-07-04,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-04 07:10:00,NaN,NaN,NaN,NaN,5805028000000979006,NaN,NaN,2023-07-04,0.0
21589,5805028000000948010,Jane Smith,2023-08-29,B - Medium,Lost,needs time to think,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-04 07:10:00,NaN,NaN,NaN,NaN,5805028000000979006,NaN,NaN,2023-07-04,56.0
21590,5805028000000945016,Jane Smith,2023-08-29,A - High,Lost,Changed Decision,eng/digital-marketing,02.07.23wide_DE,"56 days, 19:01:59",b3,wide,Facebook Ads,NaN,NaN,NaN,2023-07-03 20:39:00,NaN,NaN,NaN,NaN,5805028000000968001,NaN,NaN,2023-07-03,57.0
21591,5805028000000927004,Bob Brown,2023-07-09,D - Non Target,Lost,Does not speak English,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-03 20:17:00,NaN,NaN,NaN,NaN,5805028000000961001,NaN,NaN,2023-07-03,6.0
21592,5805028000000922001,Bob Brown,2023-07-03,E - Non Qualified,Lost,Refugee,NaN,NaN,"4 days, 22:47:14",NaN,NaN,Organic,NaN,NaN,NaN,2023-07-03 17:03:00,NaN,NaN,0.0,0.0,5805028000001009140,NaN,NaN,2023-07-03,0.0

In [128]:
deals_df.head(10)

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
0,5805028000056864695,Ben Hall,NaT,B - Medium,New Lead,NaN,/eng/test,03.07.23women,NaN,v16,women,Facebook Ads,NaN,NaN,NaN,2024-06-21 15:30:00,NaN,NaN,NaN,NaN,5805028000056849495,NaN,NaN,2024-06-21,NaN
1,5805028000056859489,Ulysses Adams,NaT,B - Medium,New Lead,NaN,/at-eng,NaN,NaN,NaN,NaN,Organic,NaN,Web Developer,Morning,2024-06-21 15:23:00,6.0,NaN,0.0,2000.0,5805028000056834471,NaN,NaN,2024-06-21,NaN
2,5805028000056832357,Ulysses Adams,2024-06-21,D - Non Target,Lost,Non target,/at-eng,engwien_AT,00:26:43,b1-at,21_06_2024,Telegram posts,NaN,NaN,NaN,2024-06-21 14:45:00,NaN,NaN,NaN,NaN,5805028000056854421,NaN,NaN,2024-06-21,0.0
3,5805028000056824246,Eva Kent,2024-06-21,E - Non Qualified,Lost,Invalid number,/eng,04.07.23recentlymoved_DE,01:00:04,bloggersvideo14com,recentlymoved,Facebook Ads,NaN,NaN,NaN,2024-06-21 13:32:00,NaN,NaN,NaN,NaN,5805028000056889351,NaN,NaN,2024-06-21,0.0
4,5805028000056873292,Ben Hall,2024-06-21,D - Non Target,Lost,Non target,/eng,discovery_DE,00:53:12,website,NaN,Google Ads,NaN,NaN,NaN,2024-06-21 13:21:00,NaN,NaN,NaN,NaN,5805028000056876176,NaN,NaN,2024-06-21,0.0
5,5805028000056828429,Paula Underwood,NaT,B - Medium,Need a consultation,NaN,/eng,youtube_shorts_DE,01:33:10,bloggersvideo2june,Com_august,Youtube Ads,NaN,NaN,NaN,2024-06-21 13:02:00,NaN,NaN,NaN,NaN,5805028000056833279,NaN,NaN,2024-06-21,NaN
6,5805028000056893379,Ulysses Adams,NaT,B - Medium,Need To Call,NaN,eng/digital-marketing,NaN,NaN,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-21 12:52:00,NaN,NaN,NaN,NaN,5805028000056832215,NaN,NaN,2024-06-21,NaN
7,5805028000056849262,Eva Kent,NaT,B - Medium,Need a consultation,NaN,/eng,brand_search_eng_DE,02:12:29,152789402780_{region_name}_695563281558,it career hub,Google Ads,NaN,NaN,NaN,2024-06-21 12:44:00,NaN,NaN,NaN,NaN,5805028000056833242,NaN,NaN,2024-06-21,NaN
8,5805028000056845137,Rachel White,2024-06-21,E - Non Qualified,Lost,Duplicate,NaN,NaN,NaN,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-21 12:40:00,NaN,NaN,NaN,NaN,5805028000056849237,NaN,NaN,2024-06-21,0.0
9,5805028000056864442,Victor Barnes,2024-06-21,D - Non Target,Lost,Inadequate,/email,1406start,00:10:08,NaN,NaN,CRM,NaN,NaN,NaN,2024-06-21 12:39:00,NaN,NaN,NaN,NaN,5805028000039274091,NaN,NaN,2024-06-21,0.0

In [134]:
import datetime

def time_to_timedelta(x):
    if pd.isna(x):
        return pd.NaT
    if isinstance(x, datetime.time):
        return pd.Timedelta(hours=x.hour, minutes=x.minute, seconds=x.second)
    # Если уже строка или другое, пробуем напрямую
    try:
        return pd.to_timedelta(x)
    except:
        return pd.NaT

deals_df['SLA'] = deals_df['SLA'].apply(time_to_timedelta)

In [136]:
print(deals_df['SLA'].dtype)

timedelta64[ns]

In [137]:
deals_df.head(10)

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
0,5805028000056864695,Ben Hall,NaT,B - Medium,New Lead,NaN,/eng/test,03.07.23women,NaT,v16,women,Facebook Ads,NaN,NaN,NaN,2024-06-21 15:30:00,NaN,NaN,NaN,NaN,5805028000056849495,NaN,NaN,2024-06-21,NaN
1,5805028000056859489,Ulysses Adams,NaT,B - Medium,New Lead,NaN,/at-eng,NaN,NaT,NaN,NaN,Organic,NaN,Web Developer,Morning,2024-06-21 15:23:00,6.0,NaN,0.0,2000.0,5805028000056834471,NaN,NaN,2024-06-21,NaN
2,5805028000056832357,Ulysses Adams,2024-06-21,D - Non Target,Lost,Non target,/at-eng,engwien_AT,0 days 00:26:43,b1-at,21_06_2024,Telegram posts,NaN,NaN,NaN,2024-06-21 14:45:00,NaN,NaN,NaN,NaN,5805028000056854421,NaN,NaN,2024-06-21,0.0
3,5805028000056824246,Eva Kent,2024-06-21,E - Non Qualified,Lost,Invalid number,/eng,04.07.23recentlymoved_DE,0 days 01:00:04,bloggersvideo14com,recentlymoved,Facebook Ads,NaN,NaN,NaN,2024-06-21 13:32:00,NaN,NaN,NaN,NaN,5805028000056889351,NaN,NaN,2024-06-21,0.0
4,5805028000056873292,Ben Hall,2024-06-21,D - Non Target,Lost,Non target,/eng,discovery_DE,0 days 00:53:12,website,NaN,Google Ads,NaN,NaN,NaN,2024-06-21 13:21:00,NaN,NaN,NaN,NaN,5805028000056876176,NaN,NaN,2024-06-21,0.0
5,5805028000056828429,Paula Underwood,NaT,B - Medium,Need a consultation,NaN,/eng,youtube_shorts_DE,0 days 01:33:10,bloggersvideo2june,Com_august,Youtube Ads,NaN,NaN,NaN,2024-06-21 13:02:00,NaN,NaN,NaN,NaN,5805028000056833279,NaN,NaN,2024-06-21,NaN
6,5805028000056893379,Ulysses Adams,NaT,B - Medium,Need To Call,NaN,eng/digital-marketing,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-21 12:52:00,NaN,NaN,NaN,NaN,5805028000056832215,NaN,NaN,2024-06-21,NaN
7,5805028000056849262,Eva Kent,NaT,B - Medium,Need a consultation,NaN,/eng,brand_search_eng_DE,0 days 02:12:29,152789402780_{region_name}_695563281558,it career hub,Google Ads,NaN,NaN,NaN,2024-06-21 12:44:00,NaN,NaN,NaN,NaN,5805028000056833242,NaN,NaN,2024-06-21,NaN
8,5805028000056845137,Rachel White,2024-06-21,E - Non Qualified,Lost,Duplicate,NaN,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-21 12:40:00,NaN,NaN,NaN,NaN,5805028000056849237,NaN,NaN,2024-06-21,0.0
9,5805028000056864442,Victor Barnes,2024-06-21,D - Non Target,Lost,Inadequate,/email,1406start,0 days 00:10:08,NaN,NaN,CRM,NaN,NaN,NaN,2024-06-21 12:39:00,NaN,NaN,NaN,NaN,5805028000039274091,NaN,NaN,2024-06-21,0.0

In [138]:
deals_df.tail(10)

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
21583,5805028000000931068,Bob Brown,2023-07-06,E - Non Qualified,Lost,Doesn't Answer,eng/digital-marketing,02.07.23wide_DE,NaT,b3,wide,Facebook Ads,NaN,NaN,NaN,2023-07-04 15:40:00,NaN,NaN,NaN,NaN,5805028000000964025,NaN,NaN,2023-07-04,2.0
21584,5805028000000963032,Ian Miller,2023-09-25,A - High,Lost,Stopped Answering,eng/digital-marketing,02.07.23wide_DE,1 days 23:02:57,b3,wide,Facebook Ads,NaN,NaN,NaN,2023-07-04 12:57:00,NaN,NaN,NaN,NaN,5805028000000942003,NaN,NaN,2023-07-04,83.0
21585,5805028000000935081,Julia Nelson,NaT,D - Non Target,Call Delayed,NaN,eng/digital-marketing,03.07.23women,70 days 23:12:53,b3,women,Facebook Ads,NaN,Digital Marketing,Morning,2023-07-04 11:46:00,11.0,NaN,1000.0,11500.0,5805028000000971007,NaN,NaN,2023-07-04,NaN
21586,5805028000000947046,Oliver Taylor,2023-07-12,B - Medium,Payment Done,NaN,eng/digital-marketing,02.07.23wide_DE,71 days 00:46:22,b3,wide,Facebook Ads,NaN,Digital Marketing,Morning,2023-07-04 10:11:00,11.0,11.0,1000.0,11000.0,5805028000000939010,NaN,NaN,2023-07-04,NaN
21587,5805028000000935025,Kevin Parker,2023-07-06,E - Non Qualified,Lost,Doesn't Answer,eng/digital-marketing,02.07.23wide_DE,NaT,b3,wide,Facebook Ads,NaN,NaN,NaN,2023-07-04 09:34:00,NaN,NaN,NaN,NaN,5805028000000983028,NaN,NaN,2023-07-04,2.0
21588,5805028000000970006,Jane Smith,2023-07-04,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,03.07.23women,NaT,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-04 07:10:00,NaN,NaN,NaN,NaN,5805028000000979006,NaN,NaN,2023-07-04,0.0
21589,5805028000000948010,Jane Smith,2023-08-29,B - Medium,Lost,needs time to think,eng/digital-marketing,03.07.23women,NaT,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-04 07:10:00,NaN,NaN,NaN,NaN,5805028000000979006,NaN,NaN,2023-07-04,56.0
21590,5805028000000945016,Jane Smith,2023-08-29,A - High,Lost,Changed Decision,eng/digital-marketing,02.07.23wide_DE,56 days 19:01:59,b3,wide,Facebook Ads,NaN,NaN,NaN,2023-07-03 20:39:00,NaN,NaN,NaN,NaN,5805028000000968001,NaN,NaN,2023-07-03,57.0
21591,5805028000000927004,Bob Brown,2023-07-09,D - Non Target,Lost,Does not speak English,eng/digital-marketing,03.07.23women,NaT,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-03 20:17:00,NaN,NaN,NaN,NaN,5805028000000961001,NaN,NaN,2023-07-03,6.0
21592,5805028000000922001,Bob Brown,2023-07-03,E - Non Qualified,Lost,Refugee,NaN,NaN,4 days 22:47:14,NaN,NaN,Organic,NaN,NaN,NaN,2023-07-03 17:03:00,NaN,NaN,0.0,0.0,5805028000001009140,NaN,NaN,2023-07-03,0.0

## Source

In [139]:
print(deals_df['Source'].dtype)

object

In [140]:
deals_df['Source'].value_counts(dropna=True)

Source
Facebook Ads      4850
Google Ads        4226
Organic           2590
Tiktok Ads        2051
SMM               1730
Youtube Ads       1657
CRM               1656
Bloggers          1089
Telegram posts    1001
Webinar            379
Partnership        203
Test               159
Offline              2
Name: count, dtype: int64

In [141]:
deals_df['Source'].isna().sum()

np.int64(0)

In [142]:
deals_df['Source'] = deals_df['Source'].astype('category')
print(deals_df['Source'].dtype)

category

## Payment Type

In [143]:
print(deals_df['Payment Type'].dtype)

object

In [144]:
deals_df['Payment Type'].value_counts(dropna=True)

Payment Type
Recurring Payments    350
One Payment           141
Reservation             5
Name: count, dtype: int64

In [145]:
deals_df['Payment Type'].isna().sum()

np.int64(21097)

In [146]:
deals_df['Payment Type'] = deals_df['Payment Type'].astype('category')
print(deals_df['Payment Type'].dtype)

category

## Product

In [147]:
print(deals_df['Product'].dtype)

object

In [148]:
deals_df['Product'].value_counts(dropna=True)

Product
Digital Marketing      1990
UX/UI Design           1022
Web Developer           575
Find yourself in IT       4
Data Analytics            1
Name: count, dtype: int64

In [149]:
deals_df['Product'].isna().sum()

np.int64(18001)

In [150]:
deals_df['Product'] = deals_df['Product'].astype('category')
print(deals_df['Product'].dtype)

category

## Education Type

In [151]:
print(deals_df['Education Type'].dtype)

object

In [152]:
deals_df['Education Type'].value_counts(dropna=True)

Education Type
Morning    2895
Evening     404
Name: count, dtype: int64

In [153]:
deals_df['Education Type'].isna().sum()

np.int64(18294)

In [154]:
deals_df['Education Type'] = deals_df['Education Type'].astype('category')
print(deals_df['Education Type'].dtype)

category

## Created Time

In [155]:
print(deals_df['Created Time'].dtype)

datetime64[ns]

In [156]:
deals_df['Created Time'].isna().sum()

np.int64(0)

## Course duration

In [157]:
print(deals_df['Course duration'].dtype)

float64

In [158]:
deals_df['Course duration'].value_counts(dropna=True)

Course duration
11.0    3012
6.0      575
Name: count, dtype: int64

In [159]:
deals_df['Course duration'] = deals_df['Course duration'].astype('Int64').astype('category')
print(deals_df['Course duration'].dtype)

category

In [160]:
deals_df['Course duration'].value_counts(dropna=True)

Course duration
11    3012
6      575
Name: count, dtype: int64

## Months of study

In [161]:
print(deals_df['Months of study'].dtype)

float64

In [162]:
deals_df['Months of study'].value_counts(dropna=True)

Months of study
6.0     107
2.0     104
3.0      94
4.0      93
8.0      83
7.0      79
1.0      67
5.0      64
9.0      61
11.0     45
10.0     42
0.0       1
Name: count, dtype: int64

In [163]:
deals_df['Months of study'] = deals_df['Months of study'].astype('Int64')
print(deals_df['Months of study'].dtype)

Int64

In [164]:
deals_df['Months of study'].value_counts(dropna=True)

Months of study
6     107
2     104
3      94
4      93
8      83
7      79
1      67
5      64
9      61
11     45
10     42
0       1
Name: count, dtype: Int64

## Contact Name

In [165]:
print(deals_df['Contact Name'].dtype)

object

In [166]:
deals_df['Contact Name'].nunique()

18089

In [167]:
print("Непустые значения:", deals_df['Contact Name'].count())
print("Пустые значения:", deals_df['Contact Name'].isna().sum())
print("Всего значений:", len(deals_df['Contact Name']))

Непустые значения: 21532
Пустые значения: 61
Всего значений: 21593

In [168]:
# Количество уникальных значений
print("Уникальных Id:", deals_df['Id'].nunique())
print("Уникальных Contact Name:", deals_df['Contact Name'].nunique())

# Проверим, есть ли несколько сделок у одного Contact Name
print("\nTop 5 Contact Name с несколькими сделками:")
print(deals_df['Contact Name'].value_counts().head())

# Проверим, есть ли несколько контактов с одним Id (что было бы странно)
print("\nTop 5 Id с несколькими контактами:")
print(deals_df.groupby('Id')['Contact Name'].nunique().sort_values(ascending=False).head())

Уникальных Id: 21593
Уникальных Contact Name: 18089

Top 5 Contact Name с несколькими сделками:
Contact Name
5805028000003014152    54
5805028000005448163    39
5805028000017522090    19
5805028000014478367    13
5805028000000872003    11
Name: count, dtype: int64

Top 5 Id с несколькими контактами:
Id
5805028000056893379    1
5805028000000922001    1
5805028000000927004    1
5805028000000931068    1
5805028000000933086    1
Name: Contact Name, dtype: int64

## City

In [169]:
print(deals_df['City'].dtype)

object

In [170]:
deals_df['City'].nunique()

875

In [171]:
deals_df.loc[deals_df['Id'] == '5805028000055942854']

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
243,5805028000055942854,Ben Hall,NaT,D - Non Target,Waiting For Payment,NaN,eng/digital-marketing,NaN,0 days 12:39:12,NaN,NaN,Organic,NaN,Digital Marketing,Morning,2024-06-17 23:43:00,11,<NA>,1000.0,11000.0,5805028000055981689,NaN,NaN,2024-06-17,NaN

In [172]:
# Фильтрация строк, где в названии города присутствуют кириллические символы
non_latin_cities = deals_df[deals_df['City'].notna() & deals_df['City'].str.contains('[\u0400-\u04FF]', regex=True)]

# Выводим только названия городов, написанных кириллицей
print(non_latin_cities['City'])

Series([], Name: City, dtype: object)

Пояснение:
Вместо .dropna(), используется условие deals_df['City'].notna(), чтобы исключить пропущенные значения, не изменяя индексы.

Затем проверяется, содержат ли названия города кириллические символы с помощью .str.contains().

Фильтрация работает без изменения индексов, и выводятся только города, написанные кириллицей.

In [173]:
total = deals_df['City'].notna().sum()
cyrillic = deals_df['City'].notna() & deals_df['City'].str.contains('[\u0400-\u04FF]', regex=True)
print(f"Всего непустых городов: {total}")
print(f"С кириллицей: {cyrillic.sum()}")

Всего непустых городов: 2163
С кириллицей: 0

In [174]:
# Фильтруем только непустые значения
non_null_cities = deals_df['City'].dropna()

# Проверяем, все ли значения имеют тип str
all_strings = non_null_cities.apply(lambda x: isinstance(x, str)).all()

print("Все значения являются строками?" , all_strings)

Все значения являются строками? True

In [175]:
print(deals_df._is_copy)

None

In [176]:
deals_df.to_pickle("deals_cleaned_v1.pkl")